<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Shooting_000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,9.5}</string>
                <key>spriteSize</key>
                <string>{268,263}</string>
                <key>spriteSourceSize</key>
                <string>{400,320}</string>
                <key>textureRect</key>
                <string>{{1,1},{268,263}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>8 13 14 11 12 13 9 10 11 8 11 13 8 9 11 2 8 14 6 7 8 3 4 6 4 5 6 8 2 3 8 3 6 0 1 2 0 2 14</string>
                <key>vertices</key>
                <string>269 20 330 59 338 144 319 209 276 281 191 282 171 243 147 219 139 179 88 140 70 99 126 101 139 65 174 35 224 19</string>
                <key>verticesUV</key>
                <string>200 2 261 41 269 126 250 191 207 263 122 264 102 225 78 201 70 161 19 122 1 81 57 83 70 47 105 17 155 1</string>
            </dict>
            <key>Shooting_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{27,5}</string>
                <key>spriteSize</key>
                <string>{220,272}</string>
                <key>spriteSourceSize</key>
                <string>{400,320}</string>
                <key>textureRect</key>
                <string>{{219,1754},{220,272}}</string>
                <key>textureRotated</key>
                <true/>
                <key>triangles</key>
                <string>7 8 9 2 7 9 5 3 4 5 6 3 2 3 6 2 6 7 0 1 2 0 2 9</string>
                <key>vertices</key>
                <string>267 20 328 59 337 151 297 247 248 291 189 280 146 222 117 117 138 61 210 19</string>
                <key>verticesUV</key>
                <string>490 1904 451 1965 359 1974 263 1934 219 1885 230 1826 288 1783 393 1754 449 1775 491 1847</string>
            </dict>
            <key>Shooting_002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{24.5,9}</string>
                <key>spriteSize</key>
                <string>{219,280}</string>
                <key>spriteSourceSize</key>
                <string>{400,320}</string>
                <key>textureRect</key>
                <string>{{1,1085},{219,280}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>0 1 8 6 7 8 6 1 5 1 2 5 4 5 2 4 2 3 6 8 1 0 8 9</string>
                <key>vertices</key>
                <string>326 59 334 143 309 233 249 291 190 280 145 225 115 116 137 62 183 31 251 11</string>
                <key>verticesUV</key>
                <string>212 1133 220 1217 195 1307 135 1365 76 1354 31 1299 1 1190 23 1136 69 1105 137 1085</string>
            </dict>
            <key>Shooting_003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{37.5,10.5}</string>
                <key>spriteSize</key>
                <string>{249,267}</string>
                <key>spriteSourceSize</key>
                <string>{400,320}</string>
                <key>textureRect</key>
                <string>{{248,547},{249,267}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 11 12 9 10 11 9 2 7 7 8 9 4 5 7 5 6 7 2 4 7 2 3 4 9 1 2 9 11 1 0 1 12</string>
                <key>vertices</key>
                <string>313 53 329 97 334 152 362 182 302 227 267 283 189 281 170 237 144 230 113 118 134 61 197 23 257 16</string>
                <key>verticesUV</key>
                <string>448 584 464 628 469 683 497 713 437 758 402 814 324 812 305 768 279 761 248 649 269 592 332 554 392 547</string>
            </dict>
            <key>Shooting_004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{37,7.5}</string>
                <key>spriteSize</key>
                <string>{246,271}</string>
                <key>spriteSourceSize</key>
                <string>{400,320}</string>
                <key>textureRect</key>
                <string>{{251,274},{246,271}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>0 1 10 8 9 10 8 1 6 6 7 8 3 4 6 4 5 6 1 3 6 1 2 3 8 10 1 0 10 11</string>
                <key>vertices</key>
                <string>323 59 335 160 360 186 303 225 269 280 194 288 168 238 145 231 114 119 135 58 200 23 258 17</string>
                <key>verticesUV</key>
                <string>460 316 472 417 497 443 440 482 406 537 331 545 305 495 282 488 251 376 272 315 337 280 395 274</string>
            </dict>
            <key>Shooting_005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{36,7.5}</string>
                <key>spriteSize</key>
                <string>{244,271}</string>
                <key>spriteSourceSize</key>
                <string>{400,320}</string>
                <key>textureRect</key>
                <string>{{1,812},{244,271}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>0 1 10 8 9 10 8 1 6 6 7 8 3 4 6 4 5 6 1 3 6 1 2 3 8 10 1 0 10 11</string>
                <key>vertices</key>
                <string>323 60 335 162 358 186 303 225 269 280 194 288 168 238 145 231 114 119 135 58 200 23 258 17</string>
                <key>verticesUV</key>
                <string>210 855 222 957 245 981 190 1020 156 1075 81 1083 55 1033 32 1026 1 914 22 853 87 818 145 812</string>
            </dict>
            <key>Shooting_006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{38,7.5}</string>
                <key>spriteSize</key>
                <string>{248,271}</string>
                <key>spriteSourceSize</key>
                <string>{400,320}</string>
                <key>textureRect</key>
                <string>{{1,266},{248,271}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>0 1 11 9 10 11 9 2 7 7 8 9 4 5 7 5 6 7 2 4 7 2 3 4 9 1 2 9 11 1 0 11 12</string>
                <key>vertices</key>
                <string>312 53 329 94 332 169 362 182 303 225 269 280 194 288 168 238 145 231 114 119 135 58 200 23 258 17</string>
                <key>verticesUV</key>
                <string>199 302 216 343 219 418 249 431 190 474 156 529 81 537 55 487 32 480 1 368 22 307 87 272 145 266</string>
            </dict>
            <key>Shooting_007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{36.5,7.5}</string>
                <key>spriteSize</key>
                <string>{245,271}</string>
                <key>spriteSourceSize</key>
                <string>{400,320}</string>
                <key>textureRect</key>
                <string>{{1,539},{245,271}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>0 1 11 9 10 11 9 2 7 7 8 9 4 5 7 5 6 7 2 4 7 2 3 4 9 1 2 9 11 1 0 11 12</string>
                <key>vertices</key>
                <string>312 53 329 94 332 170 359 182 303 225 269 280 194 288 168 238 145 231 114 119 135 58 200 23 258 17</string>
                <key>verticesUV</key>
                <string>199 575 216 616 219 692 246 704 190 747 156 802 81 810 55 760 32 753 1 641 22 580 87 545 145 539</string>
            </dict>
            <key>Shooting_008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{35.5,7.5}</string>
                <key>spriteSize</key>
                <string>{243,271}</string>
                <key>spriteSourceSize</key>
                <string>{400,320}</string>
                <key>textureRect</key>
                <string>{{247,816},{243,271}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 11 12 9 10 11 9 2 7 7 8 9 4 5 7 5 6 7 2 4 7 2 3 4 9 1 2 9 11 1 0 1 12</string>
                <key>vertices</key>
                <string>312 52 329 96 330 170 357 182 303 225 269 280 194 288 168 238 145 231 114 119 135 58 200 23 258 17</string>
                <key>verticesUV</key>
                <string>445 851 462 895 463 969 490 981 436 1024 402 1079 327 1087 301 1037 278 1030 247 918 268 857 333 822 391 816</string>
            </dict>
            <key>Shooting_009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{34,7.5}</string>
                <key>spriteSize</key>
                <string>{240,271}</string>
                <key>spriteSourceSize</key>
                <string>{400,320}</string>
                <key>textureRect</key>
                <string>{{271,1},{240,271}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 11 12 9 10 11 9 2 7 7 8 9 4 5 7 5 6 7 2 4 7 2 3 4 9 1 2 9 11 1 0 1 12</string>
                <key>vertices</key>
                <string>312 52 329 96 330 171 354 182 303 225 269 280 194 288 168 238 145 231 114 119 135 58 200 23 258 17</string>
                <key>verticesUV</key>
                <string>469 36 486 80 487 155 511 166 460 209 426 264 351 272 325 222 302 215 271 103 292 42 357 7 415 1</string>
            </dict>
            <key>Shooting_010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{23,8.5}</string>
                <key>spriteSize</key>
                <string>{220,275}</string>
                <key>spriteSourceSize</key>
                <string>{400,320}</string>
                <key>textureRect</key>
                <string>{{222,1310},{220,275}}</string>
                <key>textureRotated</key>
                <true/>
                <key>triangles</key>
                <string>0 1 8 6 7 8 6 1 5 2 3 5 3 4 5 1 2 5 6 8 1 0 8 9</string>
                <key>vertices</key>
                <string>325 59 333 143 306 237 260 280 198 289 142 223 113 113 140 57 202 24 254 14</string>
                <key>verticesUV</key>
                <string>452 1522 368 1530 274 1503 231 1457 222 1395 288 1339 398 1310 454 1337 487 1399 497 1451</string>
            </dict>
            <key>Shooting_011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{27,12.5}</string>
                <key>spriteSize</key>
                <string>{216,267}</string>
                <key>spriteSourceSize</key>
                <string>{400,320}</string>
                <key>textureRect</key>
                <string>{{1,1639},{216,267}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>9 10 11 0 9 11 4 5 8 6 7 8 5 6 8 3 4 8 9 0 2 9 2 3 0 1 2 9 3 8</string>
                <key>vertices</key>
                <string>267 23 309 48 328 85 335 138 312 221 261 281 194 281 140 227 146 205 119 138 127 64 218 14</string>
                <key>verticesUV</key>
                <string>149 1648 191 1673 210 1710 217 1763 194 1846 143 1906 76 1906 22 1852 28 1830 1 1763 9 1689 100 1639</string>
            </dict>
            <key>Shooting_012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{26.5,7}</string>
                <key>spriteSize</key>
                <string>{219,270}</string>
                <key>spriteSourceSize</key>
                <string>{400,320}</string>
                <key>textureRect</key>
                <string>{{1,1367},{219,270}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 9 10 7 8 9 9 1 2 3 4 6 4 5 6 2 3 6 2 6 7 9 2 7 0 1 10</string>
                <key>vertices</key>
                <string>310 48 329 85 336 138 312 224 263 280 198 288 145 224 117 120 137 59 206 21 261 18</string>
                <key>verticesUV</key>
                <string>194 1397 213 1434 220 1487 196 1573 147 1629 82 1637 29 1573 1 1469 21 1408 90 1370 145 1367</string>
            </dict>
            <key>Shooting_013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{26.5,7.5}</string>
                <key>spriteSize</key>
                <string>{219,277}</string>
                <key>spriteSourceSize</key>
                <string>{400,320}</string>
                <key>textureRect</key>
                <string>{{222,1089},{219,277}}</string>
                <key>textureRotated</key>
                <true/>
                <key>triangles</key>
                <string>1 8 9 6 7 8 6 1 5 1 2 5 4 5 2 4 2 3 6 8 1 0 1 9</string>
                <key>vertices</key>
                <string>328 59 336 143 311 230 249 291 189 280 146 222 117 115 139 62 194 25 258 14</string>
                <key>verticesUV</key>
                <string>454 1300 370 1308 283 1283 222 1221 233 1161 291 1118 398 1089 451 1111 488 1166 499 1230</string>
            </dict>
            <key>Shooting_014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{27,5.5}</string>
                <key>spriteSize</key>
                <string>{220,273}</string>
                <key>spriteSourceSize</key>
                <string>{400,320}</string>
                <key>textureRect</key>
                <string>{{222,1532},{220,273}}</string>
                <key>textureRotated</key>
                <true/>
                <key>triangles</key>
                <string>2 9 10 8 9 2 8 6 7 3 4 6 4 5 6 2 3 6 8 2 6 0 1 2 0 2 10</string>
                <key>vertices</key>
                <string>268 20 329 59 337 143 311 233 260 280 184 291 174 234 145 224 117 109 145 57 213 18</string>
                <key>verticesUV</key>
                <string>493 1683 454 1744 370 1752 280 1726 233 1675 222 1599 279 1589 289 1560 404 1532 456 1560 495 1628</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Archer_02_Attacking.png</string>
            <key>size</key>
            <string>{512,1975}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1cb065b53af030ca41b882e8675daabd:a03f7f03a4fff525a34a42bf6bdf3f96:502733255dbdbdfa408016eaf4bddb1c$</string>
            <key>textureFileName</key>
            <string>Archer_02_Attacking.png</string>
        </dict>
    </dict>
</plist>
