<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Archer_03_Attacking (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,12}</string>
                <key>spriteSize</key>
                <string>{244,266}</string>
                <key>spriteSourceSize</key>
                <string>{400,320}</string>
                <key>textureRect</key>
                <string>{{1599,1037},{244,266}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Archer_03_Attacking (10).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{29,12}</string>
                <key>spriteSize</key>
                <string>{230,266}</string>
                <key>spriteSourceSize</key>
                <string>{400,320}</string>
                <key>textureRect</key>
                <string>{{547,1195},{230,266}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Archer_03_Attacking (11).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,12}</string>
                <key>spriteSize</key>
                <string>{192,266}</string>
                <key>spriteSourceSize</key>
                <string>{400,320}</string>
                <key>textureRect</key>
                <string>{{543,1},{192,266}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Archer_03_Attacking (12).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,12}</string>
                <key>spriteSize</key>
                <string>{192,266}</string>
                <key>spriteSourceSize</key>
                <string>{400,320}</string>
                <key>textureRect</key>
                <string>{{811,1},{192,266}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Archer_03_Attacking (13).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,12}</string>
                <key>spriteSize</key>
                <string>{192,266}</string>
                <key>spriteSourceSize</key>
                <string>{400,320}</string>
                <key>textureRect</key>
                <string>{{1079,1},{192,266}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Archer_03_Attacking (14).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,12}</string>
                <key>spriteSize</key>
                <string>{192,266}</string>
                <key>spriteSourceSize</key>
                <string>{400,320}</string>
                <key>textureRect</key>
                <string>{{1347,1},{192,266}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Archer_03_Attacking (15).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,12}</string>
                <key>spriteSize</key>
                <string>{192,266}</string>
                <key>spriteSourceSize</key>
                <string>{400,320}</string>
                <key>textureRect</key>
                <string>{{1,193},{192,266}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Archer_03_Attacking (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,12}</string>
                <key>spriteSize</key>
                <string>{194,266}</string>
                <key>spriteSourceSize</key>
                <string>{400,320}</string>
                <key>textureRect</key>
                <string>{{1,387},{194,266}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Archer_03_Attacking (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,12}</string>
                <key>spriteSize</key>
                <string>{192,266}</string>
                <key>spriteSourceSize</key>
                <string>{400,320}</string>
                <key>textureRect</key>
                <string>{{275,1},{192,266}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Archer_03_Attacking (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{35,12}</string>
                <key>spriteSize</key>
                <string>{240,266}</string>
                <key>spriteSourceSize</key>
                <string>{400,320}</string>
                <key>textureRect</key>
                <string>{{1603,501},{240,266}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Archer_03_Attacking (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{34,12}</string>
                <key>spriteSize</key>
                <string>{240,266}</string>
                <key>spriteSourceSize</key>
                <string>{400,320}</string>
                <key>textureRect</key>
                <string>{{1361,649},{240,266}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Archer_03_Attacking (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{33,12}</string>
                <key>spriteSize</key>
                <string>{238,266}</string>
                <key>spriteSourceSize</key>
                <string>{400,320}</string>
                <key>textureRect</key>
                <string>{{1603,769},{238,266}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Archer_03_Attacking (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{32,12}</string>
                <key>spriteSize</key>
                <string>{236,266}</string>
                <key>spriteSourceSize</key>
                <string>{400,320}</string>
                <key>textureRect</key>
                <string>{{1361,917},{236,266}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Archer_03_Attacking (8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{31,12}</string>
                <key>spriteSize</key>
                <string>{234,266}</string>
                <key>spriteSourceSize</key>
                <string>{400,320}</string>
                <key>textureRect</key>
                <string>{{1361,1185},{234,266}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Archer_03_Attacking (9).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{30,12}</string>
                <key>spriteSize</key>
                <string>{232,266}</string>
                <key>spriteSourceSize</key>
                <string>{400,320}</string>
                <key>textureRect</key>
                <string>{{815,1197},{232,266}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Archer_03_Dying (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{20,12}</string>
                <key>spriteSize</key>
                <string>{200,266}</string>
                <key>spriteSourceSize</key>
                <string>{400,320}</string>
                <key>textureRect</key>
                <string>{{547,783},{200,266}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Archer_03_Dying (10).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-55,-42}</string>
                <key>spriteSize</key>
                <string>{258,224}</string>
                <key>spriteSourceSize</key>
                <string>{400,320}</string>
                <key>textureRect</key>
                <string>{{1613,241},{258,224}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Archer_03_Dying (11).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-62,-51}</string>
                <key>spriteSize</key>
                <string>{272,208}</string>
                <key>spriteSourceSize</key>
                <string>{400,320}</string>
                <key>textureRect</key>
                <string>{{815,987},{272,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Archer_03_Dying (12).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-63,-57}</string>
                <key>spriteSize</key>
                <string>{272,196}</string>
                <key>spriteSourceSize</key>
                <string>{400,320}</string>
                <key>textureRect</key>
                <string>{{547,585},{272,196}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Archer_03_Dying (13).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-63,-57}</string>
                <key>spriteSize</key>
                <string>{272,196}</string>
                <key>spriteSourceSize</key>
                <string>{400,320}</string>
                <key>textureRect</key>
                <string>{{547,585},{272,196}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Archer_03_Dying (14).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-63,-57}</string>
                <key>spriteSize</key>
                <string>{272,196}</string>
                <key>spriteSourceSize</key>
                <string>{400,320}</string>
                <key>textureRect</key>
                <string>{{547,585},{272,196}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Archer_03_Dying (15).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-63,-57}</string>
                <key>spriteSize</key>
                <string>{272,196}</string>
                <key>spriteSourceSize</key>
                <string>{400,320}</string>
                <key>textureRect</key>
                <string>{{547,585},{272,196}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Archer_03_Dying (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{27,15}</string>
                <key>spriteSize</key>
                <string>{192,270}</string>
                <key>spriteSourceSize</key>
                <string>{400,320}</string>
                <key>textureRect</key>
                <string>{{269,195},{192,270}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Archer_03_Dying (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{37,18}</string>
                <key>spriteSize</key>
                <string>{190,272}</string>
                <key>spriteSourceSize</key>
                <string>{400,320}</string>
                <key>textureRect</key>
                <string>{{1,1},{190,272}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Archer_03_Dying (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{44,20}</string>
                <key>spriteSize</key>
                <string>{194,272}</string>
                <key>spriteSourceSize</key>
                <string>{400,320}</string>
                <key>textureRect</key>
                <string>{{813,389},{194,272}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Archer_03_Dying (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{22,20}</string>
                <key>spriteSize</key>
                <string>{192,274}</string>
                <key>spriteSourceSize</key>
                <string>{400,320}</string>
                <key>textureRect</key>
                <string>{{541,195},{192,274}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Archer_03_Dying (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,17}</string>
                <key>spriteSize</key>
                <string>{198,266}</string>
                <key>spriteSourceSize</key>
                <string>{400,320}</string>
                <key>textureRect</key>
                <string>{{1093,649},{198,266}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Archer_03_Dying (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,11}</string>
                <key>spriteSize</key>
                <string>{214,246}</string>
                <key>spriteSourceSize</key>
                <string>{400,320}</string>
                <key>textureRect</key>
                <string>{{1365,195},{214,246}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Archer_03_Dying (8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-32,-2}</string>
                <key>spriteSize</key>
                <string>{228,238}</string>
                <key>spriteSourceSize</key>
                <string>{400,320}</string>
                <key>textureRect</key>
                <string>{{1615,1},{228,238}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Archer_03_Dying (9).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-44,-22}</string>
                <key>spriteSize</key>
                <string>{244,236}</string>
                <key>spriteSourceSize</key>
                <string>{400,320}</string>
                <key>textureRect</key>
                <string>{{1357,411},{244,236}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Archer_03_Walking (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{27,13}</string>
                <key>spriteSize</key>
                <string>{194,268}</string>
                <key>spriteSourceSize</key>
                <string>{400,320}</string>
                <key>textureRect</key>
                <string>{{1087,389},{194,268}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Archer_03_Walking (10).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{29,15}</string>
                <key>spriteSize</key>
                <string>{192,272}</string>
                <key>spriteSourceSize</key>
                <string>{400,320}</string>
                <key>textureRect</key>
                <string>{{1091,195},{192,272}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Archer_03_Walking (11).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{29,14}</string>
                <key>spriteSize</key>
                <string>{192,270}</string>
                <key>spriteSourceSize</key>
                <string>{400,320}</string>
                <key>textureRect</key>
                <string>{{269,389},{192,270}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Archer_03_Walking (12).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{26,14}</string>
                <key>spriteSize</key>
                <string>{192,270}</string>
                <key>spriteSourceSize</key>
                <string>{400,320}</string>
                <key>textureRect</key>
                <string>{{541,389},{192,270}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Archer_03_Walking (13).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{20,13}</string>
                <key>spriteSize</key>
                <string>{198,270}</string>
                <key>spriteSourceSize</key>
                <string>{400,320}</string>
                <key>textureRect</key>
                <string>{{275,779},{198,270}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Archer_03_Walking (14).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{17,14}</string>
                <key>spriteSize</key>
                <string>{204,270}</string>
                <key>spriteSourceSize</key>
                <string>{400,320}</string>
                <key>textureRect</key>
                <string>{{273,979},{204,270}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Archer_03_Walking (15).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,13}</string>
                <key>spriteSize</key>
                <string>{208,268}</string>
                <key>spriteSourceSize</key>
                <string>{400,320}</string>
                <key>textureRect</key>
                <string>{{545,985},{208,268}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Archer_03_Walking (16).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,13}</string>
                <key>spriteSize</key>
                <string>{208,270}</string>
                <key>spriteSourceSize</key>
                <string>{400,320}</string>
                <key>textureRect</key>
                <string>{{275,1195},{208,270}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Archer_03_Walking (17).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{17,13}</string>
                <key>spriteSize</key>
                <string>{202,270}</string>
                <key>spriteSourceSize</key>
                <string>{400,320}</string>
                <key>textureRect</key>
                <string>{{1089,849},{202,270}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Archer_03_Walking (18).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{20,14}</string>
                <key>spriteSize</key>
                <string>{196,270}</string>
                <key>spriteSourceSize</key>
                <string>{400,320}</string>
                <key>textureRect</key>
                <string>{{821,585},{196,270}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Archer_03_Walking (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{27,14}</string>
                <key>spriteSize</key>
                <string>{194,270}</string>
                <key>spriteSourceSize</key>
                <string>{400,320}</string>
                <key>textureRect</key>
                <string>{{1,583},{194,270}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Archer_03_Walking (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{24,14}</string>
                <key>spriteSize</key>
                <string>{192,272}</string>
                <key>spriteSourceSize</key>
                <string>{400,320}</string>
                <key>textureRect</key>
                <string>{{817,195},{192,272}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Archer_03_Walking (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{19,14}</string>
                <key>spriteSize</key>
                <string>{198,272}</string>
                <key>spriteSourceSize</key>
                <string>{400,320}</string>
                <key>textureRect</key>
                <string>{{1,779},{198,272}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Archer_03_Walking (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,14}</string>
                <key>spriteSize</key>
                <string>{204,270}</string>
                <key>spriteSourceSize</key>
                <string>{400,320}</string>
                <key>textureRect</key>
                <string>{{1,979},{204,270}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Archer_03_Walking (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,14}</string>
                <key>spriteSize</key>
                <string>{208,270}</string>
                <key>spriteSourceSize</key>
                <string>{400,320}</string>
                <key>textureRect</key>
                <string>{{1089,1053},{208,270}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Archer_03_Walking (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,14}</string>
                <key>spriteSize</key>
                <string>{208,272}</string>
                <key>spriteSourceSize</key>
                <string>{400,320}</string>
                <key>textureRect</key>
                <string>{{1,1185},{208,272}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Archer_03_Walking (8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,15}</string>
                <key>spriteSize</key>
                <string>{202,272}</string>
                <key>spriteSourceSize</key>
                <string>{400,320}</string>
                <key>textureRect</key>
                <string>{{815,783},{202,272}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Archer_03_Walking (9).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{21,15}</string>
                <key>spriteSize</key>
                <string>{194,272}</string>
                <key>spriteSourceSize</key>
                <string>{400,320}</string>
                <key>textureRect</key>
                <string>{{273,583},{194,272}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Archer_03.png</string>
            <key>size</key>
            <string>{1844,1452}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:98189d255b61ffbac4001f79f9eb2342:651de729d3ace4cf60efd3a2fcfdab83:78511650eed2e02d6b4a3b1e023b0a62$</string>
            <key>textureFileName</key>
            <string>Archer_03.png</string>
        </dict>
    </dict>
</plist>
