<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Archer_01_Attacking (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1.5,3}</string>
                <key>spriteSize</key>
                <string>{251,266}</string>
                <key>spriteSourceSize</key>
                <string>{400,320}</string>
                <key>textureRect</key>
                <string>{{1,541},{251,266}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>9 10 11 8 9 11 0 8 11 6 7 8 3 4 6 4 5 6 8 2 3 8 0 2 0 1 2 8 3 6</string>
                <key>vertices</key>
                <string>259 38 304 59 324 110 320 213 272 279 194 290 170 242 147 219 133 175 88 140 73 106 199 24</string>
                <key>verticesUV</key>
                <string>187 555 232 576 252 627 248 730 200 796 122 807 98 759 75 736 61 692 16 657 1 623 127 541</string>
            </dict>
            <key>Archer_01_Attacking (10).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{30.5,0}</string>
                <key>spriteSize</key>
                <string>{247,258}</string>
                <key>spriteSourceSize</key>
                <string>{400,320}</string>
                <key>textureRect</key>
                <string>{{850,791},{247,258}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>10 11 12 9 10 12 2 9 12 2 8 9 4 5 7 5 6 7 2 4 7 2 3 4 2 7 8 0 1 2 0 2 12</string>
                <key>vertices</key>
                <string>278 43 325 106 304 157 354 182 303 225 269 280 193 289 179 253 144 230 107 130 129 66 173 35 219 31</string>
                <key>verticesUV</key>
                <string>1021 803 1068 866 1047 917 1097 942 1046 985 1012 1040 936 1049 922 1013 887 990 850 890 872 826 916 795 962 791</string>
            </dict>
            <key>Archer_01_Attacking (11).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{17,-1}</string>
                <key>spriteSize</key>
                <string>{204,256}</string>
                <key>spriteSourceSize</key>
                <string>{400,320}</string>
                <key>textureRect</key>
                <string>{{1337,1},{204,256}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>9 10 11 3 7 9 7 8 9 5 6 7 4 5 7 3 4 7 0 3 9 0 2 3 0 1 2 0 9 11</string>
                <key>vertices</key>
                <string>256 35 311 75 319 119 308 162 308 223 266 280 193 289 171 238 145 228 115 150 116 84 170 33</string>
                <key>verticesUV</key>
                <string>1478 3 1533 43 1541 87 1530 130 1530 191 1488 248 1415 257 1393 206 1367 196 1337 118 1338 52 1392 1</string>
            </dict>
            <key>Archer_01_Attacking (12).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18.5,0.5}</string>
                <key>spriteSize</key>
                <string>{203,263}</string>
                <key>spriteSourceSize</key>
                <string>{400,320}</string>
                <key>textureRect</key>
                <string>{{436,269},{203,263}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>6 8 9 6 7 8 1 6 9 4 2 3 4 5 2 1 2 5 1 5 6 0 1 9</string>
                <key>vertices</key>
                <string>302 61 320 112 308 232 249 291 190 280 145 226 117 151 117 85 163 40 238 28</string>
                <key>verticesUV</key>
                <string>621 302 639 353 627 473 568 532 509 521 464 467 436 392 436 326 482 281 557 269</string>
            </dict>
            <key>Archer_01_Attacking (13).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{20.5,1.5}</string>
                <key>spriteSize</key>
                <string>{205,259}</string>
                <key>spriteSourceSize</key>
                <string>{400,320}</string>
                <key>textureRect</key>
                <string>{{643,796},{205,259}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>6 8 9 6 7 8 0 6 9 2 3 5 3 4 5 6 1 2 6 0 1 6 2 5</string>
                <key>vertices</key>
                <string>278 47 323 90 309 228 262 281 198 288 145 225 118 151 118 85 164 40 231 29</string>
                <key>verticesUV</key>
                <string>803 814 848 857 834 995 787 1048 723 1055 670 992 643 918 643 852 689 807 756 796</string>
            </dict>
            <key>Archer_01_Attacking (14).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18.5,5.5}</string>
                <key>spriteSize</key>
                <string>{207,257}</string>
                <key>spriteSourceSize</key>
                <string>{400,320}</string>
                <key>textureRect</key>
                <string>{{1128,1},{207,257}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>6 8 9 6 7 8 1 6 9 4 2 3 4 5 2 1 2 5 1 5 6 0 1 9</string>
                <key>vertices</key>
                <string>303 59 322 113 308 232 257 283 194 281 147 234 115 137 122 81 159 42 232 26</string>
                <key>verticesUV</key>
                <string>1316 34 1335 88 1321 207 1270 258 1207 256 1160 209 1128 112 1135 56 1172 17 1245 1</string>
            </dict>
            <key>Archer_01_Attacking (15).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{19,7}</string>
                <key>spriteSize</key>
                <string>{208,260}</string>
                <key>spriteSourceSize</key>
                <string>{400,320}</string>
                <key>textureRect</key>
                <string>{{641,269},{208,260}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>0 9 10 0 8 9 6 7 8 3 4 6 4 5 6 2 3 6 8 0 2 0 1 2 8 2 6</string>
                <key>vertices</key>
                <string>259 38 305 60 323 113 308 234 259 283 190 282 174 234 145 223 115 134 126 75 192 23</string>
                <key>verticesUV</key>
                <string>785 284 831 306 849 359 834 480 785 529 716 528 700 480 671 469 641 380 652 321 718 269</string>
            </dict>
            <key>Archer_01_Attacking (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,5}</string>
                <key>spriteSize</key>
                <string>{208,254}</string>
                <key>spriteSourceSize</key>
                <string>{400,320}</string>
                <key>textureRect</key>
                <string>{{1354,778},{208,254}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 9 10 7 8 9 1 7 9 2 3 4 4 5 6 2 4 6 1 2 6 1 6 7 0 1 10</string>
                <key>vertices</key>
                <string>303 59 322 113 308 223 287 263 255 282 194 281 148 235 114 135 123 75 175 37 237 28</string>
                <key>verticesUV</key>
                <string>1543 809 1562 863 1548 973 1527 1013 1495 1032 1434 1031 1388 985 1354 885 1363 825 1415 787 1477 778</string>
            </dict>
            <key>Archer_01_Attacking (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{17.5,-1.5}</string>
                <key>spriteSize</key>
                <string>{209,259}</string>
                <key>spriteSourceSize</key>
                <string>{400,320}</string>
                <key>textureRect</key>
                <string>{{449,1068},{209,259}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>7 9 10 7 8 9 0 7 10 5 6 7 2 3 5 3 4 5 1 2 5 0 1 5 0 5 7</string>
                <key>vertices</key>
                <string>277 47 322 92 306 234 249 291 189 280 172 236 136 226 113 130 124 75 176 35 238 32</string>
                <key>verticesUV</key>
                <string>613 1083 658 1128 642 1270 585 1327 525 1316 508 1272 472 1262 449 1166 460 1111 512 1071 574 1068</string>
            </dict>
            <key>Archer_01_Attacking (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{41.5,5}</string>
                <key>spriteSize</key>
                <string>{253,256}</string>
                <key>spriteSourceSize</key>
                <string>{400,320}</string>
                <key>textureRect</key>
                <string>{{1099,781},{253,256}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>2 11 12 9 10 11 2 9 11 7 8 9 4 5 7 5 6 7 2 4 7 2 3 4 2 7 9 0 1 2 0 2 12</string>
                <key>vertices</key>
                <string>310 75 318 122 306 155 368 178 302 227 267 283 190 282 174 239 144 230 115 151 115 89 158 40 245 27</string>
                <key>verticesUV</key>
                <string>1294 829 1302 876 1290 909 1352 932 1286 981 1251 1037 1174 1036 1158 993 1128 984 1099 905 1099 843 1142 794 1229 781</string>
            </dict>
            <key>Archer_01_Attacking (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{37,0}</string>
                <key>spriteSize</key>
                <string>{260,258}</string>
                <key>spriteSourceSize</key>
                <string>{400,320}</string>
                <key>textureRect</key>
                <string>{{464,534},{260,258}}</string>
                <key>textureRotated</key>
                <true/>
                <key>triangles</key>
                <string>10 11 12 9 10 12 2 9 12 2 8 9 4 5 7 5 6 7 2 4 7 2 3 4 2 7 8 1 2 12 0 1 12</string>
                <key>vertices</key>
                <string>278 43 316 95 317 160 367 182 303 225 269 280 193 289 179 253 144 230 107 130 129 66 173 35 219 31</string>
                <key>verticesUV</key>
                <string>710 705 658 743 593 744 571 794 528 730 473 696 464 620 500 606 523 571 623 534 687 556 718 600 722 646</string>
            </dict>
            <key>Archer_01_Attacking (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{36,0}</string>
                <key>spriteSize</key>
                <string>{258,258}</string>
                <key>spriteSourceSize</key>
                <string>{400,320}</string>
                <key>textureRect</key>
                <string>{{724,531},{258,258}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>10 11 12 9 10 12 2 9 12 2 8 9 4 5 7 5 6 7 2 4 7 2 3 4 2 7 8 0 1 2 0 2 12</string>
                <key>vertices</key>
                <string>278 43 325 105 305 160 365 181 303 225 269 280 193 289 179 253 144 230 107 130 129 66 173 35 219 31</string>
                <key>verticesUV</key>
                <string>895 543 942 605 922 660 982 681 920 725 886 780 810 789 796 753 761 730 724 630 746 566 790 535 836 531</string>
            </dict>
            <key>Archer_01_Attacking (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{35.5,0}</string>
                <key>spriteSize</key>
                <string>{257,258}</string>
                <key>spriteSourceSize</key>
                <string>{400,320}</string>
                <key>textureRect</key>
                <string>{{851,262},{257,258}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>10 11 12 9 10 12 2 9 12 2 8 9 4 5 7 5 6 7 2 4 7 2 3 4 2 7 8 0 1 2 0 2 12</string>
                <key>vertices</key>
                <string>278 43 325 105 305 160 364 181 303 225 269 280 193 289 179 253 144 230 107 130 129 66 173 35 219 31</string>
                <key>verticesUV</key>
                <string>1022 274 1069 336 1049 391 1108 412 1047 456 1013 511 937 520 923 484 888 461 851 361 873 297 917 266 963 262</string>
            </dict>
            <key>Archer_01_Attacking (8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{33,0}</string>
                <key>spriteSize</key>
                <string>{252,258}</string>
                <key>spriteSourceSize</key>
                <string>{400,320}</string>
                <key>textureRect</key>
                <string>{{874,1},{252,258}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>10 11 12 9 10 12 1 2 9 2 8 9 4 5 7 5 6 7 2 4 7 2 3 4 2 7 8 1 9 12 0 1 12</string>
                <key>vertices</key>
                <string>278 43 314 91 324 166 359 182 303 225 269 280 193 289 179 253 144 230 107 130 129 66 173 35 219 31</string>
                <key>verticesUV</key>
                <string>1045 13 1081 61 1091 136 1126 152 1070 195 1036 250 960 259 946 223 911 200 874 100 896 36 940 5 986 1</string>
            </dict>
            <key>Archer_01_Attacking (9).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{32,0}</string>
                <key>spriteSize</key>
                <string>{250,258}</string>
                <key>spriteSourceSize</key>
                <string>{400,320}</string>
                <key>textureRect</key>
                <string>{{660,1057},{250,258}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>10 11 12 9 10 12 2 9 12 2 8 9 4 5 7 5 6 7 2 4 7 2 3 4 2 7 8 1 2 12 0 1 12</string>
                <key>vertices</key>
                <string>278 43 316 93 322 166 357 182 303 225 269 280 193 289 179 253 144 230 107 130 129 66 173 35 219 31</string>
                <key>verticesUV</key>
                <string>831 1069 869 1119 875 1192 910 1208 856 1251 822 1306 746 1315 732 1279 697 1256 660 1156 682 1092 726 1061 772 1057</string>
            </dict>
            <key>Archer_01_Dying (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,-1}</string>
                <key>spriteSize</key>
                <string>{212,256}</string>
                <key>spriteSourceSize</key>
                <string>{400,320}</string>
                <key>textureRect</key>
                <string>{{1199,520},{212,256}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>7 8 9 1 7 9 1 6 7 2 3 5 3 4 5 1 2 5 1 5 6 0 1 9</string>
                <key>vertices</key>
                <string>304 59 324 110 320 213 272 279 196 289 150 226 112 130 130 77 175 34 249 33</string>
                <key>verticesUV</key>
                <string>1391 546 1411 597 1407 700 1359 766 1283 776 1237 713 1199 617 1217 564 1262 521 1336 520</string>
            </dict>
            <key>Archer_01_Dying (10).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-52,-42}</string>
                <key>spriteSize</key>
                <string>{252,234}</string>
                <key>spriteSourceSize</key>
                <string>{400,320}</string>
                <key>textureRect</key>
                <string>{{1760,211},{252,234}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>4 9 10 4 8 9 6 7 8 6 8 4 6 4 5 2 3 4 0 2 4 0 1 2 0 4 10</string>
                <key>vertices</key>
                <string>274 199 274 273 223 288 203 319 140 287 94 297 48 256 22 196 44 145 83 98 169 85</string>
                <key>verticesUV</key>
                <string>2012 325 2012 399 1961 414 1941 445 1878 413 1832 423 1786 382 1760 322 1782 271 1821 224 1907 211</string>
            </dict>
            <key>Archer_01_Dying (11).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-49.5,-52}</string>
                <key>spriteSize</key>
                <string>{253,216}</string>
                <key>spriteSourceSize</key>
                <string>{400,320}</string>
                <key>textureRect</key>
                <string>{{1413,518},{253,216}}</string>
                <key>textureRotated</key>
                <true/>
                <key>triangles</key>
                <string>0 9 10 6 8 9 6 7 8 4 5 6 0 4 6 2 3 4 1 2 4 0 1 4 0 6 9</string>
                <key>vertices</key>
                <string>153 105 260 180 277 215 268 274 226 295 201 320 75 302 24 251 26 170 62 124 103 104</string>
                <key>verticesUV</key>
                <string>1628 647 1553 754 1518 771 1459 762 1438 720 1413 695 1431 569 1482 518 1563 520 1609 556 1629 597</string>
            </dict>
            <key>Archer_01_Dying (12).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-51.5,-52.5}</string>
                <key>spriteSize</key>
                <string>{251,207}</string>
                <key>spriteSourceSize</key>
                <string>{400,320}</string>
                <key>textureRect</key>
                <string>{{1564,773},{251,207}}</string>
                <key>textureRotated</key>
                <true/>
                <key>triangles</key>
                <string>7 9 10 7 8 9 4 7 10 5 6 7 4 5 7 3 4 10 1 2 3 0 1 3 0 3 10</string>
                <key>vertices</key>
                <string>233 148 274 217 269 275 204 316 88 316 52 292 27 258 23 213 32 160 75 121 126 109</string>
                <key>verticesUV</key>
                <string>1732 983 1663 1024 1605 1019 1564 954 1564 838 1588 802 1622 777 1667 773 1720 782 1759 825 1771 876</string>
            </dict>
            <key>Archer_01_Dying (13).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-51.5,-52.5}</string>
                <key>spriteSize</key>
                <string>{251,207}</string>
                <key>spriteSourceSize</key>
                <string>{400,320}</string>
                <key>textureRect</key>
                <string>{{1564,773},{251,207}}</string>
                <key>textureRotated</key>
                <true/>
                <key>triangles</key>
                <string>7 9 10 7 8 9 4 7 10 5 6 7 4 5 7 3 4 10 1 2 3 0 1 3 0 3 10</string>
                <key>vertices</key>
                <string>233 148 274 217 269 275 204 316 88 316 52 292 27 258 23 213 32 160 75 121 126 109</string>
                <key>verticesUV</key>
                <string>1732 983 1663 1024 1605 1019 1564 954 1564 838 1588 802 1622 777 1667 773 1720 782 1759 825 1771 876</string>
            </dict>
            <key>Archer_01_Dying (14).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-51.5,-52.5}</string>
                <key>spriteSize</key>
                <string>{251,207}</string>
                <key>spriteSourceSize</key>
                <string>{400,320}</string>
                <key>textureRect</key>
                <string>{{1564,773},{251,207}}</string>
                <key>textureRotated</key>
                <true/>
                <key>triangles</key>
                <string>7 9 10 7 8 9 4 7 10 5 6 7 4 5 7 3 4 10 1 2 3 0 1 3 0 3 10</string>
                <key>vertices</key>
                <string>233 148 274 217 269 275 204 316 88 316 52 292 27 258 23 213 32 160 75 121 126 109</string>
                <key>verticesUV</key>
                <string>1732 983 1663 1024 1605 1019 1564 954 1564 838 1588 802 1622 777 1667 773 1720 782 1759 825 1771 876</string>
            </dict>
            <key>Archer_01_Dying (15).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-51.5,-52.5}</string>
                <key>spriteSize</key>
                <string>{251,207}</string>
                <key>spriteSourceSize</key>
                <string>{400,320}</string>
                <key>textureRect</key>
                <string>{{1564,773},{251,207}}</string>
                <key>textureRotated</key>
                <true/>
                <key>triangles</key>
                <string>7 9 10 7 8 9 4 7 10 5 6 7 4 5 7 3 4 10 1 2 3 0 1 3 0 3 10</string>
                <key>vertices</key>
                <string>233 148 274 217 269 275 204 316 88 316 52 292 27 258 23 213 32 160 75 121 126 109</string>
                <key>verticesUV</key>
                <string>1732 983 1663 1024 1605 1019 1564 954 1564 838 1588 802 1622 777 1667 773 1720 782 1759 825 1771 876</string>
            </dict>
            <key>Archer_01_Dying (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{26.5,1}</string>
                <key>spriteSize</key>
                <string>{213,266}</string>
                <key>spriteSourceSize</key>
                <string>{400,320}</string>
                <key>textureRect</key>
                <string>{{221,270},{213,266}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>7 8 9 1 7 9 5 6 7 2 3 5 3 4 5 1 2 5 1 5 7 0 1 9</string>
                <key>vertices</key>
                <string>321 67 333 121 319 222 264 277 200 292 147 215 120 111 148 64 181 33 253 26</string>
                <key>verticesUV</key>
                <string>422 311 434 365 420 466 365 521 301 536 248 459 221 355 249 308 282 277 354 270</string>
            </dict>
            <key>Archer_01_Dying (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{37,-1}</string>
                <key>spriteSize</key>
                <string>{208,264}</string>
                <key>spriteSourceSize</key>
                <string>{400,320}</string>
                <key>textureRect</key>
                <string>{{254,538},{208,264}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 8 9 6 7 8 1 6 8 2 3 5 3 4 5 6 1 2 6 2 5 0 1 9</string>
                <key>vertices</key>
                <string>330 71 341 126 326 201 284 268 202 293 148 211 133 120 149 57 207 30 272 29</string>
                <key>verticesUV</key>
                <string>451 580 462 635 447 710 405 777 323 802 269 720 254 629 270 566 328 539 393 538</string>
            </dict>
            <key>Archer_01_Dying (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{43,8}</string>
                <key>spriteSize</key>
                <string>{206,252}</string>
                <key>spriteSourceSize</key>
                <string>{400,320}</string>
                <key>textureRect</key>
                <string>{{1552,1034},{206,252}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>8 9 10 0 3 8 4 5 7 5 6 7 3 4 7 3 7 8 0 2 3 0 1 2 0 8 10</string>
                <key>vertices</key>
                <string>277 33 328 62 346 107 346 154 296 253 252 278 195 277 148 205 140 93 180 39 232 26</string>
                <key>verticesUV</key>
                <string>1689 1041 1740 1070 1758 1115 1758 1162 1708 1261 1664 1286 1607 1285 1560 1213 1552 1101 1592 1047 1644 1034</string>
            </dict>
            <key>Archer_01_Dying (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{26.5,10}</string>
                <key>spriteSize</key>
                <string>{223,264}</string>
                <key>spriteSourceSize</key>
                <string>{400,320}</string>
                <key>textureRect</key>
                <string>{{1,1076},{223,264}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>2 8 9 2 7 8 4 5 6 3 4 6 2 3 6 2 6 7 0 1 2 0 2 9</string>
                <key>vertices</key>
                <string>291 37 338 113 318 143 303 224 275 264 204 282 144 220 115 106 146 48 204 18</string>
                <key>verticesUV</key>
                <string>177 1095 224 1171 204 1201 189 1282 161 1322 90 1340 30 1278 1 1164 32 1106 90 1076</string>
            </dict>
            <key>Archer_01_Dying (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,5}</string>
                <key>spriteSize</key>
                <string>{210,256}</string>
                <key>spriteSourceSize</key>
                <string>{400,320}</string>
                <key>textureRect</key>
                <string>{{1323,260},{210,256}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>8 10 11 8 9 10 0 8 11 7 2 5 5 6 7 3 4 5 2 3 5 7 1 2 7 0 1 0 7 8</string>
                <key>vertices</key>
                <string>240 28 307 70 298 220 261 269 205 283 180 243 145 242 141 213 104 157 97 94 127 51 171 27</string>
                <key>verticesUV</key>
                <string>1466 261 1533 303 1524 453 1487 502 1431 516 1406 476 1371 475 1367 446 1330 390 1323 327 1353 284 1397 260</string>
            </dict>
            <key>Archer_01_Dying (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,6}</string>
                <key>spriteSize</key>
                <string>{216,244}</string>
                <key>spriteSourceSize</key>
                <string>{400,320}</string>
                <key>textureRect</key>
                <string>{{1773,657},{216,244}}</string>
                <key>textureRotated</key>
                <true/>
                <key>triangles</key>
                <string>1 9 10 7 8 9 6 7 9 1 6 9 3 4 5 2 3 5 1 2 5 1 5 6 0 1 10</string>
                <key>vertices</key>
                <string>277 61 281 123 293 186 283 239 242 276 153 260 91 176 77 135 89 73 152 33 210 32</string>
                <key>verticesUV</key>
                <string>1988 857 1926 861 1863 873 1810 863 1773 822 1789 733 1873 671 1914 657 1976 669 2016 732 2017 790</string>
            </dict>
            <key>Archer_01_Dying (8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-31.5,-3}</string>
                <key>spriteSize</key>
                <string>{231,242}</string>
                <key>spriteSourceSize</key>
                <string>{400,320}</string>
                <key>textureRect</key>
                <string>{{1760,1120},{231,242}}</string>
                <key>textureRotated</key>
                <true/>
                <key>triangles</key>
                <string>2 11 12 9 10 11 7 8 9 2 7 9 4 5 6 4 6 7 7 2 3 7 3 4 2 9 11 0 1 2 0 2 12</string>
                <key>vertices</key>
                <string>203 53 250 80 250 123 277 167 284 222 265 271 219 276 195 269 164 284 74 207 53 145 78 80 147 42</string>
                <key>verticesUV</key>
                <string>1991 1270 1964 1317 1921 1317 1877 1344 1822 1351 1773 1332 1768 1286 1775 1262 1760 1231 1837 1141 1899 1120 1964 1145 2002 1214</string>
            </dict>
            <key>Archer_01_Dying (9).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-40.5,-23.5}</string>
                <key>spriteSize</key>
                <string>{243,243}</string>
                <key>spriteSourceSize</key>
                <string>{400,320}</string>
                <key>textureRect</key>
                <string>{{1773,875},{243,243}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>9 10 11 7 0 6 7 8 9 7 9 0 4 5 6 1 4 6 2 3 4 1 2 4 0 1 6 0 9 11</string>
                <key>vertices</key>
                <string>205 76 265 168 281 216 259 279 207 279 181 305 146 277 78 250 38 198 44 145 71 92 124 62</string>
                <key>verticesUV</key>
                <string>1940 889 2000 981 2016 1029 1994 1092 1942 1092 1916 1118 1881 1090 1813 1063 1773 1011 1779 958 1806 905 1859 875</string>
            </dict>
            <key>Archer_01_Walking (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{33,0}</string>
                <key>spriteSize</key>
                <string>{210,262}</string>
                <key>spriteSourceSize</key>
                <string>{400,320}</string>
                <key>textureRect</key>
                <string>{{431,804},{210,262}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>8 9 10 3 8 10 6 4 5 3 4 6 3 6 7 3 7 8 1 2 3 0 1 3 0 3 10</string>
                <key>vertices</key>
                <string>275 39 310 65 338 114 327 147 307 251 224 291 161 249 129 158 128 109 149 51 221 29</string>
                <key>verticesUV</key>
                <string>578 814 613 840 641 889 630 922 610 1026 527 1066 464 1024 432 933 431 884 452 826 524 804</string>
            </dict>
            <key>Archer_01_Walking (10).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{29.5,3.5}</string>
                <key>spriteSize</key>
                <string>{213,255}</string>
                <key>spriteSourceSize</key>
                <string>{400,320}</string>
                <key>textureRect</key>
                <string>{{1120,1039},{213,255}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>13 14 15 12 13 15 3 12 15 10 11 12 3 10 12 9 10 7 9 7 8 5 6 7 3 5 7 3 4 5 3 7 10 0 2 3 0 1 2 0 3 15</string>
                <key>vertices</key>
                <string>275 37 322 68 336 125 302 202 322 235 291 264 252 283 224 270 202 284 180 273 171 228 150 217 123 119 144 68 180 36 229 29</string>
                <key>verticesUV</key>
                <string>1272 1047 1319 1078 1333 1135 1299 1212 1319 1245 1288 1274 1249 1293 1221 1280 1199 1294 1177 1283 1168 1238 1147 1227 1120 1129 1141 1078 1177 1046 1226 1039</string>
            </dict>
            <key>Archer_01_Walking (11).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{28.5,6}</string>
                <key>spriteSize</key>
                <string>{215,254}</string>
                <key>spriteSourceSize</key>
                <string>{400,320}</string>
                <key>textureRect</key>
                <string>{{1335,1039},{215,254}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>0 3 10 9 7 8 9 10 3 3 5 7 5 6 7 3 4 5 9 3 7 0 2 3 0 1 2 0 10 11</string>
                <key>vertices</key>
                <string>272 36 324 71 336 128 298 209 335 221 261 281 185 281 164 226 149 218 121 113 153 59 200 27</string>
                <key>verticesUV</key>
                <string>1486 1048 1538 1083 1550 1140 1512 1221 1549 1233 1475 1293 1399 1293 1378 1238 1363 1230 1335 1125 1367 1071 1414 1039</string>
            </dict>
            <key>Archer_01_Walking (12).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{30.5,5.5}</string>
                <key>spriteSize</key>
                <string>{215,253}</string>
                <key>spriteSourceSize</key>
                <string>{400,320}</string>
                <key>textureRect</key>
                <string>{{1535,259},{215,253}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>0 11 12 9 10 11 9 2 8 11 0 2 6 7 8 2 4 6 4 5 6 2 3 4 2 6 8 0 1 2 9 11 2</string>
                <key>vertices</key>
                <string>309 64 338 115 299 202 333 211 263 281 185 281 174 236 148 218 123 146 129 96 149 59 189 34 261 28</string>
                <key>verticesUV</key>
                <string>1721 295 1750 346 1711 433 1745 442 1675 512 1597 512 1586 467 1560 449 1535 377 1541 327 1561 290 1601 265 1673 259</string>
            </dict>
            <key>Archer_01_Walking (13).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{20.5,2.5}</string>
                <key>spriteSize</key>
                <string>{215,253}</string>
                <key>spriteSourceSize</key>
                <string>{400,320}</string>
                <key>textureRect</key>
                <string>{{1543,1},{215,253}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>2 10 11 8 9 10 2 8 10 6 7 8 2 4 6 4 5 6 2 3 4 2 6 8 1 2 11 0 1 11</string>
                <key>vertices</key>
                <string>303 52 328 114 304 171 326 218 257 284 188 281 176 233 147 221 113 125 137 62 185 31 249 31</string>
                <key>verticesUV</key>
                <string>1733 22 1758 84 1734 141 1756 188 1687 254 1618 251 1606 203 1577 191 1543 95 1567 32 1615 1 1679 1</string>
            </dict>
            <key>Archer_01_Walking (14).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{21.5,2.5}</string>
                <key>spriteSize</key>
                <string>{217,269}</string>
                <key>spriteSourceSize</key>
                <string>{400,320}</string>
                <key>textureRect</key>
                <string>{{1,1},{217,269}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>2 10 11 8 9 10 2 8 10 6 7 8 2 4 6 4 5 6 2 3 4 2 6 8 0 1 2 0 2 11</string>
                <key>vertices</key>
                <string>272 39 325 90 301 176 330 205 260 280 195 292 172 231 141 220 115 142 113 81 161 39 212 23</string>
                <key>verticesUV</key>
                <string>160 17 213 68 189 154 218 183 148 258 83 270 60 209 29 198 3 120 1 59 49 17 100 1</string>
            </dict>
            <key>Archer_01_Walking (15).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14.5,6.5}</string>
                <key>spriteSize</key>
                <string>{213,257}</string>
                <key>spriteSourceSize</key>
                <string>{400,320}</string>
                <key>textureRect</key>
                <string>{{984,522},{213,257}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>2 11 12 9 10 11 8 9 11 2 8 11 6 4 5 6 7 4 2 4 7 2 3 4 2 7 8 1 2 12 0 1 12</string>
                <key>vertices</key>
                <string>302 63 314 107 300 155 321 195 298 237 257 282 196 281 145 220 113 152 108 106 133 48 187 29 245 25</string>
                <key>verticesUV</key>
                <string>1178 560 1190 604 1176 652 1197 692 1174 734 1133 779 1072 778 1021 717 989 649 984 603 1009 545 1063 526 1121 522</string>
            </dict>
            <key>Archer_01_Walking (16).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,2}</string>
                <key>spriteSize</key>
                <string>{212,264}</string>
                <key>spriteSourceSize</key>
                <string>{400,320}</string>
                <key>textureRect</key>
                <string>{{217,809},{212,264}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>8 9 10 7 8 10 1 2 7 4 5 6 3 4 6 2 3 6 2 6 7 1 7 10 0 1 10</string>
                <key>vertices</key>
                <string>250 28 289 54 313 90 322 207 269 278 209 290 156 243 112 149 110 96 135 51 184 26</string>
                <key>verticesUV</key>
                <string>357 811 396 837 420 873 429 990 376 1061 316 1073 263 1026 219 932 217 879 242 834 291 809</string>
            </dict>
            <key>Archer_01_Walking (17).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{21.5,3.5}</string>
                <key>spriteSize</key>
                <string>{211,257}</string>
                <key>spriteSourceSize</key>
                <string>{400,320}</string>
                <key>textureRect</key>
                <string>{{1110,261},{211,257}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>9 10 11 0 3 9 6 7 8 5 6 8 3 4 5 3 5 8 3 8 9 3 0 1 3 1 2 0 9 11</string>
                <key>vertices</key>
                <string>249 29 301 56 321 110 308 149 327 206 289 254 251 281 189 285 147 218 116 145 117 84 170 28</string>
                <key>verticesUV</key>
                <string>1243 262 1295 289 1315 343 1302 382 1321 439 1283 487 1245 514 1183 518 1141 451 1110 378 1111 317 1164 261</string>
            </dict>
            <key>Archer_01_Walking (18).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{23,5.5}</string>
                <key>spriteSize</key>
                <string>{212,267}</string>
                <key>spriteSourceSize</key>
                <string>{400,320}</string>
                <key>textureRect</key>
                <string>{{220,1},{212,267}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>8 9 10 0 8 10 3 5 6 6 7 3 3 4 5 2 3 7 1 2 7 0 1 7 0 7 8</string>
                <key>vertices</key>
                <string>293 50 318 84 329 128 309 229 283 269 226 288 174 271 130 177 117 113 147 47 230 21</string>
                <key>verticesUV</key>
                <string>396 30 421 64 432 108 412 209 386 249 329 268 277 251 233 157 220 93 250 27 333 1</string>
            </dict>
            <key>Archer_01_Walking (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{30,4.5}</string>
                <key>spriteSize</key>
                <string>{208,253}</string>
                <key>spriteSourceSize</key>
                <string>{400,320}</string>
                <key>textureRect</key>
                <string>{{1760,1},{208,253}}</string>
                <key>textureRotated</key>
                <true/>
                <key>triangles</key>
                <string>7 8 9 6 4 5 3 4 6 3 6 7 2 3 7 0 2 7 0 1 2 0 7 9</string>
                <key>vertices</key>
                <string>270 36 322 72 334 126 304 249 245 282 207 281 155 246 126 135 135 71 197 29</string>
                <key>verticesUV</key>
                <string>2006 145 1970 197 1916 209 1793 179 1760 120 1761 82 1796 30 1907 1 1971 10 2013 72</string>
            </dict>
            <key>Archer_01_Walking (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{26,4}</string>
                <key>spriteSize</key>
                <string>{208,252}</string>
                <key>spriteSourceSize</key>
                <string>{400,320}</string>
                <key>textureRect</key>
                <string>{{1752,447},{208,252}}</string>
                <key>textureRotated</key>
                <true/>
                <key>triangles</key>
                <string>8 9 10 0 2 8 4 5 6 4 6 7 3 4 7 8 2 3 8 3 7 0 1 2 0 8 10</string>
                <key>vertices</key>
                <string>259 32 316 64 330 120 313 219 290 254 249 282 205 282 150 238 122 126 138 62 195 30</string>
                <key>verticesUV</key>
                <string>2002 584 1970 641 1914 655 1815 638 1780 615 1752 574 1752 530 1796 475 1908 447 1972 463 2004 520</string>
            </dict>
            <key>Archer_01_Walking (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{19,8.5}</string>
                <key>spriteSize</key>
                <string>{214,265}</string>
                <key>spriteSourceSize</key>
                <string>{400,320}</string>
                <key>textureRect</key>
                <string>{{1,809},{214,265}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>8 9 10 2 8 10 4 5 7 5 6 7 2 3 4 2 4 7 2 7 8 0 1 2 0 2 10</string>
                <key>vertices</key>
                <string>304 53 326 116 309 155 322 192 295 246 254 281 194 284 146 217 112 122 139 46 224 19</string>
                <key>verticesUV</key>
                <string>193 843 215 906 198 945 211 982 184 1036 143 1071 83 1074 35 1007 1 912 28 836 113 809</string>
            </dict>
            <key>Archer_01_Walking (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,11}</string>
                <key>spriteSize</key>
                <string>{210,266}</string>
                <key>spriteSourceSize</key>
                <string>{400,320}</string>
                <key>textureRect</key>
                <string>{{434,1},{210,266}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>0 8 9 0 2 7 3 4 6 4 5 6 2 3 6 2 6 7 0 1 2 0 7 8</string>
                <key>vertices</key>
                <string>265 36 303 62 318 106 318 214 257 282 198 281 155 238 108 145 123 59 206 16</string>
                <key>verticesUV</key>
                <string>591 21 629 47 644 91 644 199 583 267 524 266 481 223 434 130 449 44 532 1</string>
            </dict>
            <key>Archer_01_Walking (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,4.5}</string>
                <key>spriteSize</key>
                <string>{218,267}</string>
                <key>spriteSourceSize</key>
                <string>{400,320}</string>
                <key>textureRect</key>
                <string>{{1,272},{218,267}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>2 10 11 8 9 10 2 8 10 6 2 5 6 7 2 2 3 4 2 4 5 2 7 8 0 1 2 0 2 11</string>
                <key>vertices</key>
                <string>293 54 316 100 292 188 312 184 323 202 265 280 199 289 145 219 105 133 119 65 172 29 240 22</string>
                <key>verticesUV</key>
                <string>189 304 212 350 188 438 208 434 219 452 161 530 95 539 41 469 1 383 15 315 68 279 136 272</string>
            </dict>
            <key>Archer_01_Walking (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12.5,7}</string>
                <key>spriteSize</key>
                <string>{221,262}</string>
                <key>spriteSourceSize</key>
                <string>{400,320}</string>
                <key>textureRect</key>
                <string>{{226,1075},{221,262}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>2 3 12 10 11 12 10 3 8 8 9 10 3 6 8 6 7 8 3 4 5 3 5 6 10 12 3 2 12 13 0 1 2 0 2 13</string>
                <key>vertices</key>
                <string>292 52 318 98 297 165 273 198 316 194 323 212 261 282 188 284 175 232 147 221 102 124 128 47 178 28 242 22</string>
                <key>verticesUV</key>
                <string>416 1105 442 1151 421 1218 397 1251 440 1247 447 1265 385 1335 312 1337 299 1285 271 1274 226 1177 252 1100 302 1081 366 1075</string>
            </dict>
            <key>Archer_01_Walking (8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{25,7.5}</string>
                <key>spriteSize</key>
                <string>{226,259}</string>
                <key>spriteSourceSize</key>
                <string>{400,320}</string>
                <key>textureRect</key>
                <string>{{646,1},{226,259}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>9 11 12 9 10 11 3 9 12 3 8 9 3 5 7 5 6 7 3 4 5 3 7 8 0 2 3 0 1 2 0 3 12</string>
                <key>vertices</key>
                <string>262 32 306 60 323 109 293 202 338 204 261 281 185 282 178 247 147 216 112 129 128 67 163 36 214 23</string>
                <key>verticesUV</key>
                <string>796 10 840 38 857 87 827 180 872 182 795 259 719 260 712 225 681 194 646 107 662 45 697 14 748 1</string>
            </dict>
            <key>Archer_01_Walking (9).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{23,6.5}</string>
                <key>spriteSize</key>
                <string>{206,257}</string>
                <key>spriteSourceSize</key>
                <string>{400,320}</string>
                <key>textureRect</key>
                <string>{{912,1051},{206,257}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>3 12 13 10 11 12 3 10 12 8 9 10 3 6 8 6 7 8 3 4 5 3 5 6 3 8 10 2 3 13 1 2 13 0 1 13</string>
                <key>vertices</key>
                <string>292 43 326 93 326 150 282 208 318 213 318 233 260 282 181 282 176 232 149 218 120 130 131 61 184 33 229 25</string>
                <key>verticesUV</key>
                <string>1084 1069 1118 1119 1118 1176 1074 1234 1110 1239 1110 1259 1052 1308 973 1308 968 1258 941 1244 912 1156 923 1087 976 1059 1021 1051</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Archer_01.png</string>
            <key>size</key>
            <string>{2018,1352}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e531135ea0de8e61e154e2608e437edc:ec6bb7c9dbc8360ae46a031c32349f00:eacb0c818bf4e40be8fe7872f8b156ac$</string>
            <key>textureFileName</key>
            <string>Archer_01.png</string>
        </dict>
    </dict>
</plist>
