<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Fairy_02_Attacking (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{20,3.5}</string>
                <key>spriteSize</key>
                <string>{248,263}</string>
                <key>spriteSourceSize</key>
                <string>{380,320}</string>
                <key>textureRect</key>
                <string>{{254,790},{248,263}}</string>
                <key>textureRotated</key>
                <true/>
                <key>triangles</key>
                <string>8 0 4 8 9 10 4 5 8 7 8 5 7 5 6 8 10 0 1 3 4 1 2 3 0 1 4 0 10 11</string>
                <key>vertices</key>
                <string>264 58 301 114 334 136 334 167 288 199 245 262 187 288 95 238 86 164 110 63 140 40 219 25</string>
                <key>verticesUV</key>
                <string>484 968 428 1005 406 1038 375 1038 343 992 280 949 254 891 304 799 378 790 479 814 502 844 517 923</string>
            </dict>
            <key>Fairy_02_Attacking (10).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{47.5,0}</string>
                <key>spriteSize</key>
                <string>{251,260}</string>
                <key>spriteSourceSize</key>
                <string>{380,320}</string>
                <key>textureRect</key>
                <string>{{1,790},{251,260}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>10 12 13 10 11 12 2 3 10 9 10 3 4 5 6 4 6 7 3 4 7 3 7 8 9 3 8 0 2 10 0 1 2 0 10 13</string>
                <key>vertices</key>
                <string>273 55 300 89 305 140 257 216 339 198 363 229 340 263 288 250 189 290 112 243 113 117 127 54 159 35 235 30</string>
                <key>verticesUV</key>
                <string>162 815 189 849 194 900 146 976 228 958 252 989 229 1023 177 1010 78 1050 1 1003 2 877 16 814 48 795 124 790</string>
            </dict>
            <key>Fairy_02_Attacking (11).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{40.5,1.5}</string>
                <key>spriteSize</key>
                <string>{255,261}</string>
                <key>spriteSourceSize</key>
                <string>{380,320}</string>
                <key>textureRect</key>
                <string>{{1,263},{255,261}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 12 13 10 11 12 1 2 10 9 10 2 9 2 8 4 5 6 6 2 3 6 3 4 2 6 7 8 2 7 1 10 12 0 1 13</string>
                <key>vertices</key>
                <string>294 73 302 132 267 206 331 173 358 194 358 233 296 235 200 289 150 268 113 231 103 137 125 56 154 37 233 28</string>
                <key>verticesUV</key>
                <string>192 308 200 367 165 441 229 408 256 429 256 468 194 470 98 524 48 503 11 466 1 372 23 291 52 272 131 263</string>
            </dict>
            <key>Fairy_02_Attacking (12).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{32,0.5}</string>
                <key>spriteSize</key>
                <string>{254,255}</string>
                <key>spriteSourceSize</key>
                <string>{380,320}</string>
                <key>textureRect</key>
                <string>{{261,1},{254,255}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>0 3 12 10 8 9 3 8 10 3 7 8 3 10 11 4 5 6 3 4 6 3 6 7 3 11 12 0 2 3 0 1 2 0 12 13</string>
                <key>vertices</key>
                <string>230 33 285 63 298 129 274 185 314 146 349 161 349 201 289 219 224 276 169 287 108 236 95 163 117 59 154 32</string>
                <key>verticesUV</key>
                <string>396 2 451 32 464 98 440 154 480 115 515 130 515 170 455 188 390 245 335 256 274 205 261 132 283 28 320 1</string>
            </dict>
            <key>Fairy_02_Attacking (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,5}</string>
                <key>spriteSize</key>
                <string>{202,262}</string>
                <key>spriteSourceSize</key>
                <string>{380,320}</string>
                <key>textureRect</key>
                <string>{{1,1052},{202,262}}</string>
                <key>textureRotated</key>
                <true/>
                <key>triangles</key>
                <string>7 8 9 2 7 9 2 6 7 3 4 5 2 3 5 2 5 6 0 1 2 0 2 9</string>
                <key>vertices</key>
                <string>249 38 299 107 284 135 264 245 193 286 148 268 97 221 97 81 113 44 191 24</string>
                <key>verticesUV</key>
                <string>249 1204 180 1254 152 1239 42 1219 1 1148 19 1103 66 1052 206 1052 243 1068 263 1146</string>
            </dict>
            <key>Fairy_02_Attacking (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1.5,8.5}</string>
                <key>spriteSize</key>
                <string>{195,267}</string>
                <key>spriteSourceSize</key>
                <string>{380,320}</string>
                <key>textureRect</key>
                <string>{{1479,487},{195,267}}</string>
                <key>textureRotated</key>
                <true/>
                <key>triangles</key>
                <string>0 9 10 7 8 9 0 2 7 2 3 6 5 6 3 5 3 4 2 6 7 0 1 2 0 7 9</string>
                <key>vertices</key>
                <string>259 55 286 95 271 164 271 222 197 285 139 265 106 219 91 124 98 60 128 33 217 18</string>
                <key>verticesUV</key>
                <string>1709 655 1669 682 1600 667 1542 667 1479 593 1499 535 1545 502 1640 487 1704 494 1731 524 1746 613</string>
            </dict>
            <key>Fairy_02_Attacking (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7.5,13.5}</string>
                <key>spriteSize</key>
                <string>{191,261}</string>
                <key>spriteSourceSize</key>
                <string>{380,320}</string>
                <key>textureRect</key>
                <string>{{1274,994},{191,261}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>8 10 11 8 9 10 1 8 11 3 4 5 3 5 6 3 6 7 8 2 3 8 1 2 8 3 7 0 1 11</string>
                <key>vertices</key>
                <string>247 33 278 90 270 190 228 232 222 263 184 277 143 265 111 230 87 125 92 62 116 36 179 16</string>
                <key>verticesUV</key>
                <string>1434 1011 1465 1068 1457 1168 1415 1210 1409 1241 1371 1255 1330 1243 1298 1208 1274 1103 1279 1040 1303 1014 1366 994</string>
            </dict>
            <key>Fairy_02_Attacking (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,16}</string>
                <key>spriteSize</key>
                <string>{188,258}</string>
                <key>spriteSourceSize</key>
                <string>{380,320}</string>
                <key>textureRect</key>
                <string>{{1667,943},{188,258}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>6 8 9 6 7 8 2 4 5 5 6 2 2 3 4 0 2 6 0 1 2 0 6 9</string>
                <key>vertices</key>
                <string>224 27 274 66 274 174 212 272 158 273 109 239 86 127 89 63 112 37 176 15</string>
                <key>verticesUV</key>
                <string>1805 955 1855 994 1855 1102 1793 1200 1739 1201 1690 1167 1667 1055 1670 991 1693 965 1757 943</string>
            </dict>
            <key>Fairy_02_Attacking (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,11.5}</string>
                <key>spriteSize</key>
                <string>{188,273}</string>
                <key>spriteSourceSize</key>
                <string>{380,320}</string>
                <key>textureRect</key>
                <string>{{1540,1},{188,273}}</string>
                <key>textureRotated</key>
                <true/>
                <key>triangles</key>
                <string>1 7 8 6 1 5 6 7 1 2 3 4 5 1 2 5 2 4 0 1 8</string>
                <key>vertices</key>
                <string>259 49 274 98 263 207 197 285 138 262 86 197 86 63 115 34 194 12</string>
                <key>verticesUV</key>
                <string>1776 174 1727 189 1618 178 1540 112 1563 53 1628 1 1762 1 1791 30 1813 109</string>
            </dict>
            <key>Fairy_02_Attacking (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,12.5}</string>
                <key>spriteSize</key>
                <string>{190,257}</string>
                <key>spriteSourceSize</key>
                <string>{380,320}</string>
                <key>textureRect</key>
                <string>{{1492,684},{190,257}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>8 9 10 2 3 8 4 5 7 5 6 7 3 4 7 3 7 8 2 8 10 0 1 2 0 2 10</string>
                <key>vertices</key>
                <string>213 20 260 57 272 95 268 174 252 230 207 270 154 276 85 205 82 65 107 37 162 19</string>
                <key>verticesUV</key>
                <string>1623 685 1670 722 1682 760 1678 839 1662 895 1617 935 1564 941 1495 870 1492 730 1517 702 1572 684</string>
            </dict>
            <key>Fairy_02_Attacking (8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3.5,12.5}</string>
                <key>spriteSize</key>
                <string>{195,267}</string>
                <key>spriteSourceSize</key>
                <string>{380,320}</string>
                <key>textureRect</key>
                <string>{{1514,234},{195,267}}</string>
                <key>textureRotated</key>
                <true/>
                <key>triangles</key>
                <string>6 7 8 0 6 8 2 3 5 3 4 5 1 2 5 6 0 1 6 1 5</string>
                <key>vertices</key>
                <string>262 55 284 99 265 224 217 272 166 281 98 226 89 78 109 41 208 14</string>
                <key>verticesUV</key>
                <string>1740 407 1696 429 1571 410 1523 362 1514 311 1569 243 1717 234 1754 254 1781 353</string>
            </dict>
            <key>Fairy_02_Attacking (9).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{42,6}</string>
                <key>spriteSize</key>
                <string>{258,260}</string>
                <key>spriteSourceSize</key>
                <string>{380,320}</string>
                <key>textureRect</key>
                <string>{{1,1},{258,260}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>2 12 13 10 11 12 2 10 12 9 10 2 9 2 8 3 4 5 3 5 6 2 3 6 2 6 7 8 2 7 0 1 2 0 2 13</string>
                <key>vertices</key>
                <string>279 64 296 117 267 189 329 140 361 161 356 200 299 212 217 284 164 276 117 236 104 165 103 65 143 36 222 24</string>
                <key>verticesUV</key>
                <string>177 41 194 94 165 166 227 117 259 138 254 177 197 189 115 261 62 253 15 213 2 142 1 42 41 13 120 1</string>
            </dict>
            <key>Fairy_02_Dying (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{20,3.5}</string>
                <key>spriteSize</key>
                <string>{248,263}</string>
                <key>spriteSourceSize</key>
                <string>{380,320}</string>
                <key>textureRect</key>
                <string>{{256,526},{248,263}}</string>
                <key>textureRotated</key>
                <true/>
                <key>triangles</key>
                <string>8 0 4 8 9 10 4 5 8 7 8 5 7 5 6 8 10 0 1 3 4 1 2 3 0 1 4 0 10 11</string>
                <key>vertices</key>
                <string>264 58 301 114 334 136 334 167 288 199 245 262 187 288 95 238 86 164 110 63 140 40 219 25</string>
                <key>verticesUV</key>
                <string>486 704 430 741 408 774 377 774 345 728 282 685 256 627 306 535 380 526 481 550 504 580 519 659</string>
            </dict>
            <key>Fairy_02_Dying (10).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-24.5,-38}</string>
                <key>spriteSize</key>
                <string>{247,236}</string>
                <key>spriteSourceSize</key>
                <string>{380,320}</string>
                <key>textureRect</key>
                <string>{{1241,497},{247,236}}</string>
                <key>textureRotated</key>
                <true/>
                <key>triangles</key>
                <string>6 0 1 6 8 9 6 7 8 6 9 0 3 4 5 5 1 2 5 2 3 6 1 5 0 9 10</string>
                <key>vertices</key>
                <string>217 120 244 167 278 200 289 258 228 316 180 287 96 273 42 211 47 162 95 101 177 80</string>
                <key>verticesUV</key>
                <string>1437 672 1390 699 1357 733 1299 744 1241 683 1270 635 1284 551 1346 497 1395 502 1456 550 1477 632</string>
            </dict>
            <key>Fairy_02_Dying (11).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-29,-32}</string>
                <key>spriteSize</key>
                <string>{262,232}</string>
                <key>spriteSourceSize</key>
                <string>{380,320}</string>
                <key>textureRect</key>
                <string>{{1007,501},{262,232}}</string>
                <key>textureRotated</key>
                <true/>
                <key>triangles</key>
                <string>0 11 12 9 4 5 8 5 7 0 10 11 7 5 6 8 9 5 9 10 4 4 10 0 4 1 2 4 0 1 4 2 3</string>
                <key>vertices</key>
                <string>244 147 292 226 270 280 221 308 181 294 119 302 49 270 30 226 52 146 96 112 186 107 210 83 252 76</string>
                <key>verticesUV</key>
                <string>1168 715 1089 763 1035 741 1007 692 1021 652 1013 590 1045 520 1089 501 1169 523 1203 567 1208 657 1232 681 1239 723</string>
            </dict>
            <key>Fairy_02_Dying (12).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-30.5,-44}</string>
                <key>spriteSize</key>
                <string>{263,222}</string>
                <key>spriteSourceSize</key>
                <string>{380,320}</string>
                <key>textureRect</key>
                <string>{{519,1031},{263,222}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 12 13 8 9 10 8 4 6 3 10 11 6 7 8 8 10 4 4 5 6 3 4 10 1 11 12 11 1 2 11 2 3 0 1 13</string>
                <key>vertices</key>
                <string>290 120 265 162 291 251 249 302 123 315 51 295 28 243 44 158 92 129 139 120 203 152 227 154 226 106 261 93</string>
                <key>verticesUV</key>
                <string>781 1058 756 1100 782 1189 740 1240 614 1253 542 1233 519 1181 535 1096 583 1067 630 1058 694 1090 718 1092 717 1044 752 1031</string>
            </dict>
            <key>Fairy_02_Dying (13).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-30.5,-44}</string>
                <key>spriteSize</key>
                <string>{263,222}</string>
                <key>spriteSourceSize</key>
                <string>{380,320}</string>
                <key>textureRect</key>
                <string>{{519,1031},{263,222}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 12 13 8 9 10 8 4 6 3 10 11 6 7 8 8 10 4 4 5 6 3 4 10 1 11 12 11 1 2 11 2 3 0 1 13</string>
                <key>vertices</key>
                <string>290 120 265 162 291 251 249 302 123 315 51 295 28 243 44 158 92 129 139 120 203 152 227 154 226 106 261 93</string>
                <key>verticesUV</key>
                <string>781 1058 756 1100 782 1189 740 1240 614 1253 542 1233 519 1181 535 1096 583 1067 630 1058 694 1090 718 1092 717 1044 752 1031</string>
            </dict>
            <key>Fairy_02_Dying (14).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-30.5,-44}</string>
                <key>spriteSize</key>
                <string>{263,222}</string>
                <key>spriteSourceSize</key>
                <string>{380,320}</string>
                <key>textureRect</key>
                <string>{{519,1031},{263,222}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 12 13 8 9 10 8 4 6 3 10 11 6 7 8 8 10 4 4 5 6 3 4 10 1 11 12 11 1 2 11 2 3 0 1 13</string>
                <key>vertices</key>
                <string>290 120 265 162 291 251 249 302 123 315 51 295 28 243 44 158 92 129 139 120 203 152 227 154 226 106 261 93</string>
                <key>verticesUV</key>
                <string>781 1058 756 1100 782 1189 740 1240 614 1253 542 1233 519 1181 535 1096 583 1067 630 1058 694 1090 718 1092 717 1044 752 1031</string>
            </dict>
            <key>Fairy_02_Dying (15).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-30.5,-44}</string>
                <key>spriteSize</key>
                <string>{263,222}</string>
                <key>spriteSourceSize</key>
                <string>{380,320}</string>
                <key>textureRect</key>
                <string>{{519,1031},{263,222}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 12 13 8 9 10 8 4 6 3 10 11 6 7 8 8 10 4 4 5 6 3 4 10 1 11 12 11 1 2 11 2 3 0 1 13</string>
                <key>vertices</key>
                <string>290 120 265 162 291 251 249 302 123 315 51 295 28 243 44 158 92 129 139 120 203 152 227 154 226 106 261 93</string>
                <key>verticesUV</key>
                <string>781 1058 756 1100 782 1189 740 1240 614 1253 542 1233 519 1181 535 1096 583 1067 630 1058 694 1090 718 1092 717 1044 752 1031</string>
            </dict>
            <key>Fairy_02_Dying (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{19,8.5}</string>
                <key>spriteSize</key>
                <string>{250,255}</string>
                <key>spriteSourceSize</key>
                <string>{380,320}</string>
                <key>textureRect</key>
                <string>{{517,1},{250,255}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>0 1 10 9 1 8 6 4 5 6 7 8 6 8 4 1 4 8 1 3 4 1 2 3 9 10 1 0 10 11</string>
                <key>vertices</key>
                <string>268 55 296 115 324 123 334 159 302 183 224 277 172 279 100 243 84 170 108 58 139 35 215 24</string>
                <key>verticesUV</key>
                <string>701 32 729 92 757 100 767 136 735 160 657 254 605 256 533 220 517 147 541 35 572 12 648 1</string>
            </dict>
            <key>Fairy_02_Dying (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14.5,5.5}</string>
                <key>spriteSize</key>
                <string>{251,259}</string>
                <key>spriteSourceSize</key>
                <string>{380,320}</string>
                <key>textureRect</key>
                <string>{{258,263},{251,259}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>8 10 11 8 9 10 1 3 4 6 7 8 6 8 4 6 4 5 1 4 8 1 2 3 0 1 8 0 8 11</string>
                <key>vertices</key>
                <string>254 46 294 99 320 118 330 150 232 262 189 284 110 253 79 182 98 138 98 60 141 29 216 25</string>
                <key>verticesUV</key>
                <string>433 284 473 337 499 356 509 388 411 500 368 522 289 491 258 420 277 376 277 298 320 267 395 263</string>
            </dict>
            <key>Fairy_02_Dying (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13.5,12.5}</string>
                <key>spriteSize</key>
                <string>{253,251}</string>
                <key>spriteSourceSize</key>
                <string>{380,320}</string>
                <key>textureRect</key>
                <string>{{519,776},{253,251}}</string>
                <key>textureRotated</key>
                <true/>
                <key>triangles</key>
                <string>1 4 9 4 5 6 7 8 4 7 4 6 4 8 9 1 2 3 1 3 4 1 9 10 0 1 10</string>
                <key>vertices</key>
                <string>240 26 291 95 330 121 323 148 280 183 225 273 170 272 111 246 77 190 106 50 143 22</string>
                <key>verticesUV</key>
                <string>766 939 697 990 671 1029 644 1022 609 979 519 924 520 869 546 810 602 776 742 805 770 842</string>
            </dict>
            <key>Fairy_02_Dying (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15.5,9}</string>
                <key>spriteSize</key>
                <string>{231,256}</string>
                <key>spriteSourceSize</key>
                <string>{380,320}</string>
                <key>textureRect</key>
                <string>{{784,1022},{231,256}}</string>
                <key>textureRotated</key>
                <true/>
                <key>triangles</key>
                <string>4 6 7 4 5 6 0 1 4 2 3 4 1 2 4 0 4 7</string>
                <key>vertices</key>
                <string>321 107 241 270 184 279 121 260 90 201 91 65 128 36 213 23</string>
                <key>verticesUV</key>
                <string>956 1253 793 1173 784 1116 803 1053 862 1022 998 1023 1027 1060 1040 1145</string>
            </dict>
            <key>Fairy_02_Dying (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2.5,2}</string>
                <key>spriteSize</key>
                <string>{215,252}</string>
                <key>spriteSourceSize</key>
                <string>{380,320}</string>
                <key>textureRect</key>
                <string>{{265,1040},{215,252}}</string>
                <key>textureRotated</key>
                <true/>
                <key>triangles</key>
                <string>8 9 10 0 3 8 4 5 7 5 6 7 3 4 7 3 7 8 3 0 1 3 1 2 0 8 10</string>
                <key>vertices</key>
                <string>206 35 278 71 300 102 284 128 257 262 203 284 135 272 99 219 85 142 87 66 141 32</string>
                <key>verticesUV</key>
                <string>514 1161 478 1233 447 1255 421 1239 287 1212 265 1158 277 1090 330 1054 407 1040 483 1042 517 1096</string>
            </dict>
            <key>Fairy_02_Dying (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,-3.5}</string>
                <key>spriteSize</key>
                <string>{198,247}</string>
                <key>spriteSourceSize</key>
                <string>{380,320}</string>
                <key>textureRect</key>
                <string>{{1467,994},{198,247}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>7 9 10 7 8 9 0 7 10 2 3 4 4 5 6 2 4 6 7 1 2 7 0 1 7 2 6</string>
                <key>vertices</key>
                <string>205 41 277 77 268 244 235 277 196 287 152 280 110 235 79 153 80 89 102 60 157 40</string>
                <key>verticesUV</key>
                <string>1593 995 1665 1031 1656 1198 1623 1231 1584 1241 1540 1234 1498 1189 1467 1107 1468 1043 1490 1014 1545 994</string>
            </dict>
            <key>Fairy_02_Dying (8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-19,-16}</string>
                <key>spriteSize</key>
                <string>{216,246}</string>
                <key>spriteSourceSize</key>
                <string>{380,320}</string>
                <key>textureRect</key>
                <string>{{1274,746},{216,246}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>6 7 8 5 6 8 2 3 4 2 4 5 5 0 1 5 1 2 0 5 8</string>
                <key>vertices</key>
                <string>213 58 248 75 279 227 255 283 163 299 76 192 63 121 86 78 152 53</string>
                <key>verticesUV</key>
                <string>1424 751 1459 768 1490 920 1466 976 1374 992 1287 885 1274 814 1297 771 1363 746</string>
            </dict>
            <key>Fairy_02_Dying (9).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-20,-29.5}</string>
                <key>spriteSize</key>
                <string>{240,241}</string>
                <key>spriteSourceSize</key>
                <string>{380,320}</string>
                <key>textureRect</key>
                <string>{{1272,244},{240,241}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 8 9 5 7 8 5 6 7 1 3 4 1 2 3 1 4 5 1 5 8 0 1 9</string>
                <key>vertices</key>
                <string>224 77 253 166 290 225 262 279 211 310 80 236 50 159 62 124 113 75 174 69</string>
                <key>verticesUV</key>
                <string>1446 252 1475 341 1512 400 1484 454 1433 485 1302 411 1272 334 1284 299 1335 250 1396 244</string>
            </dict>
            <key>Fairy_02_Walking (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{22,7.5}</string>
                <key>spriteSize</key>
                <string>{262,253}</string>
                <key>spriteSourceSize</key>
                <string>{380,320}</string>
                <key>textureRect</key>
                <string>{{1,526},{262,253}}</string>
                <key>textureRotated</key>
                <true/>
                <key>triangles</key>
                <string>1 10 11 2 6 8 8 9 2 8 6 7 2 5 6 3 4 5 2 3 5 10 1 2 10 2 9 0 1 11</string>
                <key>vertices</key>
                <string>283 68 296 120 284 179 329 185 343 240 274 240 201 279 152 278 81 199 114 63 144 40 223 26</string>
                <key>verticesUV</key>
                <string>212 728 160 741 101 729 95 774 40 788 40 719 1 646 2 597 81 526 217 559 240 589 254 668</string>
            </dict>
            <key>Fairy_02_Walking (10).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{19,7.5}</string>
                <key>spriteSize</key>
                <string>{252,253}</string>
                <key>spriteSourceSize</key>
                <string>{380,320}</string>
                <key>textureRect</key>
                <string>{{511,258},{252,253}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>0 11 12 2 8 9 9 10 2 2 6 7 2 7 8 2 4 5 2 3 4 2 5 6 1 2 10 0 1 10 0 10 11</string>
                <key>vertices</key>
                <string>281 75 294 112 284 180 322 168 335 198 326 231 276 237 195 279 148 270 83 204 109 63 144 34 232 26</string>
                <key>verticesUV</key>
                <string>709 307 722 344 712 412 750 400 763 430 754 463 704 469 623 511 576 502 511 436 537 295 572 266 660 258</string>
            </dict>
            <key>Fairy_02_Walking (11).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{19,7.5}</string>
                <key>spriteSize</key>
                <string>{252,253}</string>
                <key>spriteSourceSize</key>
                <string>{380,320}</string>
                <key>textureRect</key>
                <string>{{511,258},{252,253}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>0 11 12 2 8 9 9 10 2 2 6 7 2 7 8 2 4 5 2 3 4 2 5 6 1 2 10 0 1 10 0 10 11</string>
                <key>vertices</key>
                <string>281 75 294 112 284 180 322 168 335 198 326 231 276 237 195 279 148 270 83 204 109 63 144 34 232 26</string>
                <key>verticesUV</key>
                <string>709 307 722 344 712 412 750 400 763 430 754 463 704 469 623 511 576 502 511 436 537 295 572 266 660 258</string>
            </dict>
            <key>Fairy_02_Walking (12).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{23,4.5}</string>
                <key>spriteSize</key>
                <string>{242,251}</string>
                <key>spriteSourceSize</key>
                <string>{380,320}</string>
                <key>textureRect</key>
                <string>{{1028,244},{242,251}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 2 12 10 11 12 9 2 6 9 10 2 6 7 8 6 8 9 5 2 3 5 3 4 2 5 6 2 10 12 1 12 13 0 1 13</string>
                <key>vertices</key>
                <string>281 69 292 118 270 184 307 172 334 189 334 227 249 245 196 281 153 271 120 245 92 195 108 51 168 31 230 30</string>
                <key>verticesUV</key>
                <string>1217 283 1228 332 1206 398 1243 386 1270 403 1270 441 1185 459 1132 495 1089 485 1056 459 1028 409 1044 265 1104 245 1166 244</string>
            </dict>
            <key>Fairy_02_Walking (13).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{23,4.5}</string>
                <key>spriteSize</key>
                <string>{242,251}</string>
                <key>spriteSourceSize</key>
                <string>{380,320}</string>
                <key>textureRect</key>
                <string>{{1028,244},{242,251}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 2 12 10 11 12 9 2 6 9 10 2 6 7 8 6 8 9 5 2 3 5 3 4 2 5 6 2 10 12 1 12 13 0 1 13</string>
                <key>vertices</key>
                <string>281 69 292 118 270 184 307 172 334 189 334 227 249 245 196 281 153 271 120 245 92 195 108 51 168 31 230 30</string>
                <key>verticesUV</key>
                <string>1217 283 1228 332 1206 398 1243 386 1270 403 1270 441 1185 459 1132 495 1089 485 1056 459 1028 409 1044 265 1104 245 1166 244</string>
            </dict>
            <key>Fairy_02_Walking (14).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{31,6.5}</string>
                <key>spriteSize</key>
                <string>{242,255}</string>
                <key>spriteSourceSize</key>
                <string>{380,320}</string>
                <key>textureRect</key>
                <string>{{772,765},{242,255}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 2 12 2 11 12 2 10 11 9 10 2 4 5 6 3 4 6 7 2 3 3 6 7 2 7 8 9 2 8 1 12 13 0 1 13</string>
                <key>vertices</key>
                <string>284 71 292 121 259 197 300 170 329 184 342 210 322 230 286 233 193 281 144 269 102 217 100 72 137 38 222 26</string>
                <key>verticesUV</key>
                <string>956 810 964 860 931 936 972 909 1001 923 1014 949 994 969 958 972 865 1020 816 1008 774 956 772 811 809 777 894 765</string>
            </dict>
            <key>Fairy_02_Walking (15).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{31,6.5}</string>
                <key>spriteSize</key>
                <string>{242,255}</string>
                <key>spriteSourceSize</key>
                <string>{380,320}</string>
                <key>textureRect</key>
                <string>{{772,765},{242,255}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 2 12 2 11 12 2 10 11 9 10 2 4 5 6 3 4 6 7 2 3 3 6 7 2 7 8 9 2 8 1 12 13 0 1 13</string>
                <key>vertices</key>
                <string>284 71 292 121 259 197 300 170 329 184 342 210 322 230 286 233 193 281 144 269 102 217 100 72 137 38 222 26</string>
                <key>verticesUV</key>
                <string>956 810 964 860 931 936 972 909 1001 923 1014 949 994 969 958 972 865 1020 816 1008 774 956 772 811 809 777 894 765</string>
            </dict>
            <key>Fairy_02_Walking (16).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{29.5,5}</string>
                <key>spriteSize</key>
                <string>{237,262}</string>
                <key>spriteSourceSize</key>
                <string>{380,320}</string>
                <key>textureRect</key>
                <string>{{768,501},{237,262}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 11 12 11 1 2 2 7 8 8 9 2 2 6 7 5 2 3 5 3 4 2 5 6 2 9 10 11 2 10 0 1 12</string>
                <key>vertices</key>
                <string>283 71 294 126 263 196 304 171 338 194 328 231 260 242 188 286 139 263 103 219 101 76 130 43 221 24</string>
                <key>verticesUV</key>
                <string>950 548 961 603 930 673 971 648 1005 671 995 708 927 719 855 763 806 740 770 696 768 553 797 520 888 501</string>
            </dict>
            <key>Fairy_02_Walking (17).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{33.5,4.5}</string>
                <key>spriteSize</key>
                <string>{241,259}</string>
                <key>spriteSourceSize</key>
                <string>{380,320}</string>
                <key>textureRect</key>
                <string>{{1027,1},{241,259}}</string>
                <key>textureRotated</key>
                <true/>
                <key>triangles</key>
                <string>0 12 13 10 11 12 0 2 10 9 10 2 2 7 8 3 4 5 2 3 5 2 5 6 2 6 7 2 8 9 0 1 2 0 10 12</string>
                <key>vertices</key>
                <string>275 65 302 127 262 195 316 169 344 212 322 234 278 238 185 285 136 261 105 219 103 120 110 64 142 39 225 26</string>
                <key>verticesUV</key>
                <string>1247 173 1185 200 1117 160 1143 214 1100 242 1078 220 1074 176 1027 83 1051 34 1093 3 1192 1 1248 8 1273 40 1286 123</string>
            </dict>
            <key>Fairy_02_Walking (18).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{27.5,4.5}</string>
                <key>spriteSize</key>
                <string>{241,261}</string>
                <key>spriteSourceSize</key>
                <string>{380,320}</string>
                <key>textureRect</key>
                <string>{{765,258},{241,261}}</string>
                <key>textureRotated</key>
                <true/>
                <key>triangles</key>
                <string>1 11 12 11 1 2 8 2 6 8 9 2 8 6 7 5 2 3 5 3 4 2 5 6 2 9 10 11 2 10 0 1 12</string>
                <key>vertices</key>
                <string>282 69 296 120 275 189 308 178 338 199 327 236 257 244 191 286 141 267 97 214 108 68 135 43 221 25</string>
                <key>verticesUV</key>
                <string>982 443 931 457 862 436 873 469 852 499 815 488 807 418 765 352 784 302 837 258 983 269 1008 296 1026 382</string>
            </dict>
            <key>Fairy_02_Walking (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{27.5,1.5}</string>
                <key>spriteSize</key>
                <string>{245,257}</string>
                <key>spriteSourceSize</key>
                <string>{380,320}</string>
                <key>textureRect</key>
                <string>{{521,513},{245,257}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 2 11 10 2 9 2 7 8 8 9 2 2 6 7 5 2 3 5 3 4 2 5 6 10 11 2 1 11 12 0 1 12</string>
                <key>vertices</key>
                <string>289 71 297 127 270 201 305 183 340 199 324 242 260 245 187 287 127 260 95 201 112 63 149 37 228 30</string>
                <key>verticesUV</key>
                <string>715 554 723 610 696 684 731 666 766 682 750 725 686 728 613 770 553 743 521 684 538 546 575 520 654 513</string>
            </dict>
            <key>Fairy_02_Walking (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{30,3}</string>
                <key>spriteSize</key>
                <string>{230,248}</string>
                <key>spriteSourceSize</key>
                <string>{380,320}</string>
                <key>textureRect</key>
                <string>{{1042,997},{230,248}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>2 12 13 10 11 12 2 10 12 2 9 10 8 9 2 4 5 6 2 4 6 2 3 4 2 6 7 8 2 7 0 1 2 0 2 13</string>
                <key>vertices</key>
                <string>282 67 302 132 264 195 325 177 335 211 324 242 287 243 190 281 149 270 106 227 105 87 123 45 177 33 233 33</string>
                <key>verticesUV</key>
                <string>1219 1031 1239 1096 1201 1159 1262 1141 1272 1175 1261 1206 1224 1207 1127 1245 1086 1234 1043 1191 1042 1051 1060 1009 1114 997 1170 997</string>
            </dict>
            <key>Fairy_02_Walking (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{29,1}</string>
                <key>spriteSize</key>
                <string>{230,256}</string>
                <key>spriteSourceSize</key>
                <string>{380,320}</string>
                <key>textureRect</key>
                <string>{{1016,765},{230,256}}</string>
                <key>textureRotated</key>
                <true/>
                <key>triangles</key>
                <string>11 12 13 3 8 9 3 9 10 3 7 8 3 10 11 5 6 7 4 5 7 3 4 7 0 3 11 0 2 3 0 1 2 0 11 13</string>
                <key>vertices</key>
                <string>228 32 278 61 301 131 257 207 305 178 334 200 334 239 273 240 182 287 140 265 111 229 104 121 115 55 157 31</string>
                <key>verticesUV</key>
                <string>1271 889 1242 939 1172 962 1096 918 1125 966 1103 995 1064 995 1063 934 1016 843 1038 801 1074 772 1182 765 1248 776 1272 818</string>
            </dict>
            <key>Fairy_02_Walking (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{29,1}</string>
                <key>spriteSize</key>
                <string>{230,256}</string>
                <key>spriteSourceSize</key>
                <string>{380,320}</string>
                <key>textureRect</key>
                <string>{{1016,765},{230,256}}</string>
                <key>textureRotated</key>
                <true/>
                <key>triangles</key>
                <string>11 12 13 3 8 9 3 9 10 3 7 8 3 10 11 5 6 7 4 5 7 3 4 7 0 3 11 0 2 3 0 1 2 0 11 13</string>
                <key>vertices</key>
                <string>228 32 278 61 301 131 257 207 305 178 334 200 334 239 273 240 182 287 140 265 111 229 104 121 115 55 157 31</string>
                <key>verticesUV</key>
                <string>1271 889 1242 939 1172 962 1096 918 1125 966 1103 995 1064 995 1063 934 1016 843 1038 801 1074 772 1182 765 1248 776 1272 818</string>
            </dict>
            <key>Fairy_02_Walking (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{28.5,6}</string>
                <key>spriteSize</key>
                <string>{231,250}</string>
                <key>spriteSourceSize</key>
                <string>{380,320}</string>
                <key>textureRect</key>
                <string>{{1288,1},{231,250}}</string>
                <key>textureRotated</key>
                <true/>
                <key>triangles</key>
                <string>11 12 13 3 11 13 3 7 8 8 9 10 3 8 10 3 5 6 3 4 5 3 6 7 3 10 11 2 3 13 0 1 2 0 2 13</string>
                <key>vertices</key>
                <string>239 36 285 69 295 123 263 204 305 175 334 197 334 235 252 246 198 279 141 272 106 219 103 74 136 41 194 29</string>
                <key>verticesUV</key>
                <string>1531 137 1498 183 1444 193 1363 161 1392 203 1370 232 1332 232 1321 150 1288 96 1295 39 1348 4 1493 1 1526 34 1538 92</string>
            </dict>
            <key>Fairy_02_Walking (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{28.5,6}</string>
                <key>spriteSize</key>
                <string>{231,250}</string>
                <key>spriteSourceSize</key>
                <string>{380,320}</string>
                <key>textureRect</key>
                <string>{{1288,1},{231,250}}</string>
                <key>textureRotated</key>
                <true/>
                <key>triangles</key>
                <string>11 12 13 3 11 13 3 7 8 8 9 10 3 8 10 3 5 6 3 4 5 3 6 7 3 10 11 2 3 13 0 1 2 0 2 13</string>
                <key>vertices</key>
                <string>239 36 285 69 295 123 263 204 305 175 334 197 334 235 252 246 198 279 141 272 106 219 103 74 136 41 194 29</string>
                <key>verticesUV</key>
                <string>1531 137 1498 183 1444 193 1363 161 1392 203 1370 232 1332 232 1321 150 1288 96 1295 39 1348 4 1493 1 1526 34 1538 92</string>
            </dict>
            <key>Fairy_02_Walking (8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{28,8}</string>
                <key>spriteSize</key>
                <string>{244,256}</string>
                <key>spriteSourceSize</key>
                <string>{380,320}</string>
                <key>textureRect</key>
                <string>{{769,1},{244,256}}</string>
                <key>textureRotated</key>
                <true/>
                <key>triangles</key>
                <string>1 12 13 1 2 11 8 2 7 9 10 2 9 2 8 6 2 4 6 4 5 2 3 4 2 6 7 2 10 11 1 11 12 0 1 13</string>
                <key>vertices</key>
                <string>281 66 294 121 271 198 301 174 330 188 340 213 323 234 275 238 192 280 134 265 96 201 107 68 133 42 221 24</string>
                <key>verticesUV</key>
                <string>983 186 928 199 851 176 875 206 861 235 836 245 815 228 811 180 769 97 784 39 848 1 981 12 1007 38 1025 126</string>
            </dict>
            <key>Fairy_02_Walking (9).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{28,8}</string>
                <key>spriteSize</key>
                <string>{244,256}</string>
                <key>spriteSourceSize</key>
                <string>{380,320}</string>
                <key>textureRect</key>
                <string>{{769,1},{244,256}}</string>
                <key>textureRotated</key>
                <true/>
                <key>triangles</key>
                <string>1 12 13 1 2 11 8 2 7 9 10 2 9 2 8 6 2 4 6 4 5 2 3 4 2 6 7 2 10 11 1 11 12 0 1 13</string>
                <key>vertices</key>
                <string>281 66 294 121 271 198 301 174 330 188 340 213 323 234 275 238 192 280 134 265 96 201 107 68 133 42 221 24</string>
                <key>verticesUV</key>
                <string>983 186 928 199 851 176 875 206 861 235 836 245 815 228 811 180 769 97 784 39 848 1 981 12 1007 38 1025 126</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Fairy_02.png</string>
            <key>size</key>
            <string>{1856,1256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4d45b770d35bed438de1abe59f81a277:63d4a584d6abdf46f28105319ad77b10:576a11b3f56b90bcce25e2549cb6f3ba$</string>
            <key>textureFileName</key>
            <string>Fairy_02.png</string>
        </dict>
    </dict>
</plist>
