<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Fairy_01_Attacking (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{21,14}</string>
                <key>spriteSize</key>
                <string>{246,270}</string>
                <key>spriteSourceSize</key>
                <string>{380,320}</string>
                <key>textureRect</key>
                <string>{{1,829},{246,270}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Fairy_01_Attacking (10).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{42,16}</string>
                <key>spriteSize</key>
                <string>{252,278}</string>
                <key>spriteSourceSize</key>
                <string>{380,320}</string>
                <key>textureRect</key>
                <string>{{267,1},{252,278}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Fairy_01_Attacking (11).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{40,15}</string>
                <key>spriteSize</key>
                <string>{256,276}</string>
                <key>spriteSourceSize</key>
                <string>{380,320}</string>
                <key>textureRect</key>
                <string>{{1,275},{256,276}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Fairy_01_Attacking (12).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{33,14}</string>
                <key>spriteSize</key>
                <string>{252,274}</string>
                <key>spriteSourceSize</key>
                <string>{380,320}</string>
                <key>textureRect</key>
                <string>{{1,553},{252,274}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Fairy_01_Attacking (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,16}</string>
                <key>spriteSize</key>
                <string>{208,270}</string>
                <key>spriteSourceSize</key>
                <string>{380,320}</string>
                <key>textureRect</key>
                <string>{{255,711},{208,270}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Fairy_01_Attacking (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,18}</string>
                <key>spriteSize</key>
                <string>{206,270}</string>
                <key>spriteSourceSize</key>
                <string>{380,320}</string>
                <key>textureRect</key>
                <string>{{527,725},{206,270}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Fairy_01_Attacking (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,19}</string>
                <key>spriteSize</key>
                <string>{206,270}</string>
                <key>spriteSourceSize</key>
                <string>{380,320}</string>
                <key>textureRect</key>
                <string>{{249,921},{206,270}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Fairy_01_Attacking (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,18}</string>
                <key>spriteSize</key>
                <string>{208,268}</string>
                <key>spriteSourceSize</key>
                <string>{380,320}</string>
                <key>textureRect</key>
                <string>{{243,1615},{208,268}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Fairy_01_Attacking (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-18,18}</string>
                <key>spriteSize</key>
                <string>{208,266}</string>
                <key>spriteSourceSize</key>
                <string>{380,320}</string>
                <key>textureRect</key>
                <string>{{825,249},{208,266}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Fairy_01_Attacking (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-21,18}</string>
                <key>spriteSize</key>
                <string>{208,266}</string>
                <key>spriteSourceSize</key>
                <string>{380,320}</string>
                <key>textureRect</key>
                <string>{{825,459},{208,266}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Fairy_01_Attacking (8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,17}</string>
                <key>spriteSize</key>
                <string>{206,268}</string>
                <key>spriteSourceSize</key>
                <string>{380,320}</string>
                <key>textureRect</key>
                <string>{{513,1629},{206,268}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Fairy_01_Attacking (9).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{37,14}</string>
                <key>spriteSize</key>
                <string>{264,272}</string>
                <key>spriteSourceSize</key>
                <string>{380,320}</string>
                <key>textureRect</key>
                <string>{{1,1},{264,272}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Fairy_01_Dying (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{21,14}</string>
                <key>spriteSize</key>
                <string>{246,270}</string>
                <key>spriteSourceSize</key>
                <string>{380,320}</string>
                <key>textureRect</key>
                <string>{{821,1},{246,270}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Fairy_01_Dying (10).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-40,-35}</string>
                <key>spriteSize</key>
                <string>{270,218}</string>
                <key>spriteSourceSize</key>
                <string>{380,320}</string>
                <key>textureRect</key>
                <string>{{517,1167},{270,218}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Fairy_01_Dying (11).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-46,-35}</string>
                <key>spriteSize</key>
                <string>{282,228}</string>
                <key>spriteSourceSize</key>
                <string>{380,320}</string>
                <key>textureRect</key>
                <string>{{267,255},{282,228}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Fairy_01_Dying (12).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-45,-48}</string>
                <key>spriteSize</key>
                <string>{280,224}</string>
                <key>spriteSourceSize</key>
                <string>{380,320}</string>
                <key>textureRect</key>
                <string>{{259,485},{280,224}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Fairy_01_Dying (13).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-45,-48}</string>
                <key>spriteSize</key>
                <string>{280,224}</string>
                <key>spriteSourceSize</key>
                <string>{380,320}</string>
                <key>textureRect</key>
                <string>{{259,485},{280,224}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Fairy_01_Dying (14).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-45,-48}</string>
                <key>spriteSize</key>
                <string>{280,224}</string>
                <key>spriteSourceSize</key>
                <string>{380,320}</string>
                <key>textureRect</key>
                <string>{{259,485},{280,224}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Fairy_01_Dying (15).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-45,-48}</string>
                <key>spriteSize</key>
                <string>{280,224}</string>
                <key>spriteSourceSize</key>
                <string>{380,320}</string>
                <key>textureRect</key>
                <string>{{259,485},{280,224}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Fairy_01_Dying (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,16}</string>
                <key>spriteSize</key>
                <string>{246,272}</string>
                <key>spriteSourceSize</key>
                <string>{380,320}</string>
                <key>textureRect</key>
                <string>{{547,1},{246,272}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Fairy_01_Dying (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,19}</string>
                <key>spriteSize</key>
                <string>{242,274}</string>
                <key>spriteSourceSize</key>
                <string>{380,320}</string>
                <key>textureRect</key>
                <string>{{1,1101},{242,274}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Fairy_01_Dying (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,22}</string>
                <key>spriteSize</key>
                <string>{240,274}</string>
                <key>spriteSourceSize</key>
                <string>{380,320}</string>
                <key>textureRect</key>
                <string>{{1,1377},{240,274}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Fairy_01_Dying (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,16}</string>
                <key>spriteSize</key>
                <string>{232,270}</string>
                <key>spriteSourceSize</key>
                <string>{380,320}</string>
                <key>textureRect</key>
                <string>{{521,933},{232,270}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Fairy_01_Dying (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,7}</string>
                <key>spriteSize</key>
                <string>{226,264}</string>
                <key>spriteSourceSize</key>
                <string>{380,320}</string>
                <key>textureRect</key>
                <string>{{1071,1049},{226,264}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Fairy_01_Dying (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-22,1}</string>
                <key>spriteSize</key>
                <string>{214,256}</string>
                <key>spriteSourceSize</key>
                <string>{380,320}</string>
                <key>textureRect</key>
                <string>{{1063,1277},{214,256}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Fairy_01_Dying (8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-29,-15}</string>
                <key>spriteSize</key>
                <string>{240,236}</string>
                <key>spriteSourceSize</key>
                <string>{380,320}</string>
                <key>textureRect</key>
                <string>{{1093,271},{240,236}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Fairy_01_Dying (9).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-35,-26}</string>
                <key>spriteSize</key>
                <string>{256,228}</string>
                <key>spriteSourceSize</key>
                <string>{380,320}</string>
                <key>textureRect</key>
                <string>{{1059,1493},{256,228}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Fairy_01_Walking (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{22,12}</string>
                <key>spriteSize</key>
                <string>{244,270}</string>
                <key>spriteSourceSize</key>
                <string>{380,320}</string>
                <key>textureRect</key>
                <string>{{245,1129},{244,270}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Fairy_01_Walking (10).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{22,14}</string>
                <key>spriteSize</key>
                <string>{244,268}</string>
                <key>spriteSourceSize</key>
                <string>{380,320}</string>
                <key>textureRect</key>
                <string>{{1087,779},{244,268}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Fairy_01_Walking (11).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{22,14}</string>
                <key>spriteSize</key>
                <string>{244,268}</string>
                <key>spriteSourceSize</key>
                <string>{380,320}</string>
                <key>textureRect</key>
                <string>{{1087,779},{244,268}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Fairy_01_Walking (12).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{22,14}</string>
                <key>spriteSize</key>
                <string>{244,268}</string>
                <key>spriteSourceSize</key>
                <string>{380,320}</string>
                <key>textureRect</key>
                <string>{{793,1147},{244,268}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Fairy_01_Walking (13).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{22,14}</string>
                <key>spriteSize</key>
                <string>{244,268}</string>
                <key>spriteSourceSize</key>
                <string>{380,320}</string>
                <key>textureRect</key>
                <string>{{793,1147},{244,268}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Fairy_01_Walking (14).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{22,13}</string>
                <key>spriteSize</key>
                <string>{244,268}</string>
                <key>spriteSourceSize</key>
                <string>{380,320}</string>
                <key>textureRect</key>
                <string>{{789,1393},{244,268}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Fairy_01_Walking (15).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{22,13}</string>
                <key>spriteSize</key>
                <string>{244,268}</string>
                <key>spriteSourceSize</key>
                <string>{380,320}</string>
                <key>textureRect</key>
                <string>{{789,1393},{244,268}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Fairy_01_Walking (16).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{23,13}</string>
                <key>spriteSize</key>
                <string>{242,268}</string>
                <key>spriteSourceSize</key>
                <string>{380,320}</string>
                <key>textureRect</key>
                <string>{{1093,1},{242,268}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Fairy_01_Walking (17).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{24,13}</string>
                <key>spriteSize</key>
                <string>{240,270}</string>
                <key>spriteSourceSize</key>
                <string>{380,320}</string>
                <key>textureRect</key>
                <string>{{517,1387},{240,270}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Fairy_01_Walking (18).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{25,13}</string>
                <key>spriteSize</key>
                <string>{238,270}</string>
                <key>spriteSourceSize</key>
                <string>{380,320}</string>
                <key>textureRect</key>
                <string>{{799,907},{238,270}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Fairy_01_Walking (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{26,14}</string>
                <key>spriteSize</key>
                <string>{236,272}</string>
                <key>spriteSourceSize</key>
                <string>{380,320}</string>
                <key>textureRect</key>
                <string>{{551,249},{236,272}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Fairy_01_Walking (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{26,14}</string>
                <key>spriteSize</key>
                <string>{236,272}</string>
                <key>spriteSourceSize</key>
                <string>{380,320}</string>
                <key>textureRect</key>
                <string>{{541,487},{236,272}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Fairy_01_Walking (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{26,14}</string>
                <key>spriteSize</key>
                <string>{236,270}</string>
                <key>spriteSourceSize</key>
                <string>{380,320}</string>
                <key>textureRect</key>
                <string>{{815,669},{236,270}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Fairy_01_Walking (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{26,14}</string>
                <key>spriteSize</key>
                <string>{236,270}</string>
                <key>spriteSourceSize</key>
                <string>{380,320}</string>
                <key>textureRect</key>
                <string>{{815,669},{236,270}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Fairy_01_Walking (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{25,14}</string>
                <key>spriteSize</key>
                <string>{238,270}</string>
                <key>spriteSourceSize</key>
                <string>{380,320}</string>
                <key>textureRect</key>
                <string>{{245,1375},{238,270}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Fairy_01_Walking (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{25,14}</string>
                <key>spriteSize</key>
                <string>{238,270}</string>
                <key>spriteSourceSize</key>
                <string>{380,320}</string>
                <key>textureRect</key>
                <string>{{245,1375},{238,270}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Fairy_01_Walking (8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{24,14}</string>
                <key>spriteSize</key>
                <string>{240,268}</string>
                <key>spriteSourceSize</key>
                <string>{380,320}</string>
                <key>textureRect</key>
                <string>{{1093,509},{240,268}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Fairy_01_Walking (9).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{24,14}</string>
                <key>spriteSize</key>
                <string>{240,268}</string>
                <key>spriteSourceSize</key>
                <string>{380,320}</string>
                <key>textureRect</key>
                <string>{{1093,509},{240,268}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Fairy_01.png</string>
            <key>size</key>
            <string>{1336,1836}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:551bbff857de7905530331c608f0112d:677811e74b2a09bdcf09ee841cfc3711:c9c90a12fd0cb1b3e982a2a7d47cd877$</string>
            <key>textureFileName</key>
            <string>Fairy_01.png</string>
        </dict>
    </dict>
</plist>
