<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Walking_000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{37.5,25.5}</string>
                <key>spriteSize</key>
                <string>{261,291}</string>
                <key>spriteSourceSize</key>
                <string>{440,360}</string>
                <key>textureRect</key>
                <string>{{1,1},{261,291}}</string>
                <key>textureRotated</key>
                <true/>
                <key>triangles</key>
                <string>1 15 16 1 14 15 11 12 13 10 1 6 10 11 13 8 6 7 8 9 10 8 10 6 10 13 1 6 1 2 2 3 4 2 4 5 6 2 5 1 13 14 0 1 16</string>
                <key>vertices</key>
                <string>305 40 310 78 328 95 368 95 388 129 359 180 321 220 291 281 234 300 135 259 156 188 128 156 127 115 157 107 181 40 208 17 263 9</string>
                <key>verticesUV</key>
                <string>261 179 223 184 206 202 206 242 172 262 121 233 81 195 20 165 1 108 42 9 113 30 145 2 186 1 194 31 261 55 284 82 292 137</string>
            </dict>
            <key>Walking_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{37,23}</string>
                <key>spriteSize</key>
                <string>{264,294}</string>
                <key>spriteSourceSize</key>
                <string>{440,360}</string>
                <key>textureRect</key>
                <string>{{294,1},{264,294}}</string>
                <key>textureRotated</key>
                <true/>
                <key>triangles</key>
                <string>2 16 17 13 14 15 12 13 15 2 15 16 8 9 12 10 11 12 9 10 12 7 8 12 7 2 3 2 7 12 3 4 5 3 5 6 7 3 6 2 12 15 0 1 2 0 2 17</string>
                <key>vertices</key>
                <string>270 11 309 42 309 76 331 97 370 96 389 131 359 181 316 225 289 280 239 304 161 273 143 243 161 186 125 149 131 113 164 92 184 37 218 10</string>
                <key>verticesUV</key>
                <string>587 146 556 185 522 185 501 207 502 246 467 265 417 235 373 192 318 165 294 115 325 37 355 19 412 37 449 1 485 7 506 40 561 60 588 94</string>
            </dict>
            <key>Walking_002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{33,27}</string>
                <key>spriteSize</key>
                <string>{276,294}</string>
                <key>spriteSourceSize</key>
                <string>{440,360}</string>
                <key>textureRect</key>
                <string>{{291,267},{276,294}}</string>
                <key>textureRotated</key>
                <true/>
                <key>triangles</key>
                <string>0 15 16 15 0 1 10 12 13 10 1 5 10 11 12 5 6 10 9 7 8 9 10 7 6 7 10 10 13 1 1 4 5 2 3 4 1 2 4 1 13 14 15 1 14</string>
                <key>vertices</key>
                <string>305 42 315 83 373 103 391 133 355 187 321 213 280 289 226 300 154 271 150 235 161 188 115 142 131 110 159 97 180 38 206 15 269 6</string>
                <key>verticesUV</key>
                <string>549 457 508 467 488 525 458 543 404 507 378 473 302 432 291 378 320 306 356 302 403 313 449 267 481 283 494 311 553 332 576 358 585 421</string>
            </dict>
            <key>Walking_003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{32,30}</string>
                <key>spriteSize</key>
                <string>{276,288}</string>
                <key>spriteSourceSize</key>
                <string>{440,360}</string>
                <key>textureRect</key>
                <string>{{1,264},{276,288}}</string>
                <key>textureRotated</key>
                <true/>
                <key>triangles</key>
                <string>1 14 15 1 13 14 10 11 12 9 1 5 9 10 12 5 6 9 7 8 9 6 7 9 9 12 1 1 4 5 2 3 4 1 2 4 1 12 13 0 1 15</string>
                <key>vertices</key>
                <string>287 19 311 84 373 104 390 137 353 190 337 199 266 294 189 294 149 254 161 197 123 159 114 119 152 94 169 40 194 16 246 6</string>
                <key>verticesUV</key>
                <string>276 437 211 461 191 523 158 540 105 503 96 487 1 416 1 339 41 299 98 311 136 273 176 264 201 302 255 319 279 344 289 396</string>
            </dict>
            <key>Walking_004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{32.5,31}</string>
                <key>spriteSize</key>
                <string>{287,292}</string>
                <key>spriteSourceSize</key>
                <string>{440,360}</string>
                <key>textureRect</key>
                <string>{{1,1111},{287,292}}</string>
                <key>textureRotated</key>
                <true/>
                <key>triangles</key>
                <string>0 13 14 11 12 13 9 10 11 0 1 11 8 9 11 6 4 5 6 7 8 6 8 4 1 4 8 1 2 3 1 3 4 1 8 11 0 11 13</string>
                <key>vertices</key>
                <string>280 30 307 84 374 106 396 146 299 243 270 295 192 294 154 256 161 206 118 163 109 126 145 103 156 43 184 17 234 3</string>
                <key>verticesUV</key>
                <string>266 1282 212 1309 190 1376 150 1398 53 1301 1 1272 2 1194 40 1156 90 1163 133 1120 170 1111 193 1147 253 1158 279 1186 293 1236</string>
            </dict>
            <key>Walking_005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{33,30}</string>
                <key>spriteSize</key>
                <string>{286,296}</string>
                <key>spriteSourceSize</key>
                <string>{440,360}</string>
                <key>textureRect</key>
                <string>{{582,833},{286,296}}</string>
                <key>textureRotated</key>
                <true/>
                <key>triangles</key>
                <string>13 14 15 11 12 13 10 1 6 10 11 13 8 6 7 8 9 10 8 10 6 10 13 1 6 1 2 3 4 5 2 3 5 6 2 5 0 1 13 0 13 15</string>
                <key>vertices</key>
                <string>273 28 296 77 318 92 379 112 396 151 352 195 309 227 271 292 213 298 163 274 161 205 115 171 110 131 143 99 154 27 224 2</string>
                <key>verticesUV</key>
                <string>852 996 803 1019 788 1041 768 1102 729 1119 685 1075 653 1032 588 994 582 936 606 886 675 884 709 838 749 833 781 866 853 877 878 947</string>
            </dict>
            <key>Walking_006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{34,30}</string>
                <key>spriteSize</key>
                <string>{282,292}</string>
                <key>spriteSourceSize</key>
                <string>{440,360}</string>
                <key>textureRect</key>
                <string>{{1,827},{282,292}}</string>
                <key>textureRotated</key>
                <true/>
                <key>triangles</key>
                <string>0 15 16 0 14 15 11 12 13 10 1 6 10 11 13 6 7 10 8 9 10 7 8 10 10 13 1 1 5 6 2 3 4 1 4 5 2 4 1 0 1 13 0 13 14</string>
                <key>vertices</key>
                <string>272 30 331 129 350 111 395 124 395 162 353 206 332 211 272 293 203 296 171 270 161 207 113 170 113 132 143 101 150 50 172 22 225 4</string>
                <key>verticesUV</key>
                <string>267 986 168 1045 186 1064 173 1109 135 1109 91 1067 86 1046 4 986 1 917 27 885 90 875 127 827 165 827 196 857 247 864 275 886 293 939</string>
            </dict>
            <key>Walking_007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{36,27.5}</string>
                <key>spriteSize</key>
                <string>{292,291}</string>
                <key>spriteSourceSize</key>
                <string>{440,360}</string>
                <key>textureRect</key>
                <string>{{293,1410},{292,291}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>14 15 16 0 1 14 11 12 13 10 1 6 10 11 13 6 8 9 9 10 6 6 7 8 10 13 1 6 1 2 2 3 4 2 4 5 6 2 5 1 13 14 0 14 16</string>
                <key>vertices</key>
                <string>283 32 309 89 349 119 392 132 402 173 355 213 299 245 275 293 205 298 175 268 168 213 110 154 120 124 140 110 163 42 192 11 241 7</string>
                <key>verticesUV</key>
                <string>466 1435 492 1492 532 1522 575 1535 585 1576 538 1616 482 1648 458 1696 388 1701 358 1671 351 1616 293 1557 303 1527 323 1513 346 1445 375 1414 424 1410</string>
            </dict>
            <key>Walking_008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{39,28.5}</string>
                <key>spriteSize</key>
                <string>{288,289}</string>
                <key>spriteSourceSize</key>
                <string>{440,360}</string>
                <key>textureRect</key>
                <string>{{590,1121},{288,289}}</string>
                <key>textureRotated</key>
                <true/>
                <key>triangles</key>
                <string>0 16 17 0 15 16 12 13 14 1 7 11 11 12 14 10 7 8 10 11 7 10 8 9 1 6 7 11 14 1 1 5 6 1 3 4 1 4 5 1 2 3 0 1 14 0 14 15</string>
                <key>vertices</key>
                <string>296 37 343 148 356 131 403 144 403 185 367 221 325 229 296 252 275 294 195 296 178 256 168 202 126 160 115 121 152 103 172 41 197 17 252 7</string>
                <key>verticesUV</key>
                <string>849 1302 738 1349 755 1362 742 1409 701 1409 665 1373 657 1331 634 1302 592 1281 590 1201 630 1184 684 1174 726 1132 765 1121 783 1158 845 1178 869 1203 879 1258</string>
            </dict>
            <key>Walking_009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{40,27.5}</string>
                <key>spriteSize</key>
                <string>{290,285}</string>
                <key>spriteSourceSize</key>
                <string>{440,360}</string>
                <key>textureRect</key>
                <string>{{295,827},{290,285}}</string>
                <key>textureRotated</key>
                <true/>
                <key>triangles</key>
                <string>0 14 15 10 12 13 10 11 12 10 2 7 7 8 10 8 9 10 10 13 2 2 6 7 2 4 5 2 3 4 2 5 6 13 0 1 13 1 2 0 13 14</string>
                <key>vertices</key>
                <string>265 11 302 23 342 144 389 145 405 170 405 200 353 232 304 249 274 294 191 295 170 197 115 141 134 113 167 90 183 40 217 10</string>
                <key>verticesUV</key>
                <string>579 977 567 1014 446 1054 445 1101 420 1117 390 1117 358 1065 341 1016 296 986 295 903 393 882 449 827 477 846 500 879 550 895 580 929</string>
            </dict>
            <key>Walking_010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{47,24.5}</string>
                <key>spriteSize</key>
                <string>{276,291}</string>
                <key>spriteSourceSize</key>
                <string>{440,360}</string>
                <key>textureRect</key>
                <string>{{587,273},{276,291}}</string>
                <key>textureRotated</key>
                <true/>
                <key>triangles</key>
                <string>15 16 17 11 2 6 12 13 14 11 14 2 11 12 14 9 7 8 9 10 11 9 11 7 6 7 11 14 15 2 2 5 6 5 2 3 5 3 4 1 2 15 0 1 15 0 15 17</string>
                <key>vertices</key>
                <string>271 11 310 42 328 102 400 150 405 189 355 224 318 234 296 252 276 291 219 301 183 284 170 205 129 149 129 113 163 95 185 60 185 36 221 10</string>
                <key>verticesUV</key>
                <string>877 415 846 454 786 472 738 544 699 549 664 499 654 462 636 440 597 420 587 363 604 327 683 314 739 273 775 273 793 307 828 329 852 329 878 365</string>
            </dict>
            <key>Walking_011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{44.5,28}</string>
                <key>spriteSize</key>
                <string>{279,288}</string>
                <key>spriteSourceSize</key>
                <string>{440,360}</string>
                <key>textureRect</key>
                <string>{{1,542},{279,288}}</string>
                <key>textureRotated</key>
                <true/>
                <key>triangles</key>
                <string>12 13 14 10 11 12 9 1 5 9 10 12 8 5 6 8 9 5 8 6 7 9 12 1 1 4 5 2 3 4 1 2 4 0 1 12 0 12 14</string>
                <key>vertices</key>
                <string>305 39 327 101 392 135 404 174 356 214 303 242 272 296 198 294 176 265 161 188 127 153 125 113 159 94 189 17 265 8</string>
                <key>verticesUV</key>
                <string>258 722 196 744 162 809 123 821 83 773 55 720 1 689 3 615 32 593 109 578 144 544 184 542 203 576 280 606 289 682</string>
            </dict>
            <key>Walking_012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{27.5,26.5}</string>
                <key>spriteSize</key>
                <string>{297,297}</string>
                <key>spriteSourceSize</key>
                <string>{440,360}</string>
                <key>textureRect</key>
                <string>{{587,1411},{297,297}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>0 15 16 0 1 14 11 12 13 11 1 6 7 9 10 10 11 7 7 8 9 6 7 11 11 13 1 6 1 2 2 3 4 2 4 5 6 2 5 1 13 14 0 14 15</string>
                <key>vertices</key>
                <string>293 35 310 84 347 111 396 126 396 164 353 207 325 217 292 255 274 291 210 302 169 268 166 202 99 134 154 96 170 42 194 16 250 5</string>
                <key>verticesUV</key>
                <string>781 1441 798 1490 835 1517 884 1532 884 1570 841 1613 813 1623 780 1661 762 1697 698 1708 657 1674 654 1608 587 1540 642 1502 658 1448 682 1422 738 1411</string>
            </dict>
            <key>Walking_013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{35,29.5}</string>
                <key>spriteSize</key>
                <string>{280,295}</string>
                <key>spriteSourceSize</key>
                <string>{440,360}</string>
                <key>textureRect</key>
                <string>{{582,551},{280,295}}</string>
                <key>textureRotated</key>
                <true/>
                <key>triangles</key>
                <string>0 14 15 11 12 13 10 1 6 10 11 13 6 7 10 8 9 10 7 8 10 10 13 1 6 1 2 2 3 4 2 4 5 6 2 5 0 1 13 0 13 14</string>
                <key>vertices</key>
                <string>281 30 308 89 340 109 376 109 395 148 353 197 313 223 271 292 214 298 164 277 161 206 116 160 115 123 139 103 165 22 236 3</string>
                <key>verticesUV</key>
                <string>850 717 791 744 771 776 771 812 732 831 683 789 657 749 588 707 582 650 603 600 674 597 720 552 757 551 777 575 858 601 877 672</string>
            </dict>
            <key>Walking_014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{33.5,30.5}</string>
                <key>spriteSize</key>
                <string>{287,293}</string>
                <key>spriteSourceSize</key>
                <string>{440,360}</string>
                <key>textureRect</key>
                <string>{{295,1121},{287,293}}</string>
                <key>textureRotated</key>
                <true/>
                <key>triangles</key>
                <string>0 14 15 12 0 1 10 11 12 9 1 5 9 10 12 5 6 9 7 8 9 6 7 9 9 12 1 1 4 5 2 3 4 1 2 4 12 13 0 0 13 14</string>
                <key>vertices</key>
                <string>273 29 303 83 367 104 397 132 352 191 324 206 269 293 208 296 155 267 160 211 114 165 110 131 143 99 151 48 174 20 226 3</string>
                <key>verticesUV</key>
                <string>562 1284 508 1314 487 1378 459 1408 400 1363 385 1335 298 1280 295 1219 324 1166 380 1171 426 1125 460 1121 492 1154 543 1162 571 1185 588 1237</string>
            </dict>
            <key>Walking_015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{26.5,31}</string>
                <key>spriteSize</key>
                <string>{289,290}</string>
                <key>spriteSourceSize</key>
                <string>{440,360}</string>
                <key>textureRect</key>
                <string>{{1,1400},{289,290}}</string>
                <key>textureRotated</key>
                <true/>
                <key>triangles</key>
                <string>0 15 16 0 1 14 11 12 13 10 1 6 10 11 13 6 7 10 8 9 10 7 8 10 10 13 1 6 1 2 2 3 4 2 4 5 6 2 5 1 13 14 0 14 15</string>
                <key>vertices</key>
                <string>272 30 296 77 329 99 372 100 391 137 353 189 327 212 266 294 209 294 157 272 151 203 120 174 102 139 142 104 150 50 172 22 225 4</string>
                <key>verticesUV</key>
                <string>265 1570 218 1594 196 1627 195 1670 158 1689 106 1651 83 1625 1 1564 1 1507 23 1455 92 1449 121 1418 156 1400 191 1440 245 1448 273 1470 291 1523</string>
            </dict>
            <key>Walking_016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{29,30.5}</string>
                <key>spriteSize</key>
                <string>{280,289}</string>
                <key>spriteSourceSize</key>
                <string>{440,360}</string>
                <key>textureRect</key>
                <string>{{291,545},{280,289}}</string>
                <key>textureRotated</key>
                <true/>
                <key>triangles</key>
                <string>0 14 15 0 13 14 9 11 12 9 1 5 9 10 11 7 5 6 8 9 5 8 5 7 9 12 1 1 4 5 1 3 4 1 2 3 0 1 12 0 12 13</string>
                <key>vertices</key>
                <string>281 32 323 102 369 92 389 134 370 171 309 232 278 294 188 294 153 259 146 191 109 164 118 126 149 98 158 47 179 20 235 5</string>
                <key>verticesUV</key>
                <string>553 717 483 759 493 805 451 825 414 806 353 745 291 714 291 624 326 589 394 582 421 545 459 554 487 585 538 594 565 615 580 671</string>
            </dict>
            <key>Walking_017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{35,25.5}</string>
                <key>spriteSize</key>
                <string>{270,297}</string>
                <key>spriteSourceSize</key>
                <string>{440,360}</string>
                <key>textureRect</key>
                <string>{{590,1},{270,297}}</string>
                <key>textureRotated</key>
                <true/>
                <key>triangles</key>
                <string>0 14 15 12 0 1 10 11 12 9 1 5 9 10 12 5 6 9 7 8 9 6 7 9 9 12 1 1 4 5 2 3 4 1 2 4 12 13 0 0 13 14</string>
                <key>vertices</key>
                <string>292 37 310 81 372 102 390 131 354 188 334 197 286 281 236 303 136 263 154 197 122 159 120 123 157 92 168 45 193 18 248 6</string>
                <key>verticesUV</key>
                <string>856 173 812 191 791 253 762 271 705 235 696 215 612 167 590 117 630 17 696 35 734 3 770 1 801 38 848 49 875 74 887 129</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Goblin_02_Walking.png</string>
            <key>size</key>
            <string>{888,1709}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cccaa1f03e64cafae4a9b799673847a7:82db8a0901621904c3b477fa3267c8a6:c26685a9f2cd939c171c819664340bf3$</string>
            <key>textureFileName</key>
            <string>Goblin_02_Walking.png</string>
        </dict>
    </dict>
</plist>
