<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Goblin_Treasure (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-28,-12}</string>
                <key>spriteSize</key>
                <string>{214,201}</string>
                <key>spriteSourceSize</key>
                <string>{500,481}</string>
                <key>textureRect</key>
                <string>{{282,661},{214,201}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Goblin_Treasure (10).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,4}</string>
                <key>spriteSize</key>
                <string>{328,331}</string>
                <key>spriteSourceSize</key>
                <string>{500,481}</string>
                <key>textureRect</key>
                <string>{{338,331},{328,331}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Goblin_Treasure (11).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,4}</string>
                <key>spriteSize</key>
                <string>{332,335}</string>
                <key>spriteSourceSize</key>
                <string>{500,481}</string>
                <key>textureRect</key>
                <string>{{1,1},{332,335}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Goblin_Treasure (12).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,4}</string>
                <key>spriteSize</key>
                <string>{274,279}</string>
                <key>spriteSourceSize</key>
                <string>{500,481}</string>
                <key>textureRect</key>
                <string>{{1,656},{274,279}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Goblin_Treasure (13).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-41}</string>
                <key>spriteSize</key>
                <string>{162,143}</string>
                <key>spriteSourceSize</key>
                <string>{500,481}</string>
                <key>textureRect</key>
                <string>{{498,661},{162,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Goblin_Treasure (14).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-37}</string>
                <key>spriteSize</key>
                <string>{160,151}</string>
                <key>spriteSourceSize</key>
                <string>{500,481}</string>
                <key>textureRect</key>
                <string>{{1,932},{160,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Goblin_Treasure (15).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-31}</string>
                <key>spriteSize</key>
                <string>{158,163}</string>
                <key>spriteSourceSize</key>
                <string>{500,481}</string>
                <key>textureRect</key>
                <string>{{784,867},{158,163}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Goblin_Treasure (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-28,19}</string>
                <key>spriteSize</key>
                <string>{214,263}</string>
                <key>spriteSourceSize</key>
                <string>{500,481}</string>
                <key>textureRect</key>
                <string>{{671,433},{214,263}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Goblin_Treasure (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-28,18}</string>
                <key>spriteSize</key>
                <string>{214,261}</string>
                <key>spriteSourceSize</key>
                <string>{500,481}</string>
                <key>textureRect</key>
                <string>{{282,867},{214,261}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Goblin_Treasure (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-28,23}</string>
                <key>spriteSize</key>
                <string>{214,271}</string>
                <key>spriteSourceSize</key>
                <string>{500,481}</string>
                <key>textureRect</key>
                <string>{{671,1},{214,271}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Goblin_Treasure (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-28,21}</string>
                <key>spriteSize</key>
                <string>{214,267}</string>
                <key>spriteSourceSize</key>
                <string>{500,481}</string>
                <key>textureRect</key>
                <string>{{671,217},{214,267}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Goblin_Treasure (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-28,17}</string>
                <key>spriteSize</key>
                <string>{216,259}</string>
                <key>spriteSourceSize</key>
                <string>{500,481}</string>
                <key>textureRect</key>
                <string>{{671,649},{216,259}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Goblin_Treasure (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-26,6}</string>
                <key>spriteSize</key>
                <string>{218,237}</string>
                <key>spriteSourceSize</key>
                <string>{500,481}</string>
                <key>textureRect</key>
                <string>{{545,867},{218,237}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Goblin_Treasure (8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,4}</string>
                <key>spriteSize</key>
                <string>{322,319}</string>
                <key>spriteSourceSize</key>
                <string>{500,481}</string>
                <key>textureRect</key>
                <string>{{1,335},{322,319}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Goblin_Treasure (9).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,4}</string>
                <key>spriteSize</key>
                <string>{328,331}</string>
                <key>spriteSourceSize</key>
                <string>{500,481}</string>
                <key>textureRect</key>
                <string>{{338,1},{328,331}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Goblin_Treasure.png</string>
            <key>size</key>
            <string>{943,1086}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:aedbc702c428e0a1f1052b3c4b7b7379:540d40d4d9a558e1a7383cd8fd5dcf4e:ef3c925487ba0ed4a3799fd98b05dd11$</string>
            <key>textureFileName</key>
            <string>Goblin_Treasure.png</string>
        </dict>
    </dict>
</plist>
