<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Dying_000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{34.5,11}</string>
                <key>spriteSize</key>
                <string>{289,256}</string>
                <key>spriteSourceSize</key>
                <string>{440,360}</string>
                <key>textureRect</key>
                <string>{{1,1},{289,256}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>9 11 12 9 10 11 5 6 9 7 8 9 6 7 9 9 0 1 1 4 5 2 3 4 1 2 4 9 1 5 0 9 12</string>
                <key>vertices</key>
                <string>269 43 330 97 357 97 399 118 353 187 318 217 280 293 187 297 147 257 156 196 110 150 125 102 192 41</string>
                <key>verticesUV</key>
                <string>160 3 221 57 248 57 290 78 244 147 209 177 171 253 78 257 38 217 47 156 1 110 16 62 83 1</string>
            </dict>
            <key>Dying_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{34.5,14.5}</string>
                <key>spriteSize</key>
                <string>{275,257}</string>
                <key>spriteSourceSize</key>
                <string>{440,360}</string>
                <key>textureRect</key>
                <string>{{1,521},{275,257}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>9 13 14 10 11 12 9 12 13 9 10 12 5 6 9 7 8 9 6 7 9 0 5 9 5 0 1 4 1 2 4 2 3 5 1 4 0 9 14</string>
                <key>vertices</key>
                <string>278 46 341 94 363 95 392 124 360 178 319 215 277 294 185 291 149 254 163 192 128 156 117 98 135 93 192 45 236 37</string>
                <key>verticesUV</key>
                <string>162 530 225 578 247 579 276 608 244 662 203 699 161 778 69 775 33 738 47 676 12 640 1 582 19 577 76 529 120 521</string>
            </dict>
            <key>Dying_002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{41.5,18}</string>
                <key>spriteSize</key>
                <string>{267,268}</string>
                <key>spriteSourceSize</key>
                <string>{440,360}</string>
                <key>textureRect</key>
                <string>{{1,1038},{267,268}}</string>
                <key>textureRotated</key>
                <true/>
                <key>triangles</key>
                <string>9 10 11 8 9 11 4 5 8 7 5 6 7 8 5 3 4 8 0 3 8 0 2 3 0 1 2 0 8 11</string>
                <key>vertices</key>
                <string>283 45 395 116 359 179 324 204 284 281 243 296 164 281 158 234 166 193 131 144 128 92 225 28</string>
                <key>verticesUV</key>
                <string>252 1193 181 1305 118 1269 93 1234 16 1194 1 1153 16 1074 63 1068 104 1076 153 1041 205 1038 269 1135</string>
            </dict>
            <key>Dying_003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{41.5,17}</string>
                <key>spriteSize</key>
                <string>{273,256}</string>
                <key>spriteSourceSize</key>
                <string>{440,360}</string>
                <key>textureRect</key>
                <string>{{1,780},{273,256}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>6 9 10 6 8 9 6 7 8 2 6 10 5 6 3 5 3 4 2 3 6 1 2 10 0 1 10</string>
                <key>vertices</key>
                <string>398 115 353 182 333 199 272 291 182 286 161 239 168 186 125 120 146 71 222 36 275 35</string>
                <key>verticesUV</key>
                <string>274 860 229 927 209 944 148 1036 58 1031 37 984 44 931 1 865 22 816 98 781 151 780</string>
            </dict>
            <key>Dying_004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{17.5,20.5}</string>
                <key>spriteSize</key>
                <string>{235,261}</string>
                <key>spriteSourceSize</key>
                <string>{440,360}</string>
                <key>textureRect</key>
                <string>{{271,1038},{235,261}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>8 9 10 7 8 10 4 5 7 5 6 7 3 4 7 0 3 7 3 0 1 3 1 2 0 7 10</string>
                <key>vertices</key>
                <string>262 37 330 62 355 85 329 181 285 281 220 290 170 271 164 188 128 148 120 92 212 29</string>
                <key>verticesUV</key>
                <string>413 1046 481 1071 506 1094 480 1190 436 1290 371 1299 321 1280 315 1197 279 1157 271 1101 363 1038</string>
            </dict>
            <key>Dying_005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4.5,17.5}</string>
                <key>spriteSize</key>
                <string>{219,257}</string>
                <key>spriteSourceSize</key>
                <string>{440,360}</string>
                <key>textureRect</key>
                <string>{{285,495},{219,257}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>7 9 10 7 8 9 4 5 7 5 6 7 3 4 7 2 3 7 2 7 10 0 1 2 0 2 10</string>
                <key>vertices</key>
                <string>282 36 309 58 325 146 309 245 285 273 236 291 179 277 164 201 106 143 122 95 189 34</string>
                <key>verticesUV</key>
                <string>461 497 488 519 504 607 488 706 464 734 415 752 358 738 343 662 285 604 301 556 368 495</string>
            </dict>
            <key>Dying_006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,18.5}</string>
                <key>spriteSize</key>
                <string>{216,253}</string>
                <key>spriteSourceSize</key>
                <string>{440,360}</string>
                <key>textureRect</key>
                <string>{{292,1},{216,253}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>5 8 9 7 5 6 7 8 5 2 3 5 3 4 5 1 2 5 1 5 9 0 1 9</string>
                <key>vertices</key>
                <string>276 45 318 122 310 258 252 288 187 286 171 217 110 173 102 117 163 50 207 35</string>
                <key>verticesUV</key>
                <string>466 11 508 88 500 224 442 254 377 252 361 183 300 139 292 83 353 16 397 1</string>
            </dict>
            <key>Dying_007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-25.5,0}</string>
                <key>spriteSize</key>
                <string>{229,260}</string>
                <key>spriteSourceSize</key>
                <string>{440,360}</string>
                <key>textureRect</key>
                <string>{{278,754},{229,260}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>0 8 9 0 7 8 6 4 5 6 7 4 2 3 4 1 2 4 0 1 4 0 4 7</string>
                <key>vertices</key>
                <string>273 90 309 194 295 272 219 310 155 238 81 202 80 150 118 82 154 55 218 50</string>
                <key>verticesUV</key>
                <string>471 794 507 898 493 976 417 1014 353 942 279 906 278 854 316 786 352 759 416 754</string>
            </dict>
            <key>Dying_008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-44,-10}</string>
                <key>spriteSize</key>
                <string>{248,242}</string>
                <key>spriteSourceSize</key>
                <string>{440,360}</string>
                <key>textureRect</key>
                <string>{{261,1307},{248,242}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>0 9 10 0 8 9 6 7 8 5 6 8 3 4 5 2 3 5 5 0 1 5 1 2 0 5 8</string>
                <key>vertices</key>
                <string>235 104 272 148 300 231 286 280 223 311 172 267 91 256 52 204 86 119 114 87 182 69</string>
                <key>verticesUV</key>
                <string>444 1342 481 1386 509 1469 495 1518 432 1549 381 1505 300 1494 261 1442 295 1357 323 1325 391 1307</string>
            </dict>
            <key>Dying_009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-45.5,-28}</string>
                <key>spriteSize</key>
                <string>{237,206}</string>
                <key>spriteSourceSize</key>
                <string>{440,360}</string>
                <key>textureRect</key>
                <string>{{292,256},{237,206}}</string>
                <key>textureRotated</key>
                <true/>
                <key>triangles</key>
                <string>7 8 9 4 7 9 5 6 7 4 5 7 2 3 4 4 0 1 4 1 2 0 4 9</string>
                <key>vertices</key>
                <string>223 128 293 218 293 271 258 311 190 299 95 301 58 272 56 163 104 112 156 105</string>
                <key>verticesUV</key>
                <string>475 423 385 493 332 493 292 458 304 390 302 295 331 258 440 256 491 304 498 356</string>
            </dict>
            <key>Dying_010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-53,-36.5}</string>
                <key>spriteSize</key>
                <string>{258,247}</string>
                <key>spriteSourceSize</key>
                <string>{440,360}</string>
                <key>textureRect</key>
                <string>{{1,1307},{258,247}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>9 0 5 9 10 0 8 9 5 8 5 7 7 5 6 1 3 4 5 0 1 1 2 3 1 4 5 0 10 11</string>
                <key>vertices</key>
                <string>197 132 258 199 293 219 296 285 255 323 181 311 110 340 69 314 38 219 56 175 116 106 152 93</string>
                <key>verticesUV</key>
                <string>160 1346 221 1413 256 1433 259 1499 218 1537 144 1525 73 1554 32 1528 1 1433 19 1389 79 1320 115 1307</string>
            </dict>
            <key>Dying_011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-54,-34}</string>
                <key>spriteSize</key>
                <string>{260,282}</string>
                <key>spriteSourceSize</key>
                <string>{440,360}</string>
                <key>textureRect</key>
                <string>{{1,259},{260,282}}</string>
                <key>textureRotated</key>
                <true/>
                <key>triangles</key>
                <string>0 13 14 10 11 12 6 10 12 6 9 10 8 9 6 8 6 7 4 5 6 6 2 3 2 6 12 6 3 4 1 2 12 0 1 12 0 12 13</string>
                <key>vertices</key>
                <string>225 82 247 140 252 188 293 231 296 285 254 339 192 317 137 355 86 347 36 256 46 199 75 155 175 136 161 108 183 73</string>
                <key>verticesUV</key>
                <string>274 448 216 470 168 475 125 516 71 519 17 477 39 415 1 360 9 309 100 259 157 269 201 298 220 398 248 384 283 406</string>
            </dict>
            <key>Dying_012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-54,-34}</string>
                <key>spriteSize</key>
                <string>{260,282}</string>
                <key>spriteSourceSize</key>
                <string>{440,360}</string>
                <key>textureRect</key>
                <string>{{1,259},{260,282}}</string>
                <key>textureRotated</key>
                <true/>
                <key>triangles</key>
                <string>0 13 14 10 11 12 6 10 12 6 9 10 8 9 6 8 6 7 4 5 6 6 2 3 2 6 12 6 3 4 1 2 12 0 1 12 0 12 13</string>
                <key>vertices</key>
                <string>225 82 247 140 252 188 293 231 296 285 254 339 192 317 137 355 86 347 36 256 46 199 75 155 175 136 161 108 183 73</string>
                <key>verticesUV</key>
                <string>274 448 216 470 168 475 125 516 71 519 17 477 39 415 1 360 9 309 100 259 157 269 201 298 220 398 248 384 283 406</string>
            </dict>
            <key>Dying_013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-54,-34}</string>
                <key>spriteSize</key>
                <string>{260,282}</string>
                <key>spriteSourceSize</key>
                <string>{440,360}</string>
                <key>textureRect</key>
                <string>{{1,259},{260,282}}</string>
                <key>textureRotated</key>
                <true/>
                <key>triangles</key>
                <string>0 13 14 10 11 12 6 10 12 6 9 10 8 9 6 8 6 7 4 5 6 6 2 3 2 6 12 6 3 4 1 2 12 0 1 12 0 12 13</string>
                <key>vertices</key>
                <string>225 82 247 140 252 188 293 231 296 285 254 339 192 317 137 355 86 347 36 256 46 199 75 155 175 136 161 108 183 73</string>
                <key>verticesUV</key>
                <string>274 448 216 470 168 475 125 516 71 519 17 477 39 415 1 360 9 309 100 259 157 269 201 298 220 398 248 384 283 406</string>
            </dict>
            <key>Dying_014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-54,-34}</string>
                <key>spriteSize</key>
                <string>{260,282}</string>
                <key>spriteSourceSize</key>
                <string>{440,360}</string>
                <key>textureRect</key>
                <string>{{1,259},{260,282}}</string>
                <key>textureRotated</key>
                <true/>
                <key>triangles</key>
                <string>0 13 14 10 11 12 6 10 12 6 9 10 8 9 6 8 6 7 4 5 6 6 2 3 2 6 12 6 3 4 1 2 12 0 1 12 0 12 13</string>
                <key>vertices</key>
                <string>225 82 247 140 252 188 293 231 296 285 254 339 192 317 137 355 86 347 36 256 46 199 75 155 175 136 161 108 183 73</string>
                <key>verticesUV</key>
                <string>274 448 216 470 168 475 125 516 71 519 17 477 39 415 1 360 9 309 100 259 157 269 201 298 220 398 248 384 283 406</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Goblin_03_Dying.png</string>
            <key>size</key>
            <string>{510,1555}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a1cbac5ab393b820f3a365a938e6e56e:877f5bc24c42c5b1da6a85c755c2a465:1dbbcfa76aee793575f9e259d849b9bb$</string>
            <key>textureFileName</key>
            <string>Goblin_03_Dying.png</string>
        </dict>
    </dict>
</plist>
