<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>King_Buff (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-39}</string>
                <key>spriteSize</key>
                <string>{167,98}</string>
                <key>spriteSourceSize</key>
                <string>{175,180}</string>
                <key>textureRect</key>
                <string>{{1,91},{167,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>King_Buff (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-39}</string>
                <key>spriteSize</key>
                <string>{165,98}</string>
                <key>spriteSourceSize</key>
                <string>{175,180}</string>
                <key>textureRect</key>
                <string>{{1,191},{165,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>King_Buff (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-39}</string>
                <key>spriteSize</key>
                <string>{163,98}</string>
                <key>spriteSourceSize</key>
                <string>{175,180}</string>
                <key>textureRect</key>
                <string>{{1,291},{163,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>King_Buff (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-37}</string>
                <key>spriteSize</key>
                <string>{167,88}</string>
                <key>spriteSourceSize</key>
                <string>{175,180}</string>
                <key>textureRect</key>
                <string>{{1,1},{167,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>King_Buff.png</string>
            <key>size</key>
            <string>{169,390}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:35489aaaff96cc4f7ce614387a583c04:49976cfa138c96d92df5625e87729b6e:9702da34d86453d83f80287d57f0b633$</string>
            <key>textureFileName</key>
            <string>King_Buff.png</string>
        </dict>
    </dict>
</plist>
