<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>King_02_Taunt (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{29,9}</string>
                <key>spriteSize</key>
                <string>{254,310}</string>
                <key>spriteSourceSize</key>
                <string>{480,342}</string>
                <key>textureRect</key>
                <string>{{633,1457},{254,310}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>King_02_Taunt (10).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,11}</string>
                <key>spriteSize</key>
                <string>{288,316}</string>
                <key>spriteSourceSize</key>
                <string>{480,342}</string>
                <key>textureRect</key>
                <string>{{319,879},{288,316}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>King_02_Taunt (11).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,11}</string>
                <key>spriteSize</key>
                <string>{288,316}</string>
                <key>spriteSourceSize</key>
                <string>{480,342}</string>
                <key>textureRect</key>
                <string>{{637,1167},{288,316}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>King_02_Taunt (12).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,11}</string>
                <key>spriteSize</key>
                <string>{288,316}</string>
                <key>spriteSourceSize</key>
                <string>{480,342}</string>
                <key>textureRect</key>
                <string>{{1,881},{288,316}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>King_02_Taunt (13).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,11}</string>
                <key>spriteSize</key>
                <string>{290,316}</string>
                <key>spriteSourceSize</key>
                <string>{480,342}</string>
                <key>textureRect</key>
                <string>{{319,587},{290,316}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>King_02_Taunt (14).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,11}</string>
                <key>spriteSize</key>
                <string>{290,316}</string>
                <key>spriteSourceSize</key>
                <string>{480,342}</string>
                <key>textureRect</key>
                <string>{{1,589},{290,316}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>King_02_Taunt (15).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,11}</string>
                <key>spriteSize</key>
                <string>{292,316}</string>
                <key>spriteSourceSize</key>
                <string>{480,342}</string>
                <key>textureRect</key>
                <string>{{637,1},{292,316}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>King_02_Taunt (16).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,11}</string>
                <key>spriteSize</key>
                <string>{292,316}</string>
                <key>spriteSourceSize</key>
                <string>{480,342}</string>
                <key>textureRect</key>
                <string>{{1,295},{292,316}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>King_02_Taunt (17).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,12}</string>
                <key>spriteSize</key>
                <string>{286,316}</string>
                <key>spriteSourceSize</key>
                <string>{480,342}</string>
                <key>textureRect</key>
                <string>{{319,1169},{286,316}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>King_02_Taunt (18).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{21,11}</string>
                <key>spriteSize</key>
                <string>{272,314}</string>
                <key>spriteSourceSize</key>
                <string>{480,342}</string>
                <key>textureRect</key>
                <string>{{1,1455},{272,314}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>King_02_Taunt (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{23,11}</string>
                <key>spriteSize</key>
                <string>{270,314}</string>
                <key>spriteSourceSize</key>
                <string>{480,342}</string>
                <key>textureRect</key>
                <string>{{317,1457},{270,314}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>King_02_Taunt (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,12}</string>
                <key>spriteSize</key>
                <string>{282,316}</string>
                <key>spriteSourceSize</key>
                <string>{480,342}</string>
                <key>textureRect</key>
                <string>{{1,1171},{282,316}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>King_02_Taunt (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,11}</string>
                <key>spriteSize</key>
                <string>{292,316}</string>
                <key>spriteSourceSize</key>
                <string>{480,342}</string>
                <key>textureRect</key>
                <string>{{1,1},{292,316}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>King_02_Taunt (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,11}</string>
                <key>spriteSize</key>
                <string>{292,316}</string>
                <key>spriteSourceSize</key>
                <string>{480,342}</string>
                <key>textureRect</key>
                <string>{{319,1},{292,316}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>King_02_Taunt (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,11}</string>
                <key>spriteSize</key>
                <string>{290,316}</string>
                <key>spriteSourceSize</key>
                <string>{480,342}</string>
                <key>textureRect</key>
                <string>{{319,295},{290,316}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>King_02_Taunt (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,11}</string>
                <key>spriteSize</key>
                <string>{290,316}</string>
                <key>spriteSourceSize</key>
                <string>{480,342}</string>
                <key>textureRect</key>
                <string>{{637,295},{290,316}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>King_02_Taunt (8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,11}</string>
                <key>spriteSize</key>
                <string>{288,316}</string>
                <key>spriteSourceSize</key>
                <string>{480,342}</string>
                <key>textureRect</key>
                <string>{{637,587},{288,316}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>King_02_Taunt (9).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,11}</string>
                <key>spriteSize</key>
                <string>{288,316}</string>
                <key>spriteSourceSize</key>
                <string>{480,342}</string>
                <key>textureRect</key>
                <string>{{637,877},{288,316}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>King_02_Taunt.png</string>
            <key>size</key>
            <string>{954,1728}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:89f29f74fa98d138c3601fcbdcdd11e1:786e6ef17a74b41863dea09f2959e5cb:6b87d48c987039bdb205596b23ebed02$</string>
            <key>textureFileName</key>
            <string>King_02_Taunt.png</string>
        </dict>
    </dict>
</plist>
