<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Mummy_01_Attacking (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{25,9}</string>
                <key>spriteSize</key>
                <string>{224,244}</string>
                <key>spriteSourceSize</key>
                <string>{520,420}</string>
                <key>textureRect</key>
                <string>{{775,743},{224,244}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mummy_01_Attacking (10).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{62,6}</string>
                <key>spriteSize</key>
                <string>{280,238}</string>
                <key>spriteSourceSize</key>
                <string>{520,420}</string>
                <key>textureRect</key>
                <string>{{1,243},{280,238}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mummy_01_Attacking (11).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{60,7}</string>
                <key>spriteSize</key>
                <string>{276,240}</string>
                <key>spriteSourceSize</key>
                <string>{520,420}</string>
                <key>textureRect</key>
                <string>{{283,1},{276,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mummy_01_Attacking (12).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{48,8}</string>
                <key>spriteSize</key>
                <string>{254,242}</string>
                <key>spriteSourceSize</key>
                <string>{520,420}</string>
                <key>textureRect</key>
                <string>{{253,1237},{254,242}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mummy_01_Attacking (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,10}</string>
                <key>spriteSize</key>
                <string>{192,246}</string>
                <key>spriteSourceSize</key>
                <string>{520,420}</string>
                <key>textureRect</key>
                <string>{{1279,743},{192,246}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mummy_01_Attacking (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,11}</string>
                <key>spriteSize</key>
                <string>{188,248}</string>
                <key>spriteSourceSize</key>
                <string>{520,420}</string>
                <key>textureRect</key>
                <string>{{707,987},{188,248}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mummy_01_Attacking (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,12}</string>
                <key>spriteSize</key>
                <string>{192,250}</string>
                <key>spriteSourceSize</key>
                <string>{520,420}</string>
                <key>textureRect</key>
                <string>{{705,1237},{192,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mummy_01_Attacking (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,12}</string>
                <key>spriteSize</key>
                <string>{192,250}</string>
                <key>spriteSourceSize</key>
                <string>{520,420}</string>
                <key>textureRect</key>
                <string>{{1095,1223},{192,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mummy_01_Attacking (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,12}</string>
                <key>spriteSize</key>
                <string>{194,250}</string>
                <key>spriteSourceSize</key>
                <string>{520,420}</string>
                <key>textureRect</key>
                <string>{{263,985},{194,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mummy_01_Attacking (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,13}</string>
                <key>spriteSize</key>
                <string>{194,252}</string>
                <key>spriteSourceSize</key>
                <string>{520,420}</string>
                <key>textureRect</key>
                <string>{{899,1227},{194,252}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mummy_01_Attacking (8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,11}</string>
                <key>spriteSize</key>
                <string>{206,248}</string>
                <key>spriteSourceSize</key>
                <string>{520,420}</string>
                <key>textureRect</key>
                <string>{{497,1237},{206,248}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mummy_01_Attacking (9).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{61,7}</string>
                <key>spriteSize</key>
                <string>{280,240}</string>
                <key>spriteSourceSize</key>
                <string>{520,420}</string>
                <key>textureRect</key>
                <string>{{1,1},{280,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mummy_01_Dying (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{25,9}</string>
                <key>spriteSize</key>
                <string>{224,244}</string>
                <key>spriteSourceSize</key>
                <string>{520,420}</string>
                <key>textureRect</key>
                <string>{{1021,743},{224,244}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mummy_01_Dying (10).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-58,-13}</string>
                <key>spriteSize</key>
                <string>{228,198}</string>
                <key>spriteSourceSize</key>
                <string>{520,420}</string>
                <key>textureRect</key>
                <string>{{1513,251},{228,198}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mummy_01_Dying (11).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-63,-22}</string>
                <key>spriteSize</key>
                <string>{240,198}</string>
                <key>spriteSourceSize</key>
                <string>{520,420}</string>
                <key>textureRect</key>
                <string>{{1475,699},{240,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mummy_01_Dying (12).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-63,-20}</string>
                <key>spriteSize</key>
                <string>{242,218}</string>
                <key>spriteSourceSize</key>
                <string>{520,420}</string>
                <key>textureRect</key>
                <string>{{1473,899},{242,218}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mummy_01_Dying (13).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-63,-20}</string>
                <key>spriteSize</key>
                <string>{242,218}</string>
                <key>spriteSourceSize</key>
                <string>{520,420}</string>
                <key>textureRect</key>
                <string>{{1473,899},{242,218}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mummy_01_Dying (14).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-63,-20}</string>
                <key>spriteSize</key>
                <string>{242,218}</string>
                <key>spriteSourceSize</key>
                <string>{520,420}</string>
                <key>textureRect</key>
                <string>{{1473,899},{242,218}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mummy_01_Dying (15).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-63,-20}</string>
                <key>spriteSize</key>
                <string>{242,218}</string>
                <key>spriteSourceSize</key>
                <string>{520,420}</string>
                <key>textureRect</key>
                <string>{{1473,899},{242,218}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mummy_01_Dying (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{27,11}</string>
                <key>spriteSize</key>
                <string>{222,244}</string>
                <key>spriteSourceSize</key>
                <string>{520,420}</string>
                <key>textureRect</key>
                <string>{{1251,497},{222,244}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mummy_01_Dying (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{29,12}</string>
                <key>spriteSize</key>
                <string>{220,242}</string>
                <key>spriteSourceSize</key>
                <string>{520,420}</string>
                <key>textureRect</key>
                <string>{{1029,499},{220,242}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mummy_01_Dying (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{32,14}</string>
                <key>spriteSize</key>
                <string>{216,242}</string>
                <key>spriteSourceSize</key>
                <string>{520,420}</string>
                <key>textureRect</key>
                <string>{{1295,253},{216,242}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mummy_01_Dying (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,16}</string>
                <key>spriteSize</key>
                <string>{204,248}</string>
                <key>spriteSourceSize</key>
                <string>{520,420}</string>
                <key>textureRect</key>
                <string>{{1289,1119},{204,248}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mummy_01_Dying (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,18}</string>
                <key>spriteSize</key>
                <string>{186,252}</string>
                <key>spriteSourceSize</key>
                <string>{520,420}</string>
                <key>textureRect</key>
                <string>{{1091,969},{186,252}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mummy_01_Dying (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-24,22}</string>
                <key>spriteSize</key>
                <string>{192,256}</string>
                <key>spriteSourceSize</key>
                <string>{520,420}</string>
                <key>textureRect</key>
                <string>{{897,969},{192,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mummy_01_Dying (8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-42,17}</string>
                <key>spriteSize</key>
                <string>{200,240}</string>
                <key>spriteSourceSize</key>
                <string>{520,420}</string>
                <key>textureRect</key>
                <string>{{1475,497},{200,240}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mummy_01_Dying (9).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-52,0}</string>
                <key>spriteSize</key>
                <string>{216,218}</string>
                <key>spriteSourceSize</key>
                <string>{520,420}</string>
                <key>textureRect</key>
                <string>{{1495,1119},{216,218}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mummy_01_Walking (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{43,8}</string>
                <key>spriteSize</key>
                <string>{244,242}</string>
                <key>spriteSourceSize</key>
                <string>{520,420}</string>
                <key>textureRect</key>
                <string>{{1049,253},{244,242}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mummy_01_Walking (10).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{49,7}</string>
                <key>spriteSize</key>
                <string>{254,242}</string>
                <key>spriteSourceSize</key>
                <string>{520,420}</string>
                <key>textureRect</key>
                <string>{{527,495},{254,242}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mummy_01_Walking (11).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{48,7}</string>
                <key>spriteSize</key>
                <string>{256,242}</string>
                <key>spriteSourceSize</key>
                <string>{520,420}</string>
                <key>textureRect</key>
                <string>{{543,251},{256,242}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mummy_01_Walking (12).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{47,8}</string>
                <key>spriteSize</key>
                <string>{256,244}</string>
                <key>spriteSourceSize</key>
                <string>{520,420}</string>
                <key>textureRect</key>
                <string>{{263,739},{256,244}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mummy_01_Walking (13).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{44,10}</string>
                <key>spriteSize</key>
                <string>{258,246}</string>
                <key>spriteSourceSize</key>
                <string>{520,420}</string>
                <key>textureRect</key>
                <string>{{267,491},{258,246}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mummy_01_Walking (14).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{40,11}</string>
                <key>spriteSize</key>
                <string>{260,248}</string>
                <key>spriteSourceSize</key>
                <string>{520,420}</string>
                <key>textureRect</key>
                <string>{{561,1},{260,248}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mummy_01_Walking (15).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{38,12}</string>
                <key>spriteSize</key>
                <string>{258,250}</string>
                <key>spriteSourceSize</key>
                <string>{520,420}</string>
                <key>textureRect</key>
                <string>{{823,1},{258,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mummy_01_Walking (16).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{38,12}</string>
                <key>spriteSize</key>
                <string>{258,250}</string>
                <key>spriteSourceSize</key>
                <string>{520,420}</string>
                <key>textureRect</key>
                <string>{{1083,1},{258,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mummy_01_Walking (17).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{40,11}</string>
                <key>spriteSize</key>
                <string>{254,250}</string>
                <key>spriteSourceSize</key>
                <string>{520,420}</string>
                <key>textureRect</key>
                <string>{{1,1237},{254,250}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mummy_01_Walking (18).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{42,9}</string>
                <key>spriteSize</key>
                <string>{248,246}</string>
                <key>spriteSourceSize</key>
                <string>{520,420}</string>
                <key>textureRect</key>
                <string>{{459,987},{248,246}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mummy_01_Walking (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{44,7}</string>
                <key>spriteSize</key>
                <string>{244,242}</string>
                <key>spriteSourceSize</key>
                <string>{520,420}</string>
                <key>textureRect</key>
                <string>{{783,499},{244,242}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mummy_01_Walking (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{43,8}</string>
                <key>spriteSize</key>
                <string>{246,244}</string>
                <key>spriteSourceSize</key>
                <string>{520,420}</string>
                <key>textureRect</key>
                <string>{{801,253},{246,244}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mummy_01_Walking (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{41,10}</string>
                <key>spriteSize</key>
                <string>{252,246}</string>
                <key>spriteSourceSize</key>
                <string>{520,420}</string>
                <key>textureRect</key>
                <string>{{521,739},{252,246}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mummy_01_Walking (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{39,11}</string>
                <key>spriteSize</key>
                <string>{256,248}</string>
                <key>spriteSourceSize</key>
                <string>{520,420}</string>
                <key>textureRect</key>
                <string>{{1343,1},{256,248}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mummy_01_Walking (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{39,12}</string>
                <key>spriteSize</key>
                <string>{260,250}</string>
                <key>spriteSourceSize</key>
                <string>{520,420}</string>
                <key>textureRect</key>
                <string>{{1,735},{260,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mummy_01_Walking (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{41,12}</string>
                <key>spriteSize</key>
                <string>{264,250}</string>
                <key>spriteSourceSize</key>
                <string>{520,420}</string>
                <key>textureRect</key>
                <string>{{1,483},{264,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mummy_01_Walking (8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{45,10}</string>
                <key>spriteSize</key>
                <string>{260,248}</string>
                <key>spriteSourceSize</key>
                <string>{520,420}</string>
                <key>textureRect</key>
                <string>{{1,987},{260,248}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mummy_01_Walking (9).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{47,9}</string>
                <key>spriteSize</key>
                <string>{258,246}</string>
                <key>spriteSourceSize</key>
                <string>{520,420}</string>
                <key>textureRect</key>
                <string>{{283,243},{258,246}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Mummy_01.png</string>
            <key>size</key>
            <string>{1716,1492}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b7ac80f80c8e12b28b96148914960273:37509028507fd87fce3c1a31371bf369:d01e07952f254ba9d7445a9011dd309c$</string>
            <key>textureFileName</key>
            <string>Mummy_01.png</string>
        </dict>
    </dict>
</plist>
