<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Mummy_02_Attacking (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{17,10}</string>
                <key>spriteSize</key>
                <string>{254,246}</string>
                <key>spriteSourceSize</key>
                <string>{520,420}</string>
                <key>textureRect</key>
                <string>{{1,949},{254,246}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mummy_02_Attacking (10).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{58,5}</string>
                <key>spriteSize</key>
                <string>{270,240}</string>
                <key>spriteSourceSize</key>
                <string>{520,420}</string>
                <key>textureRect</key>
                <string>{{525,463},{270,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mummy_02_Attacking (11).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{54,7}</string>
                <key>spriteSize</key>
                <string>{276,240}</string>
                <key>spriteSourceSize</key>
                <string>{520,420}</string>
                <key>textureRect</key>
                <string>{{797,465},{276,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mummy_02_Attacking (12).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{41,8}</string>
                <key>spriteSize</key>
                <string>{272,242}</string>
                <key>spriteSourceSize</key>
                <string>{520,420}</string>
                <key>textureRect</key>
                <string>{{1319,471},{272,242}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mummy_02_Attacking (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,13}</string>
                <key>spriteSize</key>
                <string>{232,252}</string>
                <key>spriteSourceSize</key>
                <string>{520,420}</string>
                <key>textureRect</key>
                <string>{{1009,231},{232,252}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mummy_02_Attacking (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,15}</string>
                <key>spriteSize</key>
                <string>{230,256}</string>
                <key>spriteSourceSize</key>
                <string>{520,420}</string>
                <key>textureRect</key>
                <string>{{1571,1},{230,256}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mummy_02_Attacking (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-18,18}</string>
                <key>spriteSize</key>
                <string>{228,262}</string>
                <key>spriteSourceSize</key>
                <string>{520,420}</string>
                <key>textureRect</key>
                <string>{{249,1},{228,262}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mummy_02_Attacking (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-20,19}</string>
                <key>spriteSize</key>
                <string>{228,264}</string>
                <key>spriteSourceSize</key>
                <string>{520,420}</string>
                <key>textureRect</key>
                <string>{{513,1},{228,264}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mummy_02_Attacking (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-22,19}</string>
                <key>spriteSize</key>
                <string>{228,264}</string>
                <key>spriteSourceSize</key>
                <string>{520,420}</string>
                <key>textureRect</key>
                <string>{{779,1},{228,264}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mummy_02_Attacking (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-23,20}</string>
                <key>spriteSize</key>
                <string>{228,266}</string>
                <key>spriteSourceSize</key>
                <string>{520,420}</string>
                <key>textureRect</key>
                <string>{{1045,1},{228,266}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mummy_02_Attacking (8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,12}</string>
                <key>spriteSize</key>
                <string>{236,250}</string>
                <key>spriteSourceSize</key>
                <string>{520,420}</string>
                <key>textureRect</key>
                <string>{{1507,233},{236,250}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mummy_02_Attacking (9).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{55,7}</string>
                <key>spriteSize</key>
                <string>{278,240}</string>
                <key>spriteSourceSize</key>
                <string>{520,420}</string>
                <key>textureRect</key>
                <string>{{245,463},{278,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mummy_02_Dying (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{17,10}</string>
                <key>spriteSize</key>
                <string>{254,246}</string>
                <key>spriteSourceSize</key>
                <string>{520,420}</string>
                <key>textureRect</key>
                <string>{{257,949},{254,246}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mummy_02_Dying (10).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-69,3}</string>
                <key>spriteSize</key>
                <string>{250,230}</string>
                <key>spriteSourceSize</key>
                <string>{520,420}</string>
                <key>textureRect</key>
                <string>{{251,231},{250,230}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mummy_02_Dying (11).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-66,-8}</string>
                <key>spriteSize</key>
                <string>{246,226}</string>
                <key>spriteSourceSize</key>
                <string>{520,420}</string>
                <key>textureRect</key>
                <string>{{1,1},{246,226}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mummy_02_Dying (12).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-63,-21}</string>
                <key>spriteSize</key>
                <string>{242,232}</string>
                <key>spriteSourceSize</key>
                <string>{520,420}</string>
                <key>textureRect</key>
                <string>{{1263,231},{242,232}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mummy_02_Dying (13).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-63,-21}</string>
                <key>spriteSize</key>
                <string>{242,232}</string>
                <key>spriteSourceSize</key>
                <string>{520,420}</string>
                <key>textureRect</key>
                <string>{{1263,231},{242,232}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mummy_02_Dying (14).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-63,-21}</string>
                <key>spriteSize</key>
                <string>{242,232}</string>
                <key>spriteSourceSize</key>
                <string>{520,420}</string>
                <key>textureRect</key>
                <string>{{1263,231},{242,232}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mummy_02_Dying (15).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-63,-21}</string>
                <key>spriteSize</key>
                <string>{242,232}</string>
                <key>spriteSourceSize</key>
                <string>{520,420}</string>
                <key>textureRect</key>
                <string>{{1263,231},{242,232}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mummy_02_Dying (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{22,11}</string>
                <key>spriteSize</key>
                <string>{248,244}</string>
                <key>spriteSourceSize</key>
                <string>{520,420}</string>
                <key>textureRect</key>
                <string>{{1061,707},{248,244}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mummy_02_Dying (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{27,12}</string>
                <key>spriteSize</key>
                <string>{240,242}</string>
                <key>spriteSourceSize</key>
                <string>{520,420}</string>
                <key>textureRect</key>
                <string>{{1075,465},{240,242}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mummy_02_Dying (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{30,14}</string>
                <key>spriteSize</key>
                <string>{236,242}</string>
                <key>spriteSourceSize</key>
                <string>{520,420}</string>
                <key>textureRect</key>
                <string>{{1,463},{236,242}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mummy_02_Dying (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,16}</string>
                <key>spriteSize</key>
                <string>{230,248}</string>
                <key>spriteSourceSize</key>
                <string>{520,420}</string>
                <key>textureRect</key>
                <string>{{1,231},{230,248}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mummy_02_Dying (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,17}</string>
                <key>spriteSize</key>
                <string>{230,250}</string>
                <key>spriteSourceSize</key>
                <string>{520,420}</string>
                <key>textureRect</key>
                <string>{{757,231},{230,250}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mummy_02_Dying (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-32,22}</string>
                <key>spriteSize</key>
                <string>{228,256}</string>
                <key>spriteSourceSize</key>
                <string>{520,420}</string>
                <key>textureRect</key>
                <string>{{1313,1},{228,256}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mummy_02_Dying (8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-56,23}</string>
                <key>spriteSize</key>
                <string>{230,252}</string>
                <key>spriteSourceSize</key>
                <string>{520,420}</string>
                <key>textureRect</key>
                <string>{{503,231},{230,252}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mummy_02_Dying (9).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-65,14}</string>
                <key>spriteSize</key>
                <string>{242,246}</string>
                <key>spriteSourceSize</key>
                <string>{520,420}</string>
                <key>textureRect</key>
                <string>{{1593,471},{242,246}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mummy_02_Walking (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{37,8}</string>
                <key>spriteSize</key>
                <string>{264,242}</string>
                <key>spriteSourceSize</key>
                <string>{520,420}</string>
                <key>textureRect</key>
                <string>{{1,705},{264,242}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mummy_02_Walking (10).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{38,7}</string>
                <key>spriteSize</key>
                <string>{262,242}</string>
                <key>spriteSourceSize</key>
                <string>{520,420}</string>
                <key>textureRect</key>
                <string>{{531,705},{262,242}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mummy_02_Walking (11).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{38,7}</string>
                <key>spriteSize</key>
                <string>{264,242}</string>
                <key>spriteSourceSize</key>
                <string>{520,420}</string>
                <key>textureRect</key>
                <string>{{795,707},{264,242}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mummy_02_Walking (12).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{36,8}</string>
                <key>spriteSize</key>
                <string>{268,244}</string>
                <key>spriteSourceSize</key>
                <string>{520,420}</string>
                <key>textureRect</key>
                <string>{{1575,715},{268,244}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mummy_02_Walking (13).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{32,10}</string>
                <key>spriteSize</key>
                <string>{276,246}</string>
                <key>spriteSourceSize</key>
                <string>{520,420}</string>
                <key>textureRect</key>
                <string>{{1059,961},{276,246}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mummy_02_Walking (14).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{28,12}</string>
                <key>spriteSize</key>
                <string>{280,250}</string>
                <key>spriteSourceSize</key>
                <string>{520,420}</string>
                <key>textureRect</key>
                <string>{{281,1197},{280,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mummy_02_Walking (15).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{25,14}</string>
                <key>spriteSize</key>
                <string>{284,254}</string>
                <key>spriteSourceSize</key>
                <string>{520,420}</string>
                <key>textureRect</key>
                <string>{{1413,1211},{284,254}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mummy_02_Walking (16).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{26,15}</string>
                <key>spriteSize</key>
                <string>{284,256}</string>
                <key>spriteSourceSize</key>
                <string>{520,420}</string>
                <key>textureRect</key>
                <string>{{1699,1211},{284,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mummy_02_Walking (17).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{29,12}</string>
                <key>spriteSize</key>
                <string>{278,252}</string>
                <key>spriteSourceSize</key>
                <string>{520,420}</string>
                <key>textureRect</key>
                <string>{{847,1209},{278,252}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mummy_02_Walking (18).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{33,9}</string>
                <key>spriteSize</key>
                <string>{272,246}</string>
                <key>spriteSourceSize</key>
                <string>{520,420}</string>
                <key>textureRect</key>
                <string>{{1337,961},{272,246}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mummy_02_Walking (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{38,7}</string>
                <key>spriteSize</key>
                <string>{262,242}</string>
                <key>spriteSourceSize</key>
                <string>{520,420}</string>
                <key>textureRect</key>
                <string>{{267,705},{262,242}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mummy_02_Walking (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{37,8}</string>
                <key>spriteSize</key>
                <string>{262,244}</string>
                <key>spriteSourceSize</key>
                <string>{520,420}</string>
                <key>textureRect</key>
                <string>{{1311,715},{262,244}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mummy_02_Walking (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{33,10}</string>
                <key>spriteSize</key>
                <string>{270,246}</string>
                <key>spriteSourceSize</key>
                <string>{520,420}</string>
                <key>textureRect</key>
                <string>{{513,949},{270,246}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mummy_02_Walking (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{28,11}</string>
                <key>spriteSize</key>
                <string>{278,248}</string>
                <key>spriteSourceSize</key>
                <string>{520,420}</string>
                <key>textureRect</key>
                <string>{{1611,961},{278,248}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mummy_02_Walking (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{27,13}</string>
                <key>spriteSize</key>
                <string>{282,252}</string>
                <key>spriteSourceSize</key>
                <string>{520,420}</string>
                <key>textureRect</key>
                <string>{{563,1199},{282,252}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mummy_02_Walking (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{27,14}</string>
                <key>spriteSize</key>
                <string>{284,254}</string>
                <key>spriteSourceSize</key>
                <string>{520,420}</string>
                <key>textureRect</key>
                <string>{{1127,1209},{284,254}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mummy_02_Walking (8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{31,10}</string>
                <key>spriteSize</key>
                <string>{278,248}</string>
                <key>spriteSourceSize</key>
                <string>{520,420}</string>
                <key>textureRect</key>
                <string>{{1,1197},{278,248}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mummy_02_Walking (9).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{34,9}</string>
                <key>spriteSize</key>
                <string>{272,246}</string>
                <key>spriteSourceSize</key>
                <string>{520,420}</string>
                <key>textureRect</key>
                <string>{{785,951},{272,246}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Mummy_02.png</string>
            <key>size</key>
            <string>{1984,1468}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:507b5cc5e3a9b156c5d4b963713eabfa:58826c0a4311a0f676920110f0a016d5:f3065cd518731406c0f6c3f18417ae48$</string>
            <key>textureFileName</key>
            <string>Mummy_02.png</string>
        </dict>
    </dict>
</plist>
