<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Mummy_03_Attacking (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,18.5}</string>
                <key>spriteSize</key>
                <string>{256,283}</string>
                <key>spriteSourceSize</key>
                <string>{520,420}</string>
                <key>textureRect</key>
                <string>{{546,1552},{256,283}}</string>
                <key>textureRotated</key>
                <true/>
                <key>triangles</key>
                <string>0 13 14 10 0 4 10 11 12 5 6 10 8 9 10 8 10 6 8 6 7 4 5 10 10 12 0 0 3 4 1 2 3 0 1 3 0 12 13</string>
                <key>vertices</key>
                <string>345 90 390 107 404 132 391 169 370 186 367 220 331 293 284 333 216 320 184 285 187 248 148 225 148 147 194 67 301 50</string>
                <key>verticesUV</key>
                <string>789 1749 772 1794 747 1808 710 1795 693 1774 659 1771 586 1735 546 1688 559 1620 594 1588 631 1591 654 1552 732 1552 812 1598 829 1705</string>
            </dict>
            <key>Mummy_03_Attacking (10).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{54,17.5}</string>
                <key>spriteSize</key>
                <string>{312,273}</string>
                <key>spriteSourceSize</key>
                <string>{520,420}</string>
                <key>textureRect</key>
                <string>{{1,636},{312,273}}</string>
                <key>textureRotated</key>
                <true/>
                <key>triangles</key>
                <string>14 2 4 14 16 17 14 15 16 14 17 2 12 13 14 11 12 14 7 8 9 6 7 9 5 9 10 5 6 9 4 5 10 4 10 11 4 11 14 2 3 4 1 2 17 1 17 18 0 1 18</string>
                <key>vertices</key>
                <string>370 85 395 133 400 182 382 245 358 263 380 270 437 241 470 269 470 311 418 314 385 303 260 329 221 320 179 263 188 218 158 201 193 111 248 66 298 56</string>
                <key>verticesUV</key>
                <string>245 848 197 873 148 878 85 860 67 836 60 858 89 915 61 948 19 948 16 896 27 863 1 738 10 699 67 657 112 666 129 636 219 671 264 726 274 776</string>
            </dict>
            <key>Mummy_03_Attacking (11).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{57,19}</string>
                <key>spriteSize</key>
                <string>{314,266}</string>
                <key>spriteSourceSize</key>
                <string>{520,420}</string>
                <key>textureRect</key>
                <string>{{1,320},{314,266}}</string>
                <key>textureRotated</key>
                <true/>
                <key>triangles</key>
                <string>10 13 14 10 12 13 10 11 12 8 9 10 7 2 6 7 8 10 7 10 2 3 4 5 2 3 5 2 5 6 1 2 10 1 10 14 0 1 14</string>
                <key>vertices</key>
                <string>357 80 387 131 390 215 431 197 474 212 453 266 389 270 291 324 221 323 173 261 190 236 160 206 170 130 233 63 302 58</string>
                <key>verticesUV</key>
                <string>245 517 194 547 110 550 128 591 113 634 59 613 55 549 1 451 2 381 64 333 89 350 119 320 195 330 262 393 267 462</string>
            </dict>
            <key>Mummy_03_Attacking (12).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{39,17}</string>
                <key>spriteSize</key>
                <string>{296,272}</string>
                <key>spriteSourceSize</key>
                <string>{520,420}</string>
                <key>textureRect</key>
                <string>{{542,627},{296,272}}</string>
                <key>textureRotated</key>
                <true/>
                <key>triangles</key>
                <string>12 13 14 9 12 14 9 11 12 9 10 11 4 5 9 7 8 9 6 7 9 5 6 9 1 4 9 1 3 4 1 2 3 1 9 14 0 1 14</string>
                <key>vertices</key>
                <string>343 70 386 144 440 152 447 203 382 237 302 321 260 329 221 320 178 274 190 241 151 214 157 162 176 114 216 65 274 57</string>
                <key>verticesUV</key>
                <string>801 819 727 862 719 916 668 923 634 858 550 778 542 736 551 697 597 654 630 666 657 627 709 633 757 652 806 692 814 750</string>
            </dict>
            <key>Mummy_03_Attacking (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4.5,18.5}</string>
                <key>spriteSize</key>
                <string>{225,279}</string>
                <key>spriteSourceSize</key>
                <string>{520,420}</string>
                <key>textureRect</key>
                <string>{{1369,541},{225,279}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>11 12 13 3 11 13 9 10 11 7 5 6 7 8 9 7 9 5 3 5 9 3 4 5 3 9 11 1 2 3 0 1 3 0 3 13</string>
                <key>vertices</key>
                <string>319 66 355 98 368 210 345 219 344 278 306 283 304 320 251 331 181 305 184 249 143 230 144 153 181 67 271 52</string>
                <key>verticesUV</key>
                <string>1545 555 1581 587 1594 699 1571 708 1570 767 1532 772 1530 809 1477 820 1407 794 1410 738 1369 719 1370 642 1407 556 1497 541</string>
            </dict>
            <key>Mummy_03_Attacking (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12.5,20}</string>
                <key>spriteSize</key>
                <string>{229,270}</string>
                <key>spriteSourceSize</key>
                <string>{520,420}</string>
                <key>textureRect</key>
                <string>{{1358,1347},{229,270}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>0 3 11 9 10 11 7 9 11 7 8 9 5 3 4 6 7 3 6 3 5 3 7 11 1 2 3 0 1 3 0 11 12</string>
                <key>vertices</key>
                <string>355 117 362 199 347 261 305 260 305 323 227 325 184 290 175 250 143 236 133 154 176 74 226 58 298 55</string>
                <key>verticesUV</key>
                <string>1580 1409 1587 1491 1572 1553 1530 1552 1530 1615 1452 1617 1409 1582 1400 1542 1368 1528 1358 1446 1401 1366 1451 1350 1523 1347</string>
            </dict>
            <key>Mummy_03_Attacking (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,20}</string>
                <key>spriteSize</key>
                <string>{230,270}</string>
                <key>spriteSourceSize</key>
                <string>{520,420}</string>
                <key>textureRect</key>
                <string>{{1591,1089},{230,270}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 4 13 11 12 13 11 4 8 8 10 11 8 9 10 6 4 5 7 8 4 7 4 6 11 13 4 2 3 4 1 2 4 0 1 13 0 13 14</string>
                <key>vertices</key>
                <string>333 96 351 142 359 191 343 235 307 247 305 323 227 325 182 289 171 242 142 242 129 171 148 112 173 72 238 55 288 55</string>
                <key>verticesUV</key>
                <string>1795 1130 1813 1176 1821 1225 1805 1269 1769 1281 1767 1357 1689 1359 1644 1323 1633 1276 1604 1276 1591 1205 1610 1146 1635 1106 1700 1089 1750 1089</string>
            </dict>
            <key>Mummy_03_Attacking (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-17,20.5}</string>
                <key>spriteSize</key>
                <string>{234,283}</string>
                <key>spriteSourceSize</key>
                <string>{520,420}</string>
                <key>textureRect</key>
                <string>{{1362,1},{234,283}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>0 1 4 10 11 12 8 10 12 8 9 10 6 4 5 7 8 4 7 4 6 4 8 12 2 3 4 1 2 4 0 4 12 0 12 13</string>
                <key>vertices</key>
                <string>333 99 352 147 360 212 336 236 305 242 304 320 251 331 184 306 172 241 142 242 126 165 164 77 207 60 282 48</string>
                <key>verticesUV</key>
                <string>1569 52 1588 100 1596 165 1572 189 1541 195 1540 273 1487 284 1420 259 1408 194 1378 195 1362 118 1400 30 1443 13 1518 1</string>
            </dict>
            <key>Mummy_03_Attacking (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16.5,22}</string>
                <key>spriteSize</key>
                <string>{233,286}</string>
                <key>spriteSourceSize</key>
                <string>{520,420}</string>
                <key>textureRect</key>
                <string>{{1093,588},{233,286}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>0 10 11 9 10 0 7 8 9 5 3 4 5 6 7 5 7 3 0 3 7 1 2 3 0 1 3 9 0 7</string>
                <key>vertices</key>
                <string>329 94 350 137 360 222 307 250 304 320 251 331 183 307 171 241 141 241 127 165 164 68 279 45</string>
                <key>verticesUV</key>
                <string>1295 637 1316 680 1326 765 1273 793 1270 863 1217 874 1149 850 1137 784 1107 784 1093 708 1130 611 1245 588</string>
            </dict>
            <key>Mummy_03_Attacking (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-17.5,20}</string>
                <key>spriteSize</key>
                <string>{235,282}</string>
                <key>spriteSourceSize</key>
                <string>{520,420}</string>
                <key>textureRect</key>
                <string>{{1598,1},{235,282}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>8 0 3 11 8 10 11 12 8 8 9 10 3 5 6 7 8 3 7 3 6 3 4 5 8 12 0 1 2 3 0 1 3 0 12 13</string>
                <key>vertices</key>
                <string>324 88 348 132 360 222 307 249 304 320 251 331 211 315 181 285 168 243 141 241 125 171 155 84 199 55 280 49</string>
                <key>verticesUV</key>
                <string>1797 40 1821 84 1833 174 1780 201 1777 272 1724 283 1684 267 1654 237 1641 195 1614 193 1598 123 1628 36 1672 7 1753 1</string>
            </dict>
            <key>Mummy_03_Attacking (8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3.5,19.5}</string>
                <key>spriteSize</key>
                <string>{233,269}</string>
                <key>spriteSourceSize</key>
                <string>{520,420}</string>
                <key>textureRect</key>
                <string>{{1596,818},{233,269}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>9 10 11 7 9 11 7 8 9 1 2 3 6 7 3 3 4 5 3 5 6 1 3 7 1 7 11 0 1 11</string>
                <key>vertices</key>
                <string>380 94 368 210 341 282 307 298 302 323 226 325 180 277 171 237 147 224 148 136 201 57 304 56</string>
                <key>verticesUV</key>
                <string>1829 856 1817 972 1790 1044 1756 1060 1751 1085 1675 1087 1629 1039 1620 999 1596 986 1597 898 1650 819 1753 818</string>
            </dict>
            <key>Mummy_03_Attacking (9).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{50.5,16}</string>
                <key>spriteSize</key>
                <string>{317,278}</string>
                <key>spriteSourceSize</key>
                <string>{520,420}</string>
                <key>textureRect</key>
                <string>{{1,1},{317,278}}</string>
                <key>textureRotated</key>
                <true/>
                <key>triangles</key>
                <string>14 15 16 1 14 16 12 13 14 12 2 8 11 12 8 8 9 10 8 10 11 2 7 8 3 5 6 3 4 5 2 3 6 2 6 7 12 1 2 1 12 14 0 1 16</string>
                <key>vertices</key>
                <string>362 80 386 134 394 219 436 205 469 221 469 253 442 280 397 272 310 309 286 333 220 321 181 264 180 221 152 203 183 114 233 64 293 55</string>
                <key>verticesUV</key>
                <string>254 211 200 235 115 243 129 285 113 318 81 318 54 291 62 246 25 159 1 135 13 69 70 30 113 29 131 1 220 32 270 82 279 142</string>
            </dict>
            <key>Mummy_03_Dying (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,18.5}</string>
                <key>spriteSize</key>
                <string>{256,283}</string>
                <key>spriteSourceSize</key>
                <string>{520,420}</string>
                <key>textureRect</key>
                <string>{{1104,1},{256,283}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>0 13 14 10 0 4 10 11 12 5 6 10 8 9 10 8 10 6 8 6 7 4 5 10 10 12 0 0 3 4 1 2 3 0 1 3 0 12 13</string>
                <key>vertices</key>
                <string>345 90 390 107 404 132 391 169 370 186 367 220 331 293 284 333 216 320 184 285 187 248 148 225 148 147 194 67 301 50</string>
                <key>verticesUV</key>
                <string>1301 41 1346 58 1360 83 1347 120 1326 137 1323 171 1287 244 1240 284 1172 271 1140 236 1143 199 1104 176 1104 98 1150 18 1257 1</string>
            </dict>
            <key>Mummy_03_Dying (10).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-62.5,-7.5}</string>
                <key>spriteSize</key>
                <string>{255,235}</string>
                <key>spriteSourceSize</key>
                <string>{520,420}</string>
                <key>textureRect</key>
                <string>{{1598,285},{255,235}}</string>
                <key>textureRotated</key>
                <true/>
                <key>triangles</key>
                <string>0 1 4 7 4 6 7 8 9 7 9 4 6 4 5 1 2 3 1 3 4 0 4 9 0 9 10</string>
                <key>vertices</key>
                <string>232 119 296 177 325 289 287 323 201 324 127 335 85 282 70 199 82 164 125 124 170 100</string>
                <key>verticesUV</key>
                <string>1814 447 1756 511 1644 540 1610 502 1609 416 1598 342 1651 300 1734 285 1769 297 1809 340 1833 385</string>
            </dict>
            <key>Mummy_03_Dying (11).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-78,-31}</string>
                <key>spriteSize</key>
                <string>{270,250}</string>
                <key>spriteSourceSize</key>
                <string>{520,420}</string>
                <key>textureRect</key>
                <string>{{831,1474},{270,250}}</string>
                <key>textureRotated</key>
                <true/>
                <key>triangles</key>
                <string>4 9 10 7 8 9 4 7 9 4 5 6 4 6 7 4 1 2 4 2 3 1 4 10 0 1 10</string>
                <key>vertices</key>
                <string>265 163 271 192 317 241 317 323 217 325 175 366 132 351 86 314 47 223 104 133 172 116</string>
                <key>verticesUV</key>
                <string>1034 1692 1005 1698 956 1744 874 1744 872 1644 831 1602 846 1559 883 1513 974 1474 1064 1531 1081 1599</string>
            </dict>
            <key>Mummy_03_Dying (12).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-76,-32.5}</string>
                <key>spriteSize</key>
                <string>{268,259}</string>
                <key>spriteSourceSize</key>
                <string>{520,420}</string>
                <key>textureRect</key>
                <string>{{276,1552},{268,259}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>0 11 12 0 1 10 1 4 9 7 8 9 7 9 4 4 5 6 7 4 6 4 1 2 4 2 3 1 9 10 0 10 11</string>
                <key>vertices</key>
                <string>245 160 255 183 318 244 318 324 237 327 182 372 120 353 71 308 50 266 60 210 80 165 145 116 178 113</string>
                <key>verticesUV</key>
                <string>471 1599 481 1622 544 1683 544 1763 463 1766 408 1811 346 1792 297 1747 276 1705 286 1649 306 1604 371 1555 404 1552</string>
            </dict>
            <key>Mummy_03_Dying (13).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-76,-32.5}</string>
                <key>spriteSize</key>
                <string>{268,259}</string>
                <key>spriteSourceSize</key>
                <string>{520,420}</string>
                <key>textureRect</key>
                <string>{{276,1552},{268,259}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>0 11 12 0 1 10 1 4 9 7 8 9 7 9 4 4 5 6 7 4 6 4 1 2 4 2 3 1 9 10 0 10 11</string>
                <key>vertices</key>
                <string>245 160 255 183 318 244 318 324 237 327 182 372 120 353 71 308 50 266 60 210 80 165 145 116 178 113</string>
                <key>verticesUV</key>
                <string>471 1599 481 1622 544 1683 544 1763 463 1766 408 1811 346 1792 297 1747 276 1705 286 1649 306 1604 371 1555 404 1552</string>
            </dict>
            <key>Mummy_03_Dying (14).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-76,-32.5}</string>
                <key>spriteSize</key>
                <string>{268,259}</string>
                <key>spriteSourceSize</key>
                <string>{520,420}</string>
                <key>textureRect</key>
                <string>{{276,1552},{268,259}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>0 11 12 0 1 10 1 4 9 7 8 9 7 9 4 4 5 6 7 4 6 4 1 2 4 2 3 1 9 10 0 10 11</string>
                <key>vertices</key>
                <string>245 160 255 183 318 244 318 324 237 327 182 372 120 353 71 308 50 266 60 210 80 165 145 116 178 113</string>
                <key>verticesUV</key>
                <string>471 1599 481 1622 544 1683 544 1763 463 1766 408 1811 346 1792 297 1747 276 1705 286 1649 306 1604 371 1555 404 1552</string>
            </dict>
            <key>Mummy_03_Dying (15).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-76,-32.5}</string>
                <key>spriteSize</key>
                <string>{268,259}</string>
                <key>spriteSourceSize</key>
                <string>{520,420}</string>
                <key>textureRect</key>
                <string>{{276,1552},{268,259}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>0 11 12 0 1 10 1 4 9 7 8 9 7 9 4 4 5 6 7 4 6 4 1 2 4 2 3 1 9 10 0 10 11</string>
                <key>vertices</key>
                <string>245 160 255 183 318 244 318 324 237 327 182 372 120 353 71 308 50 266 60 210 80 165 145 116 178 113</string>
                <key>verticesUV</key>
                <string>471 1599 481 1622 544 1683 544 1763 463 1766 408 1811 346 1792 297 1747 276 1705 286 1649 306 1604 371 1555 404 1552</string>
            </dict>
            <key>Mummy_03_Dying (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{19,20.5}</string>
                <key>spriteSize</key>
                <string>{266,263}</string>
                <key>spriteSourceSize</key>
                <string>{520,420}</string>
                <key>textureRect</key>
                <string>{{1092,1464},{266,263}}</string>
                <key>textureRotated</key>
                <true/>
                <key>triangles</key>
                <string>8 9 10 6 8 10 6 7 8 1 2 6 5 6 3 5 3 4 2 3 6 1 6 10 0 1 10</string>
                <key>vertices</key>
                <string>412 120 386 186 332 292 291 321 226 321 202 297 190 252 146 208 156 135 209 58 314 58</string>
                <key>verticesUV</key>
                <string>1293 1730 1227 1704 1121 1650 1092 1609 1092 1544 1116 1520 1161 1508 1205 1464 1278 1474 1355 1527 1355 1632</string>
            </dict>
            <key>Mummy_03_Dying (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{23,22}</string>
                <key>spriteSize</key>
                <string>{264,278}</string>
                <key>spriteSourceSize</key>
                <string>{520,420}</string>
                <key>textureRect</key>
                <string>{{1092,1184},{264,278}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>9 10 11 6 9 11 6 8 9 6 7 8 2 3 6 4 5 6 3 4 6 0 2 6 0 1 2 0 6 11</string>
                <key>vertices</key>
                <string>342 72 415 122 368 228 318 308 254 327 213 314 201 242 151 211 152 171 169 117 219 58 291 49</string>
                <key>verticesUV</key>
                <string>1283 1207 1356 1257 1309 1363 1259 1443 1195 1462 1154 1449 1142 1377 1092 1346 1093 1306 1110 1252 1160 1193 1232 1184</string>
            </dict>
            <key>Mummy_03_Dying (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{21.5,28.5}</string>
                <key>spriteSize</key>
                <string>{259,273}</string>
                <key>spriteSourceSize</key>
                <string>{520,420}</string>
                <key>textureRect</key>
                <string>{{1,1554},{259,273}}</string>
                <key>textureRotated</key>
                <true/>
                <key>triangles</key>
                <string>8 0 4 8 10 11 8 9 10 4 5 6 6 7 8 4 6 8 8 11 0 0 3 4 3 0 1 3 1 2 0 11 12</string>
                <key>vertices</key>
                <string>327 62 389 95 411 134 368 235 342 255 322 303 273 318 206 315 206 247 152 188 169 123 200 83 247 45</string>
                <key>verticesUV</key>
                <string>257 1729 224 1791 185 1813 84 1770 64 1744 16 1724 1 1675 4 1608 72 1608 131 1554 196 1571 236 1602 274 1649</string>
            </dict>
            <key>Mummy_03_Dying (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-0.5,27}</string>
                <key>spriteSize</key>
                <string>{237,274}</string>
                <key>spriteSourceSize</key>
                <string>{520,420}</string>
                <key>textureRect</key>
                <string>{{1596,542},{237,274}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>7 10 11 7 9 10 7 8 9 2 3 7 6 7 4 6 4 5 3 4 7 2 7 11 1 2 11 0 1 11</string>
                <key>vertices</key>
                <string>378 81 363 216 338 241 332 277 278 318 235 320 213 292 207 253 141 201 147 122 211 52 284 46</string>
                <key>verticesUV</key>
                <string>1833 577 1818 712 1793 737 1787 773 1733 814 1690 816 1668 788 1662 749 1596 697 1602 618 1666 548 1739 542</string>
            </dict>
            <key>Mummy_03_Dying (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-17,27}</string>
                <key>spriteSize</key>
                <string>{224,276}</string>
                <key>spriteSourceSize</key>
                <string>{520,420}</string>
                <key>textureRect</key>
                <string>{{1589,1361},{224,276}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>10 11 12 8 10 12 8 9 10 7 5 6 7 8 5 3 4 5 3 5 8 3 8 12 1 2 3 1 3 12 0 1 12</string>
                <key>vertices</key>
                <string>328 57 350 129 355 205 333 218 336 262 296 302 253 321 221 299 209 261 132 216 131 135 179 60 235 45</string>
                <key>verticesUV</key>
                <string>1786 1373 1808 1445 1813 1521 1791 1534 1794 1578 1754 1618 1711 1637 1679 1615 1667 1577 1590 1532 1589 1451 1637 1376 1693 1361</string>
            </dict>
            <key>Mummy_03_Dying (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-31,28.5}</string>
                <key>spriteSize</key>
                <string>{230,275}</string>
                <key>spriteSourceSize</key>
                <string>{520,420}</string>
                <key>textureRect</key>
                <string>{{1359,1070},{230,275}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>0 1 10 8 9 10 6 8 10 6 7 8 2 3 6 5 6 3 5 3 4 1 2 6 1 6 10 0 10 11</string>
                <key>vertices</key>
                <string>320 96 338 143 344 204 311 288 269 319 232 305 210 266 124 238 114 160 145 79 181 59 270 44</string>
                <key>verticesUV</key>
                <string>1565 1122 1583 1169 1589 1230 1556 1314 1514 1345 1477 1331 1455 1292 1369 1264 1359 1186 1390 1105 1426 1085 1515 1070</string>
            </dict>
            <key>Mummy_03_Dying (8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-46.5,21.5}</string>
                <key>spriteSize</key>
                <string>{227,253}</string>
                <key>spriteSourceSize</key>
                <string>{520,420}</string>
                <key>textureRect</key>
                <string>{{1369,286},{227,253}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>0 10 11 8 9 10 5 8 10 5 7 8 5 6 7 2 3 4 2 4 5 1 2 5 10 0 1 10 1 5</string>
                <key>vertices</key>
                <string>287 86 327 173 314 298 283 315 247 315 189 275 124 275 104 226 100 174 119 95 191 66 234 62</string>
                <key>verticesUV</key>
                <string>1556 310 1596 397 1583 522 1552 539 1516 539 1458 499 1393 499 1373 450 1369 398 1388 319 1460 290 1503 286</string>
            </dict>
            <key>Mummy_03_Dying (9).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-59.5,10}</string>
                <key>spriteSize</key>
                <string>{233,246}</string>
                <key>spriteSourceSize</key>
                <string>{520,420}</string>
                <key>textureRect</key>
                <string>{{1359,822},{233,246}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>0 5 10 8 9 10 8 5 7 8 10 5 5 6 7 2 3 4 2 4 5 5 0 1 5 1 2 0 10 11</string>
                <key>vertices</key>
                <string>255 102 307 163 317 263 307 305 267 323 200 301 120 302 93 252 84 190 93 135 138 99 196 77</string>
                <key>verticesUV</key>
                <string>1530 847 1582 908 1592 1008 1582 1050 1542 1068 1475 1046 1395 1047 1368 997 1359 935 1368 880 1413 844 1471 822</string>
            </dict>
            <key>Mummy_03_Walking (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{34.5,17.5}</string>
                <key>spriteSize</key>
                <string>{285,267}</string>
                <key>spriteSourceSize</key>
                <string>{520,420}</string>
                <key>textureRect</key>
                <string>{{1100,292},{285,267}}</string>
                <key>textureRotated</key>
                <true/>
                <key>triangles</key>
                <string>7 10 11 7 9 10 7 8 9 3 7 11 5 6 7 5 7 3 5 3 4 0 2 3 0 1 2 0 3 11</string>
                <key>vertices</key>
                <string>402 150 429 150 437 199 361 256 301 326 244 322 189 290 181 236 152 214 161 134 221 60 330 59</string>
                <key>verticesUV</key>
                <string>1276 542 1276 569 1227 577 1170 501 1100 441 1104 384 1136 329 1190 321 1212 292 1292 301 1366 361 1367 470</string>
            </dict>
            <key>Mummy_03_Walking (10).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{36,19}</string>
                <key>spriteSize</key>
                <string>{300,270}</string>
                <key>spriteSourceSize</key>
                <string>{520,420}</string>
                <key>textureRect</key>
                <string>{{1,1252},{300,270}}</string>
                <key>textureRotated</key>
                <true/>
                <key>triangles</key>
                <string>11 12 13 1 11 13 9 10 11 6 7 9 7 8 9 2 6 9 2 5 6 2 3 4 2 4 5 1 2 9 1 9 11 0 1 13</string>
                <key>vertices</key>
                <string>339 67 376 127 387 223 436 224 446 254 427 294 362 288 287 326 211 323 211 262 146 210 165 139 202 75 236 56</string>
                <key>verticesUV</key>
                <string>260 1445 200 1482 104 1493 103 1542 73 1552 33 1533 39 1468 1 1393 4 1317 65 1317 117 1252 188 1271 252 1308 271 1342</string>
            </dict>
            <key>Mummy_03_Walking (11).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{38,18.5}</string>
                <key>spriteSize</key>
                <string>{298,269}</string>
                <key>spriteSourceSize</key>
                <string>{520,420}</string>
                <key>textureRect</key>
                <string>{{275,950},{298,269}}</string>
                <key>textureRotated</key>
                <true/>
                <key>triangles</key>
                <string>13 14 15 11 13 15 11 12 13 8 9 11 9 10 11 2 7 8 2 8 11 2 6 7 2 4 5 2 3 4 2 5 6 1 2 11 1 11 15 0 1 15</string>
                <key>vertices</key>
                <string>344 76 377 132 381 222 431 206 447 240 436 268 401 282 362 282 324 297 296 324 212 326 211 261 149 210 164 127 218 64 292 57</string>
                <key>verticesUV</key>
                <string>525 1145 469 1178 379 1182 395 1232 361 1248 333 1237 319 1202 319 1163 304 1125 277 1097 275 1013 340 1012 391 950 474 965 537 1019 544 1093</string>
            </dict>
            <key>Mummy_03_Walking (12).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{40,18}</string>
                <key>spriteSize</key>
                <string>{298,264}</string>
                <key>spriteSourceSize</key>
                <string>{520,420}</string>
                <key>textureRect</key>
                <string>{{276,627},{298,264}}</string>
                <key>textureRotated</key>
                <true/>
                <key>triangles</key>
                <string>0 2 13 10 12 13 10 11 12 7 8 10 8 9 10 3 7 10 3 6 7 4 5 6 3 4 6 2 3 10 2 10 13 0 1 2 0 13 14</string>
                <key>vertices</key>
                <string>311 61 349 80 374 130 381 213 410 197 449 213 432 266 372 271 293 324 217 324 202 250 151 220 152 173 169 119 218 60</string>
                <key>verticesUV</key>
                <string>539 787 520 825 470 850 387 857 403 886 387 925 334 908 329 848 276 769 276 693 350 678 380 627 427 628 481 645 540 694</string>
            </dict>
            <key>Mummy_03_Walking (13).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{38,20}</string>
                <key>spriteSize</key>
                <string>{300,272}</string>
                <key>spriteSourceSize</key>
                <string>{520,420}</string>
                <key>textureRect</key>
                <string>{{1,950},{300,272}}</string>
                <key>textureRotated</key>
                <true/>
                <key>triangles</key>
                <string>12 13 14 9 12 14 9 11 12 9 10 11 6 7 9 7 8 9 2 6 9 3 4 5 2 3 5 2 5 6 2 9 14 1 2 14 0 1 14</string>
                <key>vertices</key>
                <string>329 67 370 124 371 179 432 192 448 214 429 252 367 264 296 323 218 326 207 256 148 219 148 172 171 103 209 63 275 54</string>
                <key>verticesUV</key>
                <string>260 1131 203 1172 148 1173 135 1234 113 1250 75 1231 63 1169 4 1098 1 1020 71 1009 108 950 155 950 224 973 264 1011 273 1077</string>
            </dict>
            <key>Mummy_03_Walking (14).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{33.5,17}</string>
                <key>spriteSize</key>
                <string>{295,280}</string>
                <key>spriteSourceSize</key>
                <string>{520,420}</string>
                <key>textureRect</key>
                <string>{{543,307},{295,280}}</string>
                <key>textureRotated</key>
                <true/>
                <key>triangles</key>
                <string>12 13 14 10 12 14 10 11 12 9 7 8 9 10 7 2 6 7 2 7 10 5 2 3 5 3 4 2 5 6 1 2 10 1 10 14 0 1 14</string>
                <key>vertices</key>
                <string>313 59 358 102 375 191 397 173 441 179 435 235 365 257 311 298 293 333 220 321 200 251 147 229 146 143 194 63 264 53</string>
                <key>verticesUV</key>
                <string>817 474 774 519 685 536 703 558 697 602 641 596 619 526 578 472 543 454 555 381 625 361 647 308 733 307 813 355 823 425</string>
            </dict>
            <key>Mummy_03_Walking (15).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{29,24.5}</string>
                <key>spriteSize</key>
                <string>{290,275}</string>
                <key>spriteSourceSize</key>
                <string>{520,420}</string>
                <key>textureRect</key>
                <string>{{816,604},{290,275}}</string>
                <key>textureRotated</key>
                <true/>
                <key>triangles</key>
                <string>0 10 11 0 9 10 7 8 9 1 4 7 5 6 7 4 5 7 1 2 3 1 3 4 0 1 7 0 7 9</string>
                <key>vertices</key>
                <string>345 93 375 164 434 167 434 220 362 256 294 323 225 323 198 256 144 225 145 141 190 61 300 48</string>
                <key>verticesUV</key>
                <string>1046 805 975 835 972 894 919 894 883 822 816 754 816 685 883 658 914 604 998 605 1078 650 1091 760</string>
            </dict>
            <key>Mummy_03_Walking (16).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{30,22.5}</string>
                <key>spriteSize</key>
                <string>{288,273}</string>
                <key>spriteSourceSize</key>
                <string>{520,420}</string>
                <key>textureRect</key>
                <string>{{548,1218},{288,273}}</string>
                <key>textureRotated</key>
                <true/>
                <key>triangles</key>
                <string>12 13 14 10 12 14 10 11 12 7 8 10 8 9 10 2 7 10 2 6 7 2 4 5 2 3 4 2 5 6 1 2 10 1 10 14 0 1 14</string>
                <key>vertices</key>
                <string>312 58 353 105 373 172 409 150 434 175 434 207 408 230 379 238 291 323 222 324 183 244 146 225 146 138 191 63 260 51</string>
                <key>verticesUV</key>
                <string>814 1384 767 1425 700 1445 722 1481 697 1506 665 1506 642 1480 634 1451 549 1363 548 1294 628 1255 647 1218 734 1218 809 1263 821 1332</string>
            </dict>
            <key>Mummy_03_Walking (17).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{29.5,21}</string>
                <key>spriteSize</key>
                <string>{287,270}</string>
                <key>spriteSourceSize</key>
                <string>{520,420}</string>
                <key>textureRect</key>
                <string>{{818,896},{287,270}}</string>
                <key>textureRotated</key>
                <true/>
                <key>triangles</key>
                <string>13 14 15 11 13 15 11 12 13 2 7 8 10 11 8 10 8 9 2 8 11 2 6 7 3 4 5 2 5 6 3 5 2 2 11 15 1 2 15 0 1 15</string>
                <key>vertices</key>
                <string>315 59 359 100 375 175 395 155 433 162 433 202 408 227 388 230 291 324 233 324 199 290 188 245 149 223 146 143 201 61 266 54</string>
                <key>verticesUV</key>
                <string>1083 1065 1042 1109 967 1125 987 1145 980 1183 940 1183 915 1158 912 1138 818 1041 818 983 852 949 897 938 919 899 999 896 1081 951 1088 1016</string>
            </dict>
            <key>Mummy_03_Walking (18).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{31.5,19.5}</string>
                <key>spriteSize</key>
                <string>{289,267}</string>
                <key>spriteSourceSize</key>
                <string>{520,420}</string>
                <key>textureRect</key>
                <string>{{835,1},{289,267}}</string>
                <key>textureRotated</key>
                <true/>
                <key>triangles</key>
                <string>1 13 14 12 2 10 10 11 12 7 8 10 8 9 10 6 7 10 2 6 10 2 4 5 2 5 6 2 3 4 12 1 2 12 13 1 0 1 14</string>
                <key>vertices</key>
                <string>319 58 357 96 380 157 431 149 436 196 410 222 383 232 297 324 239 324 195 291 183 241 147 216 156 146 189 81 223 57</string>
                <key>verticesUV</key>
                <string>1101 173 1063 211 1002 234 1010 285 963 290 937 264 927 237 835 151 835 93 868 49 918 37 943 1 1013 10 1078 43 1102 77</string>
            </dict>
            <key>Mummy_03_Walking (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{33,20.5}</string>
                <key>spriteSize</key>
                <string>{290,273}</string>
                <key>spriteSourceSize</key>
                <string>{520,420}</string>
                <key>textureRect</key>
                <string>{{825,296},{290,273}}</string>
                <key>textureRotated</key>
                <true/>
                <key>triangles</key>
                <string>8 1 4 8 9 10 5 6 8 6 7 8 4 5 8 8 10 1 1 3 4 1 2 3 0 1 10 0 10 11</string>
                <key>vertices</key>
                <string>343 69 391 152 431 155 438 210 379 236 296 326 240 324 193 291 183 236 148 207 169 120 234 53</string>
                <key>verticesUV</key>
                <string>1082 491 999 539 996 579 941 586 915 527 825 444 827 388 860 341 915 331 944 296 1031 317 1098 382</string>
            </dict>
            <key>Mummy_03_Walking (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{30,17.5}</string>
                <key>spriteSize</key>
                <string>{286,267}</string>
                <key>spriteSourceSize</key>
                <string>{520,420}</string>
                <key>textureRect</key>
                <string>{{1090,896},{286,267}}</string>
                <key>textureRotated</key>
                <true/>
                <key>triangles</key>
                <string>11 12 13 9 11 13 9 10 11 1 5 9 8 9 6 8 6 7 5 6 9 1 3 4 1 4 5 1 2 3 1 9 13 0 1 13</string>
                <key>vertices</key>
                <string>345 76 393 158 433 158 433 202 410 226 385 231 292 324 238 326 199 293 190 247 147 204 162 140 206 60 302 59</string>
                <key>verticesUV</key>
                <string>1340 1094 1258 1142 1258 1182 1214 1182 1190 1159 1185 1134 1092 1041 1090 987 1123 948 1169 939 1212 896 1276 911 1356 955 1357 1051</string>
            </dict>
            <key>Mummy_03_Walking (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{30.5,20.5}</string>
                <key>spriteSize</key>
                <string>{287,267}</string>
                <key>spriteSourceSize</key>
                <string>{520,420}</string>
                <key>textureRect</key>
                <string>{{823,1185},{287,267}}</string>
                <key>textureRotated</key>
                <true/>
                <key>triangles</key>
                <string>2 11 12 9 10 11 8 6 7 8 9 6 5 6 9 2 5 9 2 4 5 2 3 4 2 9 11 1 2 12 0 1 12</string>
                <key>vertices</key>
                <string>326 58 367 118 374 161 434 162 434 216 366 250 291 323 221 323 204 289 203 255 147 213 152 133 213 56</string>
                <key>verticesUV</key>
                <string>1088 1364 1028 1405 985 1412 984 1472 930 1472 896 1404 823 1329 823 1259 857 1242 891 1241 933 1185 1013 1190 1090 1251</string>
            </dict>
            <key>Mummy_03_Walking (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{31.5,21}</string>
                <key>spriteSize</key>
                <string>{291,270}</string>
                <key>spriteSourceSize</key>
                <string>{520,420}</string>
                <key>textureRect</key>
                <string>{{546,925},{291,270}}</string>
                <key>textureRotated</key>
                <true/>
                <key>triangles</key>
                <string>12 13 14 10 12 14 10 11 12 9 7 8 9 10 7 6 7 10 2 6 10 2 4 5 2 3 4 2 5 6 1 2 10 1 10 14 0 1 14</string>
                <key>vertices</key>
                <string>328 67 360 113 376 178 397 158 437 172 432 223 363 253 305 304 295 323 220 324 199 253 147 220 146 148 194 58 291 54</string>
                <key>verticesUV</key>
                <string>803 1107 757 1139 692 1155 712 1176 698 1216 647 1211 617 1142 566 1084 547 1074 546 999 617 978 650 926 722 925 812 973 816 1070</string>
            </dict>
            <key>Mummy_03_Walking (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{30.5,18}</string>
                <key>spriteSize</key>
                <string>{293,280}</string>
                <key>spriteSourceSize</key>
                <string>{520,420}</string>
                <key>textureRect</key>
                <string>{{553,1},{293,280}}</string>
                <key>textureRotated</key>
                <true/>
                <key>triangles</key>
                <string>1 9 11 9 10 11 7 8 9 6 7 9 2 6 9 5 2 3 5 3 4 2 5 6 1 2 9 1 11 12 0 1 12</string>
                <key>vertices</key>
                <string>312 55 355 105 375 187 397 170 437 178 437 231 363 257 285 332 221 321 208 267 145 221 144 135 203 52</string>
                <key>verticesUV</key>
                <string>830 169 780 212 698 232 715 254 707 294 654 294 628 220 553 142 564 78 618 65 664 2 750 1 833 60</string>
            </dict>
            <key>Mummy_03_Walking (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{35.5,22}</string>
                <key>spriteSize</key>
                <string>{305,272}</string>
                <key>spriteSourceSize</key>
                <string>{520,420}</string>
                <key>textureRect</key>
                <string>{{269,320},{305,272}}</string>
                <key>textureRotated</key>
                <true/>
                <key>triangles</key>
                <string>12 13 14 9 12 14 9 11 12 9 10 11 8 6 7 8 9 6 5 6 9 2 5 9 2 3 4 2 4 5 1 2 9 1 9 14 0 1 14</string>
                <key>vertices</key>
                <string>315 59 361 113 372 185 448 185 433 246 352 272 308 303 301 324 218 323 210 257 148 225 143 176 156 121 194 60 269 52</string>
                <key>verticesUV</key>
                <string>534 492 480 538 408 549 408 625 347 610 321 529 290 485 269 478 270 395 336 387 368 325 417 320 472 333 533 371 541 446</string>
            </dict>
            <key>Mummy_03_Walking (8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{38,21.5}</string>
                <key>spriteSize</key>
                <string>{298,273}</string>
                <key>spriteSourceSize</key>
                <string>{520,420}</string>
                <key>textureRect</key>
                <string>{{273,1252},{298,273}}</string>
                <key>textureRotated</key>
                <true/>
                <key>triangles</key>
                <string>12 13 14 1 12 14 9 11 12 9 10 11 6 7 9 7 8 9 2 6 9 3 4 5 2 3 5 2 5 6 1 2 9 1 9 12 0 1 14</string>
                <key>vertices</key>
                <string>334 69 363 119 378 198 415 198 447 209 437 259 352 280 292 325 217 324 209 259 149 220 149 165 164 117 203 60 285 52</string>
                <key>verticesUV</key>
                <string>529 1437 479 1466 400 1481 400 1518 389 1550 339 1540 318 1455 273 1395 274 1320 339 1312 378 1252 433 1252 481 1267 538 1306 546 1388</string>
            </dict>
            <key>Mummy_03_Walking (9).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{35,19}</string>
                <key>spriteSize</key>
                <string>{304,270}</string>
                <key>spriteSourceSize</key>
                <string>{520,420}</string>
                <key>textureRect</key>
                <string>{{281,1},{304,270}}</string>
                <key>textureRotated</key>
                <true/>
                <key>triangles</key>
                <string>2 10 12 10 11 12 8 9 10 7 8 10 3 7 10 3 6 7 3 4 5 3 5 6 2 3 10 0 2 12 0 1 2 0 12 13</string>
                <key>vertices</key>
                <string>310 60 345 77 373 131 381 215 434 206 447 238 430 278 366 279 290 326 210 323 217 261 143 212 164 123 217 56</string>
                <key>verticesUV</key>
                <string>547 168 530 203 476 231 392 239 401 292 369 305 329 288 328 224 281 148 284 68 346 75 395 1 484 22 551 75</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Mummy_03.png</string>
            <key>size</key>
            <string>{1834,1814}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cdb90b62613ed4df5da026507649d1f4:f0165c9fb3db9b77c36f21282d531a3a:b5bedfd475fa5f2451e2baed512d1c73$</string>
            <key>textureFileName</key>
            <string>Mummy_03.png</string>
        </dict>
    </dict>
</plist>
