<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Ninja_02_Attacking (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{27,-2}</string>
                <key>spriteSize</key>
                <string>{244,270}</string>
                <key>spriteSourceSize</key>
                <string>{440,320}</string>
                <key>textureRect</key>
                <string>{{1,417},{244,270}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Ninja_02_Attacking (10).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{69,-6}</string>
                <key>spriteSize</key>
                <string>{296,262}</string>
                <key>spriteSourceSize</key>
                <string>{440,320}</string>
                <key>textureRect</key>
                <string>{{1365,711},{296,262}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Ninja_02_Attacking (11).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{65,-4}</string>
                <key>spriteSize</key>
                <string>{290,266}</string>
                <key>spriteSourceSize</key>
                <string>{440,320}</string>
                <key>textureRect</key>
                <string>{{1,913},{290,266}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Ninja_02_Attacking (12).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{54,-3}</string>
                <key>spriteSize</key>
                <string>{268,268}</string>
                <key>spriteSourceSize</key>
                <string>{440,320}</string>
                <key>textureRect</key>
                <string>{{293,933},{268,268}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Ninja_02_Attacking (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-1}</string>
                <key>spriteSize</key>
                <string>{190,272}</string>
                <key>spriteSourceSize</key>
                <string>{440,320}</string>
                <key>textureRect</key>
                <string>{{1,1},{190,272}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Ninja_02_Attacking (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,0}</string>
                <key>spriteSize</key>
                <string>{194,274}</string>
                <key>spriteSourceSize</key>
                <string>{440,320}</string>
                <key>textureRect</key>
                <string>{{549,1},{194,274}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Ninja_02_Attacking (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-23,0}</string>
                <key>spriteSize</key>
                <string>{198,274}</string>
                <key>spriteSourceSize</key>
                <string>{440,320}</string>
                <key>textureRect</key>
                <string>{{825,1},{198,274}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Ninja_02_Attacking (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-33,0}</string>
                <key>spriteSize</key>
                <string>{208,274}</string>
                <key>spriteSourceSize</key>
                <string>{440,320}</string>
                <key>textureRect</key>
                <string>{{1101,1},{208,274}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Ninja_02_Attacking (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-43,0}</string>
                <key>spriteSize</key>
                <string>{216,274}</string>
                <key>spriteSourceSize</key>
                <string>{440,320}</string>
                <key>textureRect</key>
                <string>{{1655,1},{216,274}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Ninja_02_Attacking (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-47,0}</string>
                <key>spriteSize</key>
                <string>{222,274}</string>
                <key>spriteSourceSize</key>
                <string>{440,320}</string>
                <key>textureRect</key>
                <string>{{269,193},{222,274}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Ninja_02_Attacking (8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-1}</string>
                <key>spriteSize</key>
                <string>{190,272}</string>
                <key>spriteSourceSize</key>
                <string>{440,320}</string>
                <key>textureRect</key>
                <string>{{275,1},{190,272}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Ninja_02_Attacking (9).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{46,-5}</string>
                <key>spriteSize</key>
                <string>{248,264}</string>
                <key>spriteSourceSize</key>
                <string>{440,320}</string>
                <key>textureRect</key>
                <string>{{1,663},{248,264}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Ninja_02_Dying (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{27,-2}</string>
                <key>spriteSize</key>
                <string>{244,270}</string>
                <key>spriteSourceSize</key>
                <string>{440,320}</string>
                <key>textureRect</key>
                <string>{{273,417},{244,270}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Ninja_02_Dying (10).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-62,-22}</string>
                <key>spriteSize</key>
                <string>{258,234}</string>
                <key>spriteSourceSize</key>
                <string>{440,320}</string>
                <key>textureRect</key>
                <string>{{821,201},{258,234}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Ninja_02_Dying (11).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-63,-14}</string>
                <key>spriteSize</key>
                <string>{266,270}</string>
                <key>spriteSourceSize</key>
                <string>{440,320}</string>
                <key>textureRect</key>
                <string>{{1663,711},{266,270}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Ninja_02_Dying (12).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-53,-34}</string>
                <key>spriteSize</key>
                <string>{292,246}</string>
                <key>spriteSourceSize</key>
                <string>{440,320}</string>
                <key>textureRect</key>
                <string>{{1625,463},{292,246}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Ninja_02_Dying (13).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-53,-34}</string>
                <key>spriteSize</key>
                <string>{292,246}</string>
                <key>spriteSourceSize</key>
                <string>{440,320}</string>
                <key>textureRect</key>
                <string>{{1625,463},{292,246}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Ninja_02_Dying (14).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-53,-34}</string>
                <key>spriteSize</key>
                <string>{292,246}</string>
                <key>spriteSourceSize</key>
                <string>{440,320}</string>
                <key>textureRect</key>
                <string>{{1625,463},{292,246}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Ninja_02_Dying (15).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-53,-34}</string>
                <key>spriteSize</key>
                <string>{292,246}</string>
                <key>spriteSourceSize</key>
                <string>{440,320}</string>
                <key>textureRect</key>
                <string>{{1625,463},{292,246}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Ninja_02_Dying (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{32,0}</string>
                <key>spriteSize</key>
                <string>{246,272}</string>
                <key>spriteSourceSize</key>
                <string>{440,320}</string>
                <key>textureRect</key>
                <string>{{545,433},{246,272}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Ninja_02_Dying (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{39,1}</string>
                <key>spriteSize</key>
                <string>{246,270}</string>
                <key>spriteSourceSize</key>
                <string>{440,320}</string>
                <key>textureRect</key>
                <string>{{1081,447},{246,270}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Ninja_02_Dying (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{45,3}</string>
                <key>spriteSize</key>
                <string>{246,270}</string>
                <key>spriteSourceSize</key>
                <string>{440,320}</string>
                <key>textureRect</key>
                <string>{{1353,455},{246,270}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Ninja_02_Dying (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,6}</string>
                <key>spriteSize</key>
                <string>{236,270}</string>
                <key>spriteSourceSize</key>
                <string>{440,320}</string>
                <key>textureRect</key>
                <string>{{1353,217},{236,270}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Ninja_02_Dying (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-19,8}</string>
                <key>spriteSize</key>
                <string>{218,266}</string>
                <key>spriteSourceSize</key>
                <string>{440,320}</string>
                <key>textureRect</key>
                <string>{{1,193},{218,266}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Ninja_02_Dying (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-44,19}</string>
                <key>spriteSize</key>
                <string>{214,276}</string>
                <key>spriteSourceSize</key>
                <string>{440,320}</string>
                <key>textureRect</key>
                <string>{{1377,1},{214,276}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Ninja_02_Dying (8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-52,13}</string>
                <key>spriteSize</key>
                <string>{234,274}</string>
                <key>spriteSourceSize</key>
                <string>{440,320}</string>
                <key>textureRect</key>
                <string>{{545,197},{234,274}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Ninja_02_Dying (9).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-58,-2}</string>
                <key>spriteSize</key>
                <string>{250,260}</string>
                <key>spriteSourceSize</key>
                <string>{440,320}</string>
                <key>textureRect</key>
                <string>{{819,437},{250,260}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Ninja_02_Walking (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{29,-2}</string>
                <key>spriteSize</key>
                <string>{234,270}</string>
                <key>spriteSourceSize</key>
                <string>{440,320}</string>
                <key>textureRect</key>
                <string>{{1081,211},{234,270}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Ninja_02_Walking (10).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{47,-2}</string>
                <key>spriteSize</key>
                <string>{272,270}</string>
                <key>spriteSourceSize</key>
                <string>{440,320}</string>
                <key>textureRect</key>
                <string>{{839,965},{272,270}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Ninja_02_Walking (11).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{47,-2}</string>
                <key>spriteSize</key>
                <string>{270,272}</string>
                <key>spriteSourceSize</key>
                <string>{440,320}</string>
                <key>textureRect</key>
                <string>{{1113,975},{270,272}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Ninja_02_Walking (12).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{45,-2}</string>
                <key>spriteSize</key>
                <string>{270,272}</string>
                <key>spriteSourceSize</key>
                <string>{440,320}</string>
                <key>textureRect</key>
                <string>{{1387,975},{270,272}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Ninja_02_Walking (13).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{42,-1}</string>
                <key>spriteSize</key>
                <string>{272,274}</string>
                <key>spriteSourceSize</key>
                <string>{440,320}</string>
                <key>textureRect</key>
                <string>{{557,1225},{272,274}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Ninja_02_Walking (14).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{39,-1}</string>
                <key>spriteSize</key>
                <string>{274,274}</string>
                <key>spriteSourceSize</key>
                <string>{440,320}</string>
                <key>textureRect</key>
                <string>{{1395,1253},{274,274}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Ninja_02_Walking (15).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{36,-1}</string>
                <key>spriteSize</key>
                <string>{274,274}</string>
                <key>spriteSourceSize</key>
                <string>{440,320}</string>
                <key>textureRect</key>
                <string>{{1671,1253},{274,274}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Ninja_02_Walking (16).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{33,-1}</string>
                <key>spriteSize</key>
                <string>{268,274}</string>
                <key>spriteSourceSize</key>
                <string>{440,320}</string>
                <key>textureRect</key>
                <string>{{563,955},{268,274}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Ninja_02_Walking (17).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{32,-2}</string>
                <key>spriteSize</key>
                <string>{258,272}</string>
                <key>spriteSourceSize</key>
                <string>{440,320}</string>
                <key>textureRect</key>
                <string>{{815,695},{258,272}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Ninja_02_Walking (18).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{31,-2}</string>
                <key>spriteSize</key>
                <string>{248,272}</string>
                <key>spriteSourceSize</key>
                <string>{440,320}</string>
                <key>textureRect</key>
                <string>{{267,663},{248,272}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Ninja_02_Walking (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{32,-2}</string>
                <key>spriteSize</key>
                <string>{242,272}</string>
                <key>spriteSourceSize</key>
                <string>{440,320}</string>
                <key>textureRect</key>
                <string>{{1625,219},{242,272}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Ninja_02_Walking (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{35,-2}</string>
                <key>spriteSize</key>
                <string>{250,272}</string>
                <key>spriteSourceSize</key>
                <string>{440,320}</string>
                <key>textureRect</key>
                <string>{{541,681},{250,272}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Ninja_02_Walking (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{36,-1}</string>
                <key>spriteSize</key>
                <string>{260,274}</string>
                <key>spriteSourceSize</key>
                <string>{440,320}</string>
                <key>textureRect</key>
                <string>{{1089,703},{260,274}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Ninja_02_Walking (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{36,-1}</string>
                <key>spriteSize</key>
                <string>{272,274}</string>
                <key>spriteSourceSize</key>
                <string>{440,320}</string>
                <key>textureRect</key>
                <string>{{281,1203},{272,274}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Ninja_02_Walking (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{37,-1}</string>
                <key>spriteSize</key>
                <string>{278,274}</string>
                <key>spriteSourceSize</key>
                <string>{440,320}</string>
                <key>textureRect</key>
                <string>{{833,1237},{278,274}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Ninja_02_Walking (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{38,-1}</string>
                <key>spriteSize</key>
                <string>{280,274}</string>
                <key>spriteSourceSize</key>
                <string>{440,320}</string>
                <key>textureRect</key>
                <string>{{1113,1247},{280,274}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Ninja_02_Walking (8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{41,-2}</string>
                <key>spriteSize</key>
                <string>{278,272}</string>
                <key>spriteSourceSize</key>
                <string>{440,320}</string>
                <key>textureRect</key>
                <string>{{1,1181},{278,272}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Ninja_02_Walking (9).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{44,-2}</string>
                <key>spriteSize</key>
                <string>{274,272}</string>
                <key>spriteSourceSize</key>
                <string>{440,320}</string>
                <key>textureRect</key>
                <string>{{1661,979},{274,272}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Ninja_02.png</string>
            <key>size</key>
            <string>{1946,1528}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:49734fce33fa703a5f74693aabbfe873:c65a69b67348cefef4fef668c7f186ac:d915320aa37fbb65f5d4584a7cc4e4f7$</string>
            <key>textureFileName</key>
            <string>Ninja_02.png</string>
        </dict>
    </dict>
</plist>
