<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Pirate_Ultimate (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-46}</string>
                <key>spriteSize</key>
                <string>{92,84}</string>
                <key>spriteSourceSize</key>
                <string>{360,360}</string>
                <key>textureRect</key>
                <string>{{1,413},{92,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Pirate_Ultimate (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-38}</string>
                <key>spriteSize</key>
                <string>{230,146}</string>
                <key>spriteSourceSize</key>
                <string>{360,360}</string>
                <key>textureRect</key>
                <string>{{613,217},{230,146}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Pirate_Ultimate (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-16}</string>
                <key>spriteSize</key>
                <string>{342,196}</string>
                <key>spriteSourceSize</key>
                <string>{360,360}</string>
                <key>textureRect</key>
                <string>{{1,215},{342,196}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Pirate_Ultimate (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-7}</string>
                <key>spriteSize</key>
                <string>{360,212}</string>
                <key>spriteSourceSize</key>
                <string>{360,360}</string>
                <key>textureRect</key>
                <string>{{1,1},{360,212}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Pirate_Ultimate (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-2}</string>
                <key>spriteSize</key>
                <string>{266,212}</string>
                <key>spriteSourceSize</key>
                <string>{360,360}</string>
                <key>textureRect</key>
                <string>{{345,217},{266,212}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Pirate_Ultimate (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,2}</string>
                <key>spriteSize</key>
                <string>{310,214}</string>
                <key>spriteSourceSize</key>
                <string>{360,360}</string>
                <key>textureRect</key>
                <string>{{363,1},{310,214}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Pirate_Ultimate (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{17,6}</string>
                <key>spriteSize</key>
                <string>{292,208}</string>
                <key>spriteSourceSize</key>
                <string>{360,360}</string>
                <key>textureRect</key>
                <string>{{675,1},{292,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Pirate_Ultimate (8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,8}</string>
                <key>spriteSize</key>
                <string>{244,204}</string>
                <key>spriteSourceSize</key>
                <string>{360,360}</string>
                <key>textureRect</key>
                <string>{{761,211},{244,204}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Pirate_Ultimate.png</string>
            <key>size</key>
            <string>{968,498}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:574402704e3bdb3b3e6ea6a0202a97c2:a9c211856e345688477214ef065eb4b6:382243fb9d3e88a0b6045b83cbbd65aa$</string>
            <key>textureFileName</key>
            <string>Pirate_Ultimate.png</string>
        </dict>
    </dict>
</plist>
