<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Wizard_03_Taunt (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{33,18}</string>
                <key>spriteSize</key>
                <string>{246,274}</string>
                <key>spriteSourceSize</key>
                <string>{400,360}</string>
                <key>textureRect</key>
                <string>{{555,821},{246,274}}</string>
                <key>textureRotated</key>
                <true/>
                <key>triangles</key>
                <string>6 7 8 0 6 8 3 4 5 2 3 5 0 1 2 0 2 5 0 5 6</string>
                <key>vertices</key>
                <string>281 64 356 210 274 271 264 299 136 299 168 235 121 188 110 58 201 25</string>
                <key>verticesUV</key>
                <string>790 992 644 1067 583 985 555 975 555 847 619 879 666 832 796 821 829 912</string>
            </dict>
            <key>Wizard_03_Taunt (10).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{25.5,12}</string>
                <key>spriteSize</key>
                <string>{263,272}</string>
                <key>spriteSourceSize</key>
                <string>{400,360}</string>
                <key>textureRect</key>
                <string>{{552,1340},{263,272}}</string>
                <key>textureRotated</key>
                <true/>
                <key>triangles</key>
                <string>6 7 8 1 3 4 4 5 6 1 4 6 1 2 3 0 1 6 0 6 8</string>
                <key>vertices</key>
                <string>246 45 300 97 349 129 357 160 261 304 152 295 121 184 94 73 178 32</string>
                <key>verticesUV</key>
                <string>811 1492 759 1546 727 1595 696 1603 552 1507 561 1398 672 1367 783 1340 824 1424</string>
            </dict>
            <key>Wizard_03_Taunt (11).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{29,13.5}</string>
                <key>spriteSize</key>
                <string>{280,269}</string>
                <key>spriteSourceSize</key>
                <string>{400,360}</string>
                <key>textureRect</key>
                <string>{{1,267},{280,269}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>5 6 7 0 5 7 1 2 4 2 3 4 0 1 4 0 4 5</string>
                <key>vertices</key>
                <string>239 45 369 139 264 300 153 301 120 179 109 112 89 74 181 32</string>
                <key>verticesUV</key>
                <string>151 280 281 374 176 535 65 536 32 414 21 347 1 309 93 267</string>
            </dict>
            <key>Wizard_03_Taunt (12).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{28,12.5}</string>
                <key>spriteSize</key>
                <string>{282,271}</string>
                <key>spriteSourceSize</key>
                <string>{400,360}</string>
                <key>textureRect</key>
                <string>{{286,1},{282,271}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>6 7 8 3 5 6 3 4 5 1 3 6 1 2 3 1 6 8 0 1 8</string>
                <key>vertices</key>
                <string>247 48 293 90 369 139 300 236 265 298 217 303 152 292 87 72 183 32</string>
                <key>verticesUV</key>
                <string>446 17 492 59 568 108 499 205 464 267 416 272 351 261 286 41 382 1</string>
            </dict>
            <key>Wizard_03_Taunt (13).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{22,12.5}</string>
                <key>spriteSize</key>
                <string>{260,269}</string>
                <key>spriteSourceSize</key>
                <string>{400,360}</string>
                <key>textureRect</key>
                <string>{{1,1348},{260,269}}</string>
                <key>textureRotated</key>
                <true/>
                <key>triangles</key>
                <string>9 10 11 0 9 11 4 5 6 6 7 8 4 6 8 8 0 1 1 3 4 1 2 3 8 1 4 0 8 9</string>
                <key>vertices</key>
                <string>241 44 327 118 352 118 352 159 300 235 266 298 221 302 144 291 143 220 123 193 92 76 177 33</string>
                <key>verticesUV</key>
                <string>259 1497 185 1583 185 1608 144 1608 68 1556 5 1522 1 1477 12 1400 83 1399 110 1379 227 1348 270 1433</string>
            </dict>
            <key>Wizard_03_Taunt (14).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{22.5,11.5}</string>
                <key>spriteSize</key>
                <string>{263,273}</string>
                <key>spriteSourceSize</key>
                <string>{400,360}</string>
                <key>textureRect</key>
                <string>{{277,1346},{263,273}}</string>
                <key>textureRotated</key>
                <true/>
                <key>triangles</key>
                <string>2 6 7 4 5 6 2 3 4 2 4 6 0 1 2 0 2 7</string>
                <key>vertices</key>
                <string>347 122 354 153 300 233 263 305 149 294 91 77 167 39 219 32</string>
                <key>verticesUV</key>
                <string>460 1602 429 1609 349 1555 277 1518 288 1404 505 1346 543 1422 550 1474</string>
            </dict>
            <key>Wizard_03_Taunt (15).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{21.5,9.5}</string>
                <key>spriteSize</key>
                <string>{263,277}</string>
                <key>spriteSourceSize</key>
                <string>{400,360}</string>
                <key>textureRect</key>
                <string>{{283,274},{263,277}}</string>
                <key>textureRotated</key>
                <true/>
                <key>triangles</key>
                <string>0 5 6 2 3 4 0 2 4 0 1 2 0 4 5</string>
                <key>vertices</key>
                <string>235 45 345 115 353 147 260 309 150 290 90 77 175 32</string>
                <key>verticesUV</key>
                <string>547 419 477 529 445 537 283 444 302 334 515 274 560 359</string>
            </dict>
            <key>Wizard_03_Taunt (16).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{20,12}</string>
                <key>spriteSize</key>
                <string>{266,270}</string>
                <key>spriteSourceSize</key>
                <string>{400,360}</string>
                <key>textureRect</key>
                <string>{{570,1},{266,270}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>7 8 9 6 0 3 3 4 6 4 5 6 6 7 0 3 0 1 3 1 2 0 7 9</string>
                <key>vertices</key>
                <string>234 44 342 116 353 145 311 209 264 303 151 295 123 203 111 125 87 78 177 33</string>
                <key>verticesUV</key>
                <string>717 12 825 84 836 113 794 177 747 271 634 263 606 171 594 93 570 46 660 1</string>
            </dict>
            <key>Wizard_03_Taunt (17).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{21,12.5}</string>
                <key>spriteSize</key>
                <string>{268,275}</string>
                <key>spriteSourceSize</key>
                <string>{400,360}</string>
                <key>textureRect</key>
                <string>{{278,811},{268,275}}</string>
                <key>textureRotated</key>
                <true/>
                <key>triangles</key>
                <string>6 7 8 1 3 4 4 5 6 1 4 6 1 2 3 0 1 6 0 6 8</string>
                <key>vertices</key>
                <string>256 51 308 107 355 139 355 172 260 305 152 294 151 283 87 74 186 30</string>
                <key>verticesUV</key>
                <string>532 980 476 1032 444 1079 411 1079 278 984 289 876 300 875 509 811 553 910</string>
            </dict>
            <key>Wizard_03_Taunt (18).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{30.5,14.5}</string>
                <key>spriteSize</key>
                <string>{265,273}</string>
                <key>spriteSourceSize</key>
                <string>{400,360}</string>
                <key>textureRect</key>
                <string>{{570,273},{265,273}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>8 9 10 0 8 10 4 5 7 5 6 7 1 3 4 1 4 7 1 2 3 0 1 7 0 7 8</string>
                <key>vertices</key>
                <string>271 56 327 147 363 160 352 196 265 296 221 302 150 293 150 220 124 194 98 66 194 29</string>
                <key>verticesUV</key>
                <string>743 300 799 391 835 404 824 440 737 540 693 546 622 537 622 464 596 438 570 310 666 273</string>
            </dict>
            <key>Wizard_03_Taunt (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{26.5,16.5}</string>
                <key>spriteSize</key>
                <string>{259,277}</string>
                <key>spriteSourceSize</key>
                <string>{400,360}</string>
                <key>textureRect</key>
                <string>{{1,538},{259,277}}</string>
                <key>textureRotated</key>
                <true/>
                <key>triangles</key>
                <string>10 11 12 8 0 1 8 9 10 4 5 6 6 7 8 4 6 8 8 10 0 1 3 4 1 2 3 8 1 4 0 10 12</string>
                <key>vertices</key>
                <string>280 68 326 151 352 160 356 207 308 233 267 296 219 302 149 294 153 236 113 170 123 114 97 65 207 25</string>
                <key>verticesUV</key>
                <string>235 721 152 767 143 793 96 797 70 749 7 708 1 660 9 590 67 594 133 554 189 564 238 538 278 648</string>
            </dict>
            <key>Wizard_03_Taunt (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{25,12}</string>
                <key>spriteSize</key>
                <string>{272,274}</string>
                <key>spriteSourceSize</key>
                <string>{400,360}</string>
                <key>textureRect</key>
                <string>{{1,1074},{272,274}}</string>
                <key>textureRotated</key>
                <true/>
                <key>triangles</key>
                <string>8 9 10 0 1 8 6 7 8 1 3 4 4 5 6 1 4 6 1 2 3 1 6 8 0 8 10</string>
                <key>vertices</key>
                <string>255 47 317 119 350 139 361 169 259 305 151 293 142 217 115 182 119 120 89 73 182 31</string>
                <key>verticesUV</key>
                <string>259 1240 187 1302 167 1335 137 1346 1 1244 13 1136 89 1127 124 1100 186 1104 233 1074 275 1167</string>
            </dict>
            <key>Wizard_03_Taunt (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{22,15}</string>
                <key>spriteSize</key>
                <string>{270,276}</string>
                <key>spriteSourceSize</key>
                <string>{400,360}</string>
                <key>textureRect</key>
                <string>{{280,539},{270,276}}</string>
                <key>textureRotated</key>
                <true/>
                <key>triangles</key>
                <string>7 8 9 6 0 3 3 4 6 4 5 6 6 7 0 0 1 2 0 2 3 0 7 9</string>
                <key>vertices</key>
                <string>249 54 357 124 342 166 320 190 264 303 151 295 123 203 111 125 87 78 188 27</string>
                <key>verticesUV</key>
                <string>529 701 459 809 417 794 393 772 280 716 288 603 380 575 458 563 505 539 556 640</string>
            </dict>
            <key>Wizard_03_Taunt (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{22,12.5}</string>
                <key>spriteSize</key>
                <string>{264,283}</string>
                <key>spriteSourceSize</key>
                <string>{400,360}</string>
                <key>textureRect</key>
                <string>{{1,1},{264,283}}</string>
                <key>textureRotated</key>
                <true/>
                <key>triangles</key>
                <string>5 0 1 1 3 4 1 4 5 1 2 3 5 6 0 0 6 7</string>
                <key>vertices</key>
                <string>253 55 304 98 343 117 354 147 259 309 150 290 90 78 187 26</string>
                <key>verticesUV</key>
                <string>255 164 212 215 193 254 163 265 1 170 20 61 232 1 284 98</string>
            </dict>
            <key>Wizard_03_Taunt (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{22.5,11.5}</string>
                <key>spriteSize</key>
                <string>{263,273}</string>
                <key>spriteSourceSize</key>
                <string>{400,360}</string>
                <key>textureRect</key>
                <string>{{277,1081},{263,273}}</string>
                <key>textureRotated</key>
                <true/>
                <key>triangles</key>
                <string>5 0 3 5 6 7 3 4 5 5 7 0 0 2 3 0 1 2 0 7 8</string>
                <key>vertices</key>
                <string>310 102 345 120 354 150 269 285 268 305 150 295 91 77 169 38 224 32</string>
                <key>verticesUV</key>
                <string>480 1300 462 1335 432 1344 297 1259 277 1258 287 1140 505 1081 544 1159 550 1214</string>
            </dict>
            <key>Wizard_03_Taunt (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{22.5,9.5}</string>
                <key>spriteSize</key>
                <string>{273,275}</string>
                <key>spriteSourceSize</key>
                <string>{400,360}</string>
                <key>textureRect</key>
                <string>{{1,799},{273,275}}</string>
                <key>textureRotated</key>
                <true/>
                <key>triangles</key>
                <string>7 8 9 0 7 9 0 6 7 2 3 5 3 4 5 5 0 1 5 1 2 0 5 6</string>
                <key>vertices</key>
                <string>233 43 338 113 359 146 259 308 144 291 143 220 121 190 110 119 86 72 179 33</string>
                <key>verticesUV</key>
                <string>266 946 196 1051 163 1072 1 972 18 857 89 856 119 834 190 823 237 799 276 892</string>
            </dict>
            <key>Wizard_03_Taunt (8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{21.5,14.5}</string>
                <key>spriteSize</key>
                <string>{271,275}</string>
                <key>spriteSourceSize</key>
                <string>{400,360}</string>
                <key>textureRect</key>
                <string>{{558,548},{271,275}}</string>
                <key>textureRotated</key>
                <true/>
                <key>triangles</key>
                <string>0 7 8 3 5 6 3 4 5 0 3 6 3 0 1 3 1 2 0 6 7</string>
                <key>vertices</key>
                <string>254 56 345 124 357 154 298 239 265 298 217 303 152 292 86 69 197 28</string>
                <key>verticesUV</key>
                <string>805 716 737 807 707 819 622 760 563 727 558 679 569 614 792 548 833 659</string>
            </dict>
            <key>Wizard_03_Taunt (9).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{24.5,14.5}</string>
                <key>spriteSize</key>
                <string>{269,273}</string>
                <key>spriteSourceSize</key>
                <string>{400,360}</string>
                <key>textureRect</key>
                <string>{{555,1069},{269,273}}</string>
                <key>textureRotated</key>
                <true/>
                <key>triangles</key>
                <string>7 5 6 7 8 9 4 5 7 4 7 9 0 4 9 1 3 4 1 2 3 0 1 4 0 9 10</string>
                <key>vertices</key>
                <string>262 61 311 108 359 131 351 167 309 218 293 255 264 299 153 302 90 76 148 43 208 29</string>
                <key>verticesUV</key>
                <string>796 1241 749 1290 726 1338 690 1330 639 1288 602 1272 558 1243 555 1132 781 1069 814 1127 828 1187</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Wizard_03_Taunt.png</string>
            <key>size</key>
            <string>{837,1610}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:618df3af7a59ce44fd4a0da107493847:5595c67bbf3f3d82bac59273903ac895:ff149f9a5faefe5d8d2b9c2f1f7c69b9$</string>
            <key>textureFileName</key>
            <string>Wizard_03_Taunt.png</string>
        </dict>
    </dict>
</plist>
