<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Dying_000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{24,9.5}</string>
                <key>spriteSize</key>
                <string>{206,277}</string>
                <key>spriteSourceSize</key>
                <string>{400,320}</string>
                <key>textureRect</key>
                <string>{{1,406},{206,277}}</string>
                <key>textureRotated</key>
                <true/>
                <key>triangles</key>
                <string>0 9 10 0 8 9 6 4 5 3 4 6 3 6 7 2 3 7 7 0 1 7 1 2 0 7 8</string>
                <key>vertices</key>
                <string>263 29 309 62 327 193 299 244 260 280 196 289 147 222 146 189 121 139 121 70 177 12</string>
                <key>verticesUV</key>
                <string>261 548 228 594 97 612 46 584 10 545 1 481 68 432 101 431 151 406 220 406 278 462</string>
            </dict>
            <key>Dying_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{22,13.5}</string>
                <key>spriteSize</key>
                <string>{202,283}</string>
                <key>spriteSourceSize</key>
                <string>{400,320}</string>
                <key>textureRect</key>
                <string>{{1,202},{202,283}}</string>
                <key>textureRotated</key>
                <true/>
                <key>triangles</key>
                <string>0 1 9 7 8 9 5 3 4 6 7 3 6 3 5 2 3 7 1 2 7 1 7 9 0 9 10</string>
                <key>vertices</key>
                <string>301 42 323 89 323 208 276 275 223 288 191 277 146 214 149 174 121 116 145 49 197 5</string>
                <key>verticesUV</key>
                <string>247 382 200 404 81 404 14 357 1 304 12 272 75 227 115 230 173 202 240 226 284 278</string>
            </dict>
            <key>Dying_002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{34.5,20}</string>
                <key>spriteSize</key>
                <string>{199,278}</string>
                <key>spriteSourceSize</key>
                <string>{400,320}</string>
                <key>textureRect</key>
                <string>{{280,1},{199,278}}</string>
                <key>textureRotated</key>
                <true/>
                <key>triangles</key>
                <string>0 10 11 8 9 10 0 8 10 6 7 8 3 4 6 4 5 6 8 2 3 8 0 2 0 1 2 8 3 6</string>
                <key>vertices</key>
                <string>239 12 325 55 334 110 320 217 269 279 194 278 173 236 148 211 148 152 135 118 147 61 208 1</string>
                <key>verticesUV</key>
                <string>547 105 504 191 449 200 342 186 280 135 281 60 323 39 348 14 407 14 441 1 498 13 558 74</string>
            </dict>
            <key>Dying_003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{45.5,21.5}</string>
                <key>spriteSize</key>
                <string>{197,277}</string>
                <key>spriteSourceSize</key>
                <string>{400,320}</string>
                <key>textureRect</key>
                <string>{{1,1},{197,277}}</string>
                <key>textureRotated</key>
                <true/>
                <key>triangles</key>
                <string>0 9 10 7 8 9 7 1 6 5 2 3 5 6 2 5 3 4 1 2 6 7 0 1 7 9 0</string>
                <key>vertices</key>
                <string>338 66 344 120 313 229 269 277 195 277 147 204 157 156 148 122 156 54 218 8 247 0</string>
                <key>verticesUV</key>
                <string>212 192 158 198 49 167 1 123 1 49 74 1 122 11 156 2 224 10 270 72 278 101</string>
            </dict>
            <key>Dying_004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{19,18.5}</string>
                <key>spriteSize</key>
                <string>{204,281}</string>
                <key>spriteSourceSize</key>
                <string>{400,320}</string>
                <key>textureRect</key>
                <string>{{286,202},{204,281}}</string>
                <key>textureRotated</key>
                <true/>
                <key>triangles</key>
                <string>0 9 10 0 8 9 6 7 8 2 3 4 2 4 5 2 5 6 1 2 6 8 0 1 8 1 6</string>
                <key>vertices</key>
                <string>300 39 321 96 305 216 282 262 204 282 144 220 144 170 117 111 139 49 183 7 198 1</string>
                <key>verticesUV</key>
                <string>529 385 472 406 352 390 306 367 286 289 348 229 398 229 457 202 519 224 561 268 567 283</string>
            </dict>
            <key>Dying_005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,17.5}</string>
                <key>spriteSize</key>
                <string>{204,273}</string>
                <key>spriteSourceSize</key>
                <string>{400,320}</string>
                <key>textureRect</key>
                <string>{{569,202},{204,273}}</string>
                <key>textureRotated</key>
                <true/>
                <key>triangles</key>
                <string>0 1 10 9 10 1 6 7 8 8 2 6 3 4 5 3 5 6 2 3 6 8 1 2 9 1 8 0 10 11</string>
                <key>vertices</key>
                <string>266 29 293 83 300 207 274 256 227 279 195 263 180 243 146 242 136 202 96 123 106 71 142 6</string>
                <key>verticesUV</key>
                <string>819 372 765 399 641 406 592 380 569 333 585 301 605 286 606 252 646 242 725 202 777 212 842 248</string>
            </dict>
            <key>Dying_006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-17,13}</string>
                <key>spriteSize</key>
                <string>{222,256}</string>
                <key>spriteSourceSize</key>
                <string>{400,320}</string>
                <key>textureRect</key>
                <string>{{558,408},{222,256}}</string>
                <key>textureRotated</key>
                <true/>
                <key>triangles</key>
                <string>7 0 6 7 8 0 3 4 5 3 5 6 2 3 6 6 0 1 6 1 2 0 8 9</string>
                <key>vertices</key>
                <string>220 30 260 54 294 182 283 239 243 275 153 261 124 202 87 165 72 102 111 19</string>
                <key>verticesUV</key>
                <string>803 556 779 596 651 630 594 619 558 579 572 489 631 460 668 423 731 408 814 447</string>
            </dict>
            <key>Dying_007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-31.5,0.5}</string>
                <key>spriteSize</key>
                <string>{237,251}</string>
                <key>spriteSourceSize</key>
                <string>{400,320}</string>
                <key>textureRect</key>
                <string>{{263,629},{237,251}}</string>
                <key>textureRotated</key>
                <true/>
                <key>triangles</key>
                <string>8 9 10 0 8 10 0 7 8 6 1 4 4 5 6 2 3 4 1 2 4 6 0 1 0 6 7</string>
                <key>vertices</key>
                <string>228 72 287 188 278 253 237 282 195 269 162 285 117 228 88 211 50 160 62 60 183 34</string>
                <key>verticesUV</key>
                <string>476 807 360 866 295 857 266 816 279 774 263 741 320 696 337 667 388 629 488 641 514 762</string>
            </dict>
            <key>Dying_008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-43,-22}</string>
                <key>spriteSize</key>
                <string>{248,244}</string>
                <key>spriteSourceSize</key>
                <string>{400,320}</string>
                <key>textureRect</key>
                <string>{{516,632},{248,244}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>8 9 10 7 8 10 0 7 10 4 5 6 1 4 6 2 3 4 1 2 4 0 1 6 0 6 7</string>
                <key>vertices</key>
                <string>190 75 267 174 281 216 259 279 207 279 182 304 131 268 58 231 33 175 33 95 141 60</string>
                <key>verticesUV</key>
                <string>673 647 750 746 764 788 742 851 690 851 665 876 614 840 541 803 516 747 516 667 624 632</string>
            </dict>
            <key>Dying_009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-56,-42}</string>
                <key>spriteSize</key>
                <string>{260,234}</string>
                <key>spriteSourceSize</key>
                <string>{400,320}</string>
                <key>textureRect</key>
                <string>{{1,614},{260,234}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>7 8 9 5 7 9 5 6 7 3 4 5 5 0 1 5 1 3 3 1 2 0 5 9</string>
                <key>vertices</key>
                <string>167 94 274 197 274 273 223 288 203 319 126 285 70 278 22 228 14 149 98 85</string>
                <key>verticesUV</key>
                <string>154 623 261 726 261 802 210 817 190 848 113 814 57 807 9 757 1 678 85 614</string>
            </dict>
            <key>Dying_010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-62,-50.5}</string>
                <key>spriteSize</key>
                <string>{276,219}</string>
                <key>spriteSourceSize</key>
                <string>{400,320}</string>
                <key>textureRect</key>
                <string>{{280,408},{276,219}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>0 10 11 8 9 10 7 8 10 0 6 7 4 5 6 6 0 1 2 3 4 6 1 4 4 1 2 0 7 10</string>
                <key>vertices</key>
                <string>142 111 239 165 276 208 269 275 221 290 205 320 160 301 77 303 17 259 0 201 14 168 82 101</string>
                <key>verticesUV</key>
                <string>422 418 519 472 556 515 549 582 501 597 485 627 440 608 357 610 297 566 280 508 294 475 362 408</string>
            </dict>
            <key>Dying_011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-61.5,-57.5}</string>
                <key>spriteSize</key>
                <string>{277,199}</string>
                <key>spriteSourceSize</key>
                <string>{400,320}</string>
                <key>textureRect</key>
                <string>{{560,1},{277,199}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>9 10 11 5 9 11 7 8 9 6 7 9 5 6 9 4 5 11 2 3 4 1 2 4 0 1 4 0 4 11</string>
                <key>vertices</key>
                <string>226 145 277 219 267 276 203 317 158 300 127 311 55 309 1 246 0 226 17 187 56 121 114 118</string>
                <key>verticesUV</key>
                <string>786 28 837 102 827 159 763 200 718 183 687 194 615 192 561 129 560 109 577 70 616 4 674 1</string>
            </dict>
            <key>Dying_012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-61.5,-57.5}</string>
                <key>spriteSize</key>
                <string>{277,199}</string>
                <key>spriteSourceSize</key>
                <string>{400,320}</string>
                <key>textureRect</key>
                <string>{{560,1},{277,199}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>9 10 11 5 9 11 7 8 9 6 7 9 5 6 9 4 5 11 2 3 4 1 2 4 0 1 4 0 4 11</string>
                <key>vertices</key>
                <string>226 145 277 219 267 276 203 317 158 300 127 311 55 309 1 246 0 226 17 187 56 121 114 118</string>
                <key>verticesUV</key>
                <string>786 28 837 102 827 159 763 200 718 183 687 194 615 192 561 129 560 109 577 70 616 4 674 1</string>
            </dict>
            <key>Dying_013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-61.5,-57.5}</string>
                <key>spriteSize</key>
                <string>{277,199}</string>
                <key>spriteSourceSize</key>
                <string>{400,320}</string>
                <key>textureRect</key>
                <string>{{560,1},{277,199}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>9 10 11 5 9 11 7 8 9 6 7 9 5 6 9 4 5 11 2 3 4 1 2 4 0 1 4 0 4 11</string>
                <key>vertices</key>
                <string>226 145 277 219 267 276 203 317 158 300 127 311 55 309 1 246 0 226 17 187 56 121 114 118</string>
                <key>verticesUV</key>
                <string>786 28 837 102 827 159 763 200 718 183 687 194 615 192 561 129 560 109 577 70 616 4 674 1</string>
            </dict>
            <key>Dying_014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-61.5,-57.5}</string>
                <key>spriteSize</key>
                <string>{277,199}</string>
                <key>spriteSourceSize</key>
                <string>{400,320}</string>
                <key>textureRect</key>
                <string>{{560,1},{277,199}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>9 10 11 5 9 11 7 8 9 6 7 9 5 6 9 4 5 11 2 3 4 1 2 4 0 1 4 0 4 11</string>
                <key>vertices</key>
                <string>226 145 277 219 267 276 203 317 158 300 127 311 55 309 1 246 0 226 17 187 56 121 114 118</string>
                <key>verticesUV</key>
                <string>786 28 837 102 827 159 763 200 718 183 687 194 615 192 561 129 560 109 577 70 616 4 674 1</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Archer_03_Dying.png</string>
            <key>size</key>
            <string>{843,877}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f0a3866c60eaf90c32dafda82242a57a:26565b7b166f0fd1afd660ca14925973:faa9cb7aefc64b915c20b0ca51308eb3$</string>
            <key>textureFileName</key>
            <string>Archer_03_Dying.png</string>
        </dict>
    </dict>
</plist>
