<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Shooting_000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1.5,9}</string>
                <key>spriteSize</key>
                <string>{257,278}</string>
                <key>spriteSourceSize</key>
                <string>{400,320}</string>
                <key>textureRect</key>
                <string>{{1,262},{257,278}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>0 13 14 10 11 12 9 12 13 9 10 12 0 9 13 0 8 9 6 7 8 4 5 6 3 4 6 8 2 3 8 0 1 8 1 2 8 3 6</string>
                <key>vertices</key>
                <string>263 29 309 62 327 193 299 244 260 280 194 290 170 242 147 219 146 183 133 161 89 141 70 100 114 99 138 53 177 12</string>
                <key>verticesUV</key>
                <string>194 279 240 312 258 443 230 494 191 530 125 540 101 492 78 469 77 433 64 411 20 391 1 350 45 349 69 303 108 262</string>
            </dict>
            <key>Shooting_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,9}</string>
                <key>spriteSize</key>
                <string>{200,276}</string>
                <key>spriteSourceSize</key>
                <string>{400,320}</string>
                <key>textureRect</key>
                <string>{{1,1379},{200,276}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>0 9 10 0 8 9 6 4 5 3 4 6 3 6 7 2 3 7 0 2 7 0 1 2 0 7 8</string>
                <key>vertices</key>
                <string>264 31 308 61 318 156 306 234 268 280 196 289 146 222 142 187 118 138 119 70 174 13</string>
                <key>verticesUV</key>
                <string>147 1397 191 1427 201 1522 189 1600 151 1646 79 1655 29 1588 25 1553 1 1504 2 1436 57 1379</string>
            </dict>
            <key>Shooting_002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,15.5}</string>
                <key>spriteSize</key>
                <string>{194,275}</string>
                <key>spriteSourceSize</key>
                <string>{400,320}</string>
                <key>textureRect</key>
                <string>{{203,1385},{194,275}}</string>
                <key>textureRotated</key>
                <true/>
                <key>triangles</key>
                <string>0 9 10 9 0 1 1 7 8 5 6 7 3 4 5 2 3 5 1 2 5 1 5 7 9 1 8</string>
                <key>vertices</key>
                <string>292 45 311 97 307 231 260 282 191 281 172 236 144 228 143 193 117 140 117 70 176 7</string>
                <key>verticesUV</key>
                <string>440 1560 388 1579 254 1575 203 1528 204 1459 249 1440 257 1412 292 1411 345 1385 415 1385 478 1444</string>
            </dict>
            <key>Shooting_003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{35.5,12.5}</string>
                <key>spriteSize</key>
                <string>{259,271}</string>
                <key>spriteSourceSize</key>
                <string>{400,320}</string>
                <key>textureRect</key>
                <string>{{205,1124},{259,271}}</string>
                <key>textureRotated</key>
                <true/>
                <key>triangles</key>
                <string>0 11 12 9 10 11 2 7 9 7 8 9 5 6 7 4 5 7 2 4 7 2 3 4 0 2 9 0 1 2 0 9 11</string>
                <key>vertices</key>
                <string>257 31 310 64 307 149 365 179 302 227 267 283 190 282 173 239 143 230 141 193 106 122 127 60 168 12</string>
                <key>verticesUV</key>
                <string>457 1275 424 1328 339 1325 309 1383 261 1320 205 1285 206 1208 249 1191 258 1161 295 1159 366 1124 428 1145 476 1186</string>
            </dict>
            <key>Shooting_004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{35.5,9.5}</string>
                <key>spriteSize</key>
                <string>{259,277}</string>
                <key>spriteSourceSize</key>
                <string>{400,320}</string>
                <key>textureRect</key>
                <string>{{1,1},{259,277}}</string>
                <key>textureRotated</key>
                <true/>
                <key>triangles</key>
                <string>0 11 12 9 10 11 2 7 9 7 8 9 5 6 7 4 5 7 2 4 7 2 3 4 0 2 9 0 1 2 0 9 11</string>
                <key>vertices</key>
                <string>257 31 307 63 308 151 365 184 303 225 269 280 193 289 179 253 143 229 141 193 106 122 126 59 168 12</string>
                <key>verticesUV</key>
                <string>259 152 227 202 139 203 106 260 65 198 10 164 1 88 37 74 61 38 97 36 168 1 231 21 278 63</string>
            </dict>
            <key>Shooting_005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{34,9.5}</string>
                <key>spriteSize</key>
                <string>{256,277}</string>
                <key>spriteSourceSize</key>
                <string>{400,320}</string>
                <key>textureRect</key>
                <string>{{1,542},{256,277}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>0 11 12 9 10 11 2 7 9 7 8 9 5 6 7 4 5 7 2 4 7 2 3 4 0 2 9 0 1 2 0 9 11</string>
                <key>vertices</key>
                <string>257 31 307 63 308 151 362 184 303 225 269 280 193 289 179 253 143 229 141 193 106 122 126 59 168 12</string>
                <key>verticesUV</key>
                <string>152 561 202 593 203 681 257 714 198 755 164 810 88 819 74 783 38 759 36 723 1 652 21 589 63 542</string>
            </dict>
            <key>Shooting_006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{33,9.5}</string>
                <key>spriteSize</key>
                <string>{254,277}</string>
                <key>spriteSourceSize</key>
                <string>{400,320}</string>
                <key>textureRect</key>
                <string>{{1,821},{254,277}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>0 11 12 9 10 11 2 7 9 7 8 9 5 6 7 4 5 7 2 4 7 2 3 4 0 2 9 0 1 2 0 9 11</string>
                <key>vertices</key>
                <string>257 31 307 63 308 151 360 183 303 225 269 280 193 289 179 253 143 229 141 193 106 122 126 59 168 12</string>
                <key>verticesUV</key>
                <string>152 840 202 872 203 960 255 992 198 1034 164 1089 88 1098 74 1062 38 1038 36 1002 1 931 21 868 63 821</string>
            </dict>
            <key>Shooting_007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{32.5,9.5}</string>
                <key>spriteSize</key>
                <string>{253,277}</string>
                <key>spriteSourceSize</key>
                <string>{400,320}</string>
                <key>textureRect</key>
                <string>{{257,845},{253,277}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>0 11 12 9 10 11 9 2 7 7 8 9 5 6 7 4 5 7 2 4 7 2 3 4 9 0 2 0 1 2 0 9 11</string>
                <key>vertices</key>
                <string>257 31 305 62 312 161 359 182 303 225 269 280 193 289 179 253 143 229 141 193 106 122 126 59 168 12</string>
                <key>verticesUV</key>
                <string>408 864 456 895 463 994 510 1015 454 1058 420 1113 344 1122 330 1086 294 1062 292 1026 257 955 277 892 319 845</string>
            </dict>
            <key>Shooting_008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{31.5,9.5}</string>
                <key>spriteSize</key>
                <string>{251,277}</string>
                <key>spriteSourceSize</key>
                <string>{400,320}</string>
                <key>textureRect</key>
                <string>{{259,566},{251,277}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>0 11 12 9 10 11 9 2 7 7 8 9 5 6 7 4 5 7 2 4 7 2 3 4 9 0 2 0 1 2 0 9 11</string>
                <key>vertices</key>
                <string>257 31 306 62 310 161 357 182 303 225 269 280 193 289 179 253 143 229 141 193 106 122 126 59 168 12</string>
                <key>verticesUV</key>
                <string>410 585 459 616 463 715 510 736 456 779 422 834 346 843 332 807 296 783 294 747 259 676 279 613 321 566</string>
            </dict>
            <key>Shooting_009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{30.5,9.5}</string>
                <key>spriteSize</key>
                <string>{249,277}</string>
                <key>spriteSourceSize</key>
                <string>{400,320}</string>
                <key>textureRect</key>
                <string>{{260,287},{249,277}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>0 11 12 9 10 11 9 2 7 7 8 9 5 6 7 4 5 7 2 4 7 2 3 4 9 0 2 0 1 2 0 9 11</string>
                <key>vertices</key>
                <string>257 31 307 63 308 161 355 181 303 225 269 280 193 289 179 253 143 229 141 193 106 122 126 59 168 12</string>
                <key>verticesUV</key>
                <string>411 306 461 338 462 436 509 456 457 500 423 555 347 564 333 528 297 504 295 468 260 397 280 334 322 287</string>
            </dict>
            <key>Shooting_010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15.5,11}</string>
                <key>spriteSize</key>
                <string>{201,284}</string>
                <key>spriteSourceSize</key>
                <string>{400,320}</string>
                <key>textureRect</key>
                <string>{{280,1},{201,284}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>0 10 11 0 1 9 1 2 8 6 7 8 4 5 6 2 3 4 2 4 6 2 6 8 1 8 9 0 9 10</string>
                <key>vertices</key>
                <string>290 45 310 97 303 181 316 224 249 291 189 280 171 238 144 228 142 193 116 140 115 72 173 7</string>
                <key>verticesUV</key>
                <string>455 39 475 91 468 175 481 218 414 285 354 274 336 232 309 222 307 187 281 134 280 66 338 1</string>
            </dict>
            <key>Shooting_011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12.5,8.5}</string>
                <key>spriteSize</key>
                <string>{193,279}</string>
                <key>spriteSourceSize</key>
                <string>{400,320}</string>
                <key>textureRect</key>
                <string>{{197,1853},{193,279}}</string>
                <key>textureRotated</key>
                <true/>
                <key>triangles</key>
                <string>0 8 9 0 7 8 2 3 4 2 4 5 2 5 6 6 0 1 6 1 2 0 6 7</string>
                <key>vertices</key>
                <string>262 30 309 65 309 231 249 291 190 280 145 225 140 187 116 138 117 73 170 12</string>
                <key>verticesUV</key>
                <string>458 1999 423 2046 257 2046 197 1986 208 1927 263 1882 301 1877 350 1853 415 1854 476 1907</string>
            </dict>
            <key>Shooting_012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,12.5}</string>
                <key>spriteSize</key>
                <string>{194,281}</string>
                <key>spriteSourceSize</key>
                <string>{400,320}</string>
                <key>textureRect</key>
                <string>{{1,1657},{194,281}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>0 8 9 8 0 1 5 3 4 5 6 3 2 3 6 1 2 6 1 6 7 8 1 7</string>
                <key>vertices</key>
                <string>293 45 312 97 309 227 263 280 198 288 145 224 145 194 118 140 118 70 177 7</string>
                <key>verticesUV</key>
                <string>176 1695 195 1747 192 1877 146 1930 81 1938 28 1874 28 1844 1 1790 1 1720 60 1657</string>
            </dict>
            <key>Shooting_013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,8}</string>
                <key>spriteSize</key>
                <string>{194,278}</string>
                <key>spriteSourceSize</key>
                <string>{400,320}</string>
                <key>textureRect</key>
                <string>{{197,1657},{194,278}}</string>
                <key>textureRotated</key>
                <true/>
                <key>triangles</key>
                <string>0 9 10 0 8 9 3 4 5 6 7 3 6 3 5 2 3 7 8 0 2 0 1 2 8 2 7</string>
                <key>vertices</key>
                <string>234 25 294 45 313 97 309 231 249 291 189 280 146 222 145 192 119 140 119 70 174 13</string>
                <key>verticesUV</key>
                <string>463 1772 443 1832 391 1851 257 1847 197 1787 208 1727 266 1684 296 1683 348 1657 418 1657 475 1712</string>
            </dict>
            <key>Shooting_014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,8.5}</string>
                <key>spriteSize</key>
                <string>{202,277}</string>
                <key>spriteSourceSize</key>
                <string>{400,320}</string>
                <key>textureRect</key>
                <string>{{1,1100},{202,277}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>0 10 11 9 10 2 2 10 0 6 7 8 4 5 6 3 4 6 2 3 6 9 2 8 0 1 2 8 2 6</string>
                <key>vertices</key>
                <string>261 28 302 57 313 99 309 235 260 280 192 290 174 234 145 224 145 207 111 105 136 54 177 13</string>
                <key>verticesUV</key>
                <string>151 1115 192 1144 203 1186 199 1322 150 1367 82 1377 64 1321 35 1311 35 1294 1 1192 26 1141 67 1100</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Archer_03_Attacking.png</string>
            <key>size</key>
            <string>{511,2047}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2af6dea40f118aed70ff3de12bbc8f1f:f853d09e693d117ac633b0ff446cce24:9b5241da0ff0e50e79f0aaa64edc2f39$</string>
            <key>textureFileName</key>
            <string>Archer_03_Attacking.png</string>
        </dict>
    </dict>
</plist>
