<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Shooting_000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1.5,3}</string>
                <key>spriteSize</key>
                <string>{251,266}</string>
                <key>spriteSourceSize</key>
                <string>{400,320}</string>
                <key>textureRect</key>
                <string>{{1,1},{251,266}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>9 10 11 8 9 11 0 8 11 6 7 8 3 4 6 4 5 6 8 2 3 8 0 2 0 1 2 8 3 6</string>
                <key>vertices</key>
                <string>259 38 304 59 324 110 320 213 272 279 194 290 170 242 147 219 133 175 88 140 73 106 199 24</string>
                <key>verticesUV</key>
                <string>187 15 232 36 252 87 248 190 200 256 122 267 98 219 75 196 61 152 16 117 1 83 127 1</string>
            </dict>
            <key>Shooting_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,5}</string>
                <key>spriteSize</key>
                <string>{208,254}</string>
                <key>spriteSourceSize</key>
                <string>{400,320}</string>
                <key>textureRect</key>
                <string>{{1,796},{208,254}}</string>
                <key>textureRotated</key>
                <true/>
                <key>triangles</key>
                <string>1 9 10 7 8 9 1 7 9 2 3 4 4 5 6 2 4 6 1 2 6 1 6 7 0 1 10</string>
                <key>vertices</key>
                <string>303 59 322 113 308 223 287 263 255 282 194 281 148 235 114 135 123 75 175 37 237 28</string>
                <key>verticesUV</key>
                <string>224 985 170 1004 60 990 20 969 1 937 2 876 48 830 148 796 208 805 246 857 255 919</string>
            </dict>
            <key>Shooting_002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{17.5,-1.5}</string>
                <key>spriteSize</key>
                <string>{209,259}</string>
                <key>spriteSourceSize</key>
                <string>{400,320}</string>
                <key>textureRect</key>
                <string>{{254,1},{209,259}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>7 9 10 7 8 9 0 7 10 5 6 7 2 3 5 3 4 5 1 2 5 0 1 5 0 5 7</string>
                <key>vertices</key>
                <string>277 47 322 92 306 234 249 291 189 280 172 236 136 226 113 130 124 75 176 35 238 32</string>
                <key>verticesUV</key>
                <string>418 16 463 61 447 203 390 260 330 249 313 205 277 195 254 99 265 44 317 4 379 1</string>
            </dict>
            <key>Shooting_003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{41.5,5}</string>
                <key>spriteSize</key>
                <string>{253,256}</string>
                <key>spriteSourceSize</key>
                <string>{400,320}</string>
                <key>textureRect</key>
                <string>{{722,521},{253,256}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>2 11 12 9 10 11 2 9 11 7 8 9 4 5 7 5 6 7 2 4 7 2 3 4 2 7 9 0 1 2 0 2 12</string>
                <key>vertices</key>
                <string>310 75 318 122 306 155 368 178 302 227 267 283 190 282 174 239 144 230 115 151 115 89 158 40 245 27</string>
                <key>verticesUV</key>
                <string>917 569 925 616 913 649 975 672 909 721 874 777 797 776 781 733 751 724 722 645 722 583 765 534 852 521</string>
            </dict>
            <key>Shooting_004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{37,0}</string>
                <key>spriteSize</key>
                <string>{260,258}</string>
                <key>spriteSourceSize</key>
                <string>{400,320}</string>
                <key>textureRect</key>
                <string>{{1,534},{260,258}}</string>
                <key>textureRotated</key>
                <true/>
                <key>triangles</key>
                <string>10 11 12 9 10 12 2 9 12 2 8 9 4 5 7 5 6 7 2 4 7 2 3 4 2 7 8 1 2 12 0 1 12</string>
                <key>vertices</key>
                <string>278 43 316 95 317 160 367 182 303 225 269 280 193 289 179 253 144 230 107 130 129 66 173 35 219 31</string>
                <key>verticesUV</key>
                <string>247 705 195 743 130 744 108 794 65 730 10 696 1 620 37 606 60 571 160 534 224 556 255 600 259 646</string>
            </dict>
            <key>Shooting_005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{36,0}</string>
                <key>spriteSize</key>
                <string>{258,258}</string>
                <key>spriteSourceSize</key>
                <string>{400,320}</string>
                <key>textureRect</key>
                <string>{{416,262},{258,258}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>10 11 12 9 10 12 2 9 12 2 8 9 4 5 7 5 6 7 2 4 7 2 3 4 2 7 8 0 1 2 0 2 12</string>
                <key>vertices</key>
                <string>278 43 325 105 305 160 365 181 303 225 269 280 193 289 179 253 144 230 107 130 129 66 173 35 219 31</string>
                <key>verticesUV</key>
                <string>587 274 634 336 614 391 674 412 612 456 578 511 502 520 488 484 453 461 416 361 438 297 482 266 528 262</string>
            </dict>
            <key>Shooting_006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{35.5,0}</string>
                <key>spriteSize</key>
                <string>{257,258}</string>
                <key>spriteSourceSize</key>
                <string>{400,320}</string>
                <key>textureRect</key>
                <string>{{465,1},{257,258}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>10 11 12 9 10 12 2 9 12 2 8 9 4 5 7 5 6 7 2 4 7 2 3 4 2 7 8 0 1 2 0 2 12</string>
                <key>vertices</key>
                <string>278 43 325 105 305 160 364 181 303 225 269 280 193 289 179 253 144 230 107 130 129 66 173 35 219 31</string>
                <key>verticesUV</key>
                <string>636 13 683 75 663 130 722 151 661 195 627 250 551 259 537 223 502 200 465 100 487 36 531 5 577 1</string>
            </dict>
            <key>Shooting_007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{33,0}</string>
                <key>spriteSize</key>
                <string>{252,258}</string>
                <key>spriteSourceSize</key>
                <string>{400,320}</string>
                <key>textureRect</key>
                <string>{{468,522},{252,258}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>10 11 12 9 10 12 1 2 9 2 8 9 4 5 7 5 6 7 2 4 7 2 3 4 2 7 8 1 9 12 0 1 12</string>
                <key>vertices</key>
                <string>278 43 314 91 324 166 359 182 303 225 269 280 193 289 179 253 144 230 107 130 129 66 173 35 219 31</string>
                <key>verticesUV</key>
                <string>639 534 675 582 685 657 720 673 664 716 630 771 554 780 540 744 505 721 468 621 490 557 534 526 580 522</string>
            </dict>
            <key>Shooting_008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{32,0}</string>
                <key>spriteSize</key>
                <string>{250,258}</string>
                <key>spriteSourceSize</key>
                <string>{400,320}</string>
                <key>textureRect</key>
                <string>{{676,261},{250,258}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>10 11 12 9 10 12 2 9 12 2 8 9 4 5 7 5 6 7 2 4 7 2 3 4 2 7 8 1 2 12 0 1 12</string>
                <key>vertices</key>
                <string>278 43 316 93 322 166 357 182 303 225 269 280 193 289 179 253 144 230 107 130 129 66 173 35 219 31</string>
                <key>verticesUV</key>
                <string>847 273 885 323 891 396 926 412 872 455 838 510 762 519 748 483 713 460 676 360 698 296 742 265 788 261</string>
            </dict>
            <key>Shooting_009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{30.5,0}</string>
                <key>spriteSize</key>
                <string>{247,258}</string>
                <key>spriteSourceSize</key>
                <string>{400,320}</string>
                <key>textureRect</key>
                <string>{{724,1},{247,258}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>10 11 12 9 10 12 2 9 12 2 8 9 4 5 7 5 6 7 2 4 7 2 3 4 2 7 8 0 1 2 0 2 12</string>
                <key>vertices</key>
                <string>278 43 325 106 304 157 354 182 303 225 269 280 193 289 179 253 144 230 107 130 129 66 173 35 219 31</string>
                <key>verticesUV</key>
                <string>895 13 942 76 921 127 971 152 920 195 886 250 810 259 796 223 761 200 724 100 746 36 790 5 836 1</string>
            </dict>
            <key>Shooting_010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{17,-1}</string>
                <key>spriteSize</key>
                <string>{204,256}</string>
                <key>spriteSourceSize</key>
                <string>{400,320}</string>
                <key>textureRect</key>
                <string>{{516,782},{204,256}}</string>
                <key>textureRotated</key>
                <true/>
                <key>triangles</key>
                <string>9 10 11 3 7 9 7 8 9 5 6 7 4 5 7 3 4 7 0 3 9 0 2 3 0 1 2 0 9 11</string>
                <key>vertices</key>
                <string>256 35 311 75 319 119 308 162 308 223 266 280 193 289 171 238 145 228 115 150 116 84 170 33</string>
                <key>verticesUV</key>
                <string>770 923 730 978 686 986 643 975 582 975 525 933 516 860 567 838 577 812 655 782 721 783 772 837</string>
            </dict>
            <key>Shooting_011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18.5,0.5}</string>
                <key>spriteSize</key>
                <string>{203,263}</string>
                <key>spriteSourceSize</key>
                <string>{400,320}</string>
                <key>textureRect</key>
                <string>{{1,269},{203,263}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>6 8 9 6 7 8 1 6 9 4 2 3 4 5 2 1 2 5 1 5 6 0 1 9</string>
                <key>vertices</key>
                <string>302 61 320 112 308 232 249 291 190 280 145 226 117 151 117 85 163 40 238 28</string>
                <key>verticesUV</key>
                <string>186 302 204 353 192 473 133 532 74 521 29 467 1 392 1 326 47 281 122 269</string>
            </dict>
            <key>Shooting_012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{20.5,1.5}</string>
                <key>spriteSize</key>
                <string>{205,259}</string>
                <key>spriteSourceSize</key>
                <string>{400,320}</string>
                <key>textureRect</key>
                <string>{{261,531},{205,259}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>6 8 9 6 7 8 0 6 9 2 3 5 3 4 5 6 1 2 6 0 1 6 2 5</string>
                <key>vertices</key>
                <string>278 47 323 90 309 228 262 281 198 288 145 225 118 151 118 85 164 40 231 29</string>
                <key>verticesUV</key>
                <string>421 549 466 592 452 730 405 783 341 790 288 727 261 653 261 587 307 542 374 531</string>
            </dict>
            <key>Shooting_013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18.5,5.5}</string>
                <key>spriteSize</key>
                <string>{207,257}</string>
                <key>spriteSourceSize</key>
                <string>{400,320}</string>
                <key>textureRect</key>
                <string>{{257,796},{207,257}}</string>
                <key>textureRotated</key>
                <true/>
                <key>triangles</key>
                <string>6 8 9 6 7 8 1 6 9 4 2 3 4 5 2 1 2 5 1 5 6 0 1 9</string>
                <key>vertices</key>
                <string>303 59 322 113 308 232 257 283 194 281 147 234 115 137 122 81 159 42 232 26</string>
                <key>verticesUV</key>
                <string>481 984 427 1003 308 989 257 938 259 875 306 828 403 796 459 803 498 840 514 913</string>
            </dict>
            <key>Shooting_014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{19,7}</string>
                <key>spriteSize</key>
                <string>{208,260}</string>
                <key>spriteSourceSize</key>
                <string>{400,320}</string>
                <key>textureRect</key>
                <string>{{206,269},{208,260}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>0 9 10 0 8 9 6 7 8 3 4 6 4 5 6 2 3 6 8 0 2 0 1 2 8 2 6</string>
                <key>vertices</key>
                <string>259 38 305 60 323 113 308 234 259 283 190 282 174 234 145 223 115 134 126 75 192 23</string>
                <key>verticesUV</key>
                <string>350 284 396 306 414 359 399 480 350 529 281 528 265 480 236 469 206 380 217 321 283 269</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Archer_01_Attacking.png</string>
            <key>size</key>
            <string>{976,1005}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3455c544994a08345c26dde32126618e:f08134e5b01e093b9811b2469ecf5e5d:3bf053b6215211fe86a3c5a6054c9653$</string>
            <key>textureFileName</key>
            <string>Archer_01_Attacking.png</string>
        </dict>
    </dict>
</plist>
