<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Golem_03_Attacking (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{70,-36}</string>
                <key>spriteSize</key>
                <string>{428,350}</string>
                <key>spriteSourceSize</key>
                <string>{720,480}</string>
                <key>textureRect</key>
                <string>{{387,681},{428,350}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Golem_03_Attacking (10).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{79,-36}</string>
                <key>spriteSize</key>
                <string>{512,350}</string>
                <key>spriteSourceSize</key>
                <string>{720,480}</string>
                <key>textureRect</key>
                <string>{{791,1039},{512,350}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Golem_03_Attacking (11).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{76,-36}</string>
                <key>spriteSize</key>
                <string>{490,350}</string>
                <key>spriteSourceSize</key>
                <string>{720,480}</string>
                <key>textureRect</key>
                <string>{{817,687},{490,350}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Golem_03_Attacking (12).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{73,-37}</string>
                <key>spriteSize</key>
                <string>{464,348}</string>
                <key>spriteSourceSize</key>
                <string>{720,480}</string>
                <key>textureRect</key>
                <string>{{859,337},{464,348}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Golem_03_Attacking (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{49,-34}</string>
                <key>spriteSize</key>
                <string>{404,354}</string>
                <key>spriteSourceSize</key>
                <string>{720,480}</string>
                <key>textureRect</key>
                <string>{{1305,1055},{404,354}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Golem_03_Attacking (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{21,-3}</string>
                <key>spriteSize</key>
                <string>{364,416}</string>
                <key>spriteSourceSize</key>
                <string>{720,480}</string>
                <key>textureRect</key>
                <string>{{833,2849},{364,416}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Golem_03_Attacking (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,4}</string>
                <key>spriteSize</key>
                <string>{344,430}</string>
                <key>spriteSourceSize</key>
                <string>{720,480}</string>
                <key>textureRect</key>
                <string>{{427,335},{344,430}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Golem_03_Attacking (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,1}</string>
                <key>spriteSize</key>
                <string>{338,424}</string>
                <key>spriteSourceSize</key>
                <string>{720,480}</string>
                <key>textureRect</key>
                <string>{{1,333},{338,424}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Golem_03_Attacking (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,-2}</string>
                <key>spriteSize</key>
                <string>{332,418}</string>
                <key>spriteSourceSize</key>
                <string>{720,480}</string>
                <key>textureRect</key>
                <string>{{829,1},{332,418}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Golem_03_Attacking (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,-6}</string>
                <key>spriteSize</key>
                <string>{324,410}</string>
                <key>spriteSourceSize</key>
                <string>{720,480}</string>
                <key>textureRect</key>
                <string>{{1,1},{324,410}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Golem_03_Attacking (8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,-2}</string>
                <key>spriteSize</key>
                <string>{400,418}</string>
                <key>spriteSourceSize</key>
                <string>{720,480}</string>
                <key>textureRect</key>
                <string>{{1633,2853},{400,418}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Golem_03_Attacking (9).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{84,-36}</string>
                <key>spriteSize</key>
                <string>{534,350}</string>
                <key>spriteSourceSize</key>
                <string>{720,480}</string>
                <key>textureRect</key>
                <string>{{1309,703},{534,350}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Golem_03_Dying (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{70,-36}</string>
                <key>spriteSize</key>
                <string>{428,350}</string>
                <key>spriteSourceSize</key>
                <string>{720,480}</string>
                <key>textureRect</key>
                <string>{{361,1033},{428,350}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Golem_03_Dying (10).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-70,-31}</string>
                <key>spriteSize</key>
                <string>{356,400}</string>
                <key>spriteSourceSize</key>
                <string>{720,480}</string>
                <key>textureRect</key>
                <string>{{1609,1411},{356,400}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Golem_03_Dying (11).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-70,-32}</string>
                <key>spriteSize</key>
                <string>{350,398}</string>
                <key>spriteSourceSize</key>
                <string>{720,480}</string>
                <key>textureRect</key>
                <string>{{1633,1},{350,398}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Golem_03_Dying (12).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-68,-39}</string>
                <key>spriteSize</key>
                <string>{352,384}</string>
                <key>spriteSourceSize</key>
                <string>{720,480}</string>
                <key>textureRect</key>
                <string>{{1,673},{352,384}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Golem_03_Dying (13).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-68,-39}</string>
                <key>spriteSize</key>
                <string>{352,384}</string>
                <key>spriteSourceSize</key>
                <string>{720,480}</string>
                <key>textureRect</key>
                <string>{{1,673},{352,384}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Golem_03_Dying (14).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-68,-39}</string>
                <key>spriteSize</key>
                <string>{352,384}</string>
                <key>spriteSourceSize</key>
                <string>{720,480}</string>
                <key>textureRect</key>
                <string>{{1,673},{352,384}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Golem_03_Dying (15).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-68,-39}</string>
                <key>spriteSize</key>
                <string>{352,384}</string>
                <key>spriteSourceSize</key>
                <string>{720,480}</string>
                <key>textureRect</key>
                <string>{{1,673},{352,384}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Golem_03_Dying (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{76,-34}</string>
                <key>spriteSize</key>
                <string>{416,354}</string>
                <key>spriteSourceSize</key>
                <string>{720,480}</string>
                <key>textureRect</key>
                <string>{{1,1385},{416,354}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Golem_03_Dying (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{81,-32}</string>
                <key>spriteSize</key>
                <string>{406,356}</string>
                <key>spriteSourceSize</key>
                <string>{720,480}</string>
                <key>textureRect</key>
                <string>{{789,1391},{406,356}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Golem_03_Dying (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{79,-30}</string>
                <key>spriteSize</key>
                <string>{410,356}</string>
                <key>spriteSourceSize</key>
                <string>{720,480}</string>
                <key>textureRect</key>
                <string>{{1197,1411},{410,356}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Golem_03_Dying (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{70,-26}</string>
                <key>spriteSize</key>
                <string>{380,364}</string>
                <key>spriteSourceSize</key>
                <string>{720,480}</string>
                <key>textureRect</key>
                <string>{{1251,2853},{380,364}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Golem_03_Dying (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{41,-23}</string>
                <key>spriteSize</key>
                <string>{358,368}</string>
                <key>spriteSourceSize</key>
                <string>{720,480}</string>
                <key>textureRect</key>
                <string>{{419,1385},{358,368}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Golem_03_Dying (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-11}</string>
                <key>spriteSize</key>
                <string>{334,382}</string>
                <key>spriteSourceSize</key>
                <string>{720,480}</string>
                <key>textureRect</key>
                <string>{{1249,1},{334,382}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Golem_03_Dying (8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-41,4}</string>
                <key>spriteSize</key>
                <string>{330,414}</string>
                <key>spriteSourceSize</key>
                <string>{720,480}</string>
                <key>textureRect</key>
                <string>{{413,1},{330,414}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Golem_03_Dying (9).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-63,-7}</string>
                <key>spriteSize</key>
                <string>{348,430}</string>
                <key>spriteSourceSize</key>
                <string>{720,480}</string>
                <key>textureRect</key>
                <string>{{1325,353},{348,430}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Golem_03_Walking (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{58,-39}</string>
                <key>spriteSize</key>
                <string>{462,356}</string>
                <key>spriteSourceSize</key>
                <string>{720,480}</string>
                <key>textureRect</key>
                <string>{{1153,1769},{462,356}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Golem_03_Walking (10).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{59,-39}</string>
                <key>spriteSize</key>
                <string>{352,358}</string>
                <key>spriteSourceSize</key>
                <string>{720,480}</string>
                <key>textureRect</key>
                <string>{{1,1027},{352,358}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Golem_03_Walking (11).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{64,-39}</string>
                <key>spriteSize</key>
                <string>{362,360}</string>
                <key>spriteSourceSize</key>
                <string>{720,480}</string>
                <key>textureRect</key>
                <string>{{389,2105},{362,360}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Golem_03_Walking (12).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{69,-38}</string>
                <key>spriteSize</key>
                <string>{372,360}</string>
                <key>spriteSourceSize</key>
                <string>{720,480}</string>
                <key>textureRect</key>
                <string>{{377,2467},{372,360}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Golem_03_Walking (13).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{73,-37}</string>
                <key>spriteSize</key>
                <string>{380,360}</string>
                <key>spriteSourceSize</key>
                <string>{720,480}</string>
                <key>textureRect</key>
                <string>{{751,2471},{380,360}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Golem_03_Walking (14).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{76,-34}</string>
                <key>spriteSize</key>
                <string>{386,360}</string>
                <key>spriteSourceSize</key>
                <string>{720,480}</string>
                <key>textureRect</key>
                <string>{{1561,2491},{386,360}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Golem_03_Walking (15).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{79,-33}</string>
                <key>spriteSize</key>
                <string>{390,358}</string>
                <key>spriteSourceSize</key>
                <string>{720,480}</string>
                <key>textureRect</key>
                <string>{{761,1749},{390,358}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Golem_03_Walking (16).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{77,-36}</string>
                <key>spriteSize</key>
                <string>{404,360}</string>
                <key>spriteSourceSize</key>
                <string>{720,480}</string>
                <key>textureRect</key>
                <string>{{1,2829},{404,360}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Golem_03_Walking (17).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{72,-38}</string>
                <key>spriteSize</key>
                <string>{424,360}</string>
                <key>spriteSourceSize</key>
                <string>{720,480}</string>
                <key>textureRect</key>
                <string>{{407,2833},{424,360}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Golem_03_Walking (18).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{66,-39}</string>
                <key>spriteSize</key>
                <string>{442,358}</string>
                <key>spriteSourceSize</key>
                <string>{720,480}</string>
                <key>textureRect</key>
                <string>{{1585,2131},{442,358}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Golem_03_Walking (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{64,-39}</string>
                <key>spriteSize</key>
                <string>{446,358}</string>
                <key>spriteSourceSize</key>
                <string>{720,480}</string>
                <key>textureRect</key>
                <string>{{1137,2127},{446,358}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Golem_03_Walking (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{71,-38}</string>
                <key>spriteSize</key>
                <string>{426,360}</string>
                <key>spriteSourceSize</key>
                <string>{720,480}</string>
                <key>textureRect</key>
                <string>{{1133,2487},{426,360}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Golem_03_Walking (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{77,-36}</string>
                <key>spriteSize</key>
                <string>{406,360}</string>
                <key>spriteSourceSize</key>
                <string>{720,480}</string>
                <key>textureRect</key>
                <string>{{1617,1769},{406,360}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Golem_03_Walking (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{79,-34}</string>
                <key>spriteSize</key>
                <string>{392,358}</string>
                <key>spriteSourceSize</key>
                <string>{720,480}</string>
                <key>textureRect</key>
                <string>{{1,1741},{392,358}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Golem_03_Walking (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{77,-34}</string>
                <key>spriteSize</key>
                <string>{386,360}</string>
                <key>spriteSourceSize</key>
                <string>{720,480}</string>
                <key>textureRect</key>
                <string>{{1,2101},{386,360}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Golem_03_Walking (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{74,-36}</string>
                <key>spriteSize</key>
                <string>{382,360}</string>
                <key>spriteSourceSize</key>
                <string>{720,480}</string>
                <key>textureRect</key>
                <string>{{753,2109},{382,360}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Golem_03_Walking (8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{70,-38}</string>
                <key>spriteSize</key>
                <string>{374,360}</string>
                <key>spriteSourceSize</key>
                <string>{720,480}</string>
                <key>textureRect</key>
                <string>{{1,2463},{374,360}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Golem_03_Walking (9).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{65,-39}</string>
                <key>spriteSize</key>
                <string>{364,358}</string>
                <key>spriteSourceSize</key>
                <string>{720,480}</string>
                <key>textureRect</key>
                <string>{{395,1745},{364,358}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Golem_03.png</string>
            <key>size</key>
            <string>{2034,3272}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7a3a46294ebf1979f3452b347ae8e7a9:df1bd4607437477237e17e555ba2e4cd:1cc1c39a71fcd3393e211cf0561a7c54$</string>
            <key>textureFileName</key>
            <string>Golem_03.png</string>
        </dict>
    </dict>
</plist>
