<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>King_03_Attacking (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{29,9}</string>
                <key>spriteSize</key>
                <string>{254,310}</string>
                <key>spriteSourceSize</key>
                <string>{480,342}</string>
                <key>textureRect</key>
                <string>{{1521,463},{254,310}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>King_03_Attacking (10).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{86,5}</string>
                <key>spriteSize</key>
                <string>{298,302}</string>
                <key>spriteSourceSize</key>
                <string>{480,342}</string>
                <key>textureRect</key>
                <string>{{941,1257},{298,302}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>King_03_Attacking (11).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{82,7}</string>
                <key>spriteSize</key>
                <string>{292,306}</string>
                <key>spriteSourceSize</key>
                <string>{480,342}</string>
                <key>textureRect</key>
                <string>{{1,1227},{292,306}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>King_03_Attacking (12).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{60,8}</string>
                <key>spriteSize</key>
                <string>{280,308}</string>
                <key>spriteSourceSize</key>
                <string>{480,342}</string>
                <key>textureRect</key>
                <string>{{1,945},{280,308}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>King_03_Attacking (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,10}</string>
                <key>spriteSize</key>
                <string>{212,312}</string>
                <key>spriteSourceSize</key>
                <string>{480,342}</string>
                <key>textureRect</key>
                <string>{{1,1},{212,312}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>King_03_Attacking (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,10}</string>
                <key>spriteSize</key>
                <string>{224,312}</string>
                <key>spriteSourceSize</key>
                <string>{480,342}</string>
                <key>textureRect</key>
                <string>{{1563,1},{224,312}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>King_03_Attacking (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-26,9}</string>
                <key>spriteSize</key>
                <string>{226,310}</string>
                <key>spriteSourceSize</key>
                <string>{480,342}</string>
                <key>textureRect</key>
                <string>{{1,215},{226,310}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>King_03_Attacking (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-28,9}</string>
                <key>spriteSize</key>
                <string>{228,310}</string>
                <key>spriteSourceSize</key>
                <string>{480,342}</string>
                <key>textureRect</key>
                <string>{{313,215},{228,310}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>King_03_Attacking (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-29,9}</string>
                <key>spriteSize</key>
                <string>{228,310}</string>
                <key>spriteSourceSize</key>
                <string>{480,342}</string>
                <key>textureRect</key>
                <string>{{625,215},{228,310}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>King_03_Attacking (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-30,9}</string>
                <key>spriteSize</key>
                <string>{230,310}</string>
                <key>spriteSourceSize</key>
                <string>{480,342}</string>
                <key>textureRect</key>
                <string>{{1243,223},{230,310}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>King_03_Attacking (8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,11}</string>
                <key>spriteSize</key>
                <string>{212,314}</string>
                <key>spriteSourceSize</key>
                <string>{480,342}</string>
                <key>textureRect</key>
                <string>{{315,1},{212,314}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>King_03_Attacking (9).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{84,8}</string>
                <key>spriteSize</key>
                <string>{300,308}</string>
                <key>spriteSourceSize</key>
                <string>{480,342}</string>
                <key>textureRect</key>
                <string>{{319,1525},{300,308}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>King_03_Dying (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{29,9}</string>
                <key>spriteSize</key>
                <string>{254,310}</string>
                <key>spriteSourceSize</key>
                <string>{480,342}</string>
                <key>textureRect</key>
                <string>{{1,689},{254,310}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>King_03_Dying (10).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-86,-44}</string>
                <key>spriteSize</key>
                <string>{294,236}</string>
                <key>spriteSourceSize</key>
                <string>{480,342}</string>
                <key>textureRect</key>
                <string>{{1,443},{294,236}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>King_03_Dying (11).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-87,-35}</string>
                <key>spriteSize</key>
                <string>{298,264}</string>
                <key>spriteSourceSize</key>
                <string>{480,342}</string>
                <key>textureRect</key>
                <string>{{903,705},{298,264}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>King_03_Dying (12).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-89,-33}</string>
                <key>spriteSize</key>
                <string>{302,272}</string>
                <key>spriteSourceSize</key>
                <string>{480,342}</string>
                <key>textureRect</key>
                <string>{{1517,719},{302,272}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>King_03_Dying (13).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-89,-33}</string>
                <key>spriteSize</key>
                <string>{302,272}</string>
                <key>spriteSourceSize</key>
                <string>{480,342}</string>
                <key>textureRect</key>
                <string>{{1517,719},{302,272}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>King_03_Dying (14).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-89,-33}</string>
                <key>spriteSize</key>
                <string>{302,272}</string>
                <key>spriteSourceSize</key>
                <string>{480,342}</string>
                <key>textureRect</key>
                <string>{{1517,719},{302,272}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>King_03_Dying (15).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-89,-33}</string>
                <key>spriteSize</key>
                <string>{302,272}</string>
                <key>spriteSourceSize</key>
                <string>{480,342}</string>
                <key>textureRect</key>
                <string>{{1517,719},{302,272}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>King_03_Dying (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{36,10}</string>
                <key>spriteSize</key>
                <string>{244,310}</string>
                <key>spriteSourceSize</key>
                <string>{480,342}</string>
                <key>textureRect</key>
                <string>{{607,445},{244,310}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>King_03_Dying (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{44,10}</string>
                <key>spriteSize</key>
                <string>{234,308}</string>
                <key>spriteSourceSize</key>
                <string>{480,342}</string>
                <key>textureRect</key>
                <string>{{1555,227},{234,308}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>King_03_Dying (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{49,10}</string>
                <key>spriteSize</key>
                <string>{228,304}</string>
                <key>spriteSourceSize</key>
                <string>{480,342}</string>
                <key>textureRect</key>
                <string>{{937,223},{228,304}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>King_03_Dying (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{23,14}</string>
                <key>spriteSize</key>
                <string>{220,310}</string>
                <key>spriteSourceSize</key>
                <string>{480,342}</string>
                <key>textureRect</key>
                <string>{{943,1},{220,310}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>King_03_Dying (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,15}</string>
                <key>spriteSize</key>
                <string>{212,310}</string>
                <key>spriteSourceSize</key>
                <string>{480,342}</string>
                <key>textureRect</key>
                <string>{{631,1},{212,310}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>King_03_Dying (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-32,15}</string>
                <key>spriteSize</key>
                <string>{220,306}</string>
                <key>spriteSourceSize</key>
                <string>{480,342}</string>
                <key>textureRect</key>
                <string>{{1255,1},{220,306}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>King_03_Dying (8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-62,0}</string>
                <key>spriteSize</key>
                <string>{262,276}</string>
                <key>spriteSourceSize</key>
                <string>{480,342}</string>
                <key>textureRect</key>
                <string>{{313,689},{262,276}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>King_03_Dying (9).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-81,-17}</string>
                <key>spriteSize</key>
                <string>{290,250}</string>
                <key>spriteSourceSize</key>
                <string>{480,342}</string>
                <key>textureRect</key>
                <string>{{919,453},{290,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>King_03_Walking  (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{51,7}</string>
                <key>spriteSize</key>
                <string>{242,308}</string>
                <key>spriteSourceSize</key>
                <string>{480,342}</string>
                <key>textureRect</key>
                <string>{{297,445},{242,308}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>King_03_Walking  (10).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{70,8}</string>
                <key>spriteSize</key>
                <string>{284,308}</string>
                <key>spriteSourceSize</key>
                <string>{480,342}</string>
                <key>textureRect</key>
                <string>{{943,971},{284,308}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>King_03_Walking  (11).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{68,8}</string>
                <key>spriteSize</key>
                <string>{284,310}</string>
                <key>spriteSourceSize</key>
                <string>{480,342}</string>
                <key>textureRect</key>
                <string>{{1253,993},{284,310}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>King_03_Walking  (12).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{64,9}</string>
                <key>spriteSize</key>
                <string>{284,310}</string>
                <key>spriteSourceSize</key>
                <string>{480,342}</string>
                <key>textureRect</key>
                <string>{{1565,993},{284,310}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>King_03_Walking  (13).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{57,10}</string>
                <key>spriteSize</key>
                <string>{290,312}</string>
                <key>spriteSourceSize</key>
                <string>{480,342}</string>
                <key>textureRect</key>
                <string>{{627,1251},{290,312}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>King_03_Walking  (14).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{50,11}</string>
                <key>spriteSize</key>
                <string>{294,314}</string>
                <key>spriteSourceSize</key>
                <string>{480,342}</string>
                <key>textureRect</key>
                <string>{{1559,1279},{294,314}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>King_03_Walking  (15).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{44,12}</string>
                <key>spriteSize</key>
                <string>{296,316}</string>
                <key>spriteSourceSize</key>
                <string>{480,342}</string>
                <key>textureRect</key>
                <string>{{621,1543},{296,316}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>King_03_Walking  (16).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{40,12}</string>
                <key>spriteSize</key>
                <string>{294,316}</string>
                <key>spriteSourceSize</key>
                <string>{480,342}</string>
                <key>textureRect</key>
                <string>{{1,1525},{294,316}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>King_03_Walking  (17).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{43,11}</string>
                <key>spriteSize</key>
                <string>{278,314}</string>
                <key>spriteSourceSize</key>
                <string>{480,342}</string>
                <key>textureRect</key>
                <string>{{627,971},{278,314}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>King_03_Walking  (18).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{47,9}</string>
                <key>spriteSize</key>
                <string>{262,312}</string>
                <key>spriteSourceSize</key>
                <string>{480,342}</string>
                <key>textureRect</key>
                <string>{{1203,707},{262,312}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>King_03_Walking  (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{52,7}</string>
                <key>spriteSize</key>
                <string>{250,308}</string>
                <key>spriteSourceSize</key>
                <string>{480,342}</string>
                <key>textureRect</key>
                <string>{{1211,455},{250,308}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>King_03_Walking  (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{51,9}</string>
                <key>spriteSize</key>
                <string>{262,310}</string>
                <key>spriteSourceSize</key>
                <string>{480,342}</string>
                <key>textureRect</key>
                <string>{{591,691},{262,310}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>King_03_Walking  (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{48,11}</string>
                <key>spriteSize</key>
                <string>{276,314}</string>
                <key>spriteSourceSize</key>
                <string>{480,342}</string>
                <key>textureRect</key>
                <string>{{311,955},{276,314}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>King_03_Walking  (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{46,12}</string>
                <key>spriteSize</key>
                <string>{290,316}</string>
                <key>spriteSourceSize</key>
                <string>{480,342}</string>
                <key>textureRect</key>
                <string>{{309,1233},{290,316}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>King_03_Walking  (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{46,12}</string>
                <key>spriteSize</key>
                <string>{300,318}</string>
                <key>spriteSourceSize</key>
                <string>{480,342}</string>
                <key>textureRect</key>
                <string>{{939,1573},{300,318}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>King_03_Walking  (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{49,12}</string>
                <key>spriteSize</key>
                <string>{304,318}</string>
                <key>spriteSourceSize</key>
                <string>{480,342}</string>
                <key>textureRect</key>
                <string>{{1577,1575},{304,318}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>King_03_Walking  (8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{56,11}</string>
                <key>spriteSize</key>
                <string>{300,316}</string>
                <key>spriteSourceSize</key>
                <string>{480,342}</string>
                <key>textureRect</key>
                <string>{{1259,1575},{300,316}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>King_03_Walking  (9).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{63,9}</string>
                <key>spriteSize</key>
                <string>{292,312}</string>
                <key>spriteSourceSize</key>
                <string>{480,342}</string>
                <key>textureRect</key>
                <string>{{1245,1279},{292,312}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>King_03.png</string>
            <key>size</key>
            <string>{1896,1880}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6e6b0f9df1a39563433e89a9fa496e12:0e46887d84ae0185dc6e2ed2fc6f432a:3ac4bff1ee89adcb36d4fa8a04492938$</string>
            <key>textureFileName</key>
            <string>King_03.png</string>
        </dict>
    </dict>
</plist>
