<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Mummy_03_Dying_000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,18.5}</string>
                <key>spriteSize</key>
                <string>{256,283}</string>
                <key>spriteSourceSize</key>
                <string>{520,420}</string>
                <key>textureRect</key>
                <string>{{273,472},{256,283}}</string>
                <key>textureRotated</key>
                <true/>
                <key>triangles</key>
                <string>0 13 14 10 0 4 10 11 12 5 6 10 8 9 10 8 10 6 8 6 7 4 5 10 10 12 0 0 3 4 1 2 3 0 1 3 0 12 13</string>
                <key>vertices</key>
                <string>345 90 390 107 404 132 391 169 370 186 367 220 331 293 284 333 216 320 184 285 187 248 148 225 148 147 194 67 301 50</string>
                <key>verticesUV</key>
                <string>516 669 499 714 474 728 437 715 420 694 386 691 313 655 273 608 286 540 321 508 358 511 381 472 459 472 539 518 556 625</string>
            </dict>
            <key>Mummy_03_Dying_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{19,20.5}</string>
                <key>spriteSize</key>
                <string>{266,263}</string>
                <key>spriteSourceSize</key>
                <string>{520,420}</string>
                <key>textureRect</key>
                <string>{{1,719},{266,263}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>8 9 10 6 8 10 6 7 8 1 2 6 5 6 3 5 3 4 2 3 6 1 6 10 0 1 10</string>
                <key>vertices</key>
                <string>412 120 386 186 332 292 291 321 226 321 202 297 190 252 146 208 156 135 209 58 314 58</string>
                <key>verticesUV</key>
                <string>267 781 241 847 187 953 146 982 81 982 57 958 45 913 1 869 11 796 64 719 169 719</string>
            </dict>
            <key>Mummy_03_Dying_002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{23,22}</string>
                <key>spriteSize</key>
                <string>{264,278}</string>
                <key>spriteSourceSize</key>
                <string>{520,420}</string>
                <key>textureRect</key>
                <string>{{544,733},{264,278}}</string>
                <key>textureRotated</key>
                <true/>
                <key>triangles</key>
                <string>9 10 11 6 9 11 6 8 9 6 7 8 2 3 6 4 5 6 3 4 6 0 2 6 0 1 2 0 6 11</string>
                <key>vertices</key>
                <string>342 72 415 122 368 228 318 308 254 327 213 314 201 242 151 211 152 171 169 117 219 58 291 49</string>
                <key>verticesUV</key>
                <string>799 924 749 997 643 950 563 900 544 836 557 795 629 783 660 733 700 734 754 751 813 801 822 873</string>
            </dict>
            <key>Mummy_03_Dying_003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{21.5,28.5}</string>
                <key>spriteSize</key>
                <string>{259,273}</string>
                <key>spriteSourceSize</key>
                <string>{520,420}</string>
                <key>textureRect</key>
                <string>{{269,730},{259,273}}</string>
                <key>textureRotated</key>
                <true/>
                <key>triangles</key>
                <string>8 0 4 8 10 11 8 9 10 4 5 6 6 7 8 4 6 8 8 11 0 0 3 4 3 0 1 3 1 2 0 11 12</string>
                <key>vertices</key>
                <string>327 62 389 95 411 134 368 235 342 255 322 303 273 318 206 315 206 247 152 188 169 123 200 83 247 45</string>
                <key>verticesUV</key>
                <string>525 905 492 967 453 989 352 946 332 920 284 900 269 851 272 784 340 784 399 730 464 747 504 778 542 825</string>
            </dict>
            <key>Mummy_03_Dying_004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-0.5,27}</string>
                <key>spriteSize</key>
                <string>{237,274}</string>
                <key>spriteSourceSize</key>
                <string>{520,420}</string>
                <key>textureRect</key>
                <string>{{506,233},{237,274}}</string>
                <key>textureRotated</key>
                <true/>
                <key>triangles</key>
                <string>7 10 11 7 9 10 7 8 9 2 3 7 6 7 4 6 4 5 3 4 7 2 7 11 1 2 11 0 1 11</string>
                <key>vertices</key>
                <string>378 81 363 216 338 241 332 277 278 318 235 320 213 292 207 253 141 201 147 122 211 52 284 46</string>
                <key>verticesUV</key>
                <string>745 470 610 455 585 430 549 424 508 370 506 327 534 305 573 299 625 233 704 239 774 303 780 376</string>
            </dict>
            <key>Mummy_03_Dying_005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-17,27}</string>
                <key>spriteSize</key>
                <string>{224,276}</string>
                <key>spriteSourceSize</key>
                <string>{520,420}</string>
                <key>textureRect</key>
                <string>{{1,1},{224,276}}</string>
                <key>textureRotated</key>
                <true/>
                <key>triangles</key>
                <string>10 11 12 8 10 12 8 9 10 7 5 6 7 8 5 3 4 5 3 5 8 3 8 12 1 2 3 1 3 12 0 1 12</string>
                <key>vertices</key>
                <string>328 57 350 129 355 205 333 218 336 262 296 302 253 321 221 299 209 261 132 216 131 135 179 60 235 45</string>
                <key>verticesUV</key>
                <string>265 198 193 220 117 225 104 203 60 206 20 166 1 123 23 91 61 79 106 2 187 1 262 49 277 105</string>
            </dict>
            <key>Mummy_03_Dying_006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-31,28.5}</string>
                <key>spriteSize</key>
                <string>{230,275}</string>
                <key>spriteSourceSize</key>
                <string>{520,420}</string>
                <key>textureRect</key>
                <string>{{534,1},{230,275}}</string>
                <key>textureRotated</key>
                <true/>
                <key>triangles</key>
                <string>0 1 10 8 9 10 6 8 10 6 7 8 2 3 6 5 6 3 5 3 4 1 2 6 1 6 10 0 10 11</string>
                <key>vertices</key>
                <string>320 96 338 143 344 204 311 288 269 319 232 305 210 266 124 238 114 160 145 79 181 59 270 44</string>
                <key>verticesUV</key>
                <string>757 207 710 225 649 231 565 198 534 156 548 119 587 97 615 11 693 1 774 32 794 68 809 157</string>
            </dict>
            <key>Mummy_03_Dying_007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-46.5,21.5}</string>
                <key>spriteSize</key>
                <string>{227,253}</string>
                <key>spriteSourceSize</key>
                <string>{520,420}</string>
                <key>textureRect</key>
                <string>{{279,1},{227,253}}</string>
                <key>textureRotated</key>
                <true/>
                <key>triangles</key>
                <string>0 10 11 8 9 10 5 8 10 5 7 8 5 6 7 2 3 4 2 4 5 1 2 5 10 0 1 10 1 5</string>
                <key>vertices</key>
                <string>287 86 327 173 314 298 283 315 247 315 189 275 124 275 104 226 100 174 119 95 191 66 234 62</string>
                <key>verticesUV</key>
                <string>508 188 421 228 296 215 279 184 279 148 319 90 319 25 368 5 420 1 499 20 528 92 532 135</string>
            </dict>
            <key>Mummy_03_Dying_008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-59.5,10}</string>
                <key>spriteSize</key>
                <string>{233,246}</string>
                <key>spriteSourceSize</key>
                <string>{520,420}</string>
                <key>textureRect</key>
                <string>{{1,227},{233,246}}</string>
                <key>textureRotated</key>
                <true/>
                <key>triangles</key>
                <string>0 5 10 8 9 10 8 5 7 8 10 5 5 6 7 2 3 4 2 4 5 5 0 1 5 1 2 0 10 11</string>
                <key>vertices</key>
                <string>255 102 307 163 317 263 307 305 267 323 200 301 120 302 93 252 84 190 93 135 138 99 196 77</string>
                <key>verticesUV</key>
                <string>222 398 161 450 61 460 19 450 1 410 23 343 22 263 72 236 134 227 189 236 225 281 247 339</string>
            </dict>
            <key>Mummy_03_Dying_009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-62.5,-7.5}</string>
                <key>spriteSize</key>
                <string>{255,235}</string>
                <key>spriteSourceSize</key>
                <string>{520,420}</string>
                <key>textureRect</key>
                <string>{{249,230},{255,235}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>0 1 4 7 4 6 7 8 9 7 9 4 6 4 5 1 2 3 1 3 4 0 4 9 0 9 10</string>
                <key>vertices</key>
                <string>232 119 296 177 325 289 287 323 201 324 127 335 85 282 70 199 82 164 125 124 170 100</string>
                <key>verticesUV</key>
                <string>411 249 475 307 504 419 466 453 380 454 306 465 264 412 249 329 261 294 304 254 349 230</string>
            </dict>
            <key>Mummy_03_Dying_010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-78,-31}</string>
                <key>spriteSize</key>
                <string>{270,250}</string>
                <key>spriteSourceSize</key>
                <string>{520,420}</string>
                <key>textureRect</key>
                <string>{{1,467},{270,250}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>4 9 10 7 8 9 4 7 9 4 5 6 4 6 7 4 1 2 4 2 3 1 4 10 0 1 10</string>
                <key>vertices</key>
                <string>265 163 271 192 317 241 317 323 217 325 175 366 132 351 86 314 47 223 104 133 172 116</string>
                <key>verticesUV</key>
                <string>219 514 225 543 271 592 271 674 171 676 129 717 86 702 40 665 1 574 58 484 126 467</string>
            </dict>
            <key>Mummy_03_Dying_011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-76,-32.5}</string>
                <key>spriteSize</key>
                <string>{268,259}</string>
                <key>spriteSourceSize</key>
                <string>{520,420}</string>
                <key>textureRect</key>
                <string>{{558,472},{268,259}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>0 11 12 0 1 10 1 4 9 7 8 9 7 9 4 4 5 6 7 4 6 4 1 2 4 2 3 1 9 10 0 10 11</string>
                <key>vertices</key>
                <string>245 160 255 183 318 244 318 324 237 327 182 372 120 353 71 308 50 266 60 210 80 165 145 116 178 113</string>
                <key>verticesUV</key>
                <string>753 519 763 542 826 603 826 683 745 686 690 731 628 712 579 667 558 625 568 569 588 524 653 475 686 472</string>
            </dict>
            <key>Mummy_03_Dying_012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-76,-32.5}</string>
                <key>spriteSize</key>
                <string>{268,259}</string>
                <key>spriteSourceSize</key>
                <string>{520,420}</string>
                <key>textureRect</key>
                <string>{{558,472},{268,259}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>0 11 12 0 1 10 1 4 9 7 8 9 7 9 4 4 5 6 7 4 6 4 1 2 4 2 3 1 9 10 0 10 11</string>
                <key>vertices</key>
                <string>245 160 255 183 318 244 318 324 237 327 182 372 120 353 71 308 50 266 60 210 80 165 145 116 178 113</string>
                <key>verticesUV</key>
                <string>753 519 763 542 826 603 826 683 745 686 690 731 628 712 579 667 558 625 568 569 588 524 653 475 686 472</string>
            </dict>
            <key>Mummy_03_Dying_013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-76,-32.5}</string>
                <key>spriteSize</key>
                <string>{268,259}</string>
                <key>spriteSourceSize</key>
                <string>{520,420}</string>
                <key>textureRect</key>
                <string>{{558,472},{268,259}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>0 11 12 0 1 10 1 4 9 7 8 9 7 9 4 4 5 6 7 4 6 4 1 2 4 2 3 1 9 10 0 10 11</string>
                <key>vertices</key>
                <string>245 160 255 183 318 244 318 324 237 327 182 372 120 353 71 308 50 266 60 210 80 165 145 116 178 113</string>
                <key>verticesUV</key>
                <string>753 519 763 542 826 603 826 683 745 686 690 731 628 712 579 667 558 625 568 569 588 524 653 475 686 472</string>
            </dict>
            <key>Mummy_03_Dying_014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-76,-32.5}</string>
                <key>spriteSize</key>
                <string>{268,259}</string>
                <key>spriteSourceSize</key>
                <string>{520,420}</string>
                <key>textureRect</key>
                <string>{{558,472},{268,259}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>0 11 12 0 1 10 1 4 9 7 8 9 7 9 4 4 5 6 7 4 6 4 1 2 4 2 3 1 9 10 0 10 11</string>
                <key>vertices</key>
                <string>245 160 255 183 318 244 318 324 237 327 182 372 120 353 71 308 50 266 60 210 80 165 145 116 178 113</string>
                <key>verticesUV</key>
                <string>753 519 763 542 826 603 826 683 745 686 690 731 628 712 579 667 558 625 568 569 588 524 653 475 686 472</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Mummy_03_Dying.png</string>
            <key>size</key>
            <string>{827,998}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:35e51db43c66d6f809ee75793b44defe:ee7c1ef0e067ca95a06d366643ad7e2e:2cef007551d82c5bf75401388d23efbb$</string>
            <key>textureFileName</key>
            <string>Mummy_03_Dying.png</string>
        </dict>
    </dict>
</plist>
