<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Mummy_03_Taunt (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,18.5}</string>
                <key>spriteSize</key>
                <string>{256,283}</string>
                <key>spriteSourceSize</key>
                <string>{520,420}</string>
                <key>textureRect</key>
                <string>{{560,1416},{256,283}}</string>
                <key>textureRotated</key>
                <true/>
                <key>triangles</key>
                <string>0 13 14 10 0 4 10 11 12 5 6 10 8 9 10 8 10 6 8 6 7 4 5 10 10 12 0 0 3 4 1 2 3 0 1 3 0 12 13</string>
                <key>vertices</key>
                <string>345 90 390 107 404 132 391 169 370 186 367 220 331 293 284 333 216 320 184 285 187 248 148 225 148 147 194 67 301 50</string>
                <key>verticesUV</key>
                <string>803 1613 786 1658 761 1672 724 1659 707 1638 673 1635 600 1599 560 1552 573 1484 608 1452 645 1455 668 1416 746 1416 826 1462 843 1569</string>
            </dict>
            <key>Mummy_03_Taunt (10).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,23.5}</string>
                <key>spriteSize</key>
                <string>{272,273}</string>
                <key>spriteSourceSize</key>
                <string>{520,420}</string>
                <key>textureRect</key>
                <string>{{285,1139},{272,273}}</string>
                <key>textureRotated</key>
                <true/>
                <key>triangles</key>
                <string>0 14 15 12 13 14 10 12 14 10 11 12 8 6 7 8 9 10 8 10 6 4 5 6 4 6 10 0 4 10 0 3 4 0 2 3 0 1 2 0 10 14</string>
                <key>vertices</key>
                <string>356 94 390 80 412 102 412 139 378 175 343 276 313 290 301 323 234 323 181 290 176 235 144 235 140 162 163 72 234 50 293 50</string>
                <key>verticesUV</key>
                <string>514 1355 528 1389 506 1411 469 1411 433 1377 332 1342 318 1312 285 1300 285 1233 318 1180 373 1175 373 1143 446 1139 536 1162 558 1233 558 1292</string>
            </dict>
            <key>Mummy_03_Taunt (11).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,21.5}</string>
                <key>spriteSize</key>
                <string>{288,283}</string>
                <key>spriteSourceSize</key>
                <string>{520,420}</string>
                <key>textureRect</key>
                <string>{{292,287},{288,283}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>0 13 14 11 12 13 9 11 13 9 10 11 7 5 6 8 9 5 8 5 7 3 4 5 3 5 9 0 3 9 0 1 2 0 2 3 0 9 13</string>
                <key>vertices</key>
                <string>356 94 393 76 422 123 375 184 343 276 313 290 301 323 237 330 178 271 178 237 148 236 134 158 173 72 225 51 289 47</string>
                <key>verticesUV</key>
                <string>514 334 551 316 580 363 533 424 501 516 471 530 459 563 395 570 336 511 336 477 306 476 292 398 331 312 383 291 447 287</string>
            </dict>
            <key>Mummy_03_Taunt (12).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14.5,22.5}</string>
                <key>spriteSize</key>
                <string>{275,281}</string>
                <key>spriteSourceSize</key>
                <string>{520,420}</string>
                <key>textureRect</key>
                <string>{{560,1139},{275,281}}</string>
                <key>textureRotated</key>
                <true/>
                <key>triangles</key>
                <string>0 4 13 11 12 13 11 4 10 4 6 10 8 6 7 8 9 6 6 9 10 4 5 6 11 13 4 0 3 4 0 2 3 0 1 2 0 13 14</string>
                <key>vertices</key>
                <string>355 92 390 78 412 100 412 132 374 189 344 275 313 290 301 323 250 328 212 313 144 226 137 143 175 68 231 50 289 47</string>
                <key>verticesUV</key>
                <string>796 1357 810 1392 788 1414 756 1414 699 1376 613 1346 598 1315 565 1303 560 1252 575 1214 662 1146 745 1139 820 1177 838 1233 841 1291</string>
            </dict>
            <key>Mummy_03_Taunt (13).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{17,23.5}</string>
                <key>spriteSize</key>
                <string>{282,285}</string>
                <key>spriteSourceSize</key>
                <string>{520,420}</string>
                <key>textureRect</key>
                <string>{{588,1},{282,285}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>10 4 6 10 11 12 10 6 9 8 6 7 8 9 6 10 12 4 4 5 6 0 4 12 0 3 4 0 2 3 0 1 2 0 12 13</string>
                <key>vertices</key>
                <string>357 92 389 76 418 103 402 148 381 166 344 274 312 291 302 323 236 329 147 240 136 159 166 71 228 52 283 44</string>
                <key>verticesUV</key>
                <string>809 49 841 33 870 60 854 105 833 123 796 231 764 248 754 280 688 286 599 197 588 116 618 28 680 9 735 1</string>
            </dict>
            <key>Mummy_03_Taunt (14).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18.5,24}</string>
                <key>spriteSize</key>
                <string>{285,284}</string>
                <key>spriteSourceSize</key>
                <string>{520,420}</string>
                <key>textureRect</key>
                <string>{{582,288},{285,284}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>0 3 12 10 11 12 3 10 12 3 5 9 7 5 6 7 8 5 5 8 9 3 4 5 3 9 10 0 1 2 0 2 3 0 12 13</string>
                <key>vertices</key>
                <string>357 89 398 75 421 126 379 173 345 274 313 289 301 323 247 328 212 310 145 229 136 160 166 72 219 53 282 44</string>
                <key>verticesUV</key>
                <string>803 333 844 319 867 370 825 417 791 518 759 533 747 567 693 572 658 554 591 473 582 404 612 316 665 297 728 288</string>
            </dict>
            <key>Mummy_03_Taunt (15).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{21,25.5}</string>
                <key>spriteSize</key>
                <string>{280,281}</string>
                <key>spriteSourceSize</key>
                <string>{520,420}</string>
                <key>textureRect</key>
                <string>{{579,857},{280,281}}</string>
                <key>textureRotated</key>
                <true/>
                <key>triangles</key>
                <string>0 13 14 11 12 13 9 11 13 9 10 11 7 5 6 7 8 9 7 9 5 3 4 5 3 5 9 0 3 9 0 1 2 0 2 3 0 9 13</string>
                <key>vertices</key>
                <string>345 95 395 73 421 121 376 181 345 272 313 289 301 323 235 325 179 283 177 237 141 237 141 150 160 74 221 51 286 44</string>
                <key>verticesUV</key>
                <string>809 1061 831 1111 783 1137 723 1092 632 1061 615 1029 581 1017 579 951 621 895 667 893 667 857 754 857 830 876 853 937 860 1002</string>
            </dict>
            <key>Mummy_03_Taunt (16).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16.5,26}</string>
                <key>spriteSize</key>
                <string>{287,278}</string>
                <key>spriteSourceSize</key>
                <string>{520,420}</string>
                <key>textureRect</key>
                <string>{{1,854},{287,278}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>3 13 14 11 12 13 9 11 13 9 10 11 5 7 8 8 9 5 5 6 7 3 5 9 3 4 5 3 9 13 0 1 2 0 2 3 14 0 3</string>
                <key>vertices</key>
                <string>358 89 397 72 420 119 373 191 345 272 313 288 302 323 230 323 182 275 170 244 148 236 133 155 170 72 215 51 283 45</string>
                <key>verticesUV</key>
                <string>226 898 265 881 288 928 241 1000 213 1081 181 1097 170 1132 98 1132 50 1084 38 1053 16 1045 1 964 38 881 83 860 151 854</string>
            </dict>
            <key>Mummy_03_Taunt (17).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{17.5,21}</string>
                <key>spriteSize</key>
                <string>{277,282}</string>
                <key>spriteSourceSize</key>
                <string>{520,420}</string>
                <key>textureRect</key>
                <string>{{1,1134},{277,282}}</string>
                <key>textureRotated</key>
                <true/>
                <key>triangles</key>
                <string>10 14 15 12 13 14 10 12 14 10 11 12 5 7 8 8 9 10 8 10 5 5 6 7 3 4 5 3 5 10 0 3 10 0 1 2 0 2 3 0 10 15</string>
                <key>vertices</key>
                <string>356 94 399 79 416 129 367 208 342 278 312 291 301 322 246 330 205 307 177 268 180 237 147 235 139 165 161 81 215 54 291 48</string>
                <key>verticesUV</key>
                <string>237 1351 252 1394 202 1411 123 1362 53 1337 40 1307 9 1296 1 1241 24 1200 63 1172 94 1175 96 1142 166 1134 250 1156 277 1210 283 1286</string>
            </dict>
            <key>Mummy_03_Taunt (18).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,18.5}</string>
                <key>spriteSize</key>
                <string>{274,279}</string>
                <key>spriteSourceSize</key>
                <string>{520,420}</string>
                <key>textureRect</key>
                <string>{{1,1413},{274,279}}</string>
                <key>textureRotated</key>
                <true/>
                <key>triangles</key>
                <string>0 12 13 10 11 12 8 10 12 8 9 10 3 4 8 6 7 8 5 6 8 4 5 8 0 3 8 1 2 3 0 1 3 0 8 12</string>
                <key>vertices</key>
                <string>335 87 394 95 415 135 370 193 337 286 297 322 235 331 178 280 185 246 146 229 141 144 185 71 230 56 306 52</string>
                <key>verticesUV</key>
                <string>245 1607 237 1666 197 1687 139 1642 46 1609 10 1569 1 1507 52 1450 86 1457 103 1418 188 1413 261 1457 276 1502 280 1578</string>
            </dict>
            <key>Mummy_03_Taunt (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16.5,23}</string>
                <key>spriteSize</key>
                <string>{273,276}</string>
                <key>spriteSourceSize</key>
                <string>{520,420}</string>
                <key>textureRect</key>
                <string>{{282,1413},{273,276}}</string>
                <key>textureRotated</key>
                <true/>
                <key>triangles</key>
                <string>0 12 13 0 11 12 9 10 11 7 5 6 7 8 9 7 9 5 9 3 5 3 4 5 9 0 3 0 1 2 0 2 3 0 9 11</string>
                <key>vertices</key>
                <string>338 88 394 97 413 136 366 205 336 287 317 294 299 323 228 325 184 286 177 244 140 228 148 137 191 61 299 49</string>
                <key>verticesUV</key>
                <string>519 1611 510 1667 471 1686 402 1639 320 1609 313 1590 284 1572 282 1501 321 1457 363 1450 379 1413 470 1421 546 1464 558 1572</string>
            </dict>
            <key>Mummy_03_Taunt (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{17.5,21}</string>
                <key>spriteSize</key>
                <string>{279,282}</string>
                <key>spriteSourceSize</key>
                <string>{520,420}</string>
                <key>textureRect</key>
                <string>{{290,858},{279,282}}</string>
                <key>textureRotated</key>
                <true/>
                <key>triangles</key>
                <string>0 14 15 12 13 14 12 0 9 11 9 10 11 12 9 7 5 6 7 8 9 7 9 5 9 3 5 3 4 5 9 0 3 0 1 2 0 2 3 12 14 0</string>
                <key>vertices</key>
                <string>331 83 396 87 417 129 372 191 341 280 312 292 301 322 243 330 182 293 177 246 146 230 138 143 154 122 175 67 224 54 295 48</string>
                <key>verticesUV</key>
                <string>537 1051 533 1116 491 1137 429 1092 340 1061 328 1032 298 1021 290 963 327 902 374 897 390 866 477 858 498 874 553 895 566 944 572 1015</string>
            </dict>
            <key>Mummy_03_Taunt (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{19,29.5}</string>
                <key>spriteSize</key>
                <string>{284,285}</string>
                <key>spriteSourceSize</key>
                <string>{520,420}</string>
                <key>textureRect</key>
                <string>{{292,572},{284,285}}</string>
                <key>textureRotated</key>
                <true/>
                <key>triangles</key>
                <string>12 13 14 0 12 14 9 11 12 9 10 11 5 7 8 8 9 5 5 6 7 3 4 5 3 5 9 0 3 9 0 1 2 0 2 3 0 9 12</string>
                <key>vertices</key>
                <string>347 94 395 73 421 118 373 191 345 272 313 288 302 323 230 323 182 275 171 238 150 237 137 190 142 131 170 66 278 38</string>
                <key>verticesUV</key>
                <string>521 782 542 830 497 856 424 808 343 780 327 748 292 737 292 665 340 617 377 606 378 585 425 572 484 577 549 605 577 713</string>
            </dict>
            <key>Mummy_03_Taunt (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,23}</string>
                <key>spriteSize</key>
                <string>{290,284}</string>
                <key>spriteSourceSize</key>
                <string>{520,420}</string>
                <key>textureRect</key>
                <string>{{296,1},{290,284}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>3 13 14 11 12 13 9 11 13 9 10 11 5 7 8 8 9 5 5 6 7 3 5 9 3 4 5 3 9 13 0 1 2 0 2 3 14 0 3</string>
                <key>vertices</key>
                <string>359 89 396 72 421 121 375 184 345 273 313 288 303 322 240 329 187 286 167 240 149 236 131 157 170 71 217 52 282 45</string>
                <key>verticesUV</key>
                <string>524 45 561 28 586 77 540 140 510 229 478 244 468 278 405 285 352 242 332 196 314 192 296 113 335 27 382 8 447 1</string>
            </dict>
            <key>Mummy_03_Taunt (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{19,28.5}</string>
                <key>spriteSize</key>
                <string>{284,293}</string>
                <key>spriteSourceSize</key>
                <string>{520,420}</string>
                <key>textureRect</key>
                <string>{{1,1},{284,293}}</string>
                <key>textureRotated</key>
                <true/>
                <key>triangles</key>
                <string>11 12 13 9 3 5 9 10 11 5 7 8 8 9 5 5 6 7 9 11 3 3 4 5 0 3 11 0 1 2 0 2 3 0 11 13</string>
                <key>vertices</key>
                <string>359 90 395 73 421 125 380 173 344 274 313 289 301 323 247 328 206 307 160 241 145 233 137 156 166 72 266 35</string>
                <key>verticesUV</key>
                <string>239 223 256 259 204 285 156 244 55 208 40 177 6 165 1 111 22 70 88 24 96 9 173 1 257 30 294 130</string>
            </dict>
            <key>Mummy_03_Taunt (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14.5,23}</string>
                <key>spriteSize</key>
                <string>{279,288}</string>
                <key>spriteSourceSize</key>
                <string>{520,420}</string>
                <key>textureRect</key>
                <string>{{1,573},{279,288}}</string>
                <key>textureRotated</key>
                <true/>
                <key>triangles</key>
                <string>10 11 12 9 4 6 8 6 7 8 9 6 9 10 4 4 5 6 0 4 10 0 3 4 0 2 3 0 1 2 0 10 12</string>
                <key>vertices</key>
                <string>357 92 395 73 414 113 402 148 381 167 345 273 312 291 303 322 233 331 146 235 135 150 176 60 282 43</string>
                <key>verticesUV</key>
                <string>240 795 259 833 219 852 184 840 165 819 59 783 41 750 10 741 1 671 97 584 182 573 272 614 289 720</string>
            </dict>
            <key>Mummy_03_Taunt (8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,24.5}</string>
                <key>spriteSize</key>
                <string>{284,289}</string>
                <key>spriteSourceSize</key>
                <string>{520,420}</string>
                <key>textureRect</key>
                <string>{{1,287},{284,289}}</string>
                <key>textureRotated</key>
                <true/>
                <key>triangles</key>
                <string>11 12 13 10 4 6 6 8 9 9 10 6 6 7 8 10 11 4 4 5 6 4 11 13 0 3 4 0 2 3 0 1 2 0 4 13</string>
                <key>vertices</key>
                <string>357 92 390 78 417 105 403 147 372 193 344 274 311 292 303 321 263 330 221 318 149 240 133 159 173 63 278 41</string>
                <key>verticesUV</key>
                <string>239 511 253 544 226 571 184 557 138 526 57 498 39 465 10 457 1 417 13 375 91 303 172 287 268 327 290 432</string>
            </dict>
            <key>Mummy_03_Taunt (9).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{19.5,21.5}</string>
                <key>spriteSize</key>
                <string>{281,281}</string>
                <key>spriteSourceSize</key>
                <string>{520,420}</string>
                <key>textureRect</key>
                <string>{{579,574},{281,281}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>13 14 15 5 13 15 11 12 13 7 8 9 7 9 10 7 10 11 5 7 11 5 6 7 5 11 13 1 4 5 2 3 4 1 2 4 0 1 5 0 5 15</string>
                <key>vertices</key>
                <string>293 50 356 94 385 81 420 96 402 148 375 184 343 276 313 290 301 323 243 329 195 298 161 240 145 234 139 162 162 76 235 48</string>
                <key>verticesUV</key>
                <string>733 576 796 620 825 607 860 622 842 674 815 710 783 802 753 816 741 849 683 855 635 824 601 766 585 760 579 688 602 602 675 574</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Mummy_03_Taunt.png</string>
            <key>size</key>
            <string>{871,1688}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6f3cd035034e04bdb9e5590aee843c88:e7e51858a3f1f6b33c5617cf0bf36281:4551211e83b0ee9605a534b759ec1a0a$</string>
            <key>textureFileName</key>
            <string>Mummy_03_Taunt.png</string>
        </dict>
    </dict>
</plist>
