<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Mummy_01_Taunt (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{25,9}</string>
                <key>spriteSize</key>
                <string>{224,244}</string>
                <key>spriteSourceSize</key>
                <string>{520,420}</string>
                <key>textureRect</key>
                <string>{{997,253},{224,244}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mummy_01_Taunt (10).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{24,14}</string>
                <key>spriteSize</key>
                <string>{246,254}</string>
                <key>spriteSourceSize</key>
                <string>{520,420}</string>
                <key>textureRect</key>
                <string>{{517,773},{246,254}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mummy_01_Taunt (11).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{24,14}</string>
                <key>spriteSize</key>
                <string>{246,254}</string>
                <key>spriteSourceSize</key>
                <string>{520,420}</string>
                <key>textureRect</key>
                <string>{{751,517},{246,254}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mummy_01_Taunt (12).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{24,15}</string>
                <key>spriteSize</key>
                <string>{248,256}</string>
                <key>spriteSourceSize</key>
                <string>{520,420}</string>
                <key>textureRect</key>
                <string>{{259,775},{248,256}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mummy_01_Taunt (13).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{24,15}</string>
                <key>spriteSize</key>
                <string>{248,256}</string>
                <key>spriteSourceSize</key>
                <string>{520,420}</string>
                <key>textureRect</key>
                <string>{{503,259},{248,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mummy_01_Taunt (14).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{24,15}</string>
                <key>spriteSize</key>
                <string>{248,256}</string>
                <key>spriteSourceSize</key>
                <string>{520,420}</string>
                <key>textureRect</key>
                <string>{{505,1},{248,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mummy_01_Taunt (15).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{24,15}</string>
                <key>spriteSize</key>
                <string>{250,256}</string>
                <key>spriteSourceSize</key>
                <string>{520,420}</string>
                <key>textureRect</key>
                <string>{{1,517},{250,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mummy_01_Taunt (16).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{24,15}</string>
                <key>spriteSize</key>
                <string>{250,256}</string>
                <key>spriteSourceSize</key>
                <string>{520,420}</string>
                <key>textureRect</key>
                <string>{{253,1},{250,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mummy_01_Taunt (17).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{25,14}</string>
                <key>spriteSize</key>
                <string>{242,254}</string>
                <key>spriteSourceSize</key>
                <string>{520,420}</string>
                <key>textureRect</key>
                <string>{{773,773},{242,254}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mummy_01_Taunt (18).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{25,12}</string>
                <key>spriteSize</key>
                <string>{234,250}</string>
                <key>spriteSourceSize</key>
                <string>{520,420}</string>
                <key>textureRect</key>
                <string>{{755,1},{234,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mummy_01_Taunt (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{25,12}</string>
                <key>spriteSize</key>
                <string>{232,250}</string>
                <key>spriteSourceSize</key>
                <string>{520,420}</string>
                <key>textureRect</key>
                <string>{{991,1},{232,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mummy_01_Taunt (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{25,13}</string>
                <key>spriteSize</key>
                <string>{242,252}</string>
                <key>spriteSourceSize</key>
                <string>{520,420}</string>
                <key>textureRect</key>
                <string>{{753,259},{242,252}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mummy_01_Taunt (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{24,15}</string>
                <key>spriteSize</key>
                <string>{250,256}</string>
                <key>spriteSourceSize</key>
                <string>{520,420}</string>
                <key>textureRect</key>
                <string>{{1,1},{250,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mummy_01_Taunt (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{24,15}</string>
                <key>spriteSize</key>
                <string>{250,256}</string>
                <key>spriteSourceSize</key>
                <string>{520,420}</string>
                <key>textureRect</key>
                <string>{{1,259},{250,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mummy_01_Taunt (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{24,15}</string>
                <key>spriteSize</key>
                <string>{248,256}</string>
                <key>spriteSourceSize</key>
                <string>{520,420}</string>
                <key>textureRect</key>
                <string>{{1,775},{248,256}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mummy_01_Taunt (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{24,15}</string>
                <key>spriteSize</key>
                <string>{248,256}</string>
                <key>spriteSourceSize</key>
                <string>{520,420}</string>
                <key>textureRect</key>
                <string>{{253,259},{248,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mummy_01_Taunt (8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{24,15}</string>
                <key>spriteSize</key>
                <string>{248,256}</string>
                <key>spriteSourceSize</key>
                <string>{520,420}</string>
                <key>textureRect</key>
                <string>{{253,517},{248,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mummy_01_Taunt (9).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{24,14}</string>
                <key>spriteSize</key>
                <string>{246,254}</string>
                <key>spriteSourceSize</key>
                <string>{520,420}</string>
                <key>textureRect</key>
                <string>{{503,517},{246,254}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Mummy_01_Taunt.png</string>
            <key>size</key>
            <string>{1224,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:64fd205b5b81b5c1dff8a0f20e2acbf1:e1e48caf53d81582825715a2518e4d68:32e015bfd5c41bb376e4bb26b16d4b44$</string>
            <key>textureFileName</key>
            <string>Mummy_01_Taunt.png</string>
        </dict>
    </dict>
</plist>
