<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Pirate_Aim (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-2}</string>
                <key>spriteSize</key>
                <string>{152,152}</string>
                <key>spriteSourceSize</key>
                <string>{170,170}</string>
                <key>textureRect</key>
                <string>{{1,657},{152,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Pirate_Aim (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{156,156}</string>
                <key>spriteSourceSize</key>
                <string>{170,170}</string>
                <key>textureRect</key>
                <string>{{1,499},{156,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Pirate_Aim (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{160,160}</string>
                <key>spriteSourceSize</key>
                <string>{170,170}</string>
                <key>textureRect</key>
                <string>{{1,337},{160,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Pirate_Aim (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{164,164}</string>
                <key>spriteSourceSize</key>
                <string>{170,170}</string>
                <key>textureRect</key>
                <string>{{1,171},{164,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Pirate_Aim (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{166,168}</string>
                <key>spriteSourceSize</key>
                <string>{170,170}</string>
                <key>textureRect</key>
                <string>{{1,1},{166,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Pirate_Aim.png</string>
            <key>size</key>
            <string>{168,810}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:353f3340c8ae70fb4bfb1deb8086f1a3:0cd12004f12bc29868e21a6e12df561a:f59e539e9e3109531aeb8ec77a078181$</string>
            <key>textureFileName</key>
            <string>Pirate_Aim.png</string>
        </dict>
    </dict>
</plist>
