<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Walking_000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{38,-11}</string>
                <key>spriteSize</key>
                <string>{266,264}</string>
                <key>spriteSourceSize</key>
                <string>{480,360}</string>
                <key>textureRect</key>
                <string>{{1,1369},{266,264}}</string>
                <key>textureRotated</key>
                <true/>
                <key>triangles</key>
                <string>0 9 10 8 6 7 8 9 6 0 3 6 4 5 6 3 4 6 0 1 2 0 2 3 0 6 9</string>
                <key>vertices</key>
                <string>365 130 398 98 411 165 324 311 242 323 176 285 186 219 147 198 145 109 228 65 310 59</string>
                <key>verticesUV</key>
                <string>194 1589 226 1622 159 1635 13 1548 1 1466 39 1400 105 1410 126 1371 215 1369 259 1452 265 1534</string>
            </dict>
            <key>Walking_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{42,-11}</string>
                <key>spriteSize</key>
                <string>{274,264}</string>
                <key>spriteSourceSize</key>
                <string>{480,360}</string>
                <key>textureRect</key>
                <string>{{1,1103},{274,264}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>0 1 12 9 11 12 9 10 11 5 6 9 7 8 9 6 7 9 1 5 9 1 3 4 1 2 3 1 4 5 1 9 12 0 12 13</string>
                <key>vertices</key>
                <string>339 91 361 162 390 109 419 134 406 175 332 295 296 322 238 323 174 280 197 229 145 200 146 108 227 67 284 59</string>
                <key>verticesUV</key>
                <string>195 1135 217 1206 246 1153 275 1178 262 1219 188 1339 152 1366 94 1367 30 1324 53 1273 1 1244 2 1152 83 1111 140 1103</string>
            </dict>
            <key>Walking_002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{43,-13}</string>
                <key>spriteSize</key>
                <string>{284,272}</string>
                <key>spriteSourceSize</key>
                <string>{480,360}</string>
                <key>textureRect</key>
                <string>{{617,1},{284,272}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>8 10 11 8 9 10 5 6 8 6 7 8 2 5 8 2 3 4 2 4 5 0 2 8 0 1 2 0 8 11</string>
                <key>vertices</key>
                <string>303 70 337 95 359 165 401 108 425 163 318 309 241 329 181 288 193 229 142 201 141 110 241 57</string>
                <key>verticesUV</key>
                <string>779 14 813 39 835 109 877 52 901 107 794 253 717 273 657 232 669 173 618 145 617 54 717 1</string>
            </dict>
            <key>Walking_003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{38.5,-12}</string>
                <key>spriteSize</key>
                <string>{293,262}</string>
                <key>spriteSourceSize</key>
                <string>{480,360}</string>
                <key>textureRect</key>
                <string>{{301,835},{293,262}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>11 13 14 11 12 13 8 9 11 9 10 11 7 8 11 6 7 11 2 6 11 5 2 3 5 3 4 2 5 6 0 2 11 0 1 2 0 11 14</string>
                <key>vertices</key>
                <string>279 62 335 82 348 189 402 126 425 149 411 192 352 256 320 303 273 323 229 323 188 288 187 227 145 205 132 113 222 61</string>
                <key>verticesUV</key>
                <string>448 836 504 856 517 963 571 900 594 923 580 966 521 1030 489 1077 442 1097 398 1097 357 1062 356 1001 314 979 301 887 391 835</string>
            </dict>
            <key>Walking_004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{37,-6.5}</string>
                <key>spriteSize</key>
                <string>{302,275}</string>
                <key>spriteSourceSize</key>
                <string>{480,360}</string>
                <key>textureRect</key>
                <string>{{1,555},{302,275}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>9 11 12 9 10 11 6 7 9 7 8 9 2 6 9 3 4 5 2 3 5 2 5 6 0 2 9 0 1 2 0 9 12</string>
                <key>vertices</key>
                <string>289 64 333 88 345 196 398 143 428 129 418 192 327 293 280 324 204 323 172 210 142 213 126 116 231 49</string>
                <key>verticesUV</key>
                <string>164 570 208 594 220 702 273 649 303 635 293 698 202 799 155 830 79 829 47 716 17 719 1 622 106 555</string>
            </dict>
            <key>Walking_005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{36,-7.5}</string>
                <key>spriteSize</key>
                <string>{306,275}</string>
                <key>spriteSourceSize</key>
                <string>{480,360}</string>
                <key>textureRect</key>
                <string>{{309,1},{306,275}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>0 11 12 9 10 11 8 9 11 1 5 8 7 8 5 7 5 6 4 1 2 4 2 3 1 4 5 0 1 8 0 8 11</string>
                <key>vertices</key>
                <string>330 90 346 206 407 146 429 152 420 201 289 325 219 323 197 283 188 233 142 209 123 118 202 65 270 50</string>
                <key>verticesUV</key>
                <string>516 41 532 157 593 97 615 103 606 152 475 276 405 274 383 234 374 184 328 160 309 69 388 16 456 1</string>
            </dict>
            <key>Walking_006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{32.5,-10.5}</string>
                <key>spriteSize</key>
                <string>{305,283}</string>
                <key>spriteSourceSize</key>
                <string>{480,360}</string>
                <key>textureRect</key>
                <string>{{309,278},{305,283}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>0 1 11 10 8 9 10 11 8 2 6 8 6 7 8 3 4 5 3 5 6 2 3 6 1 2 8 1 8 11 0 11 12</string>
                <key>vertices</key>
                <string>317 81 335 117 341 205 360 200 425 137 425 203 292 321 217 332 179 222 144 211 120 121 200 64 271 49</string>
                <key>verticesUV</key>
                <string>506 310 524 346 530 434 549 429 614 366 614 432 481 550 406 561 368 451 333 440 309 350 389 293 460 278</string>
            </dict>
            <key>Walking_007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{39,-11}</string>
                <key>spriteSize</key>
                <string>{300,270}</string>
                <key>spriteSourceSize</key>
                <string>{480,360}</string>
                <key>textureRect</key>
                <string>{{305,563},{300,270}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>9 13 14 10 11 12 12 9 10 12 13 9 2 7 9 7 8 9 6 3 4 6 4 5 3 6 7 2 3 7 2 9 14 1 2 14 0 1 14</string>
                <key>vertices</key>
                <string>301 67 339 105 340 200 356 208 410 159 429 167 421 214 285 326 210 323 189 228 145 210 129 113 136 114 210 65 261 56</string>
                <key>verticesUV</key>
                <string>477 574 515 612 516 707 532 715 586 666 605 674 597 721 461 833 386 830 365 735 321 717 305 620 312 621 386 572 437 563</string>
            </dict>
            <key>Walking_008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{43,-10}</string>
                <key>spriteSize</key>
                <string>{292,268}</string>
                <key>spriteSourceSize</key>
                <string>{480,360}</string>
                <key>textureRect</key>
                <string>{{301,1099},{292,268}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>10 12 13 10 11 12 3 8 10 8 9 10 7 4 5 7 5 6 4 7 8 3 4 8 2 3 10 0 2 10 0 1 2 0 10 13</string>
                <key>vertices</key>
                <string>294 65 330 87 347 130 339 205 350 217 414 164 429 179 421 221 286 324 206 322 190 228 148 205 137 114 232 56</string>
                <key>verticesUV</key>
                <string>458 1108 494 1130 511 1173 503 1248 514 1260 578 1207 593 1222 585 1264 450 1367 370 1365 354 1271 312 1248 301 1157 396 1099</string>
            </dict>
            <key>Walking_009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{50.5,-13}</string>
                <key>spriteSize</key>
                <string>{293,260}</string>
                <key>spriteSourceSize</key>
                <string>{480,360}</string>
                <key>textureRect</key>
                <string>{{596,1098},{293,260}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 13 14 12 10 11 12 13 10 1 10 13 10 1 2 7 8 9 6 3 4 6 4 5 3 6 7 2 3 7 2 7 9 10 2 9 0 1 14</string>
                <key>vertices</key>
                <string>344 96 351 148 343 211 365 211 414 170 437 193 413 231 287 323 200 323 205 254 190 222 145 200 144 110 229 65 294 63</string>
                <key>verticesUV</key>
                <string>796 1131 803 1183 795 1246 817 1246 866 1205 889 1228 865 1266 739 1358 652 1358 657 1289 642 1257 597 1235 596 1145 681 1100 746 1098</string>
            </dict>
            <key>Walking_010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{49.5,-13.5}</string>
                <key>spriteSize</key>
                <string>{289,261}</string>
                <key>spriteSourceSize</key>
                <string>{480,360}</string>
                <key>textureRect</key>
                <string>{{267,1369},{289,261}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>7 10 11 9 7 8 9 10 7 1 5 7 5 6 7 4 1 2 4 2 3 1 4 5 1 7 11 0 1 11</string>
                <key>vertices</key>
                <string>349 97 353 215 420 159 434 194 412 227 288 323 207 324 192 232 145 199 145 109 227 65 288 63</string>
                <key>verticesUV</key>
                <string>471 1403 475 1521 542 1465 556 1500 534 1533 410 1629 329 1630 314 1538 267 1505 267 1415 349 1371 410 1369</string>
            </dict>
            <key>Walking_011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{44,-13}</string>
                <key>spriteSize</key>
                <string>{284,268}</string>
                <key>spriteSourceSize</key>
                <string>{480,360}</string>
                <key>textureRect</key>
                <string>{{617,275},{284,268}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>8 10 11 8 9 10 2 6 8 6 7 8 3 4 5 3 5 6 2 3 6 1 2 8 1 8 11 0 1 11</string>
                <key>vertices</key>
                <string>319 70 351 129 342 205 360 206 426 145 426 213 283 327 210 324 182 211 142 206 142 109 237 59</string>
                <key>verticesUV</key>
                <string>794 286 826 345 817 421 835 422 901 361 901 429 758 543 685 540 657 427 617 422 617 325 712 275</string>
            </dict>
            <key>Walking_012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{41,-14.5}</string>
                <key>spriteSize</key>
                <string>{294,279}</string>
                <key>spriteSourceSize</key>
                <string>{480,360}</string>
                <key>textureRect</key>
                <string>{{607,817},{294,279}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>0 1 12 11 9 10 11 12 9 2 7 9 7 8 9 6 3 4 6 4 5 3 6 7 2 3 7 1 2 9 1 9 12 0 12 13</string>
                <key>vertices</key>
                <string>326 86 345 132 338 202 356 204 408 154 428 160 422 208 293 320 216 334 185 228 145 206 134 115 214 67 275 55</string>
                <key>verticesUV</key>
                <string>799 848 818 894 811 964 829 966 881 916 901 922 895 970 766 1082 689 1096 658 990 618 968 607 877 687 829 748 817</string>
            </dict>
            <key>Walking_013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{37,-8.5}</string>
                <key>spriteSize</key>
                <string>{298,269}</string>
                <key>spriteSourceSize</key>
                <string>{480,360}</string>
                <key>textureRect</key>
                <string>{{1,832},{298,269}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>0 13 14 12 10 11 12 13 10 1 6 10 9 10 7 9 7 8 6 7 10 5 2 3 5 3 4 1 2 5 1 5 6 0 1 10 0 10 13</string>
                <key>vertices</key>
                <string>337 101 340 204 363 192 409 145 426 156 421 199 319 300 274 323 218 323 197 281 192 233 139 208 128 117 211 63 283 54</string>
                <key>verticesUV</key>
                <string>210 879 213 982 236 970 282 923 299 934 294 977 192 1078 147 1101 91 1101 70 1059 65 1011 12 986 1 895 84 841 156 832</string>
            </dict>
            <key>Walking_014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{35.5,-9}</string>
                <key>spriteSize</key>
                <string>{303,270}</string>
                <key>spriteSourceSize</key>
                <string>{480,360}</string>
                <key>textureRect</key>
                <string>{{1,283},{303,270}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>2 13 14 12 10 11 12 13 10 10 3 7 9 10 7 9 7 8 6 3 4 6 4 5 3 6 7 10 2 3 2 10 13 0 1 2 0 2 14</string>
                <key>vertices</key>
                <string>297 66 338 104 333 174 350 195 408 136 427 153 415 200 293 324 214 323 194 283 191 230 142 211 124 119 201 65 255 54</string>
                <key>verticesUV</key>
                <string>174 295 215 333 210 403 227 424 285 365 304 382 292 429 170 553 91 552 71 512 68 459 19 440 1 348 78 294 132 283</string>
            </dict>
            <key>Walking_015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{38,-14}</string>
                <key>spriteSize</key>
                <string>{306,280}</string>
                <key>spriteSourceSize</key>
                <string>{480,360}</string>
                <key>textureRect</key>
                <string>{{1,1},{306,280}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>9 12 13 11 9 10 11 12 9 2 6 9 8 9 6 8 6 7 5 2 3 5 3 4 2 5 6 0 2 9 0 1 2 0 9 13</string>
                <key>vertices</key>
                <string>291 63 333 92 346 197 399 129 431 146 411 192 313 309 236 334 190 286 187 231 143 211 125 119 200 66 250 54</string>
                <key>verticesUV</key>
                <string>167 10 209 39 222 144 275 76 307 93 287 139 189 256 112 281 66 233 63 178 19 158 1 66 76 13 126 1</string>
            </dict>
            <key>Walking_016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{32.5,-11}</string>
                <key>spriteSize</key>
                <string>{283,270}</string>
                <key>spriteSourceSize</key>
                <string>{480,360}</string>
                <key>textureRect</key>
                <string>{{616,545},{283,270}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 13 14 12 10 11 12 13 10 8 6 7 8 9 10 8 10 6 2 6 10 5 2 3 5 3 4 2 5 6 1 2 10 1 10 13 0 1 14</string>
                <key>vertices</key>
                <string>321 81 340 120 344 187 395 123 414 131 414 178 322 301 282 326 231 322 185 288 185 224 146 210 131 116 212 61 280 56</string>
                <key>verticesUV</key>
                <string>806 570 825 609 829 676 880 612 899 620 899 667 807 790 767 815 716 811 670 777 670 713 631 699 616 605 697 550 765 545</string>
            </dict>
            <key>Walking_017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{36,-9}</string>
                <key>spriteSize</key>
                <string>{276,268}</string>
                <key>spriteSourceSize</key>
                <string>{480,360}</string>
                <key>textureRect</key>
                <string>{{595,1360},{276,268}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>11 13 14 11 12 13 0 11 14 7 8 10 8 9 10 6 7 10 2 6 10 5 2 3 5 3 4 2 5 6 11 0 2 0 1 2 11 2 10</string>
                <key>vertices</key>
                <string>295 64 340 90 354 174 385 120 408 121 414 165 328 299 292 322 237 323 180 287 187 240 177 218 148 203 138 113 233 55</string>
                <key>verticesUV</key>
                <string>752 1369 797 1395 811 1479 842 1425 865 1426 871 1470 785 1604 749 1627 694 1628 637 1592 644 1545 634 1523 605 1508 595 1418 690 1360</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Pirate_03_Walking.png</string>
            <key>size</key>
            <string>{902,1636}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7999eeabc50ebf20014d4779432373cf:310826b40f0476446cb887a10ed2cb0e:26689f1f3f8cee19091b84ff5d2932aa$</string>
            <key>textureFileName</key>
            <string>Pirate_03_Walking.png</string>
        </dict>
    </dict>
</plist>
