<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Walking_000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{26.5,14.5}</string>
                <key>spriteSize</key>
                <string>{197,273}</string>
                <key>spriteSourceSize</key>
                <string>{400,320}</string>
                <key>textureRect</key>
                <string>{{279,198},{197,273}}</string>
                <key>textureRotated</key>
                <true/>
                <key>triangles</key>
                <string>0 1 10 8 9 10 8 1 7 3 4 7 5 6 7 4 5 7 2 3 7 1 2 7 8 10 1 0 10 11</string>
                <key>vertices</key>
                <string>306 43 325 102 311 243 259 281 211 282 163 250 148 216 151 178 135 148 128 89 152 46 195 9</string>
                <key>verticesUV</key>
                <string>518 376 459 395 318 381 280 329 279 281 311 233 345 218 383 221 413 205 472 198 515 222 552 265</string>
            </dict>
            <key>Walking_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{27,15}</string>
                <key>spriteSize</key>
                <string>{204,284}</string>
                <key>spriteSourceSize</key>
                <string>{400,320}</string>
                <key>textureRect</key>
                <string>{{277,397},{204,284}}</string>
                <key>textureRotated</key>
                <true/>
                <key>triangles</key>
                <string>0 8 9 6 7 8 2 3 6 5 6 3 5 3 4 1 2 6 0 1 6 0 6 8</string>
                <key>vertices</key>
                <string>312 52 329 121 306 253 234 287 175 274 147 212 150 176 125 127 138 59 201 3</string>
                <key>verticesUV</key>
                <string>512 584 443 601 311 578 277 506 290 447 352 419 388 422 437 397 505 410 561 473</string>
            </dict>
            <key>Walking_002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{24.5,17.5}</string>
                <key>spriteSize</key>
                <string>{195,279}</string>
                <key>spriteSourceSize</key>
                <string>{400,320}</string>
                <key>textureRect</key>
                <string>{{1,1},{195,279}}</string>
                <key>textureRotated</key>
                <true/>
                <key>triangles</key>
                <string>0 10 11 0 9 10 6 4 5 6 7 8 3 4 6 3 6 8 2 3 8 1 2 8 9 0 1 9 1 8</string>
                <key>vertices</key>
                <string>297 40 322 91 318 211 290 254 249 282 205 282 164 249 146 213 147 191 127 130 128 76 179 3</string>
                <key>verticesUV</key>
                <string>243 171 192 196 72 192 29 164 1 123 1 79 34 38 70 20 92 21 153 1 207 2 280 53</string>
            </dict>
            <key>Walking_003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{19.5,14.5}</string>
                <key>spriteSize</key>
                <string>{197,275}</string>
                <key>spriteSourceSize</key>
                <string>{400,320}</string>
                <key>textureRect</key>
                <string>{{554,198},{197,275}}</string>
                <key>textureRotated</key>
                <true/>
                <key>triangles</key>
                <string>0 9 10 0 2 8 6 4 5 3 4 6 3 6 7 2 3 7 2 7 8 0 1 2 0 8 9</string>
                <key>vertices</key>
                <string>260 24 309 59 318 131 318 211 268 282 192 283 146 217 146 185 121 135 121 65 176 8</string>
                <key>verticesUV</key>
                <string>813 337 778 386 706 395 626 395 555 345 554 269 620 223 652 223 702 198 772 198 829 253</string>
            </dict>
            <key>Walking_004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{17,15}</string>
                <key>spriteSize</key>
                <string>{208,274}</string>
                <key>spriteSourceSize</key>
                <string>{400,320}</string>
                <key>textureRect</key>
                <string>{{1,600},{208,274}}</string>
                <key>textureRotated</key>
                <true/>
                <key>triangles</key>
                <string>1 9 10 8 9 1 3 4 5 6 7 3 6 3 5 2 3 7 1 2 7 8 1 7 0 1 10</string>
                <key>vertices</key>
                <string>282 28 305 83 321 194 298 236 257 282 198 281 145 228 143 181 114 140 113 67 162 8</string>
                <key>verticesUV</key>
                <string>255 769 200 792 89 808 47 785 1 744 2 685 55 632 102 630 143 601 216 600 275 649</string>
            </dict>
            <key>Walking_005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13.5,14.5}</string>
                <key>spriteSize</key>
                <string>{209,273}</string>
                <key>spriteSourceSize</key>
                <string>{400,320}</string>
                <key>textureRect</key>
                <string>{{277,603},{209,273}}</string>
                <key>textureRotated</key>
                <true/>
                <key>triangles</key>
                <string>0 11 12 0 10 11 3 6 7 3 7 8 3 8 9 3 4 5 3 5 6 10 2 3 10 0 2 0 1 2 10 3 9</string>
                <key>vertices</key>
                <string>256 22 302 60 302 156 285 186 318 187 318 213 259 282 192 281 145 219 144 199 110 130 109 68 157 9</string>
                <key>verticesUV</key>
                <string>537 750 499 796 403 796 373 779 372 812 346 812 277 753 278 686 340 639 360 638 429 604 491 603 550 651</string>
            </dict>
            <key>Walking_006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{17,12.5}</string>
                <key>spriteSize</key>
                <string>{212,273}</string>
                <key>spriteSourceSize</key>
                <string>{400,320}</string>
                <key>textureRect</key>
                <string>{{552,603},{212,273}}</string>
                <key>textureRotated</key>
                <true/>
                <key>triangles</key>
                <string>12 13 14 11 12 14 1 11 14 11 1 3 8 9 10 3 6 8 6 7 8 3 4 5 3 5 6 3 8 10 1 2 3 11 3 10 0 1 14</string>
                <key>vertices</key>
                <string>278 31 304 81 304 158 273 198 316 194 323 212 261 282 188 284 175 232 146 222 144 196 111 129 111 81 149 11 196 11</string>
                <key>verticesUV</key>
                <string>805 770 755 796 678 796 638 765 642 808 624 815 554 753 552 680 604 667 614 638 640 636 707 603 755 603 825 641 825 688</string>
            </dict>
            <key>Walking_007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{27,14.5}</string>
                <key>spriteSize</key>
                <string>{220,273}</string>
                <key>spriteSourceSize</key>
                <string>{400,320}</string>
                <key>textureRect</key>
                <string>{{286,1035},{220,273}}</string>
                <key>textureRotated</key>
                <true/>
                <key>triangles</key>
                <string>11 12 13 10 11 13 1 2 10 2 3 9 7 8 9 3 5 7 5 6 7 3 4 5 3 7 9 2 9 10 1 10 13 0 1 13</string>
                <key>vertices</key>
                <string>296 38 317 111 304 165 282 200 337 205 261 281 185 282 178 247 147 216 146 189 117 130 117 76 162 10 203 9</string>
                <key>verticesUV</key>
                <string>530 1214 457 1235 403 1222 368 1200 363 1255 287 1179 286 1103 321 1096 352 1065 379 1064 438 1035 492 1035 558 1080 559 1121</string>
            </dict>
            <key>Walking_008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{27,18.5}</string>
                <key>spriteSize</key>
                <string>{216,281}</string>
                <key>spriteSourceSize</key>
                <string>{400,320}</string>
                <key>textureRect</key>
                <string>{{551,817},{216,281}}</string>
                <key>textureRotated</key>
                <true/>
                <key>triangles</key>
                <string>0 1 11 10 11 1 1 2 9 7 8 9 3 5 7 5 6 7 3 4 5 9 2 3 9 3 7 10 1 9 0 11 12</string>
                <key>vertices</key>
                <string>304 44 323 109 310 166 288 205 335 218 260 282 181 282 177 232 146 217 151 187 119 122 136 50 188 1</string>
                <key>verticesUV</key>
                <string>789 1002 724 1021 667 1008 628 986 615 1033 551 958 551 879 601 875 616 844 646 849 711 817 783 834 832 886</string>
            </dict>
            <key>Walking_009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{30.5,14}</string>
                <key>spriteSize</key>
                <string>{195,282}</string>
                <key>spriteSourceSize</key>
                <string>{400,320}</string>
                <key>textureRect</key>
                <string>{{282,1},{195,282}}</string>
                <key>textureRotated</key>
                <true/>
                <key>triangles</key>
                <string>0 12 13 0 1 11 8 3 6 8 9 10 8 10 3 6 7 8 3 5 6 3 4 5 2 3 10 1 2 10 1 10 11 0 11 12</string>
                <key>vertices</key>
                <string>306 41 328 100 318 158 301 210 328 234 254 285 237 275 180 287 176 242 149 214 149 170 133 137 133 68 194 5</string>
                <key>verticesUV</key>
                <string>528 174 469 196 411 186 359 169 335 196 284 122 294 105 282 48 327 44 355 17 399 17 432 1 501 1 564 62</string>
            </dict>
            <key>Walking_010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{28,17}</string>
                <key>spriteSize</key>
                <string>{204,276}</string>
                <key>spriteSourceSize</key>
                <string>{400,320}</string>
                <key>textureRect</key>
                <string>{{563,397},{204,276}}</string>
                <key>textureRotated</key>
                <true/>
                <key>triangles</key>
                <string>0 1 13 12 2 11 13 1 2 9 10 11 3 7 9 7 8 9 4 5 6 3 4 6 3 6 7 11 2 3 11 3 9 12 13 2 0 13 14</string>
                <key>vertices</key>
                <string>309 44 330 111 314 172 290 215 314 212 326 237 315 236 261 281 185 281 164 226 147 217 147 197 126 95 149 53 197 5</string>
                <key>verticesUV</key>
                <string>800 580 733 601 672 585 629 561 632 585 607 597 608 586 563 532 563 456 618 435 627 418 647 418 749 397 791 420 839 468</string>
            </dict>
            <key>Walking_011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{28,17}</string>
                <key>spriteSize</key>
                <string>{196,276}</string>
                <key>spriteSourceSize</key>
                <string>{400,320}</string>
                <key>textureRect</key>
                <string>{{1,198},{196,276}}</string>
                <key>textureRotated</key>
                <true/>
                <key>triangles</key>
                <string>0 11 12 0 1 10 10 1 3 7 8 9 3 5 7 5 6 7 3 4 5 3 7 9 1 2 3 10 3 9 0 10 11</string>
                <key>vertices</key>
                <string>303 43 322 94 322 156 300 192 326 218 263 281 185 281 174 236 145 217 148 188 130 134 130 69 192 5</string>
                <key>verticesUV</key>
                <string>239 371 188 390 126 390 90 368 64 394 1 331 1 253 46 242 65 213 94 216 148 198 213 198 277 260</string>
            </dict>
            <key>Walking_012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{23,14}</string>
                <key>spriteSize</key>
                <string>{202,274}</string>
                <key>spriteSourceSize</key>
                <string>{400,320}</string>
                <key>textureRect</key>
                <string>{{1,396},{202,274}}</string>
                <key>textureRotated</key>
                <true/>
                <key>triangles</key>
                <string>0 11 12 0 10 11 10 0 2 7 8 9 5 6 7 3 4 5 3 5 7 3 7 9 9 2 3 0 1 2 10 2 9</string>
                <key>vertices</key>
                <string>261 25 308 57 319 116 305 178 324 212 260 283 188 283 176 233 146 221 146 184 122 136 122 67 178 9</string>
                <key>verticesUV</key>
                <string>259 535 227 582 168 593 106 579 72 598 1 534 1 462 51 450 63 420 100 420 148 396 217 396 275 452</string>
            </dict>
            <key>Walking_013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{23,9.5}</string>
                <key>spriteSize</key>
                <string>{216,283}</string>
                <key>spriteSourceSize</key>
                <string>{400,320}</string>
                <key>textureRect</key>
                <string>{{1,1032},{216,283}}</string>
                <key>textureRotated</key>
                <true/>
                <key>triangles</key>
                <string>0 10 11 9 10 1 8 2 6 6 7 8 4 5 6 2 4 6 2 3 4 8 1 2 10 0 1 9 1 8</string>
                <key>vertices</key>
                <string>275 28 307 81 308 184 331 204 260 280 195 292 172 231 144 222 143 182 115 140 115 71 167 9</string>
                <key>verticesUV</key>
                <string>265 1192 212 1224 109 1225 89 1248 13 1177 1 1112 62 1089 71 1061 111 1060 153 1032 222 1032 284 1084</string>
            </dict>
            <key>Walking_014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,15}</string>
                <key>spriteSize</key>
                <string>{216,274}</string>
                <key>spriteSourceSize</key>
                <string>{400,320}</string>
                <key>textureRect</key>
                <string>{{275,814},{216,274}}</string>
                <key>textureRotated</key>
                <true/>
                <key>triangles</key>
                <string>10 0 1 8 9 10 4 5 6 4 6 7 2 4 7 2 3 4 2 7 8 2 8 10 10 1 2 0 10 11</string>
                <key>vertices</key>
                <string>264 26 302 72 302 160 321 195 298 237 257 282 196 281 145 220 141 196 105 123 115 75 149 8</string>
                <key>verticesUV</key>
                <string>531 973 485 1011 397 1011 362 1030 320 1007 275 966 276 905 337 854 361 850 434 814 482 824 549 858</string>
            </dict>
            <key>Walking_015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,14}</string>
                <key>spriteSize</key>
                <string>{220,278}</string>
                <key>spriteSourceSize</key>
                <string>{400,320}</string>
                <key>textureRect</key>
                <string>{{561,1035},{220,278}}</string>
                <key>textureRotated</key>
                <true/>
                <key>triangles</key>
                <string>1 2 8 5 6 7 4 5 7 2 3 4 2 4 7 2 7 8 0 1 8 0 8 9</string>
                <key>vertices</key>
                <string>279 29 302 84 304 163 322 188 301 237 257 283 192 285 147 222 102 102 148 7</string>
                <key>verticesUV</key>
                <string>817 1212 762 1235 683 1237 658 1255 609 1234 563 1190 561 1125 624 1080 744 1035 839 1081</string>
            </dict>
            <key>Walking_016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15.5,12}</string>
                <key>spriteSize</key>
                <string>{213,272}</string>
                <key>spriteSourceSize</key>
                <string>{400,320}</string>
                <key>textureRect</key>
                <string>{{1,810},{213,272}}</string>
                <key>textureRotated</key>
                <true/>
                <key>triangles</key>
                <string>9 10 11 8 9 11 1 8 11 6 3 4 6 7 3 6 4 5 2 3 7 1 2 7 1 7 8 0 1 11</string>
                <key>vertices</key>
                <string>291 39 308 88 322 212 289 254 251 281 187 284 147 217 141 177 125 153 109 85 155 12 202 12</string>
                <key>verticesUV</key>
                <string>246 992 197 1009 73 1023 31 990 4 952 1 888 68 848 108 842 132 826 200 810 273 856 273 903</string>
            </dict>
            <key>Walking_017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{20.5,17}</string>
                <key>spriteSize</key>
                <string>{195,278}</string>
                <key>spriteSourceSize</key>
                <string>{400,320}</string>
                <key>textureRect</key>
                <string>{{566,1},{195,278}}</string>
                <key>textureRotated</key>
                <true/>
                <key>triangles</key>
                <string>0 10 11 8 0 1 6 4 5 6 7 8 6 8 4 3 4 8 2 3 8 1 2 8 8 9 0 0 9 10</string>
                <key>vertices</key>
                <string>288 40 318 83 318 211 295 253 246 282 206 281 165 252 148 214 148 186 123 136 123 67 186 4</string>
                <key>verticesUV</key>
                <string>808 166 765 196 637 196 595 173 566 124 567 84 596 43 634 26 662 26 712 1 781 1 844 64</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Archer_03_Walking.png</string>
            <key>size</key>
            <string>{845,1256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:682b8442ac842b37e87cb4bec5764206:a451ab75df399d7b955e6297e76d63ae:f208ccbff3aed2a21ccca5f481972e1b$</string>
            <key>textureFileName</key>
            <string>Archer_03_Walking.png</string>
        </dict>
    </dict>
</plist>
