<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Walking_000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{33,0}</string>
                <key>spriteSize</key>
                <string>{210,262}</string>
                <key>spriteSourceSize</key>
                <string>{400,320}</string>
                <key>textureRect</key>
                <string>{{434,1},{210,262}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>8 9 10 3 8 10 6 4 5 3 4 6 3 6 7 3 7 8 1 2 3 0 1 3 0 3 10</string>
                <key>vertices</key>
                <string>275 39 310 65 338 114 327 147 307 251 224 291 161 249 129 158 128 109 149 51 221 29</string>
                <key>verticesUV</key>
                <string>581 11 616 37 644 86 633 119 613 223 530 263 467 221 435 130 434 81 455 23 527 1</string>
            </dict>
            <key>Walking_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{30,4.5}</string>
                <key>spriteSize</key>
                <string>{208,253}</string>
                <key>spriteSourceSize</key>
                <string>{400,320}</string>
                <key>textureRect</key>
                <string>{{859,258},{208,253}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>7 8 9 6 4 5 3 4 6 3 6 7 2 3 7 0 2 7 0 1 2 0 7 9</string>
                <key>vertices</key>
                <string>270 36 322 72 334 126 304 249 245 282 207 281 155 246 126 135 135 71 197 29</string>
                <key>verticesUV</key>
                <string>1003 265 1055 301 1067 355 1037 478 978 511 940 510 888 475 859 364 868 300 930 258</string>
            </dict>
            <key>Walking_002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{26,4}</string>
                <key>spriteSize</key>
                <string>{208,252}</string>
                <key>spriteSourceSize</key>
                <string>{400,320}</string>
                <key>textureRect</key>
                <string>{{863,513},{208,252}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>8 9 10 0 2 8 4 5 6 4 6 7 3 4 7 8 2 3 8 3 7 0 1 2 0 8 10</string>
                <key>vertices</key>
                <string>259 32 316 64 330 120 313 219 290 254 249 282 205 282 150 238 122 126 138 62 195 30</string>
                <key>verticesUV</key>
                <string>1000 515 1057 547 1071 603 1054 702 1031 737 990 765 946 765 891 721 863 609 879 545 936 513</string>
            </dict>
            <key>Walking_003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{19,8.5}</string>
                <key>spriteSize</key>
                <string>{214,265}</string>
                <key>spriteSourceSize</key>
                <string>{400,320}</string>
                <key>textureRect</key>
                <string>{{1,809},{214,265}}</string>
                <key>textureRotated</key>
                <true/>
                <key>triangles</key>
                <string>8 9 10 2 8 10 4 5 7 5 6 7 2 3 4 2 4 7 2 7 8 0 1 2 0 2 10</string>
                <key>vertices</key>
                <string>304 53 326 116 309 155 322 192 295 246 254 281 194 284 146 217 112 122 139 46 224 19</string>
                <key>verticesUV</key>
                <string>232 1001 169 1023 130 1006 93 1019 39 992 4 951 1 891 68 843 163 809 239 836 266 921</string>
            </dict>
            <key>Walking_004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,11}</string>
                <key>spriteSize</key>
                <string>{210,266}</string>
                <key>spriteSourceSize</key>
                <string>{400,320}</string>
                <key>textureRect</key>
                <string>{{1,541},{210,266}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>0 8 9 0 2 7 3 4 6 4 5 6 2 3 6 2 6 7 0 1 2 0 7 8</string>
                <key>vertices</key>
                <string>265 36 303 62 318 106 318 214 257 282 198 281 155 238 108 145 123 59 206 16</string>
                <key>verticesUV</key>
                <string>158 561 196 587 211 631 211 739 150 807 91 806 48 763 1 670 16 584 99 541</string>
            </dict>
            <key>Walking_005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,4.5}</string>
                <key>spriteSize</key>
                <string>{218,267}</string>
                <key>spriteSourceSize</key>
                <string>{400,320}</string>
                <key>textureRect</key>
                <string>{{1,272},{218,267}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>2 10 11 8 9 10 2 8 10 6 2 5 6 7 2 2 3 4 2 4 5 2 7 8 0 1 2 0 2 11</string>
                <key>vertices</key>
                <string>293 54 316 100 292 188 312 184 323 202 265 280 199 289 145 219 105 133 119 65 172 29 240 22</string>
                <key>verticesUV</key>
                <string>189 304 212 350 188 438 208 434 219 452 161 530 95 539 41 469 1 383 15 315 68 279 136 272</string>
            </dict>
            <key>Walking_006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12.5,7}</string>
                <key>spriteSize</key>
                <string>{221,262}</string>
                <key>spriteSourceSize</key>
                <string>{400,320}</string>
                <key>textureRect</key>
                <string>{{221,270},{221,262}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>2 3 12 10 11 12 10 3 8 8 9 10 3 6 8 6 7 8 3 4 5 3 5 6 10 12 3 2 12 13 0 1 2 0 2 13</string>
                <key>vertices</key>
                <string>292 52 318 98 297 165 273 198 316 194 323 212 261 282 188 284 175 232 147 221 102 124 128 47 178 28 242 22</string>
                <key>verticesUV</key>
                <string>411 300 437 346 416 413 392 446 435 442 442 460 380 530 307 532 294 480 266 469 221 372 247 295 297 276 361 270</string>
            </dict>
            <key>Walking_007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{25,7.5}</string>
                <key>spriteSize</key>
                <string>{226,259}</string>
                <key>spriteSourceSize</key>
                <string>{400,320}</string>
                <key>textureRect</key>
                <string>{{427,534},{226,259}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>9 11 12 9 10 11 3 9 12 3 8 9 3 5 7 5 6 7 3 4 5 3 7 8 0 2 3 0 1 2 0 3 12</string>
                <key>vertices</key>
                <string>262 32 306 60 323 109 293 202 338 204 261 281 185 282 178 247 147 216 112 129 128 67 163 36 214 23</string>
                <key>verticesUV</key>
                <string>577 543 621 571 638 620 608 713 653 715 576 792 500 793 493 758 462 727 427 640 443 578 478 547 529 534</string>
            </dict>
            <key>Walking_008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{23,6.5}</string>
                <key>spriteSize</key>
                <string>{206,257}</string>
                <key>spriteSourceSize</key>
                <string>{400,320}</string>
                <key>textureRect</key>
                <string>{{655,524},{206,257}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>3 12 13 10 11 12 3 10 12 8 9 10 3 6 8 6 7 8 3 4 5 3 5 6 3 8 10 2 3 13 1 2 13 0 1 13</string>
                <key>vertices</key>
                <string>292 43 326 93 326 150 282 208 318 213 318 233 260 282 181 282 176 232 149 218 120 130 131 61 184 33 229 25</string>
                <key>verticesUV</key>
                <string>827 542 861 592 861 649 817 707 853 712 853 732 795 781 716 781 711 731 684 717 655 629 666 560 719 532 764 524</string>
            </dict>
            <key>Walking_009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{29.5,3.5}</string>
                <key>spriteSize</key>
                <string>{213,255}</string>
                <key>spriteSourceSize</key>
                <string>{400,320}</string>
                <key>textureRect</key>
                <string>{{859,1},{213,255}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>13 14 15 12 13 15 3 12 15 10 11 12 3 10 12 9 10 7 9 7 8 5 6 7 3 5 7 3 4 5 3 7 10 0 2 3 0 1 2 0 3 15</string>
                <key>vertices</key>
                <string>275 37 322 68 336 125 302 202 322 235 291 264 252 283 224 270 202 284 180 273 171 228 150 217 123 119 144 68 180 36 229 29</string>
                <key>verticesUV</key>
                <string>1011 9 1058 40 1072 97 1038 174 1058 207 1027 236 988 255 960 242 938 256 916 245 907 200 886 189 859 91 880 40 916 8 965 1</string>
            </dict>
            <key>Walking_010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{28.5,6}</string>
                <key>spriteSize</key>
                <string>{215,254}</string>
                <key>spriteSourceSize</key>
                <string>{400,320}</string>
                <key>textureRect</key>
                <string>{{268,807},{215,254}}</string>
                <key>textureRotated</key>
                <true/>
                <key>triangles</key>
                <string>0 3 10 9 7 8 9 10 3 3 5 7 5 6 7 3 4 5 9 3 7 0 2 3 0 1 2 0 10 11</string>
                <key>vertices</key>
                <string>272 36 324 71 336 128 298 209 335 221 261 281 185 281 164 226 149 218 121 113 153 59 200 27</string>
                <key>verticesUV</key>
                <string>513 958 478 1010 421 1022 340 984 328 1021 268 947 268 871 323 850 331 835 436 807 490 839 522 886</string>
            </dict>
            <key>Walking_011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{30.5,5.5}</string>
                <key>spriteSize</key>
                <string>{215,253}</string>
                <key>spriteSourceSize</key>
                <string>{400,320}</string>
                <key>textureRect</key>
                <string>{{524,795},{215,253}}</string>
                <key>textureRotated</key>
                <true/>
                <key>triangles</key>
                <string>0 11 12 9 10 11 9 2 8 11 0 2 6 7 8 2 4 6 4 5 6 2 3 4 2 6 8 0 1 2 9 11 2</string>
                <key>vertices</key>
                <string>309 64 338 115 299 202 333 211 263 281 185 281 174 236 148 218 123 146 129 96 149 59 189 34 261 28</string>
                <key>verticesUV</key>
                <string>741 981 690 1010 603 971 594 1005 524 935 524 857 569 846 587 820 659 795 709 801 746 821 771 861 777 933</string>
            </dict>
            <key>Walking_012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{20.5,2.5}</string>
                <key>spriteSize</key>
                <string>{215,253}</string>
                <key>spriteSourceSize</key>
                <string>{400,320}</string>
                <key>textureRect</key>
                <string>{{779,783},{215,253}}</string>
                <key>textureRotated</key>
                <true/>
                <key>triangles</key>
                <string>2 10 11 8 9 10 2 8 10 6 7 8 2 4 6 4 5 6 2 3 4 2 6 8 1 2 11 0 1 11</string>
                <key>vertices</key>
                <string>303 52 328 114 304 171 326 218 257 284 188 281 176 233 147 221 113 125 137 62 185 31 249 31</string>
                <key>verticesUV</key>
                <string>1011 973 949 998 892 974 845 996 779 927 782 858 830 846 842 817 938 783 1001 807 1032 855 1032 919</string>
            </dict>
            <key>Walking_013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{21.5,2.5}</string>
                <key>spriteSize</key>
                <string>{217,269}</string>
                <key>spriteSourceSize</key>
                <string>{400,320}</string>
                <key>textureRect</key>
                <string>{{1,1},{217,269}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>2 10 11 8 9 10 2 8 10 6 7 8 2 4 6 4 5 6 2 3 4 2 6 8 0 1 2 0 2 11</string>
                <key>vertices</key>
                <string>272 39 325 90 301 176 330 205 260 280 195 292 172 231 141 220 115 142 113 81 161 39 212 23</string>
                <key>verticesUV</key>
                <string>160 17 213 68 189 154 218 183 148 258 83 270 60 209 29 198 3 120 1 59 49 17 100 1</string>
            </dict>
            <key>Walking_014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14.5,6.5}</string>
                <key>spriteSize</key>
                <string>{213,257}</string>
                <key>spriteSourceSize</key>
                <string>{400,320}</string>
                <key>textureRect</key>
                <string>{{444,265},{213,257}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>2 11 12 9 10 11 8 9 11 2 8 11 6 4 5 6 7 4 2 4 7 2 3 4 2 7 8 1 2 12 0 1 12</string>
                <key>vertices</key>
                <string>302 63 314 107 300 155 321 195 298 237 257 282 196 281 145 220 113 152 108 106 133 48 187 29 245 25</string>
                <key>verticesUV</key>
                <string>638 303 650 347 636 395 657 435 634 477 593 522 532 521 481 460 449 392 444 346 469 288 523 269 581 265</string>
            </dict>
            <key>Walking_015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,2}</string>
                <key>spriteSize</key>
                <string>{212,264}</string>
                <key>spriteSourceSize</key>
                <string>{400,320}</string>
                <key>textureRect</key>
                <string>{{213,541},{212,264}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>8 9 10 7 8 10 1 2 7 4 5 6 3 4 6 2 3 6 2 6 7 1 7 10 0 1 10</string>
                <key>vertices</key>
                <string>250 28 289 54 313 90 322 207 269 278 209 290 156 243 112 149 110 96 135 51 184 26</string>
                <key>verticesUV</key>
                <string>353 543 392 569 416 605 425 722 372 793 312 805 259 758 215 664 213 611 238 566 287 541</string>
            </dict>
            <key>Walking_016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{21.5,3.5}</string>
                <key>spriteSize</key>
                <string>{211,257}</string>
                <key>spriteSourceSize</key>
                <string>{400,320}</string>
                <key>textureRect</key>
                <string>{{646,1},{211,257}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>9 10 11 0 3 9 6 7 8 5 6 8 3 4 5 3 5 8 3 8 9 3 0 1 3 1 2 0 9 11</string>
                <key>vertices</key>
                <string>249 29 301 56 321 110 308 149 327 206 289 254 251 281 189 285 147 218 116 145 117 84 170 28</string>
                <key>verticesUV</key>
                <string>779 2 831 29 851 83 838 122 857 179 819 227 781 254 719 258 677 191 646 118 647 57 700 1</string>
            </dict>
            <key>Walking_017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{23,5.5}</string>
                <key>spriteSize</key>
                <string>{212,267}</string>
                <key>spriteSourceSize</key>
                <string>{400,320}</string>
                <key>textureRect</key>
                <string>{{220,1},{212,267}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>8 9 10 0 8 10 3 5 6 6 7 3 3 4 5 2 3 7 1 2 7 0 1 7 0 7 8</string>
                <key>vertices</key>
                <string>293 50 318 84 329 128 309 229 283 269 226 288 174 271 130 177 117 113 147 47 230 21</string>
                <key>verticesUV</key>
                <string>396 30 421 64 432 108 412 209 386 249 329 268 277 251 233 157 220 93 250 27 333 1</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Archer_01_Walking.png</string>
            <key>size</key>
            <string>{1073,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:36fb8fe378b294f2aeeeebf72640da9e:45fe9ce7cd2f3071cc3d14c854bbfdc8:b22a8c5af1ebdf60303a0168ea6edbe0$</string>
            <key>textureFileName</key>
            <string>Archer_01_Walking.png</string>
        </dict>
    </dict>
</plist>
