<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Demon_Idle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{69.5,-33}</string>
                <key>spriteSize</key>
                <string>{435,358}</string>
                <key>spriteSourceSize</key>
                <string>{720,480}</string>
                <key>textureRect</key>
                <string>{{1,1},{435,358}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>16 17 18 2 3 16 15 13 14 15 16 13 11 3 4 11 12 13 3 11 13 5 7 8 5 8 9 5 6 7 4 5 9 4 9 10 11 4 10 3 13 16 2 16 18 1 2 18 0 1 18</string>
                <key>vertices</key>
                <string>473 106 494 161 485 250 459 302 478 332 582 269 626 252 647 290 633 325 513 377 483 396 442 452 272 451 261 414 222 409 212 374 268 230 284 112 379 94</string>
                <key>verticesUV</key>
                <string>262 13 283 68 274 157 248 209 267 239 371 176 415 159 436 197 422 232 302 284 272 303 231 359 61 358 50 321 11 316 1 281 57 137 73 19 168 1</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Demon_Idle.png</string>
            <key>size</key>
            <string>{437,360}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4987ddac88ff0b72797749295832fd75:c3c222a66c8497a900ed55a970a7c08a:d7200762b26820ec704b8522819d66a4$</string>
            <key>textureFileName</key>
            <string>Demon_Idle.png</string>
        </dict>
    </dict>
</plist>
