<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Fairy_01_Heal (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{19.5,14.5}</string>
                <key>spriteSize</key>
                <string>{249,273}</string>
                <key>spriteSourceSize</key>
                <string>{380,320}</string>
                <key>textureRect</key>
                <string>{{280,1},{249,273}}</string>
                <key>textureRotated</key>
                <true/>
                <key>triangles</key>
                <string>9 10 11 5 6 7 7 8 9 5 7 9 0 5 9 2 4 5 2 3 4 0 2 5 0 1 2 0 9 11</string>
                <key>vertices</key>
                <string>208 27 296 77 299 112 334 136 334 167 288 199 231 282 172 281 108 249 85 203 95 22 139 9</string>
                <key>verticesUV</key>
                <string>535 124 485 212 450 215 426 250 395 250 363 204 280 147 281 88 313 24 359 1 540 11 553 55</string>
            </dict>
            <key>Fairy_01_Heal (10).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{24,18}</string>
                <key>spriteSize</key>
                <string>{262,272}</string>
                <key>spriteSourceSize</key>
                <string>{380,320}</string>
                <key>textureRect</key>
                <string>{{562,256},{262,272}}</string>
                <key>textureRotated</key>
                <true/>
                <key>triangles</key>
                <string>7 8 9 6 4 5 6 7 4 3 4 7 0 3 7 3 0 1 3 1 2 0 7 9</string>
                <key>vertices</key>
                <string>223 30 324 79 345 128 311 155 229 278 171 277 128 252 96 149 83 21 135 6</string>
                <key>verticesUV</key>
                <string>810 396 761 497 712 518 685 484 562 402 563 344 588 301 691 269 819 256 834 308</string>
            </dict>
            <key>Fairy_01_Heal (11).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{25.5,20}</string>
                <key>spriteSize</key>
                <string>{255,276}</string>
                <key>spriteSourceSize</key>
                <string>{380,320}</string>
                <key>textureRect</key>
                <string>{{284,256},{255,276}}</string>
                <key>textureRotated</key>
                <true/>
                <key>triangles</key>
                <string>8 9 10 0 3 8 5 6 7 4 5 7 3 4 7 3 7 8 3 0 1 3 1 2 0 8 10</string>
                <key>vertices</key>
                <string>256 38 330 93 343 126 308 158 229 277 174 278 137 257 113 214 88 113 88 35 119 2</string>
                <key>verticesUV</key>
                <string>524 424 469 498 436 511 404 476 285 397 284 342 305 305 348 281 449 256 527 256 560 287</string>
            </dict>
            <key>Fairy_01_Heal (12).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{27.5,20}</string>
                <key>spriteSize</key>
                <string>{277,274}</string>
                <key>spriteSourceSize</key>
                <string>{380,320}</string>
                <key>textureRect</key>
                <string>{{274,1302},{277,274}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>7 0 3 4 5 6 4 6 7 3 4 7 7 8 0 3 0 1 3 1 2 0 8 9</string>
                <key>vertices</key>
                <string>218 28 283 58 356 108 293 171 260 234 217 277 159 277 108 226 79 37 122 3</string>
                <key>verticesUV</key>
                <string>413 1327 478 1357 551 1407 488 1470 455 1533 412 1576 354 1576 303 1525 274 1336 317 1302</string>
            </dict>
            <key>Fairy_01_Heal (13).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{31,18.5}</string>
                <key>spriteSize</key>
                <string>{278,279}</string>
                <key>spriteSourceSize</key>
                <string>{380,320}</string>
                <key>textureRect</key>
                <string>{{553,1304},{278,279}}</string>
                <key>textureRotated</key>
                <true/>
                <key>triangles</key>
                <string>7 8 9 3 4 5 6 7 3 6 3 5 2 3 7 0 2 7 0 1 2 0 7 9</string>
                <key>vertices</key>
                <string>263 43 360 109 304 151 261 233 213 281 169 275 125 248 98 207 82 22 140 2</string>
                <key>verticesUV</key>
                <string>791 1485 725 1582 683 1526 601 1483 553 1435 559 1391 586 1347 627 1320 812 1304 832 1362</string>
            </dict>
            <key>Fairy_01_Heal (14).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{23,17.5}</string>
                <key>spriteSize</key>
                <string>{258,273}</string>
                <key>spriteSourceSize</key>
                <string>{380,320}</string>
                <key>textureRect</key>
                <string>{{551,520},{258,273}}</string>
                <key>textureRotated</key>
                <true/>
                <key>triangles</key>
                <string>8 9 10 0 8 10 4 5 6 4 6 7 3 4 7 0 3 7 3 0 1 3 1 2 0 7 8</string>
                <key>vertices</key>
                <string>250 36 329 88 342 121 299 157 267 220 217 279 148 273 102 208 84 43 100 16 131 6</string>
                <key>verticesUV</key>
                <string>794 686 742 765 709 778 673 735 610 703 551 653 557 584 622 538 787 520 814 536 824 567</string>
            </dict>
            <key>Fairy_01_Heal (15).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{24.5,17.5}</string>
                <key>spriteSize</key>
                <string>{255,273}</string>
                <key>spriteSourceSize</key>
                <string>{380,320}</string>
                <key>textureRect</key>
                <string>{{1,505},{255,273}}</string>
                <key>textureRotated</key>
                <true/>
                <key>triangles</key>
                <string>9 10 11 0 3 9 4 5 6 4 6 7 4 7 8 3 4 8 3 8 9 3 0 1 3 1 2 0 9 11</string>
                <key>vertices</key>
                <string>218 27 323 74 342 116 293 165 271 209 217 279 170 275 136 254 108 205 87 98 87 16 132 6</string>
                <key>verticesUV</key>
                <string>253 636 206 741 164 760 115 711 71 689 1 635 5 588 26 554 75 526 182 505 264 505 274 550</string>
            </dict>
            <key>Fairy_01_Heal (16).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{21,17.5}</string>
                <key>spriteSize</key>
                <string>{260,275}</string>
                <key>spriteSourceSize</key>
                <string>{380,320}</string>
                <key>textureRect</key>
                <string>{{559,780},{260,275}}</string>
                <key>textureRotated</key>
                <true/>
                <key>triangles</key>
                <string>6 7 8 3 4 6 4 5 6 0 2 3 0 3 6 0 1 2 0 6 8</string>
                <key>vertices</key>
                <string>227 29 325 78 341 113 218 280 170 275 125 248 96 146 81 26 127 5</string>
                <key>verticesUV</key>
                <string>810 926 761 1024 726 1040 559 917 564 869 591 824 693 795 813 780 834 826</string>
            </dict>
            <key>Fairy_01_Heal (17).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{24.5,18.5}</string>
                <key>spriteSize</key>
                <string>{259,277}</string>
                <key>spriteSourceSize</key>
                <string>{380,320}</string>
                <key>textureRect</key>
                <string>{{274,1041},{259,277}}</string>
                <key>textureRotated</key>
                <true/>
                <key>triangles</key>
                <string>0 11 12 6 7 8 6 8 9 6 9 10 5 6 10 10 0 2 2 4 5 2 3 4 10 2 5 0 1 2 0 10 11</string>
                <key>vertices</key>
                <string>198 19 288 62 303 95 330 95 344 130 307 163 268 221 218 280 156 275 120 239 96 147 85 38 110 3</string>
                <key>verticesUV</key>
                <string>535 1154 492 1244 459 1259 459 1286 424 1300 391 1263 333 1224 274 1174 279 1112 315 1076 407 1052 516 1041 551 1066</string>
            </dict>
            <key>Fairy_01_Heal (18).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{23.5,13.5}</string>
                <key>spriteSize</key>
                <string>{251,281}</string>
                <key>spriteSourceSize</key>
                <string>{380,320}</string>
                <key>textureRect</key>
                <string>{{1,252},{251,281}}</string>
                <key>textureRotated</key>
                <true/>
                <key>triangles</key>
                <string>0 11 12 7 8 9 6 7 9 6 9 10 5 6 10 0 5 10 2 4 5 2 3 4 0 2 5 0 1 2 0 10 11</string>
                <key>vertices</key>
                <string>208 26 292 68 299 93 339 119 339 150 292 188 267 230 222 278 188 287 139 262 99 213 88 28 130 6</string>
                <key>verticesUV</key>
                <string>262 372 220 456 195 463 169 503 138 503 100 456 58 431 10 386 1 352 26 303 75 263 260 252 282 294</string>
            </dict>
            <key>Fairy_01_Heal (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{24,19.5}</string>
                <key>spriteSize</key>
                <string>{248,277}</string>
                <key>spriteSourceSize</key>
                <string>{380,320}</string>
                <key>textureRect</key>
                <string>{{1,1},{248,277}}</string>
                <key>textureRotated</key>
                <true/>
                <key>triangles</key>
                <string>0 11 12 6 7 8 6 8 9 6 9 10 2 5 6 10 0 2 5 2 3 5 3 4 2 6 10 0 1 2 0 10 11</string>
                <key>vertices</key>
                <string>205 25 292 68 299 93 338 123 338 154 310 173 261 238 220 279 157 279 103 225 94 134 90 39 116 2</string>
                <key>verticesUV</key>
                <string>255 116 212 203 187 210 157 249 126 249 107 221 42 172 1 131 1 68 55 14 146 5 241 1 278 27</string>
            </dict>
            <key>Fairy_01_Heal (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{23.5,15}</string>
                <key>spriteSize</key>
                <string>{253,274}</string>
                <key>spriteSourceSize</key>
                <string>{380,320}</string>
                <key>textureRect</key>
                <string>{{555,1},{253,274}}</string>
                <key>textureRotated</key>
                <true/>
                <key>triangles</key>
                <string>12 13 14 11 12 14 0 5 11 6 7 8 9 10 6 9 6 8 11 5 6 11 6 10 2 4 5 2 3 4 5 0 1 5 1 2 0 11 14</string>
                <key>vertices</key>
                <string>208 24 288 64 309 97 340 98 340 137 307 165 256 241 215 282 171 277 136 258 113 218 95 144 87 43 102 13 138 8</string>
                <key>verticesUV</key>
                <string>813 122 773 202 740 223 739 254 700 254 672 221 596 170 555 129 560 85 579 50 619 27 693 9 794 1 824 16 829 52</string>
            </dict>
            <key>Fairy_01_Heal (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{21.5,18.5}</string>
                <key>spriteSize</key>
                <string>{259,273}</string>
                <key>spriteSourceSize</key>
                <string>{380,320}</string>
                <key>textureRect</key>
                <string>{{1,762},{259,273}}</string>
                <key>textureRotated</key>
                <true/>
                <key>triangles</key>
                <string>8 9 10 4 5 6 4 6 7 4 7 8 3 4 8 0 3 8 3 0 1 3 1 2 0 8 10</string>
                <key>vertices</key>
                <string>248 34 328 85 341 115 294 162 273 205 218 277 174 278 123 248 96 145 82 27 126 5</string>
                <key>verticesUV</key>
                <string>245 928 194 1008 164 1021 117 974 74 953 2 898 1 854 31 803 134 776 252 762 274 806</string>
            </dict>
            <key>Fairy_01_Heal (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{25.5,17.5}</string>
                <key>spriteSize</key>
                <string>{257,273}</string>
                <key>spriteSourceSize</key>
                <string>{380,320}</string>
                <key>textureRect</key>
                <string>{{276,513},{257,273}}</string>
                <key>textureRotated</key>
                <true/>
                <key>triangles</key>
                <string>9 10 11 8 0 3 4 5 6 6 7 8 4 6 8 3 4 8 8 9 0 3 0 1 3 1 2 0 9 11</string>
                <key>vertices</key>
                <string>218 27 322 74 344 115 291 169 273 206 216 279 170 274 126 250 103 178 87 98 87 16 132 6</string>
                <key>verticesUV</key>
                <string>528 644 481 748 440 770 386 717 349 699 276 642 281 596 305 552 377 529 457 513 539 513 549 558</string>
            </dict>
            <key>Fairy_01_Heal (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{28,18.5}</string>
                <key>spriteSize</key>
                <string>{270,271}</string>
                <key>spriteSourceSize</key>
                <string>{380,320}</string>
                <key>textureRect</key>
                <string>{{1,1023},{270,271}}</string>
                <key>textureRotated</key>
                <true/>
                <key>triangles</key>
                <string>5 6 7 0 5 7 2 3 4 0 1 2 0 2 4 0 4 5</string>
                <key>vertices</key>
                <string>250 36 353 102 221 277 160 277 107 224 83 48 100 16 132 6</string>
                <key>verticesUV</key>
                <string>242 1190 176 1293 1 1161 1 1100 54 1047 230 1023 262 1040 272 1072</string>
            </dict>
            <key>Fairy_01_Heal (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{23,20.5}</string>
                <key>spriteSize</key>
                <string>{260,279}</string>
                <key>spriteSourceSize</key>
                <string>{380,320}</string>
                <key>textureRect</key>
                <string>{{553,1042},{260,279}}</string>
                <key>textureRotated</key>
                <true/>
                <key>triangles</key>
                <string>8 9 10 4 5 6 4 6 7 4 7 8 3 4 8 0 3 8 3 0 1 3 1 2 0 8 10</string>
                <key>vertices</key>
                <string>263 43 329 89 343 121 301 159 265 230 216 279 171 276 125 249 96 207 83 27 135 0</string>
                <key>verticesUV</key>
                <string>789 1222 743 1288 711 1302 673 1260 602 1224 553 1175 556 1130 583 1084 625 1055 805 1042 832 1094</string>
            </dict>
            <key>Fairy_01_Heal (8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{23.5,14.5}</string>
                <key>spriteSize</key>
                <string>{259,281}</string>
                <key>spriteSourceSize</key>
                <string>{380,320}</string>
                <key>textureRect</key>
                <string>{{276,780},{259,281}}</string>
                <key>textureRotated</key>
                <true/>
                <key>triangles</key>
                <string>10 11 12 9 0 5 6 7 8 6 8 9 5 6 9 9 10 0 2 4 5 2 3 4 0 2 5 0 1 2 0 10 12</string>
                <key>vertices</key>
                <string>221 29 286 59 303 87 329 87 343 122 283 184 266 229 208 286 142 267 102 209 84 44 103 15 133 5</string>
                <key>verticesUV</key>
                <string>533 917 503 982 475 999 475 1025 440 1039 378 979 333 962 276 904 295 838 353 798 518 780 547 799 557 829</string>
            </dict>
            <key>Fairy_01_Heal (9).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{29.5,19.5}</string>
                <key>spriteSize</key>
                <string>{271,277}</string>
                <key>spriteSourceSize</key>
                <string>{380,320}</string>
                <key>textureRect</key>
                <string>{{1,1295},{271,277}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>7 8 9 0 2 7 4 5 6 3 4 6 7 2 3 7 3 6 0 1 2 0 7 9</string>
                <key>vertices</key>
                <string>256 38 355 110 291 174 273 211 218 279 146 274 113 215 96 148 84 34 122 2</string>
                <key>verticesUV</key>
                <string>173 1331 272 1403 208 1467 190 1504 135 1572 63 1567 30 1508 13 1441 1 1327 39 1295</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Fairy_01_Heal.png</string>
            <key>size</key>
            <string>{835,1583}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6c88ba73b536f0a4bedbf948e279d9db:feb4015c6a668ef4c6c83296238ec082:411c967c7c0dc9a2dfb7381817aad29e$</string>
            <key>textureFileName</key>
            <string>Fairy_01_Heal.png</string>
        </dict>
    </dict>
</plist>
