<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Goblin_Ultimate (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{156,160}</string>
                <key>spriteSourceSize</key>
                <string>{156,162}</string>
                <key>textureRect</key>
                <string>{{1,1353},{156,160}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Goblin_Ultimate (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,198}</string>
                <key>spriteSourceSize</key>
                <string>{200,198}</string>
                <key>textureRect</key>
                <string>{{1,607},{200,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Goblin_Ultimate (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,200}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{1,1},{200,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Goblin_Ultimate (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,200}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{1,203},{200,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Goblin_Ultimate (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,200}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{1,405},{200,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Goblin_Ultimate (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{194,200}</string>
                <key>spriteSourceSize</key>
                <string>{194,200}</string>
                <key>textureRect</key>
                <string>{{1,807},{194,200}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Goblin_Ultimate (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{188,186}</string>
                <key>spriteSourceSize</key>
                <string>{190,186}</string>
                <key>textureRect</key>
                <string>{{1,1165},{188,186}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Goblin_Ultimate (8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{198,160}</string>
                <key>spriteSourceSize</key>
                <string>{198,160}</string>
                <key>textureRect</key>
                <string>{{1,1003},{198,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Goblin_Ultimate (9).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{154,148}</string>
                <key>spriteSourceSize</key>
                <string>{154,150}</string>
                <key>textureRect</key>
                <string>{{1,1511},{154,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Goblin_Ultimate.png</string>
            <key>size</key>
            <string>{202,1660}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b868127dcb2b174d6b1254843d910538:0e3cc09babca33d4fad331cb51cc60d0:66ada57c2c70981415b16d399578206b$</string>
            <key>textureFileName</key>
            <string>Goblin_Ultimate.png</string>
        </dict>
    </dict>
</plist>
