<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Dying_000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{37.5,27.5}</string>
                <key>spriteSize</key>
                <string>{283,289}</string>
                <key>spriteSourceSize</key>
                <string>{440,360}</string>
                <key>textureRect</key>
                <string>{{1,1},{283,289}}</string>
                <key>textureRotated</key>
                <true/>
                <key>triangles</key>
                <string>13 14 15 11 12 13 10 1 6 10 11 13 8 9 10 6 7 10 7 8 10 10 13 1 6 1 2 3 4 5 2 3 5 6 2 5 1 13 15 0 1 15</string>
                <key>vertices</key>
                <string>286 36 301 79 329 97 357 97 399 118 353 187 318 217 280 293 187 297 141 251 161 205 116 160 118 124 143 103 168 23 242 8</string>
                <key>verticesUV</key>
                <string>262 171 219 186 201 214 201 242 180 284 111 238 81 203 5 165 1 72 47 26 93 46 138 1 174 3 195 28 275 53 290 127</string>
            </dict>
            <key>Dying_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{35.5,29}</string>
                <key>spriteSize</key>
                <string>{267,292}</string>
                <key>spriteSourceSize</key>
                <string>{440,360}</string>
                <key>textureRect</key>
                <string>{{1,873},{267,292}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>0 13 14 10 11 12 9 1 5 9 10 12 5 6 9 7 8 9 6 7 9 9 12 1 1 4 5 2 3 4 1 2 4 0 1 12 0 12 13</string>
                <key>vertices</key>
                <string>298 39 314 84 371 99 389 130 354 184 335 199 270 297 173 288 151 247 160 202 123 155 122 115 154 99 179 18 264 5</string>
                <key>verticesUV</key>
                <string>177 907 193 952 250 967 268 998 233 1052 214 1067 149 1165 52 1156 30 1115 39 1070 2 1023 1 983 33 967 58 886 143 873</string>
            </dict>
            <key>Dying_002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{41,30.5}</string>
                <key>spriteSize</key>
                <string>{268,293}</string>
                <key>spriteSourceSize</key>
                <string>{440,360}</string>
                <key>textureRect</key>
                <string>{{1,578},{268,293}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>12 13 14 10 11 12 1 4 12 9 10 12 4 5 9 8 9 6 8 6 7 5 6 9 4 9 12 1 3 4 1 2 3 1 12 14 0 1 14</string>
                <key>vertices</key>
                <string>307 26 314 64 395 116 359 179 324 204 284 281 243 296 164 281 158 234 164 199 127 144 127 109 167 82 189 15 260 3</string>
                <key>verticesUV</key>
                <string>181 601 188 639 269 691 233 754 198 779 158 856 117 871 38 856 32 809 38 774 1 719 1 684 41 657 63 590 134 578</string>
            </dict>
            <key>Dying_003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{41,33.5}</string>
                <key>spriteSize</key>
                <string>{266,289}</string>
                <key>spriteSourceSize</key>
                <string>{440,360}</string>
                <key>textureRect</key>
                <string>{{1,1167},{266,289}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 12 13 9 10 11 8 1 4 8 9 11 8 11 1 7 8 5 7 5 6 4 5 8 1 3 4 1 2 3 1 11 12 0 1 13</string>
                <key>vertices</key>
                <string>322 43 320 68 394 113 364 173 333 199 272 291 182 286 161 239 168 185 128 133 137 96 168 85 203 11 277 2</string>
                <key>verticesUV</key>
                <string>195 1208 193 1233 267 1278 237 1338 206 1364 145 1456 55 1451 34 1404 41 1350 1 1298 10 1261 41 1250 76 1176 150 1167</string>
            </dict>
            <key>Dying_004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{19.5,33.5}</string>
                <key>spriteSize</key>
                <string>{235,287}</string>
                <key>spriteSourceSize</key>
                <string>{440,360}</string>
                <key>textureRect</key>
                <string>{{271,590},{235,287}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>0 10 11 7 8 9 6 7 9 0 2 9 3 4 6 4 5 6 2 3 6 2 6 9 0 1 2 0 9 10</string>
                <key>vertices</key>
                <string>263 4 357 78 332 170 287 281 223 290 170 272 164 190 123 147 122 104 152 101 177 32 210 3</string>
                <key>verticesUV</key>
                <string>412 591 506 665 481 757 436 868 372 877 319 859 313 777 272 734 271 691 301 688 326 619 359 590</string>
            </dict>
            <key>Dying_005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2.5,34}</string>
                <key>spriteSize</key>
                <string>{217,290}</string>
                <key>spriteSourceSize</key>
                <string>{440,360}</string>
                <key>textureRect</key>
                <string>{{292,1},{217,290}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>8 9 10 6 7 8 0 8 10 5 6 8 1 2 5 3 4 5 2 3 5 8 0 1 8 1 5</string>
                <key>vertices</key>
                <string>307 46 326 153 304 267 236 291 180 276 163 205 115 157 109 120 140 96 165 16 239 1</string>
                <key>verticesUV</key>
                <string>490 46 509 153 487 267 419 291 363 276 346 205 298 157 292 120 323 96 348 16 422 1</string>
            </dict>
            <key>Dying_006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,30.5}</string>
                <key>spriteSize</key>
                <string>{220,295}</string>
                <key>spriteSourceSize</key>
                <string>{440,360}</string>
                <key>textureRect</key>
                <string>{{285,293},{220,295}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>0 11 12 0 10 11 7 8 9 0 1 9 6 7 9 3 4 6 4 5 6 2 3 6 1 2 6 1 6 9 0 9 10</string>
                <key>vertices</key>
                <string>269 31 314 118 322 205 295 266 235 297 183 274 172 219 108 171 102 132 133 106 141 50 162 22 214 2</string>
                <key>verticesUV</key>
                <string>452 322 497 409 505 496 478 557 418 588 366 565 355 510 291 462 285 423 316 397 324 341 345 313 397 293</string>
            </dict>
            <key>Dying_007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-28.5,23}</string>
                <key>spriteSize</key>
                <string>{223,284}</string>
                <key>spriteSourceSize</key>
                <string>{440,360}</string>
                <key>textureRect</key>
                <string>{{270,879},{223,284}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>0 10 11 7 8 9 0 1 9 6 7 9 3 4 5 3 5 6 6 1 2 6 2 3 1 6 9 0 9 10</string>
                <key>vertices</key>
                <string>216 39 272 101 303 154 303 241 284 282 211 299 156 242 90 210 80 175 97 148 98 57 168 15</string>
                <key>verticesUV</key>
                <string>406 903 462 965 493 1018 493 1105 474 1146 401 1163 346 1106 280 1074 270 1039 287 1012 288 921 358 879</string>
            </dict>
            <key>Dying_008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-41.5,-1.5}</string>
                <key>spriteSize</key>
                <string>{249,247}</string>
                <key>spriteSourceSize</key>
                <string>{440,360}</string>
                <key>textureRect</key>
                <string>{{257,1458},{249,247}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>8 9 10 7 8 10 0 4 7 5 6 7 4 5 7 1 2 3 1 3 4 0 1 4 0 7 10</string>
                <key>vertices</key>
                <string>256 118 303 227 279 290 225 305 166 267 89 258 67 228 81 195 54 115 101 59 157 58</string>
                <key>verticesUV</key>
                <string>459 1518 506 1627 482 1690 428 1705 369 1667 292 1658 270 1628 284 1595 257 1515 304 1459 360 1458</string>
            </dict>
            <key>Dying_009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-55,-20.5}</string>
                <key>spriteSize</key>
                <string>{280,219}</string>
                <key>spriteSourceSize</key>
                <string>{440,360}</string>
                <key>textureRect</key>
                <string>{{270,1165},{280,219}}</string>
                <key>textureRotated</key>
                <true/>
                <key>triangles</key>
                <string>8 10 11 8 9 10 6 7 8 0 1 5 5 6 8 1 3 4 1 2 3 1 4 5 0 5 8 0 8 11</string>
                <key>vertices</key>
                <string>216 128 254 162 305 236 291 275 256 310 156 296 85 308 69 276 77 250 25 172 62 108 123 91</string>
                <key>verticesUV</key>
                <string>452 1356 418 1394 344 1445 305 1431 270 1396 284 1296 272 1225 304 1209 330 1217 408 1165 472 1202 489 1263</string>
            </dict>
            <key>Dying_010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-64,-32}</string>
                <key>spriteSize</key>
                <string>{280,254}</string>
                <key>spriteSourceSize</key>
                <string>{440,360}</string>
                <key>textureRect</key>
                <string>{{1,1458},{280,254}}</string>
                <key>textureRotated</key>
                <true/>
                <key>triangles</key>
                <string>11 12 13 10 11 13 0 5 13 9 10 13 8 9 13 5 8 13 6 7 8 5 6 8 1 3 4 5 0 1 1 2 3 1 4 5 0 13 14</string>
                <key>vertices</key>
                <string>197 132 260 200 293 219 296 285 256 322 176 313 124 339 87 331 83 294 30 255 16 221 24 166 68 134 90 139 143 85</string>
                <key>verticesUV</key>
                <string>208 1639 140 1702 121 1735 55 1738 18 1698 27 1618 1 1566 9 1529 46 1525 85 1472 119 1458 174 1466 206 1510 201 1532 255 1585</string>
            </dict>
            <key>Dying_011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-69,-33}</string>
                <key>spriteSize</key>
                <string>{290,282}</string>
                <key>spriteSourceSize</key>
                <string>{440,360}</string>
                <key>textureRect</key>
                <string>{{1,286},{290,282}}</string>
                <key>textureRotated</key>
                <true/>
                <key>triangles</key>
                <string>0 14 15 9 12 13 11 9 10 11 12 9 6 9 13 7 8 9 6 7 9 6 4 5 6 2 3 2 6 13 6 3 4 1 2 13 0 1 13 0 13 14</string>
                <key>vertices</key>
                <string>225 82 247 140 252 188 293 231 296 285 260 331 177 327 146 354 106 353 87 314 18 285 6 210 47 164 176 135 161 112 181 72</string>
                <key>verticesUV</key>
                <string>273 505 215 527 167 532 124 573 70 576 24 540 28 457 1 426 2 386 41 367 70 298 145 286 191 327 220 456 243 441 283 461</string>
            </dict>
            <key>Dying_012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-69,-33}</string>
                <key>spriteSize</key>
                <string>{290,282}</string>
                <key>spriteSourceSize</key>
                <string>{440,360}</string>
                <key>textureRect</key>
                <string>{{1,286},{290,282}}</string>
                <key>textureRotated</key>
                <true/>
                <key>triangles</key>
                <string>0 14 15 9 12 13 11 9 10 11 12 9 6 9 13 7 8 9 6 7 9 6 4 5 6 2 3 2 6 13 6 3 4 1 2 13 0 1 13 0 13 14</string>
                <key>vertices</key>
                <string>225 82 247 140 252 188 293 231 296 285 260 331 177 327 146 354 106 353 87 314 18 285 6 210 47 164 176 135 161 112 181 72</string>
                <key>verticesUV</key>
                <string>273 505 215 527 167 532 124 573 70 576 24 540 28 457 1 426 2 386 41 367 70 298 145 286 191 327 220 456 243 441 283 461</string>
            </dict>
            <key>Dying_013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-69,-33}</string>
                <key>spriteSize</key>
                <string>{290,282}</string>
                <key>spriteSourceSize</key>
                <string>{440,360}</string>
                <key>textureRect</key>
                <string>{{1,286},{290,282}}</string>
                <key>textureRotated</key>
                <true/>
                <key>triangles</key>
                <string>0 14 15 9 12 13 11 9 10 11 12 9 6 9 13 7 8 9 6 7 9 6 4 5 6 2 3 2 6 13 6 3 4 1 2 13 0 1 13 0 13 14</string>
                <key>vertices</key>
                <string>225 82 247 140 252 188 293 231 296 285 260 331 177 327 146 354 106 353 87 314 18 285 6 210 47 164 176 135 161 112 181 72</string>
                <key>verticesUV</key>
                <string>273 505 215 527 167 532 124 573 70 576 24 540 28 457 1 426 2 386 41 367 70 298 145 286 191 327 220 456 243 441 283 461</string>
            </dict>
            <key>Dying_014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-69,-33}</string>
                <key>spriteSize</key>
                <string>{290,282}</string>
                <key>spriteSourceSize</key>
                <string>{440,360}</string>
                <key>textureRect</key>
                <string>{{1,286},{290,282}}</string>
                <key>textureRotated</key>
                <true/>
                <key>triangles</key>
                <string>0 14 15 9 12 13 11 9 10 11 12 9 6 9 13 7 8 9 6 7 9 6 4 5 6 2 3 2 6 13 6 3 4 1 2 13 0 1 13 0 13 14</string>
                <key>vertices</key>
                <string>225 82 247 140 252 188 293 231 296 285 260 331 177 327 146 354 106 353 87 314 18 285 6 210 47 164 176 135 161 112 181 72</string>
                <key>verticesUV</key>
                <string>273 505 215 527 167 532 124 573 70 576 24 540 28 457 1 426 2 386 41 367 70 298 145 286 191 327 220 456 243 441 283 461</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Goblin_02_Dying.png</string>
            <key>size</key>
            <string>{510,1739}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:db7f5bf89c0b93fed54b31f30f61fd4b:1fd1717d8e4b61822232b828817b2a36:d1512de209b7eed061a717b14b59f86c$</string>
            <key>textureFileName</key>
            <string>Goblin_02_Dying.png</string>
        </dict>
    </dict>
</plist>
