<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Mummy_02_Walking_000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{45.5,10.5}</string>
                <key>spriteSize</key>
                <string>{281,249}</string>
                <key>spriteSourceSize</key>
                <string>{520,420}</string>
                <key>textureRect</key>
                <string>{{273,251},{281,249}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>2 9 10 7 8 9 6 7 9 2 6 9 4 5 6 3 4 6 2 3 6 1 2 10 0 1 10</string>
                <key>vertices</key>
                <string>446 212 399 242 360 257 303 324 235 324 182 283 196 241 165 160 165 108 234 82 367 75</string>
                <key>verticesUV</key>
                <string>554 388 507 418 468 433 411 500 343 500 290 459 304 417 273 336 273 284 342 258 475 251</string>
            </dict>
            <key>Mummy_02_Walking_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{43,8.5}</string>
                <key>spriteSize</key>
                <string>{270,249}</string>
                <key>spriteSourceSize</key>
                <string>{520,420}</string>
                <key>textureRect</key>
                <string>{{1,250},{270,249}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>7 10 11 8 9 10 7 8 10 3 7 11 5 6 7 5 7 3 5 3 4 0 2 3 0 1 2 0 3 11</string>
                <key>vertices</key>
                <string>384 94 438 213 409 239 352 268 294 326 240 324 193 291 185 210 168 161 168 101 242 83 315 77</string>
                <key>verticesUV</key>
                <string>217 267 271 386 242 412 185 441 127 499 73 497 26 464 18 383 1 334 1 274 75 256 148 250</string>
            </dict>
            <key>Mummy_02_Walking_002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{39.5,8.5}</string>
                <key>spriteSize</key>
                <string>{269,249}</string>
                <key>spriteSourceSize</key>
                <string>{520,420}</string>
                <key>textureRect</key>
                <string>{{556,251},{269,249}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>2 13 14 11 12 13 10 11 13 2 6 10 9 10 6 9 7 8 9 6 7 2 5 6 3 4 5 2 3 5 2 10 13 0 1 2 0 2 14</string>
                <key>vertices</key>
                <string>376 91 401 136 382 156 419 173 434 211 413 244 357 259 290 326 236 323 199 293 184 211 166 161 165 106 235 82 321 77</string>
                <key>verticesUV</key>
                <string>767 265 792 310 773 330 810 347 825 385 804 418 748 433 681 500 627 497 590 467 575 385 557 335 556 280 626 256 712 251</string>
            </dict>
            <key>Mummy_02_Walking_003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{39,12}</string>
                <key>spriteSize</key>
                <string>{284,250}</string>
                <key>spriteSourceSize</key>
                <string>{520,420}</string>
                <key>textureRect</key>
                <string>{{273,502},{284,250}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>8 11 12 9 10 11 8 9 11 5 8 12 6 7 8 5 6 8 2 4 5 2 3 4 2 5 12 1 2 12 0 1 12</string>
                <key>vertices</key>
                <string>366 83 389 121 395 146 441 214 406 247 344 271 291 323 209 323 199 248 160 171 157 110 225 81 327 73</string>
                <key>verticesUV</key>
                <string>482 512 505 550 511 575 557 643 522 676 460 700 407 752 325 752 315 677 276 600 273 539 341 510 443 502</string>
            </dict>
            <key>Mummy_02_Walking_004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{31,12}</string>
                <key>spriteSize</key>
                <string>{286,250}</string>
                <key>spriteSourceSize</key>
                <string>{520,420}</string>
                <key>textureRect</key>
                <string>{{559,502},{286,250}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>10 11 12 2 10 12 6 7 9 7 8 9 2 6 9 5 2 3 2 5 6 5 3 4 2 9 10 0 1 2 0 2 12</string>
                <key>vertices</key>
                <string>356 75 389 122 357 169 415 169 434 226 399 255 357 260 293 323 211 323 211 263 156 181 148 112 227 73</string>
                <key>verticesUV</key>
                <string>767 504 800 551 768 598 826 598 845 655 810 684 768 689 704 752 622 752 622 692 567 610 559 541 638 502</string>
            </dict>
            <key>Mummy_02_Walking_005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{28.5,9}</string>
                <key>spriteSize</key>
                <string>{287,262}</string>
                <key>spriteSourceSize</key>
                <string>{520,420}</string>
                <key>textureRect</key>
                <string>{{593,1267},{287,262}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 11 12 9 10 11 8 9 11 1 8 11 6 7 8 5 6 8 1 3 4 1 2 3 1 4 5 1 5 8 0 1 12</string>
                <key>vertices</key>
                <string>379 110 355 170 418 180 432 223 416 258 347 270 285 332 221 321 208 272 145 158 146 115 225 74 349 70</string>
                <key>verticesUV</key>
                <string>827 1307 803 1367 866 1377 880 1420 864 1455 795 1467 733 1529 669 1518 656 1469 593 1355 594 1312 673 1271 797 1267</string>
            </dict>
            <key>Mummy_02_Walking_006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{28.5,13.5}</string>
                <key>spriteSize</key>
                <string>{289,255}</string>
                <key>spriteSourceSize</key>
                <string>{520,420}</string>
                <key>textureRect</key>
                <string>{{281,1009},{289,255}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 13 14 11 12 13 10 11 13 9 10 13 1 9 13 8 9 6 8 6 7 3 4 5 1 2 3 1 3 5 1 5 6 1 6 9 0 1 14</string>
                <key>vertices</key>
                <string>380 108 350 186 423 189 433 241 409 277 352 272 308 302 301 324 218 323 207 242 182 225 152 170 144 118 224 74 349 69</string>
                <key>verticesUV</key>
                <string>517 1048 487 1126 560 1129 570 1181 546 1217 489 1212 445 1242 438 1264 355 1263 344 1182 319 1165 289 1110 281 1058 361 1014 486 1009</string>
            </dict>
            <key>Mummy_02_Walking_007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{33.5,7.5}</string>
                <key>spriteSize</key>
                <string>{289,253}</string>
                <key>spriteSourceSize</key>
                <string>{520,420}</string>
                <key>textureRect</key>
                <string>{{571,754},{289,253}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 13 14 11 12 13 11 1 10 11 13 1 8 9 10 7 8 10 6 7 10 5 2 3 5 3 4 2 5 6 10 1 2 10 2 6 0 1 14</string>
                <key>vertices</key>
                <string>386 116 355 182 363 200 422 200 438 264 395 285 344 284 297 322 252 329 215 318 210 260 159 183 149 110 235 76 359 76</string>
                <key>verticesUV</key>
                <string>808 794 777 860 785 878 844 878 860 942 817 963 766 962 719 1000 674 1007 637 996 632 938 581 861 571 788 657 754 781 754</string>
            </dict>
            <key>Mummy_02_Walking_008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{34,9}</string>
                <key>spriteSize</key>
                <string>{272,248}</string>
                <key>spriteSourceSize</key>
                <string>{520,420}</string>
                <key>textureRect</key>
                <string>{{276,1},{272,248}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>13 14 15 12 13 15 3 12 15 8 9 11 9 10 11 4 8 11 7 4 5 4 7 8 7 5 6 3 4 11 3 11 12 0 2 3 0 1 2 0 3 15</string>
                <key>vertices</key>
                <string>363 79 390 106 390 145 360 176 366 204 430 217 430 287 384 296 347 288 291 325 210 325 216 261 184 216 158 158 159 107 244 77</string>
                <key>verticesUV</key>
                <string>481 3 508 30 508 69 478 100 484 128 548 141 548 211 502 220 465 212 409 249 328 249 334 185 302 140 276 82 277 31 362 1</string>
            </dict>
            <key>Mummy_02_Walking_009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{42,8.5}</string>
                <key>spriteSize</key>
                <string>{270,249}</string>
                <key>spriteSourceSize</key>
                <string>{520,420}</string>
                <key>textureRect</key>
                <string>{{1,501},{270,249}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>10 11 12 9 10 12 6 7 9 7 8 9 2 6 9 3 5 6 3 4 5 2 3 6 2 9 12 0 1 2 0 2 12</string>
                <key>vertices</key>
                <string>377 90 400 135 363 194 369 206 437 240 421 309 332 303 287 326 211 323 212 257 167 183 167 108 252 77</string>
                <key>verticesUV</key>
                <string>211 514 234 559 197 618 203 630 271 664 255 733 166 727 121 750 45 747 46 681 1 607 1 532 86 501</string>
            </dict>
            <key>Mummy_02_Walking_010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{41,8}</string>
                <key>spriteSize</key>
                <string>{274,248}</string>
                <key>spriteSourceSize</key>
                <string>{520,420}</string>
                <key>textureRect</key>
                <string>{{550,1},{274,248}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>12 13 14 11 12 14 10 11 14 7 8 10 8 9 10 2 7 10 3 5 6 7 2 3 3 4 5 3 6 7 2 10 14 0 1 2 0 2 14</string>
                <key>vertices</key>
                <string>375 90 400 135 365 202 417 218 438 254 420 287 383 301 356 291 285 326 213 323 214 246 190 222 167 177 164 107 254 78</string>
                <key>verticesUV</key>
                <string>761 13 786 58 751 125 803 141 824 177 806 210 769 224 742 214 671 249 599 246 600 169 576 145 553 100 550 30 640 1</string>
            </dict>
            <key>Mummy_02_Walking_011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{37.5,9.5}</string>
                <key>spriteSize</key>
                <string>{273,247}</string>
                <key>spriteSourceSize</key>
                <string>{520,420}</string>
                <key>textureRect</key>
                <string>{{1,1},{273,247}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>10 11 12 2 10 12 6 7 9 7 8 9 2 6 9 6 2 3 6 4 5 6 3 4 2 9 10 0 1 2 0 2 12</string>
                <key>vertices</key>
                <string>371 87 397 131 365 189 417 207 434 242 420 288 348 287 293 324 214 324 214 269 161 174 163 107 244 77</string>
                <key>verticesUV</key>
                <string>211 11 237 55 205 113 257 131 274 166 260 212 188 211 133 248 54 248 54 193 1 98 3 31 84 1</string>
            </dict>
            <key>Mummy_02_Walking_012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{29.5,9}</string>
                <key>spriteSize</key>
                <string>{287,250}</string>
                <key>spriteSourceSize</key>
                <string>{520,420}</string>
                <key>textureRect</key>
                <string>{{1,754},{287,250}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>11 12 13 10 11 13 9 10 13 6 7 9 7 8 9 2 6 9 2 5 6 2 4 5 2 3 4 2 9 13 0 1 2 0 2 13</string>
                <key>vertices</key>
                <string>361 77 390 122 361 190 418 191 433 225 425 272 343 281 296 323 218 326 207 241 185 225 146 141 156 111 238 76</string>
                <key>verticesUV</key>
                <string>216 755 245 800 216 868 273 869 288 903 280 950 198 959 151 1001 73 1004 62 919 40 903 1 819 11 789 93 754</string>
            </dict>
            <key>Mummy_02_Walking_013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{34,7.5}</string>
                <key>spriteSize</key>
                <string>{296,261}</string>
                <key>spriteSourceSize</key>
                <string>{520,420}</string>
                <key>textureRect</key>
                <string>{{1,1266},{296,261}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 13 14 11 12 13 10 11 13 9 10 13 6 1 5 8 9 6 8 6 7 6 9 1 4 1 2 4 2 3 1 4 5 1 9 13 0 1 14</string>
                <key>vertices</key>
                <string>382 113 360 181 409 172 442 234 397 264 355 265 311 298 293 333 220 322 207 246 184 226 154 172 146 116 230 74 353 72</string>
                <key>verticesUV</key>
                <string>237 1307 215 1375 264 1366 297 1428 252 1458 210 1459 166 1492 148 1527 75 1516 62 1440 39 1420 9 1366 1 1310 85 1268 208 1266</string>
            </dict>
            <key>Mummy_02_Walking_014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{30,14}</string>
                <key>spriteSize</key>
                <string>{296,256}</string>
                <key>spriteSourceSize</key>
                <string>{520,420}</string>
                <key>textureRect</key>
                <string>{{572,1009},{296,256}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 12 13 10 12 9 10 11 12 8 9 12 1 5 8 6 7 8 5 6 8 4 1 2 4 2 3 1 4 5 1 8 12 0 1 13</string>
                <key>vertices</key>
                <string>377 106 359 171 412 169 438 225 399 256 357 259 295 324 216 324 204 242 182 226 142 157 143 117 225 75 346 68</string>
                <key>verticesUV</key>
                <string>807 1047 789 1112 842 1110 868 1166 829 1197 787 1200 725 1265 646 1265 634 1183 612 1167 572 1098 573 1058 655 1016 776 1009</string>
            </dict>
            <key>Mummy_02_Walking_015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{30,16.5}</string>
                <key>spriteSize</key>
                <string>{292,261}</string>
                <key>spriteSourceSize</key>
                <string>{520,420}</string>
                <key>textureRect</key>
                <string>{{299,1267},{292,261}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 12 13 10 11 12 9 10 12 1 5 9 8 9 6 8 6 7 5 6 9 4 1 2 4 2 3 1 4 5 1 9 12 0 1 13</string>
                <key>vertices</key>
                <string>378 106 363 171 394 164 436 189 421 247 353 262 291 323 222 324 206 290 204 262 144 160 144 117 221 77 343 63</string>
                <key>verticesUV</key>
                <string>533 1310 518 1375 549 1368 591 1393 576 1451 508 1466 446 1527 377 1528 361 1494 359 1466 299 1364 299 1321 376 1281 498 1267</string>
            </dict>
            <key>Mummy_02_Walking_016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{28.5,12}</string>
                <key>spriteSize</key>
                <string>{279,252}</string>
                <key>spriteSourceSize</key>
                <string>{520,420}</string>
                <key>textureRect</key>
                <string>{{290,754},{279,252}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 13 14 11 12 13 10 11 13 1 6 10 8 9 10 7 8 10 6 7 10 3 4 5 2 3 5 1 2 5 1 5 6 1 10 13 0 1 14</string>
                <key>vertices</key>
                <string>384 113 364 163 403 165 428 190 428 236 392 250 365 250 291 324 233 324 197 288 201 255 150 159 149 109 239 75 355 72</string>
                <key>verticesUV</key>
                <string>525 795 505 845 544 847 569 872 569 918 533 932 506 932 432 1006 374 1006 338 970 342 937 291 841 290 791 380 757 496 754</string>
            </dict>
            <key>Mummy_02_Walking_017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{35,4.5}</string>
                <key>spriteSize</key>
                <string>{278,255}</string>
                <key>spriteSourceSize</key>
                <string>{520,420}</string>
                <key>textureRect</key>
                <string>{{1,1006},{278,255}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 11 12 9 11 8 9 10 11 1 8 11 7 8 5 7 5 6 4 5 8 1 2 3 1 3 4 1 4 8 0 1 12</string>
                <key>vertices</key>
                <string>398 114 374 149 434 178 427 232 346 271 306 314 263 333 197 306 177 203 156 158 157 111 237 78 362 78</string>
                <key>verticesUV</key>
                <string>243 1042 219 1077 279 1106 272 1160 191 1199 151 1242 108 1261 42 1234 22 1131 1 1086 2 1039 82 1006 207 1006</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Mummy_02_Walking.png</string>
            <key>size</key>
            <string>{881,1530}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4374af43cb0109362ad1bfa54fe7b075:fe1d421c9fa39a63239c5c8b41d94aa1:facaa5ea5166338006cd975b6a0fa804$</string>
            <key>textureFileName</key>
            <string>Mummy_02_Walking.png</string>
        </dict>
    </dict>
</plist>
