<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Attacking_000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{17,11.5}</string>
                <key>spriteSize</key>
                <string>{274,309}</string>
                <key>spriteSourceSize</key>
                <string>{480,360}</string>
                <key>textureRect</key>
                <string>{{317,324},{274,309}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>11 13 14 11 12 13 9 10 11 1 11 14 8 9 11 4 5 8 7 8 5 7 5 6 3 4 8 1 3 8 1 2 3 1 8 11 0 1 14</string>
                <key>vertices</key>
                <string>311 24 338 76 394 103 394 153 330 299 276 323 210 323 179 285 177 247 125 157 120 119 154 95 165 49 197 24 256 14</string>
                <key>verticesUV</key>
                <string>508 334 535 386 591 413 591 463 527 609 473 633 407 633 376 595 374 557 322 467 317 429 351 405 362 359 394 334 453 324</string>
            </dict>
            <key>Attacking_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2.5,13}</string>
                <key>spriteSize</key>
                <string>{253,312}</string>
                <key>spriteSourceSize</key>
                <string>{480,360}</string>
                <key>textureRect</key>
                <string>{{880,638},{253,312}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>11 12 13 9 10 11 1 11 13 8 9 11 3 4 5 6 7 8 5 6 8 3 5 8 1 2 3 1 3 8 1 8 11 0 1 13</string>
                <key>vertices</key>
                <string>297 18 324 57 364 87 347 253 333 295 276 323 196 323 173 277 179 248 136 190 111 129 149 95 155 39 232 11</string>
                <key>verticesUV</key>
                <string>1066 645 1093 684 1133 714 1116 880 1102 922 1045 950 965 950 942 904 948 875 905 817 880 756 918 722 924 666 1001 638</string>
            </dict>
            <key>Attacking_002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8.5,8.5}</string>
                <key>spriteSize</key>
                <string>{259,317}</string>
                <key>spriteSourceSize</key>
                <string>{480,360}</string>
                <key>textureRect</key>
                <string>{{850,1},{259,317}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>2 11 12 9 10 11 2 9 11 7 8 9 2 3 4 5 6 7 4 5 7 2 4 7 2 7 9 1 2 12 0 1 12</string>
                <key>vertices</key>
                <string>361 86 346 135 328 154 358 256 284 321 220 330 171 286 171 252 102 133 143 100 145 42 216 13 279 13</string>
                <key>verticesUV</key>
                <string>1109 74 1094 123 1076 142 1106 244 1032 309 968 318 919 274 919 240 850 121 891 88 893 30 964 1 1027 1</string>
            </dict>
            <key>Attacking_003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-18.5,11}</string>
                <key>spriteSize</key>
                <string>{257,316}</string>
                <key>spriteSourceSize</key>
                <string>{480,360}</string>
                <key>textureRect</key>
                <string>{{621,647},{257,316}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>2 13 14 11 12 13 2 11 13 9 10 11 7 5 6 7 8 9 7 9 5 3 4 5 2 3 5 2 5 9 2 9 11 1 2 14 0 1 14</string>
                <key>vertices</key>
                <string>345 73 345 113 327 158 350 227 335 265 297 281 290 327 211 322 167 283 166 243 93 146 135 103 136 40 211 12 270 11</string>
                <key>verticesUV</key>
                <string>873 709 873 749 855 794 878 863 863 901 825 917 818 963 739 958 695 919 694 879 621 782 663 739 664 676 739 648 798 647</string>
            </dict>
            <key>Attacking_004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-18,11}</string>
                <key>spriteSize</key>
                <string>{254,316}</string>
                <key>spriteSourceSize</key>
                <string>{480,360}</string>
                <key>textureRect</key>
                <string>{{853,320},{254,316}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>2 14 15 11 13 14 11 12 13 9 2 5 9 10 11 7 5 6 7 8 9 7 9 5 9 11 2 3 4 5 2 3 5 2 11 14 0 1 2 0 2 15</string>
                <key>vertices</key>
                <string>346 74 340 123 320 147 349 223 336 263 292 279 292 327 211 322 163 282 170 251 95 143 133 105 132 60 150 32 213 11 266 11</string>
                <key>verticesUV</key>
                <string>1104 383 1098 432 1078 456 1107 532 1094 572 1050 588 1050 636 969 631 921 591 928 560 853 452 891 414 890 369 908 341 971 320 1024 320</string>
            </dict>
            <key>Attacking_005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-21,13}</string>
                <key>spriteSize</key>
                <string>{260,320}</string>
                <key>spriteSourceSize</key>
                <string>{480,360}</string>
                <key>textureRect</key>
                <string>{{588,1},{260,320}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>0 14 15 12 13 14 10 11 12 10 3 6 8 6 7 8 9 10 8 10 6 10 12 3 4 5 6 3 4 6 0 3 12 0 1 2 0 2 3 0 12 14</string>
                <key>vertices</key>
                <string>307 56 336 64 345 92 325 158 349 224 334 261 292 281 292 327 212 322 167 284 167 248 89 137 129 115 129 50 192 10 264 7</string>
                <key>verticesUV</key>
                <string>806 50 835 58 844 86 824 152 848 218 833 255 791 275 791 321 711 316 666 278 666 242 588 131 628 109 628 44 691 4 763 1</string>
            </dict>
            <key>Attacking_006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-21,14}</string>
                <key>spriteSize</key>
                <string>{258,322}</string>
                <key>spriteSourceSize</key>
                <string>{480,360}</string>
                <key>textureRect</key>
                <string>{{593,323},{258,322}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 16 17 14 15 16 12 13 14 1 4 14 11 12 14 9 7 8 9 10 11 9 11 7 4 7 11 5 6 7 4 5 7 4 11 14 1 3 4 1 2 3 1 14 16 0 1 17</string>
                <key>vertices</key>
                <string>263 12 304 53 337 65 337 108 322 154 348 220 335 259 292 277 292 327 211 322 164 281 167 240 125 198 90 140 127 114 127 47 178 20 229 5</string>
                <key>verticesUV</key>
                <string>766 330 807 371 840 383 840 426 825 472 851 538 838 577 795 595 795 645 714 640 667 599 670 558 628 516 593 458 630 432 630 365 681 338 732 323</string>
            </dict>
            <key>Attacking_007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8.5,12.5}</string>
                <key>spriteSize</key>
                <string>{265,317}</string>
                <key>spriteSourceSize</key>
                <string>{480,360}</string>
                <key>textureRect</key>
                <string>{{321,1},{265,317}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>10 11 12 10 0 1 8 9 10 6 7 8 3 4 8 5 6 8 4 5 8 2 3 8 2 8 10 10 1 2 0 10 12</string>
                <key>vertices</key>
                <string>302 17 369 76 381 111 348 266 295 319 250 326 208 321 159 268 174 240 116 124 161 80 164 29 254 9</string>
                <key>verticesUV</key>
                <string>507 9 574 68 586 103 553 258 500 311 455 318 413 313 364 260 379 232 321 116 366 72 369 21 459 1</string>
            </dict>
            <key>Attacking_008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{71.5,7}</string>
                <key>spriteSize</key>
                <string>{321,318}</string>
                <key>spriteSourceSize</key>
                <string>{480,360}</string>
                <key>textureRect</key>
                <string>{{1,1},{321,318}}</string>
                <key>textureRotated</key>
                <true/>
                <key>triangles</key>
                <string>13 14 15 11 12 13 0 2 13 10 11 13 2 10 13 8 9 10 7 8 10 6 3 4 6 4 5 3 6 7 2 3 7 2 7 10 0 1 2 0 13 15</string>
                <key>vertices</key>
                <string>354 38 410 128 351 215 367 228 457 180 472 195 457 235 295 322 217 332 163 260 181 222 154 140 151 98 195 75 213 24 302 14</string>
                <key>verticesUV</key>
                <string>295 204 205 260 118 201 105 217 153 307 138 322 98 307 11 145 1 67 73 13 111 31 193 4 235 1 258 45 309 63 319 152</string>
            </dict>
            <key>Attacking_009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{73,8}</string>
                <key>spriteSize</key>
                <string>{324,306}</string>
                <key>spriteSourceSize</key>
                <string>{480,360}</string>
                <key>textureRect</key>
                <string>{{1,649},{324,306}}</string>
                <key>textureRotated</key>
                <true/>
                <key>triangles</key>
                <string>12 14 15 12 13 14 10 11 12 0 2 12 8 9 10 2 3 10 7 8 10 6 3 4 6 4 5 3 6 7 3 7 10 2 10 12 0 1 2 0 12 15</string>
                <key>vertices</key>
                <string>358 40 413 133 353 213 352 254 463 229 475 241 457 279 273 325 210 322 163 257 179 235 151 97 196 81 216 30 260 19 312 19</string>
                <key>verticesUV</key>
                <string>286 856 193 911 113 851 72 850 97 961 85 973 47 955 1 771 4 708 69 661 91 677 229 649 245 694 296 714 307 758 307 810</string>
            </dict>
            <key>Attacking_010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{59.5,6}</string>
                <key>spriteSize</key>
                <string>{323,314}</string>
                <key>spriteSourceSize</key>
                <string>{480,360}</string>
                <key>textureRect</key>
                <string>{{1,324},{323,314}}</string>
                <key>textureRotated</key>
                <true/>
                <key>triangles</key>
                <string>14 15 16 12 13 14 3 14 16 12 14 3 3 4 8 9 10 11 8 9 11 7 4 5 7 5 6 4 7 8 3 8 11 12 3 11 0 1 2 0 2 3 0 3 16</string>
                <key>vertices</key>
                <string>332 22 395 109 391 142 351 196 360 231 446 179 461 194 448 236 303 318 217 331 168 270 183 224 165 195 138 104 182 86 202 26 269 17</string>
                <key>verticesUV</key>
                <string>310 518 223 581 190 577 136 537 101 546 153 632 138 647 96 634 14 489 1 403 62 354 108 369 137 351 228 324 246 368 306 388 315 455</string>
            </dict>
            <key>Attacking_011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{43,13.5}</string>
                <key>spriteSize</key>
                <string>{310,313}</string>
                <key>spriteSourceSize</key>
                <string>{480,360}</string>
                <key>textureRect</key>
                <string>{{309,649},{310,313}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>15 16 17 13 14 15 1 4 15 13 15 4 5 9 12 10 11 12 9 10 12 8 5 6 8 6 7 5 8 9 4 5 12 13 4 12 1 3 4 1 2 3 1 15 17 0 1 17</string>
                <key>vertices</key>
                <string>329 32 357 87 390 103 370 152 343 190 348 205 413 137 438 143 427 193 306 323 210 323 173 279 176 234 147 176 128 113 172 87 185 31 279 10</string>
                <key>verticesUV</key>
                <string>510 671 538 726 571 742 551 791 524 829 529 844 594 776 619 782 608 832 487 962 391 962 354 918 357 873 328 815 309 752 353 726 366 670 460 649</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Pirate_01_Attacking.png</string>
            <key>size</key>
            <string>{1134,974}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:009154371422fa638f9a8d7745d3a4cf:0d4605a888836c1f5b4eeb9428102487:38690f9d057bc23f1d2a2e7ed6fe0e7b$</string>
            <key>textureFileName</key>
            <string>Pirate_01_Attacking.png</string>
        </dict>
    </dict>
</plist>
