<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Attacking_000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14.5,10.5}</string>
                <key>spriteSize</key>
                <string>{279,317}</string>
                <key>spriteSourceSize</key>
                <string>{480,360}</string>
                <key>textureRect</key>
                <string>{{327,526},{279,317}}</string>
                <key>textureRotated</key>
                <true/>
                <key>triangles</key>
                <string>0 12 13 10 11 12 0 10 12 8 9 10 0 8 10 7 8 5 7 5 6 8 2 3 3 4 5 0 1 2 8 0 2 8 3 5</string>
                <key>vertices</key>
                <string>338 76 394 103 394 153 330 298 266 328 252 313 222 327 178 287 173 232 115 129 150 94 169 43 212 20 304 11</string>
                <key>verticesUV</key>
                <string>579 749 552 805 502 805 357 741 327 677 342 663 328 633 368 589 423 584 526 526 561 561 612 580 635 623 644 715</string>
            </dict>
            <key>Attacking_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,10.5}</string>
                <key>spriteSize</key>
                <string>{260,317}</string>
                <key>spriteSourceSize</key>
                <string>{480,360}</string>
                <key>textureRect</key>
                <string>{{1,258},{260,317}}</string>
                <key>textureRotated</key>
                <true/>
                <key>triangles</key>
                <string>10 11 12 8 9 10 1 10 12 8 3 5 7 8 5 7 5 6 3 4 5 8 2 3 8 1 2 1 8 10 0 1 12</string>
                <key>vertices</key>
                <string>297 18 324 57 364 87 345 278 270 328 250 315 222 328 175 288 171 233 104 128 149 102 155 39 232 11</string>
                <key>verticesUV</key>
                <string>311 451 272 478 242 518 51 499 1 424 14 404 1 376 41 329 96 325 201 258 227 303 290 309 318 386</string>
            </dict>
            <key>Attacking_002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10.5,6}</string>
                <key>spriteSize</key>
                <string>{263,322}</string>
                <key>spriteSourceSize</key>
                <string>{480,360}</string>
                <key>textureRect</key>
                <string>{{320,259},{263,322}}</string>
                <key>textureRotated</key>
                <true/>
                <key>triangles</key>
                <string>2 12 13 10 11 12 2 10 12 8 9 10 5 2 3 7 8 5 7 5 6 5 8 2 5 3 4 2 8 10 1 2 13 0 1 13</string>
                <key>vertices</key>
                <string>361 86 346 135 328 153 358 257 274 327 238 314 223 335 170 285 173 242 98 131 143 101 145 42 216 13 279 13</string>
                <key>verticesUV</key>
                <string>569 522 520 507 502 489 398 519 328 435 341 399 320 384 370 331 413 334 524 259 554 304 613 306 642 377 642 440</string>
            </dict>
            <key>Attacking_003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-17.5,8}</string>
                <key>spriteSize</key>
                <string>{255,322}</string>
                <key>spriteSourceSize</key>
                <string>{480,360}</string>
                <key>textureRect</key>
                <string>{{1,1},{255,322}}</string>
                <key>textureRotated</key>
                <true/>
                <key>triangles</key>
                <string>2 14 15 12 13 14 2 12 14 10 11 12 2 5 10 9 10 7 9 7 8 5 6 7 5 7 10 3 4 5 2 3 5 2 10 12 1 2 15 0 1 15</string>
                <key>vertices</key>
                <string>345 73 345 113 327 158 350 227 335 265 294 285 278 333 249 314 222 327 164 281 170 240 95 144 135 103 136 40 211 12 270 11</string>
                <key>verticesUV</key>
                <string>261 251 221 251 176 233 107 256 69 241 49 200 1 184 20 155 7 128 53 70 94 76 190 1 231 41 294 42 322 117 323 176</string>
            </dict>
            <key>Attacking_004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-19,8}</string>
                <key>spriteSize</key>
                <string>{256,322}</string>
                <key>spriteSourceSize</key>
                <string>{480,360}</string>
                <key>textureRect</key>
                <string>{{325,1},{256,322}}</string>
                <key>textureRotated</key>
                <true/>
                <key>triangles</key>
                <string>2 15 16 12 14 15 12 13 14 2 12 15 10 11 12 2 5 10 9 10 7 9 7 8 5 6 7 5 7 10 3 4 5 2 3 5 2 10 12 0 1 2 0 2 16</string>
                <key>vertices</key>
                <string>346 74 340 123 320 147 349 223 336 262 294 284 279 333 249 314 222 327 166 284 166 236 93 145 133 105 132 60 150 32 213 11 266 11</string>
                <key>verticesUV</key>
                <string>584 254 535 248 511 228 435 257 396 244 374 202 325 187 344 157 331 130 374 74 422 74 513 1 553 41 598 40 626 58 647 121 647 174</string>
            </dict>
            <key>Attacking_005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-19.5,10}</string>
                <key>spriteSize</key>
                <string>{257,326}</string>
                <key>spriteSourceSize</key>
                <string>{480,360}</string>
                <key>textureRect</key>
                <string>{{649,1},{257,326}}</string>
                <key>textureRotated</key>
                <true/>
                <key>triangles</key>
                <string>0 15 16 13 14 15 0 13 15 11 12 13 3 6 11 10 11 8 10 8 9 6 7 8 6 8 11 4 5 6 3 4 6 13 0 3 0 1 2 0 2 3 13 3 11</string>
                <key>vertices</key>
                <string>307 56 336 64 345 92 325 158 349 224 334 261 294 284 279 333 249 314 222 327 167 285 166 237 92 146 129 109 129 50 192 10 264 7</string>
                <key>verticesUV</key>
                <string>926 216 918 245 890 254 824 234 758 258 721 243 698 203 649 188 668 158 655 131 697 76 745 75 836 1 873 38 932 38 972 101 975 173</string>
            </dict>
            <key>Attacking_006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-24,10}</string>
                <key>spriteSize</key>
                <string>{264,330}</string>
                <key>spriteSourceSize</key>
                <string>{480,360}</string>
                <key>textureRect</key>
                <string>{{644,260},{264,330}}</string>
                <key>textureRotated</key>
                <true/>
                <key>triangles</key>
                <string>1 17 18 15 16 17 13 14 15 1 15 17 12 7 9 12 13 7 12 9 11 9 10 11 7 8 9 4 7 13 5 6 7 4 5 7 15 1 4 1 3 4 1 2 3 15 4 13 0 1 18</string>
                <key>vertices</key>
                <string>263 12 304 53 337 65 337 108 322 154 348 220 335 258 291 287 283 330 238 314 223 335 216 321 169 288 145 211 84 142 127 114 127 47 178 20 229 5</string>
                <key>verticesUV</key>
                <string>967 439 926 480 914 513 871 513 825 498 759 524 721 511 692 467 649 459 665 414 644 399 658 392 691 345 768 321 837 260 865 303 932 303 959 354 974 405</string>
            </dict>
            <key>Attacking_007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7.5,9}</string>
                <key>spriteSize</key>
                <string>{267,324}</string>
                <key>spriteSourceSize</key>
                <string>{480,360}</string>
                <key>textureRect</key>
                <string>{{1,524},{267,324}}</string>
                <key>textureRotated</key>
                <true/>
                <key>triangles</key>
                <string>10 11 12 8 9 10 0 10 12 6 4 5 6 7 8 6 8 4 3 4 8 2 3 8 10 0 1 10 1 2 10 2 8</string>
                <key>vertices</key>
                <string>302 17 369 76 381 111 346 276 303 298 268 333 217 322 165 275 168 215 114 122 160 89 164 29 254 9</string>
                <key>verticesUV</key>
                <string>317 712 258 779 223 791 58 756 36 713 1 678 12 627 59 575 119 578 212 524 245 570 305 574 325 664</string>
            </dict>
            <key>Attacking_008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{68.5,8.5}</string>
                <key>spriteSize</key>
                <string>{327,315}</string>
                <key>spriteSourceSize</key>
                <string>{480,360}</string>
                <key>textureRect</key>
                <string>{{641,835},{327,315}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>15 16 17 13 14 15 0 3 15 3 4 13 12 13 10 12 10 11 10 13 4 8 5 6 8 6 7 5 8 9 4 5 9 10 4 9 3 13 15 0 2 3 0 1 2 0 15 17</string>
                <key>vertices</key>
                <string>354 38 406 122 389 160 354 196 351 226 391 219 456 179 472 195 457 235 288 326 237 320 219 329 163 260 184 217 145 100 195 75 213 24 302 14</string>
                <key>verticesUV</key>
                <string>850 859 902 943 885 981 850 1017 847 1047 887 1040 952 1000 968 1016 953 1056 784 1147 733 1141 715 1150 659 1081 680 1038 641 921 691 896 709 845 798 835</string>
            </dict>
            <key>Attacking_009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{71,7.5}</string>
                <key>spriteSize</key>
                <string>{328,307}</string>
                <key>spriteSourceSize</key>
                <string>{480,360}</string>
                <key>textureRect</key>
                <string>{{646,526},{328,307}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>12 14 15 12 13 14 10 11 12 0 2 12 2 3 10 8 9 10 7 8 10 6 3 4 6 4 5 3 6 7 3 7 10 2 10 12 0 1 2 0 12 15</string>
                <key>vertices</key>
                <string>358 40 413 133 353 213 352 254 463 229 475 241 457 279 271 326 212 324 165 262 185 217 147 97 198 77 216 30 260 19 312 19</string>
                <key>verticesUV</key>
                <string>857 547 912 640 852 720 851 761 962 736 974 748 956 786 770 833 711 831 664 769 684 724 646 604 697 584 715 537 759 526 811 526</string>
            </dict>
            <key>Attacking_010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{58,4}</string>
                <key>spriteSize</key>
                <string>{326,318}</string>
                <key>spriteSourceSize</key>
                <string>{480,360}</string>
                <key>textureRect</key>
                <string>{{321,807},{326,318}}</string>
                <key>textureRotated</key>
                <true/>
                <key>triangles</key>
                <string>14 15 16 12 13 14 3 14 16 9 10 11 9 4 8 9 11 12 3 4 9 7 4 5 7 5 6 4 7 8 3 9 12 3 12 14 0 1 2 0 2 3 0 3 16</string>
                <key>vertices</key>
                <string>332 22 395 109 391 142 351 196 360 231 446 179 461 194 448 236 283 330 238 314 223 335 166 269 183 228 135 104 182 86 202 26 269 17</string>
                <key>verticesUV</key>
                <string>634 1004 547 1067 514 1063 460 1023 425 1032 477 1118 462 1133 420 1120 326 955 342 910 321 895 387 838 428 855 552 807 570 854 630 874 639 941</string>
            </dict>
            <key>Attacking_011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{41.5,11}</string>
                <key>spriteSize</key>
                <string>{313,318}</string>
                <key>spriteSourceSize</key>
                <string>{480,360}</string>
                <key>textureRect</key>
                <string>{{1,793},{313,318}}</string>
                <key>textureRotated</key>
                <true/>
                <key>triangles</key>
                <string>16 17 18 14 15 16 1 4 16 11 9 10 13 14 11 13 11 12 5 9 11 5 11 14 8 5 6 8 6 7 5 8 9 4 5 14 4 14 16 1 3 4 1 2 3 1 16 18 0 1 18</string>
                <key>vertices</key>
                <string>329 32 357 87 390 103 370 152 343 190 348 205 413 137 438 143 427 193 332 295 289 326 237 320 221 328 174 279 173 219 125 115 172 87 185 31 279 10</string>
                <key>verticesUV</key>
                <string>297 997 242 1025 226 1058 177 1038 139 1011 124 1016 192 1081 186 1106 136 1095 34 1000 3 957 9 905 1 889 50 842 110 841 214 793 242 840 298 853 319 947</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Pirate_02_Attacking.png</string>
            <key>size</key>
            <string>{976,1151}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ed6eb0ebfba26134020e44301d76e90f:19dff5929a6f5b3882766ee3933a1d00:11767dea0aa66a000331c4e457e94b27$</string>
            <key>textureFileName</key>
            <string>Pirate_02_Attacking.png</string>
        </dict>
    </dict>
</plist>
