<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Dying_000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14.5,10.5}</string>
                <key>spriteSize</key>
                <string>{279,317}</string>
                <key>spriteSourceSize</key>
                <string>{480,360}</string>
                <key>textureRect</key>
                <string>{{1,1},{279,317}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>0 12 13 10 11 12 0 10 12 8 9 10 0 8 10 7 8 5 7 5 6 8 2 3 3 4 5 0 1 2 8 0 2 8 3 5</string>
                <key>vertices</key>
                <string>338 76 394 103 394 153 330 298 266 328 252 313 222 327 178 287 173 232 115 129 150 94 169 43 212 20 304 11</string>
                <key>verticesUV</key>
                <string>224 66 280 93 280 143 216 288 152 318 138 303 108 317 64 277 59 222 1 119 36 84 55 33 98 10 190 1</string>
            </dict>
            <key>Dying_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18.5,10.5}</string>
                <key>spriteSize</key>
                <string>{277,305}</string>
                <key>spriteSourceSize</key>
                <string>{480,360}</string>
                <key>textureRect</key>
                <string>{{294,310},{277,305}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>0 11 12 9 10 11 0 9 11 7 8 9 7 2 3 6 7 4 6 4 5 3 4 7 0 1 2 7 0 2 0 7 9</string>
                <key>vertices</key>
                <string>344 76 388 105 397 145 325 310 271 322 221 322 183 287 174 227 120 115 165 88 180 32 239 17 321 17</string>
                <key>verticesUV</key>
                <string>518 369 562 398 571 438 499 603 445 615 395 615 357 580 348 520 294 408 339 381 354 325 413 310 495 310</string>
            </dict>
            <key>Dying_002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{22.5,13}</string>
                <key>spriteSize</key>
                <string>{273,306}</string>
                <key>spriteSourceSize</key>
                <string>{480,360}</string>
                <key>textureRect</key>
                <string>{{1,631},{273,306}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>0 1 12 10 11 12 8 9 10 1 10 12 3 4 8 7 8 5 7 5 6 4 5 8 1 3 8 1 2 3 1 8 10 0 12 13</string>
                <key>vertices</key>
                <string>335 35 366 94 385 102 399 138 331 300 274 320 223 320 188 285 175 223 126 104 164 90 194 32 236 18 299 14</string>
                <key>verticesUV</key>
                <string>210 652 241 711 260 719 274 755 206 917 149 937 98 937 63 902 50 840 1 721 39 707 69 649 111 635 174 631</string>
            </dict>
            <key>Dying_003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{24.5,14}</string>
                <key>spriteSize</key>
                <string>{257,306}</string>
                <key>spriteSourceSize</key>
                <string>{480,360}</string>
                <key>textureRect</key>
                <string>{{276,631},{257,306}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>9 10 11 7 8 9 9 0 1 3 4 5 5 6 7 3 5 7 3 7 9 9 2 3 9 1 2 0 9 11</string>
                <key>vertices</key>
                <string>344 36 393 116 393 154 355 228 337 290 293 319 227 318 193 287 136 97 183 78 204 20 293 13</string>
                <key>verticesUV</key>
                <string>484 654 533 734 533 772 495 846 477 908 433 937 367 936 333 905 276 715 323 696 344 638 433 631</string>
            </dict>
            <key>Dying_004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,15.5}</string>
                <key>spriteSize</key>
                <string>{260,307}</string>
                <key>spriteSourceSize</key>
                <string>{480,360}</string>
                <key>textureRect</key>
                <string>{{282,1},{260,307}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>10 11 12 9 10 12 3 9 12 3 4 5 7 8 5 7 5 6 3 5 8 3 8 9 1 2 3 1 3 12 0 1 12</string>
                <key>vertices</key>
                <string>300 18 353 83 371 93 342 186 342 273 287 309 240 318 206 298 184 244 170 236 111 123 177 22 250 11</string>
                <key>verticesUV</key>
                <string>471 8 524 73 542 83 513 176 513 263 458 299 411 308 377 288 355 234 341 226 282 113 348 12 421 1</string>
            </dict>
            <key>Dying_005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-28.5,16}</string>
                <key>spriteSize</key>
                <string>{261,304}</string>
                <key>spriteSourceSize</key>
                <string>{480,360}</string>
                <key>textureRect</key>
                <string>{{544,1},{261,304}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>10 11 12 8 9 10 6 7 8 4 5 6 4 6 8 4 8 10 1 4 10 1 3 4 1 2 3 0 1 10 0 10 12</string>
                <key>vertices</key>
                <string>260 15 314 69 331 69 338 99 321 162 342 245 297 299 253 316 207 304 81 142 124 110 125 53 186 12</string>
                <key>verticesUV</key>
                <string>723 4 777 58 794 58 801 88 784 151 805 234 760 288 716 305 670 293 544 131 587 99 588 42 649 1</string>
            </dict>
            <key>Dying_006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-41.5,15.5}</string>
                <key>spriteSize</key>
                <string>{265,293}</string>
                <key>spriteSourceSize</key>
                <string>{480,360}</string>
                <key>textureRect</key>
                <string>{{573,307},{265,293}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>10 12 13 10 11 12 2 10 13 8 9 10 8 10 2 5 6 7 4 5 7 3 4 7 2 3 7 8 2 7 1 2 13 0 1 13</string>
                <key>vertices</key>
                <string>301 65 307 101 297 148 331 215 310 284 267 311 227 311 187 273 164 266 66 179 98 131 85 74 156 26 213 18</string>
                <key>verticesUV</key>
                <string>808 354 814 390 804 437 838 504 817 573 774 600 734 600 694 562 671 555 573 468 605 420 592 363 663 315 720 307</string>
            </dict>
            <key>Dying_007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-57,4}</string>
                <key>spriteSize</key>
                <string>{274,286}</string>
                <key>spriteSourceSize</key>
                <string>{480,360}</string>
                <key>textureRect</key>
                <string>{{807,1},{274,286}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 11 12 9 10 11 1 7 9 7 8 9 1 6 7 4 5 6 3 4 6 6 1 2 6 2 3 1 9 11 0 1 12</string>
                <key>vertices</key>
                <string>269 67 269 149 308 191 320 244 291 303 239 319 209 297 158 284 46 221 72 171 49 117 102 58 158 33</string>
                <key>verticesUV</key>
                <string>1030 35 1030 117 1069 159 1081 212 1052 271 1000 287 970 265 919 252 807 189 833 139 810 85 863 26 919 1</string>
            </dict>
            <key>Dying_008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-78,-12.5}</string>
                <key>spriteSize</key>
                <string>{286,263}</string>
                <key>spriteSourceSize</key>
                <string>{480,360}</string>
                <key>textureRect</key>
                <string>{{812,602},{286,263}}</string>
                <key>textureRotated</key>
                <true/>
                <key>triangles</key>
                <string>2 12 13 10 11 12 2 7 8 8 9 10 2 8 10 5 6 7 4 5 7 7 2 3 7 3 4 2 10 12 0 1 2 0 2 13</string>
                <key>vertices</key>
                <string>216 73 238 111 237 146 296 191 305 257 291 298 251 324 216 307 142 308 42 263 52 211 19 162 68 87 114 61</string>
                <key>verticesUV</key>
                <string>1063 799 1025 821 990 820 945 879 879 888 838 874 812 834 829 799 828 725 873 625 925 635 974 602 1049 651 1075 697</string>
            </dict>
            <key>Dying_009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-85,-29.5}</string>
                <key>spriteSize</key>
                <string>{286,241}</string>
                <key>spriteSourceSize</key>
                <string>{480,360}</string>
                <key>textureRect</key>
                <string>{{840,289},{286,241}}</string>
                <key>textureRotated</key>
                <true/>
                <key>triangles</key>
                <string>0 10 11 9 7 8 9 10 7 0 7 10 5 6 7 2 3 4 5 0 1 1 2 4 1 4 5 0 5 7</string>
                <key>vertices</key>
                <string>232 163 272 190 298 234 298 294 268 321 167 330 43 314 44 258 13 227 12 172 64 99 178 89</string>
                <key>verticesUV</key>
                <string>1007 509 980 549 936 575 876 575 849 545 840 444 856 320 912 321 943 290 998 289 1071 341 1081 455</string>
            </dict>
            <key>Dying_010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-88.5,-26.5}</string>
                <key>spriteSize</key>
                <string>{299,275}</string>
                <key>spriteSourceSize</key>
                <string>{480,360}</string>
                <key>textureRect</key>
                <string>{{535,617},{299,275}}</string>
                <key>textureRotated</key>
                <true/>
                <key>triangles</key>
                <string>7 11 12 7 10 11 4 5 12 9 7 8 7 9 10 7 5 6 7 12 5 1 2 3 4 0 1 0 4 12 1 3 4 0 12 13</string>
                <key>vertices</key>
                <string>209 99 301 240 301 298 269 322 206 326 183 335 55 344 43 290 6 263 2 232 6 179 34 131 138 96 172 69</string>
                <key>verticesUV</key>
                <string>780 824 639 916 581 916 557 884 553 821 544 798 535 670 589 658 616 621 647 617 700 621 748 649 783 753 810 787</string>
            </dict>
            <key>Dying_011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-85.5,-34.5}</string>
                <key>spriteSize</key>
                <string>{309,291}</string>
                <key>spriteSourceSize</key>
                <string>{480,360}</string>
                <key>textureRect</key>
                <string>{{1,320},{309,291}}</string>
                <key>textureRotated</key>
                <true/>
                <key>triangles</key>
                <string>9 10 11 5 9 11 3 11 12 7 8 5 7 5 6 5 8 9 5 3 4 5 11 3 1 2 3 1 3 12 0 1 12 0 12 13</string>
                <key>vertices</key>
                <string>245 85 309 285 286 330 189 336 62 360 47 305 12 288 0 273 0 197 27 143 125 102 201 164 221 162 190 69</string>
                <key>verticesUV</key>
                <string>276 565 76 629 31 606 25 509 1 382 56 367 73 332 88 320 164 320 218 347 259 445 197 521 199 541 292 510</string>
            </dict>
            <key>Dying_012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-85.5,-34.5}</string>
                <key>spriteSize</key>
                <string>{309,291}</string>
                <key>spriteSourceSize</key>
                <string>{480,360}</string>
                <key>textureRect</key>
                <string>{{1,320},{309,291}}</string>
                <key>textureRotated</key>
                <true/>
                <key>triangles</key>
                <string>9 10 11 5 9 11 3 11 12 7 8 5 7 5 6 5 8 9 5 3 4 5 11 3 1 2 3 1 3 12 0 1 12 0 12 13</string>
                <key>vertices</key>
                <string>245 85 309 285 286 330 189 336 62 360 47 305 12 288 0 273 0 197 27 143 125 102 201 164 221 162 190 69</string>
                <key>verticesUV</key>
                <string>276 565 76 629 31 606 25 509 1 382 56 367 73 332 88 320 164 320 218 347 259 445 197 521 199 541 292 510</string>
            </dict>
            <key>Dying_013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-85.5,-34.5}</string>
                <key>spriteSize</key>
                <string>{309,291}</string>
                <key>spriteSourceSize</key>
                <string>{480,360}</string>
                <key>textureRect</key>
                <string>{{1,320},{309,291}}</string>
                <key>textureRotated</key>
                <true/>
                <key>triangles</key>
                <string>9 10 11 5 9 11 3 11 12 7 8 5 7 5 6 5 8 9 5 3 4 5 11 3 1 2 3 1 3 12 0 1 12 0 12 13</string>
                <key>vertices</key>
                <string>245 85 309 285 286 330 189 336 62 360 47 305 12 288 0 273 0 197 27 143 125 102 201 164 221 162 190 69</string>
                <key>verticesUV</key>
                <string>276 565 76 629 31 606 25 509 1 382 56 367 73 332 88 320 164 320 218 347 259 445 197 521 199 541 292 510</string>
            </dict>
            <key>Dying_014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-85.5,-34.5}</string>
                <key>spriteSize</key>
                <string>{309,291}</string>
                <key>spriteSourceSize</key>
                <string>{480,360}</string>
                <key>textureRect</key>
                <string>{{1,320},{309,291}}</string>
                <key>textureRotated</key>
                <true/>
                <key>triangles</key>
                <string>9 10 11 5 9 11 3 11 12 7 8 5 7 5 6 5 8 9 5 3 4 5 11 3 1 2 3 1 3 12 0 1 12 0 12 13</string>
                <key>vertices</key>
                <string>245 85 309 285 286 330 189 336 62 360 47 305 12 288 0 273 0 197 27 143 125 102 201 164 221 162 190 69</string>
                <key>verticesUV</key>
                <string>276 565 76 629 31 606 25 509 1 382 56 367 73 332 88 320 164 320 218 347 259 445 197 521 199 541 292 510</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Pirate_02_Dying.png</string>
            <key>size</key>
            <string>{1082,938}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ce39215abe319326a4965d0182ddee64:e8a846870a2bc22564c1ef5ca0872be0:65c640ee618f5eaee2a6f133e96f0ae5$</string>
            <key>textureFileName</key>
            <string>Pirate_02_Dying.png</string>
        </dict>
    </dict>
</plist>
