<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Casting Spells_000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{21.5,18}</string>
                <key>spriteSize</key>
                <string>{243,278}</string>
                <key>spriteSourceSize</key>
                <string>{400,360}</string>
                <key>textureRect</key>
                <string>{{1,261},{243,278}}</string>
                <key>textureRotated</key>
                <true/>
                <key>triangles</key>
                <string>9 11 12 9 10 11 9 0 1 7 8 9 5 6 7 3 4 5 3 5 7 7 9 1 1 2 3 7 1 3 0 9 12</string>
                <key>vertices</key>
                <string>245 35 343 182 343 221 290 255 262 298 210 301 141 295 161 237 126 223 129 185 100 156 118 48 199 23</string>
                <key>verticesUV</key>
                <string>267 406 120 504 81 504 47 451 4 423 1 371 7 302 65 322 79 287 117 290 146 261 254 279 279 360</string>
            </dict>
            <key>Casting Spells_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6.5,16}</string>
                <key>spriteSize</key>
                <string>{237,276}</string>
                <key>spriteSourceSize</key>
                <string>{400,360}</string>
                <key>textureRect</key>
                <string>{{286,519},{237,276}}</string>
                <key>textureRotated</key>
                <true/>
                <key>triangles</key>
                <string>10 12 13 10 11 12 0 10 13 8 9 10 8 10 1 6 7 8 4 5 6 4 2 3 4 6 2 1 2 6 10 0 1 8 1 6</string>
                <key>vertices</key>
                <string>325 155 292 220 291 253 263 296 204 302 142 297 163 240 124 227 127 190 88 159 125 113 98 56 179 26 229 26</string>
                <key>verticesUV</key>
                <string>433 756 368 723 335 722 292 694 286 635 291 573 348 594 361 555 398 558 429 519 475 556 532 529 562 610 562 660</string>
            </dict>
            <key>Casting Spells_002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,18.5}</string>
                <key>spriteSize</key>
                <string>{230,281}</string>
                <key>spriteSourceSize</key>
                <string>{400,360}</string>
                <key>textureRect</key>
                <string>{{564,523},{230,281}}</string>
                <key>textureRotated</key>
                <true/>
                <key>triangles</key>
                <string>11 12 13 9 10 11 0 11 13 11 0 2 7 8 9 5 6 7 4 5 7 3 4 7 2 3 7 2 7 9 0 1 2 11 2 9</string>
                <key>vertices</key>
                <string>229 40 312 141 294 166 294 240 259 302 152 300 147 276 169 251 120 227 128 196 82 166 109 128 91 57 182 21</string>
                <key>verticesUV</key>
                <string>826 670 725 753 700 735 626 735 564 700 566 593 590 588 615 610 639 561 670 569 700 523 738 550 809 532 845 623</string>
            </dict>
            <key>Casting Spells_003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10.5,17}</string>
                <key>spriteSize</key>
                <string>{233,278}</string>
                <key>spriteSourceSize</key>
                <string>{400,360}</string>
                <key>textureRect</key>
                <string>{{286,758},{233,278}}</string>
                <key>textureRotated</key>
                <true/>
                <key>triangles</key>
                <string>11 14 15 11 13 14 11 12 13 1 7 9 9 10 11 9 11 1 7 8 9 5 6 7 3 4 5 3 5 7 1 3 7 1 2 3 1 11 15 0 1 15</string>
                <key>vertices</key>
                <string>306 135 282 170 294 211 268 224 268 288 228 302 138 301 162 245 122 236 113 184 73 177 113 112 79 78 95 55 157 29 204 24</string>
                <key>verticesUV</key>
                <string>453 991 418 967 377 979 364 953 300 953 286 913 287 823 343 847 352 807 404 798 411 758 476 798 510 764 533 780 559 842 564 889</string>
            </dict>
            <key>Casting Spells_004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13.5,15.5}</string>
                <key>spriteSize</key>
                <string>{231,283}</string>
                <key>spriteSourceSize</key>
                <string>{400,360}</string>
                <key>textureRect</key>
                <string>{{1,741},{231,283}}</string>
                <key>textureRotated</key>
                <true/>
                <key>triangles</key>
                <string>10 12 13 10 11 12 1 10 13 8 9 10 1 3 8 6 7 8 5 3 4 5 6 3 3 6 8 1 2 3 1 8 10 0 1 13</string>
                <key>vertices</key>
                <string>302 130 285 164 285 201 267 237 273 295 153 306 141 247 121 233 113 196 78 174 104 118 71 71 144 30 195 23</string>
                <key>verticesUV</key>
                <string>177 972 143 955 106 955 70 937 12 943 1 823 60 811 74 791 111 783 133 748 189 774 236 741 277 814 284 865</string>
            </dict>
            <key>Casting Spells_005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-20.5,16}</string>
                <key>spriteSize</key>
                <string>{235,278}</string>
                <key>spriteSourceSize</key>
                <string>{400,360}</string>
                <key>textureRect</key>
                <string>{{566,755},{235,278}}</string>
                <key>textureRotated</key>
                <true/>
                <key>triangles</key>
                <string>10 11 12 0 10 12 8 9 10 10 0 1 6 7 8 2 3 4 4 5 6 2 4 6 6 8 1 6 1 2 10 1 8</string>
                <key>vertices</key>
                <string>200 32 297 124 268 262 268 289 223 300 150 303 143 244 121 238 114 183 72 184 101 123 62 69 154 25</string>
                <key>verticesUV</key>
                <string>837 893 745 990 607 961 580 961 569 916 566 843 625 836 631 814 686 807 685 765 746 794 800 755 844 847</string>
            </dict>
            <key>Casting Spells_006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-21,13.5}</string>
                <key>spriteSize</key>
                <string>{240,287}</string>
                <key>spriteSourceSize</key>
                <string>{400,360}</string>
                <key>textureRect</key>
                <string>{{565,281},{240,287}}</string>
                <key>textureRotated</key>
                <true/>
                <key>triangles</key>
                <string>11 12 13 0 11 13 9 10 11 2 4 9 7 8 9 5 6 7 4 5 7 4 7 9 2 3 4 11 0 2 0 1 2 11 2 9</string>
                <key>vertices</key>
                <string>200 35 299 125 280 144 280 201 261 214 271 292 150 310 143 250 121 236 114 197 72 181 101 120 59 78 149 23</string>
                <key>verticesUV</key>
                <string>840 422 750 521 731 502 674 502 661 483 583 493 565 372 625 365 639 343 678 336 694 294 755 323 797 281 852 371</string>
            </dict>
            <key>Casting Spells_007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5.5,20.5}</string>
                <key>spriteSize</key>
                <string>{233,283}</string>
                <key>spriteSourceSize</key>
                <string>{400,360}</string>
                <key>textureRect</key>
                <string>{{1,506},{233,283}}</string>
                <key>textureRotated</key>
                <true/>
                <key>triangles</key>
                <string>9 11 12 9 10 11 1 9 12 7 8 9 6 1 3 5 3 4 5 6 3 6 7 1 1 2 3 1 7 9 0 1 12</string>
                <key>vertices</key>
                <string>311 130 286 166 298 228 267 257 267 301 153 299 126 223 119 178 78 170 112 122 83 63 159 25 207 18</string>
                <key>verticesUV</key>
                <string>172 739 136 714 74 726 45 695 1 695 3 581 79 554 124 547 132 506 180 540 239 511 277 587 284 635</string>
            </dict>
            <key>Casting Spells_008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{28,18.5}</string>
                <key>spriteSize</key>
                <string>{256,287}</string>
                <key>spriteSourceSize</key>
                <string>{400,360}</string>
                <key>textureRect</key>
                <string>{{291,1},{256,287}}</string>
                <key>textureRotated</key>
                <true/>
                <key>triangles</key>
                <string>10 11 12 8 9 10 1 2 10 8 10 2 6 7 8 4 5 6 2 3 4 2 4 6 8 2 6 0 1 10 0 10 12</string>
                <key>vertices</key>
                <string>246 27 279 64 297 99 356 155 264 305 133 291 159 237 133 211 131 169 100 145 140 104 122 41 210 18</string>
                <key>verticesUV</key>
                <string>569 147 532 180 497 198 441 257 291 165 305 34 359 60 385 34 427 32 451 1 492 41 555 23 578 111</string>
            </dict>
            <key>Casting Spells_009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{48,16}</string>
                <key>spriteSize</key>
                <string>{262,278}</string>
                <key>spriteSourceSize</key>
                <string>{400,360}</string>
                <key>textureRect</key>
                <string>{{580,1},{262,278}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>12 13 14 11 7 8 3 4 7 10 11 8 3 7 11 10 8 9 3 11 12 4 5 6 4 6 7 1 3 12 1 12 14 1 2 3 0 1 14 0 14 15</string>
                <key>vertices</key>
                <string>277 26 308 68 348 180 311 209 318 239 379 219 379 276 279 286 254 303 156 292 142 262 142 190 157 152 117 124 161 100 168 25</string>
                <key>verticesUV</key>
                <string>740 2 771 44 811 156 774 185 781 215 842 195 842 252 742 262 717 279 619 268 605 238 605 166 620 128 580 100 624 76 631 1</string>
            </dict>
            <key>Casting Spells_010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{48,16}</string>
                <key>spriteSize</key>
                <string>{258,272}</string>
                <key>spriteSourceSize</key>
                <string>{400,360}</string>
                <key>textureRect</key>
                <string>{{291,259},{258,272}}</string>
                <key>textureRotated</key>
                <true/>
                <key>triangles</key>
                <string>14 15 16 0 14 16 12 13 14 14 0 2 2 11 12 9 10 11 9 11 2 9 7 8 6 3 4 6 4 5 3 6 7 2 3 7 9 2 7 0 1 2 14 2 12</string>
                <key>vertices</key>
                <string>314 81 347 187 305 220 310 232 355 211 377 231 363 266 268 290 261 300 211 300 149 288 140 192 150 146 119 125 172 92 172 28 285 28</string>
                <key>verticesUV</key>
                <string>510 454 404 487 371 445 359 450 380 495 360 517 325 503 301 408 291 401 291 351 303 289 399 280 445 290 466 259 499 312 563 312 563 425</string>
            </dict>
            <key>Casting Spells_011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{35,15}</string>
                <key>spriteSize</key>
                <string>{258,288}</string>
                <key>spriteSourceSize</key>
                <string>{400,360}</string>
                <key>textureRect</key>
                <string>{{1,1},{258,288}}</string>
                <key>textureRotated</key>
                <true/>
                <key>triangles</key>
                <string>12 13 14 0 12 14 10 11 12 12 0 2 2 6 9 7 8 9 6 7 9 2 4 5 2 3 4 2 5 6 2 9 10 0 1 2 12 2 10</string>
                <key>vertices</key>
                <string>284 59 339 168 316 202 345 191 364 205 358 244 302 266 244 309 150 291 133 202 137 156 106 142 151 96 142 38 246 21</string>
                <key>verticesUV</key>
                <string>251 179 142 234 108 211 119 240 105 259 66 253 44 197 1 139 19 45 108 28 154 32 168 1 214 46 272 37 289 141</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Wizard_02_Attacking.png</string>
            <key>size</key>
            <string>{853,992}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:05dfb757f173f707294541025c9e7e07:1e086c34217332a47ed518480864edcb:564d9065a3285a3437fb96362f33ffb0$</string>
            <key>textureFileName</key>
            <string>Wizard_02_Attacking.png</string>
        </dict>
    </dict>
</plist>
