<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Wizard_01_Taunt (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{21.5,18}</string>
                <key>spriteSize</key>
                <string>{243,278}</string>
                <key>spriteSourceSize</key>
                <string>{400,360}</string>
                <key>textureRect</key>
                <string>{{560,1075},{243,278}}</string>
                <key>textureRotated</key>
                <true/>
                <key>triangles</key>
                <string>8 9 10 0 8 10 5 6 7 3 4 5 3 5 7 7 0 1 1 2 3 7 1 3 0 7 8</string>
                <key>vertices</key>
                <string>245 35 343 182 343 221 290 255 262 298 210 301 140 295 169 233 100 156 118 48 199 23</string>
                <key>verticesUV</key>
                <string>826 1220 679 1318 640 1318 606 1265 563 1237 560 1185 566 1115 628 1144 705 1075 813 1093 838 1174</string>
            </dict>
            <key>Wizard_01_Taunt (10).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{26,15}</string>
                <key>spriteSize</key>
                <string>{268,278}</string>
                <key>spriteSourceSize</key>
                <string>{400,360}</string>
                <key>textureRect</key>
                <string>{{574,539},{268,278}}</string>
                <key>textureRotated</key>
                <true/>
                <key>triangles</key>
                <string>0 10 11 8 9 10 0 8 10 6 7 8 1 4 6 4 5 6 1 2 3 1 3 4 8 0 1 8 1 6</string>
                <key>vertices</key>
                <string>249 58 289 105 360 130 353 165 261 304 142 295 147 211 92 172 119 132 97 67 166 31 208 26</string>
                <key>verticesUV</key>
                <string>820 696 773 736 748 807 713 800 574 708 583 589 667 594 706 539 746 566 811 544 847 613 852 655</string>
            </dict>
            <key>Wizard_01_Taunt (11).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{22,19.5}</string>
                <key>spriteSize</key>
                <string>{262,287}</string>
                <key>spriteSourceSize</key>
                <string>{400,360}</string>
                <key>textureRect</key>
                <string>{{1,268},{262,287}}</string>
                <key>textureRotated</key>
                <true/>
                <key>triangles</key>
                <string>7 8 9 0 7 9 5 6 7 0 2 3 3 4 5 0 3 5 0 1 2 0 5 7</string>
                <key>vertices</key>
                <string>311 120 353 122 353 165 261 304 144 295 143 210 95 172 118 120 91 60 206 17</string>
                <key>verticesUV</key>
                <string>185 488 183 530 140 530 1 438 10 321 95 320 133 272 185 295 245 268 288 383</string>
            </dict>
            <key>Wizard_01_Taunt (12).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{21,16}</string>
                <key>spriteSize</key>
                <string>{262,278}</string>
                <key>spriteSourceSize</key>
                <string>{400,360}</string>
                <key>textureRect</key>
                <string>{{1,1327},{262,278}}</string>
                <key>textureRotated</key>
                <true/>
                <key>triangles</key>
                <string>10 11 12 8 9 10 0 1 10 4 5 6 6 7 8 4 6 8 1 3 4 1 4 8 1 2 3 1 8 10 0 10 12</string>
                <key>vertices</key>
                <string>234 39 302 119 352 119 352 163 298 239 265 298 217 303 142 290 145 210 94 171 126 118 90 71 180 25</string>
                <key>verticesUV</key>
                <string>265 1471 185 1539 185 1589 141 1589 65 1535 6 1502 1 1454 14 1379 94 1382 133 1331 186 1363 233 1327 279 1417</string>
            </dict>
            <key>Wizard_01_Taunt (13).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{21.5,14.5}</string>
                <key>spriteSize</key>
                <string>{269,273}</string>
                <key>spriteSourceSize</key>
                <string>{400,360}</string>
                <key>textureRect</key>
                <string>{{580,1},{269,273}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>9 11 12 9 10 11 0 9 12 7 8 9 3 4 5 5 6 7 3 5 7 0 3 7 0 1 2 0 2 3 0 7 9</string>
                <key>vertices</key>
                <string>314 121 341 108 356 153 300 235 266 298 221 302 144 290 143 210 93 174 125 118 87 70 172 30 218 29</string>
                <key>verticesUV</key>
                <string>807 93 834 80 849 125 793 207 759 270 714 274 637 262 636 182 586 146 618 90 580 42 665 2 711 1</string>
            </dict>
            <key>Wizard_01_Taunt (14).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{22,14.5}</string>
                <key>spriteSize</key>
                <string>{264,279}</string>
                <key>spriteSourceSize</key>
                <string>{400,360}</string>
                <key>textureRect</key>
                <string>{{569,809},{264,279}}</string>
                <key>textureRotated</key>
                <true/>
                <key>triangles</key>
                <string>10 11 12 10 0 1 8 9 10 4 5 8 6 7 8 5 6 8 10 1 8 1 3 4 1 2 3 8 1 4 0 10 12</string>
                <key>vertices</key>
                <string>225 37 307 118 345 110 354 153 300 233 263 305 157 294 142 269 145 210 95 174 119 122 90 64 182 26</string>
                <key>verticesUV</key>
                <string>837 944 756 1026 764 1064 721 1073 641 1019 569 982 580 876 605 861 664 864 700 814 752 838 810 809 848 901</string>
            </dict>
            <key>Wizard_01_Taunt (15).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{22.5,10.5}</string>
                <key>spriteSize</key>
                <string>{261,279}</string>
                <key>spriteSourceSize</key>
                <string>{400,360}</string>
                <key>textureRect</key>
                <string>{{281,1327},{261,279}}</string>
                <key>textureRotated</key>
                <true/>
                <key>triangles</key>
                <string>0 11 12 9 10 11 0 9 11 7 8 9 5 6 7 1 4 7 4 5 7 1 2 3 1 3 4 9 0 1 9 1 7</string>
                <key>vertices</key>
                <string>253 63 285 101 345 115 353 147 260 309 153 290 138 254 158 230 94 173 121 129 92 71 169 31 209 30</string>
                <key>verticesUV</key>
                <string>527 1488 489 1520 475 1580 443 1588 281 1495 300 1388 336 1373 360 1393 417 1329 461 1356 519 1327 559 1404 560 1444</string>
            </dict>
            <key>Wizard_01_Taunt (16).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{22.5,13.5}</string>
                <key>spriteSize</key>
                <string>{261,273}</string>
                <key>spriteSourceSize</key>
                <string>{400,360}</string>
                <key>textureRect</key>
                <string>{{577,276},{261,273}}</string>
                <key>textureRotated</key>
                <true/>
                <key>triangles</key>
                <string>12 13 14 10 11 12 10 2 6 6 7 10 8 9 10 7 8 10 10 12 2 2 5 6 2 4 5 2 3 4 1 2 12 0 1 12 0 12 14</string>
                <key>vertices</key>
                <string>209 31 249 59 298 114 336 109 353 135 342 166 323 184 264 303 162 295 142 275 141 209 92 176 117 138 93 69 167 30</string>
                <key>verticesUV</key>
                <string>849 393 821 433 766 482 771 520 745 537 714 526 696 507 577 448 585 346 605 326 671 325 704 276 742 301 811 277 850 351</string>
            </dict>
            <key>Wizard_01_Taunt (17).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{27,18.5}</string>
                <key>spriteSize</key>
                <string>{266,287}</string>
                <key>spriteSourceSize</key>
                <string>{400,360}</string>
                <key>textureRect</key>
                <string>{{291,1},{266,287}}</string>
                <key>textureRotated</key>
                <true/>
                <key>triangles</key>
                <string>8 9 10 6 0 1 6 7 8 1 3 4 4 5 6 1 4 6 1 2 3 6 8 0 0 8 10</string>
                <key>vertices</key>
                <string>246 54 307 115 349 133 360 163 260 305 140 293 153 217 95 169 122 110 94 67 199 18</string>
                <key>verticesUV</key>
                <string>542 153 481 214 463 256 433 267 291 167 303 47 379 60 427 2 486 29 529 1 578 106</string>
            </dict>
            <key>Wizard_01_Taunt (18).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{25,20.5}</string>
                <key>spriteSize</key>
                <string>{264,285}</string>
                <key>spriteSourceSize</key>
                <string>{400,360}</string>
                <key>textureRect</key>
                <string>{{1,532},{264,285}}</string>
                <key>textureRotated</key>
                <true/>
                <key>triangles</key>
                <string>9 10 11 0 1 9 7 8 9 4 5 7 5 6 7 1 3 4 1 4 7 1 2 3 1 7 9 0 9 11</string>
                <key>vertices</key>
                <string>258 60 303 125 351 158 357 191 265 296 221 302 150 293 150 213 93 160 128 115 101 58 210 17</string>
                <key>verticesUV</key>
                <string>243 697 178 742 145 790 112 796 7 704 1 660 10 589 90 589 143 532 188 567 245 540 286 649</string>
            </dict>
            <key>Wizard_01_Taunt (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{26,16}</string>
                <key>spriteSize</key>
                <string>{260,276}</string>
                <key>spriteSourceSize</key>
                <string>{400,360}</string>
                <key>textureRect</key>
                <string>{{282,1063},{260,276}}</string>
                <key>textureRotated</key>
                <true/>
                <key>triangles</key>
                <string>0 12 13 10 11 12 0 10 12 8 9 10 4 5 6 6 7 8 4 6 8 8 0 1 4 1 2 4 2 3 8 1 4 0 8 10</string>
                <key>vertices</key>
                <string>251 52 318 140 352 162 356 207 308 233 267 296 219 302 149 294 153 214 96 165 119 107 107 59 166 30 217 26</string>
                <key>verticesUV</key>
                <string>532 1218 444 1285 422 1319 377 1323 351 1275 288 1234 282 1186 290 1116 370 1120 419 1063 477 1086 525 1074 554 1133 558 1184</string>
            </dict>
            <key>Wizard_01_Taunt (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{24.5,14.5}</string>
                <key>spriteSize</key>
                <string>{261,281}</string>
                <key>spriteSourceSize</key>
                <string>{400,360}</string>
                <key>textureRect</key>
                <string>{{286,800},{261,281}}</string>
                <key>textureRotated</key>
                <true/>
                <key>triangles</key>
                <string>7 9 10 7 8 9 0 7 10 5 6 7 0 2 3 3 4 5 0 3 5 0 1 2 0 5 7</string>
                <key>vertices</key>
                <string>321 129 355 138 355 176 259 306 145 293 148 211 94 169 122 111 97 67 154 33 217 25</string>
                <key>verticesUV</key>
                <string>463 1027 454 1061 416 1061 286 965 299 851 381 854 423 800 481 828 525 803 559 860 567 923</string>
            </dict>
            <key>Wizard_01_Taunt (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18.5,18.5}</string>
                <key>spriteSize</key>
                <string>{261,283}</string>
                <key>spriteSourceSize</key>
                <string>{400,360}</string>
                <key>textureRect</key>
                <string>{{1,798},{261,283}}</string>
                <key>textureRotated</key>
                <true/>
                <key>triangles</key>
                <string>10 11 12 0 10 12 8 9 10 4 5 8 6 7 8 5 6 8 10 0 1 1 2 3 1 3 4 8 1 4 10 1 8</string>
                <key>vertices</key>
                <string>249 60 294 110 349 110 349 153 312 206 264 303 162 295 138 271 148 213 95 175 119 125 88 63 199 20</string>
                <key>verticesUV</key>
                <string>244 959 194 1004 194 1059 151 1059 98 1022 1 974 9 872 33 848 91 858 129 805 179 829 241 798 284 909</string>
            </dict>
            <key>Wizard_01_Taunt (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{24.5,12}</string>
                <key>spriteSize</key>
                <string>{259,284}</string>
                <key>spriteSourceSize</key>
                <string>{400,360}</string>
                <key>textureRect</key>
                <string>{{288,539},{259,284}}</string>
                <key>textureRotated</key>
                <true/>
                <key>triangles</key>
                <string>7 10 11 9 7 8 9 10 7 0 7 11 5 6 7 5 2 3 3 4 5 0 1 2 5 0 2 0 5 7</string>
                <key>vertices</key>
                <string>278 91 342 116 354 145 259 310 137 287 149 214 95 174 126 110 99 94 97 69 163 33 213 26</string>
                <key>verticesUV</key>
                <string>507 722 482 786 453 798 288 703 311 581 384 593 424 539 488 570 504 543 529 541 565 607 572 657</string>
            </dict>
            <key>Wizard_01_Taunt (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,14.5}</string>
                <key>spriteSize</key>
                <string>{264,279}</string>
                <key>spriteSourceSize</key>
                <string>{400,360}</string>
                <key>textureRect</key>
                <string>{{1,1061},{264,279}}</string>
                <key>textureRotated</key>
                <true/>
                <key>triangles</key>
                <string>8 10 11 8 9 10 0 8 11 6 7 8 5 3 4 5 6 3 0 3 6 0 1 2 0 2 3 0 6 8</string>
                <key>vertices</key>
                <string>303 115 350 113 350 156 269 285 268 305 142 294 142 209 95 174 124 111 86 73 166 32 214 26</string>
                <key>verticesUV</key>
                <string>191 1278 193 1325 150 1325 21 1244 1 1243 12 1117 97 1117 132 1070 195 1099 233 1061 274 1141 280 1189</string>
            </dict>
            <key>Wizard_01_Taunt (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{26.5,16}</string>
                <key>spriteSize</key>
                <string>{265,288}</string>
                <key>spriteSourceSize</key>
                <string>{400,360}</string>
                <key>textureRect</key>
                <string>{{1,1},{265,288}}</string>
                <key>textureRotated</key>
                <true/>
                <key>triangles</key>
                <string>8 10 11 8 9 10 0 8 11 6 7 8 1 4 6 4 5 6 1 2 3 1 3 4 8 0 1 8 1 6</string>
                <key>vertices</key>
                <string>251 59 290 106 341 118 359 146 259 308 138 289 150 214 94 175 122 114 97 83 105 56 198 20</string>
                <key>verticesUV</key>
                <string>250 158 203 197 191 248 163 266 1 166 20 45 95 57 134 1 195 29 226 4 253 12 289 105</string>
            </dict>
            <key>Wizard_01_Taunt (8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{26.5,16}</string>
                <key>spriteSize</key>
                <string>{265,278}</string>
                <key>spriteSourceSize</key>
                <string>{400,360}</string>
                <key>textureRect</key>
                <string>{{562,1320},{265,278}}</string>
                <key>textureRotated</key>
                <true/>
                <key>triangles</key>
                <string>0 12 13 10 11 12 0 10 12 8 9 10 4 5 6 6 7 8 4 6 8 1 4 8 1 2 3 1 3 4 10 0 1 10 1 8</string>
                <key>vertices</key>
                <string>250 59 301 118 342 118 359 151 298 239 265 298 217 303 142 290 146 220 94 168 122 128 94 69 162 33 207 25</string>
                <key>verticesUV</key>
                <string>806 1476 747 1527 747 1568 714 1585 626 1524 567 1491 562 1443 575 1368 645 1372 697 1320 737 1348 796 1320 832 1388 840 1433</string>
            </dict>
            <key>Wizard_01_Taunt (9).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{23,21.5}</string>
                <key>spriteSize</key>
                <string>{268,285}</string>
                <key>spriteSourceSize</key>
                <string>{400,360}</string>
                <key>textureRect</key>
                <string>{{290,269},{268,285}}</string>
                <key>textureRotated</key>
                <true/>
                <key>triangles</key>
                <string>10 11 12 0 10 12 8 9 10 4 5 8 6 7 8 5 6 8 3 4 8 0 3 8 0 1 2 0 2 3 0 8 10</string>
                <key>vertices</key>
                <string>316 126 346 112 357 165 312 210 293 255 264 299 167 301 145 279 144 210 95 172 121 118 89 62 205 16</string>
                <key>verticesUV</key>
                <string>465 496 479 526 426 537 381 492 336 473 292 444 290 347 312 325 381 324 419 275 473 301 529 269 575 385</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Wizard_01_Taunt.png</string>
            <key>size</key>
            <string>{853,1590}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:96d1d1830546dd203a422da30ed0fc09:c56cfb6e1cd6270d472bd450b05815e5:9fb30d1e2f0383a0be9397d800d477f7$</string>
            <key>textureFileName</key>
            <string>Wizard_01_Taunt.png</string>
        </dict>
    </dict>
</plist>
