<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Casting Spells_000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{21.5,18}</string>
                <key>spriteSize</key>
                <string>{243,278}</string>
                <key>spriteSourceSize</key>
                <string>{400,360}</string>
                <key>textureRect</key>
                <string>{{1,495},{243,278}}</string>
                <key>textureRotated</key>
                <true/>
                <key>triangles</key>
                <string>8 9 10 0 8 10 5 6 7 3 4 5 3 5 7 7 0 1 1 2 3 7 1 3 0 7 8</string>
                <key>vertices</key>
                <string>245 35 343 182 343 221 290 255 262 298 210 301 140 295 169 233 100 156 118 48 199 23</string>
                <key>verticesUV</key>
                <string>267 640 120 738 81 738 47 685 4 657 1 605 7 535 69 564 146 495 254 513 279 594</string>
            </dict>
            <key>Casting Spells_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7.5,16}</string>
                <key>spriteSize</key>
                <string>{235,276}</string>
                <key>spriteSourceSize</key>
                <string>{400,360}</string>
                <key>textureRect</key>
                <string>{{581,1},{235,276}}</string>
                <key>textureRotated</key>
                <true/>
                <key>triangles</key>
                <string>8 10 11 8 9 10 0 8 11 6 7 8 4 5 6 2 3 6 3 4 6 1 2 6 8 0 1 8 1 6</string>
                <key>vertices</key>
                <string>325 155 292 220 291 253 263 296 204 302 140 297 169 237 90 157 125 113 98 56 179 26 229 26</string>
                <key>verticesUV</key>
                <string>728 236 663 203 630 202 587 174 581 115 586 51 646 80 726 1 770 36 827 9 857 90 857 140</string>
            </dict>
            <key>Casting Spells_002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1.5,16.5}</string>
                <key>spriteSize</key>
                <string>{227,285}</string>
                <key>spriteSourceSize</key>
                <string>{400,360}</string>
                <key>textureRect</key>
                <string>{{1,744},{227,285}}</string>
                <key>textureRotated</key>
                <true/>
                <key>triangles</key>
                <string>9 10 11 7 8 9 0 2 9 5 6 7 4 5 7 3 4 7 2 3 7 2 7 9 0 1 2 0 9 11</string>
                <key>vertices</key>
                <string>229 40 312 141 288 174 297 234 261 299 155 306 148 282 166 243 85 162 109 128 91 57 182 21</string>
                <key>verticesUV</key>
                <string>267 888 166 971 133 947 73 956 8 920 1 814 25 807 64 825 145 744 179 768 250 750 286 841</string>
            </dict>
            <key>Casting Spells_003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,17}</string>
                <key>spriteSize</key>
                <string>{226,278}</string>
                <key>spriteSourceSize</key>
                <string>{400,360}</string>
                <key>textureRect</key>
                <string>{{572,744},{226,278}}</string>
                <key>textureRotated</key>
                <true/>
                <key>triangles</key>
                <string>9 12 13 9 11 12 9 10 11 7 1 3 7 8 9 5 6 7 3 4 5 3 5 7 7 9 1 1 2 3 1 9 13 0 1 13</string>
                <key>vertices</key>
                <string>305 135 281 181 296 211 268 224 268 288 228 302 140 300 166 245 79 170 113 112 79 78 95 55 157 29 204 24</string>
                <key>verticesUV</key>
                <string>739 970 693 946 663 961 650 933 586 933 572 893 574 805 629 831 704 744 762 778 796 744 819 760 845 822 850 869</string>
            </dict>
            <key>Casting Spells_004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16.5,15}</string>
                <key>spriteSize</key>
                <string>{233,284}</string>
                <key>spriteSourceSize</key>
                <string>{400,360}</string>
                <key>textureRect</key>
                <string>{{1,254},{233,284}}</string>
                <key>textureRotated</key>
                <true/>
                <key>triangles</key>
                <string>7 9 10 7 8 9 5 0 1 5 6 7 3 4 5 2 3 5 1 2 5 5 7 0 0 7 10</string>
                <key>vertices</key>
                <string>300 128 284 204 262 236 273 295 141 307 163 237 76 172 109 115 67 73 147 30 195 23</string>
                <key>verticesUV</key>
                <string>180 487 104 471 72 449 13 460 1 328 71 350 136 263 193 296 235 254 278 334 285 382</string>
            </dict>
            <key>Casting Spells_005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16.5,17}</string>
                <key>spriteSize</key>
                <string>{227,282}</string>
                <key>spriteSourceSize</key>
                <string>{400,360}</string>
                <key>textureRect</key>
                <string>{{288,744},{227,282}}</string>
                <key>textureRotated</key>
                <true/>
                <key>triangles</key>
                <string>7 9 10 7 8 9 0 7 10 5 6 7 3 4 5 1 2 3 1 3 5 0 1 5 0 5 7</string>
                <key>vertices</key>
                <string>297 124 268 257 268 289 223 300 138 304 166 240 76 176 98 130 70 74 136 32 189 22</string>
                <key>verticesUV</key>
                <string>468 971 335 942 303 942 292 897 288 812 352 840 416 750 462 772 518 744 560 810 570 863</string>
            </dict>
            <key>Casting Spells_006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-23,13}</string>
                <key>spriteSize</key>
                <string>{236,288}</string>
                <key>spriteSourceSize</key>
                <string>{400,360}</string>
                <key>textureRect</key>
                <string>{{291,1},{236,288}}</string>
                <key>textureRotated</key>
                <true/>
                <key>triangles</key>
                <string>8 9 10 8 3 6 6 7 8 4 5 6 3 4 6 8 0 1 8 1 2 8 2 3 0 8 10</string>
                <key>vertices</key>
                <string>199 35 295 120 276 198 259 216 271 292 138 311 164 239 73 179 101 120 59 78 149 23</string>
                <key>verticesUV</key>
                <string>567 141 482 237 404 218 386 201 310 213 291 80 363 106 423 15 482 43 524 1 579 91</string>
            </dict>
            <key>Casting Spells_007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,20.5}</string>
                <key>spriteSize</key>
                <string>{224,283}</string>
                <key>spriteSourceSize</key>
                <string>{400,360}</string>
                <key>textureRect</key>
                <string>{{281,495},{224,283}}</string>
                <key>textureRotated</key>
                <true/>
                <key>triangles</key>
                <string>7 9 10 7 8 9 0 7 10 5 6 7 3 4 5 2 3 5 5 1 2 5 0 1 0 5 7</string>
                <key>vertices</key>
                <string>307 126 295 229 267 256 267 301 137 298 166 231 83 164 112 122 83 63 159 25 207 18</string>
                <key>verticesUV</key>
                <string>456 719 353 707 326 679 281 679 284 549 351 578 418 495 460 524 519 495 557 571 564 619</string>
            </dict>
            <key>Casting Spells_008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{29,18.5}</string>
                <key>spriteSize</key>
                <string>{254,287}</string>
                <key>spriteSourceSize</key>
                <string>{400,360}</string>
                <key>textureRect</key>
                <string>{{291,239},{254,287}}</string>
                <key>textureRotated</key>
                <true/>
                <key>triangles</key>
                <string>8 9 10 6 7 8 1 2 8 3 4 6 4 5 6 2 3 6 2 6 8 0 1 8 0 8 10</string>
                <key>vertices</key>
                <string>246 27 279 64 297 99 356 155 264 305 145 292 161 212 102 143 140 104 122 41 210 18</string>
                <key>verticesUV</key>
                <string>569 383 532 416 497 434 441 493 291 401 304 282 384 298 453 239 492 277 555 259 578 347</string>
            </dict>
            <key>Casting Spells_009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{53,16}</string>
                <key>spriteSize</key>
                <string>{252,278}</string>
                <key>spriteSourceSize</key>
                <string>{400,360}</string>
                <key>textureRect</key>
                <string>{{580,490},{252,278}}</string>
                <key>textureRotated</key>
                <true/>
                <key>triangles</key>
                <string>9 10 11 3 6 7 7 8 9 3 7 9 1 2 3 3 4 5 3 5 6 1 3 9 1 9 11 0 1 11 0 11 12</string>
                <key>vertices</key>
                <string>277 26 308 68 348 181 287 237 379 223 379 276 279 286 254 303 143 292 163 189 127 125 162 89 168 25</string>
                <key>verticesUV</key>
                <string>857 640 815 671 702 711 646 650 660 742 607 742 597 642 580 617 591 506 694 526 758 490 794 525 858 531</string>
            </dict>
            <key>Casting Spells_010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{52,16}</string>
                <key>spriteSize</key>
                <string>{250,272}</string>
                <key>spriteSourceSize</key>
                <string>{400,360}</string>
                <key>textureRect</key>
                <string>{{581,238},{250,272}}</string>
                <key>textureRotated</key>
                <true/>
                <key>triangles</key>
                <string>14 15 16 0 2 14 12 13 14 2 12 14 11 9 10 11 12 9 9 12 2 9 7 8 6 3 4 6 4 5 3 6 7 2 3 7 9 2 7 0 1 2 0 14 16</string>
                <key>vertices</key>
                <string>314 81 347 189 299 222 308 234 355 211 377 231 363 266 268 290 261 300 211 300 149 287 149 246 162 189 127 119 172 92 172 28 285 28</string>
                <key>verticesUV</key>
                <string>800 425 692 458 659 410 647 419 670 466 650 488 615 474 591 379 581 372 581 322 594 260 635 260 692 273 762 238 789 283 853 283 853 396</string>
            </dict>
            <key>Casting Spells_011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{35.5,15}</string>
                <key>spriteSize</key>
                <string>{251,288}</string>
                <key>spriteSourceSize</key>
                <string>{400,360}</string>
                <key>textureRect</key>
                <string>{{1,1},{251,288}}</string>
                <key>textureRotated</key>
                <true/>
                <key>triangles</key>
                <string>10 11 12 8 9 10 8 0 2 6 2 5 6 7 8 6 8 2 2 3 4 2 4 5 8 10 0 0 1 2 0 10 12</string>
                <key>vertices</key>
                <string>284 59 339 168 306 210 361 182 361 242 302 266 244 309 149 291 154 197 110 133 145 105 146 37 246 21</string>
                <key>verticesUV</key>
                <string>251 175 142 230 100 197 128 252 68 252 44 193 1 135 19 40 113 45 177 1 205 36 273 37 289 137</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Wizard_01_Attacking.png</string>
            <key>size</key>
            <string>{859,972}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:97dc215d68e9e7bb712de6d4ff3823c1:4a0441dce5560879d644a4f583809379:9b7fe10c4181e0558870e78587dceb60$</string>
            <key>textureFileName</key>
            <string>Wizard_01_Attacking.png</string>
        </dict>
    </dict>
</plist>
