<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Dying_000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{21.5,18}</string>
                <key>spriteSize</key>
                <string>{243,278}</string>
                <key>spriteSourceSize</key>
                <string>{400,360}</string>
                <key>textureRect</key>
                <string>{{285,468},{243,278}}</string>
                <key>textureRotated</key>
                <true/>
                <key>triangles</key>
                <string>8 9 10 0 8 10 5 6 7 3 4 5 3 5 7 7 0 1 1 2 3 7 1 3 0 7 8</string>
                <key>vertices</key>
                <string>245 35 343 182 343 221 290 255 262 298 210 301 140 295 169 233 100 156 118 48 199 23</string>
                <key>verticesUV</key>
                <string>551 613 404 711 365 711 331 658 288 630 285 578 291 508 353 537 430 468 538 486 563 567</string>
            </dict>
            <key>Dying_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{25,24.5}</string>
                <key>spriteSize</key>
                <string>{250,283}</string>
                <key>spriteSourceSize</key>
                <string>{400,360}</string>
                <key>textureRect</key>
                <string>{{565,470},{250,283}}</string>
                <key>textureRotated</key>
                <true/>
                <key>triangles</key>
                <string>7 8 9 0 7 9 5 6 7 3 4 5 2 3 5 1 2 5 0 1 5 0 5 7</string>
                <key>vertices</key>
                <string>268 57 350 189 273 275 264 297 139 297 173 234 100 143 135 81 116 43 225 14</string>
                <key>verticesUV</key>
                <string>805 638 673 720 587 643 565 634 565 509 628 543 719 470 781 505 819 486 848 595</string>
            </dict>
            <key>Dying_002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{20.5,27}</string>
                <key>spriteSize</key>
                <string>{241,282}</string>
                <key>spriteSourceSize</key>
                <string>{400,360}</string>
                <key>textureRect</key>
                <string>{{1,462},{241,282}}</string>
                <key>textureRotated</key>
                <true/>
                <key>triangles</key>
                <string>7 8 9 5 6 7 0 7 9 3 4 5 1 2 5 2 3 5 0 1 5 0 5 7</string>
                <key>vertices</key>
                <string>282 61 341 174 271 285 225 294 142 294 174 233 100 129 133 104 134 33 233 12</string>
                <key>verticesUV</key>
                <string>234 644 121 703 10 633 1 587 1 504 62 536 166 462 191 495 262 496 283 595</string>
            </dict>
            <key>Dying_003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,25.5}</string>
                <key>spriteSize</key>
                <string>{228,285}</string>
                <key>spriteSourceSize</key>
                <string>{400,360}</string>
                <key>textureRect</key>
                <string>{{587,1},{228,285}}</string>
                <key>textureRotated</key>
                <true/>
                <key>triangles</key>
                <string>7 8 9 5 6 7 0 7 9 3 4 5 1 2 5 2 3 5 7 0 1 7 1 5</string>
                <key>vertices</key>
                <string>277 42 332 162 267 285 167 297 151 281 174 232 104 120 153 81 135 27 238 12</string>
                <key>verticesUV</key>
                <string>842 174 722 229 599 164 587 64 603 48 652 71 764 1 803 50 857 32 872 135</string>
            </dict>
            <key>Dying_004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1.5,24}</string>
                <key>spriteSize</key>
                <string>{231,300}</string>
                <key>spriteSourceSize</key>
                <string>{400,360}</string>
                <key>textureRect</key>
                <string>{{1,229},{231,300}}</string>
                <key>textureRotated</key>
                <true/>
                <key>triangles</key>
                <string>8 9 10 0 2 8 6 7 8 3 4 6 4 5 6 2 3 6 2 6 8 0 1 2 0 8 10</string>
                <key>vertices</key>
                <string>255 54 314 146 291 165 287 261 241 283 161 306 170 233 83 141 123 93 96 40 206 6</string>
                <key>verticesUV</key>
                <string>253 401 161 460 142 437 46 433 24 387 1 307 74 316 166 229 214 269 267 242 301 352</string>
            </dict>
            <key>Dying_005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-18,17.5}</string>
                <key>spriteSize</key>
                <string>{226,307}</string>
                <key>spriteSourceSize</key>
                <string>{400,360}</string>
                <key>textureRect</key>
                <string>{{278,1},{226,307}}</string>
                <key>textureRotated</key>
                <true/>
                <key>triangles</key>
                <string>8 10 11 8 9 10 2 6 8 6 7 8 4 5 6 3 4 6 2 3 6 0 2 8 0 1 2 0 8 11</string>
                <key>vertices</key>
                <string>216 46 295 127 278 147 290 237 267 267 175 316 178 249 69 167 100 103 70 84 72 59 162 9</string>
                <key>verticesUV</key>
                <string>548 148 467 227 447 210 357 222 327 199 278 107 345 110 427 1 491 32 510 2 535 4 585 94</string>
            </dict>
            <key>Dying_006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-42.5,4.5}</string>
                <key>spriteSize</key>
                <string>{257,291}</string>
                <key>spriteSourceSize</key>
                <string>{400,360}</string>
                <key>textureRect</key>
                <string>{{279,722},{257,291}}</string>
                <key>textureRotated</key>
                <true/>
                <key>triangles</key>
                <string>10 11 12 8 9 10 2 7 8 2 8 10 5 6 7 4 5 7 7 2 3 7 3 4 0 2 10 0 1 2 0 10 12</string>
                <key>vertices</key>
                <string>166 42 268 105 268 163 279 183 286 235 254 274 197 321 181 248 124 228 57 197 80 136 29 101 115 30</string>
                <key>verticesUV</key>
                <string>558 859 495 961 437 961 417 972 365 979 326 947 279 890 352 874 372 817 403 750 464 773 499 722 570 808</string>
            </dict>
            <key>Dying_007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-55.5,-14}</string>
                <key>spriteSize</key>
                <string>{281,274}</string>
                <key>spriteSourceSize</key>
                <string>{400,360}</string>
                <key>textureRect</key>
                <string>{{572,722},{281,274}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>6 8 9 6 7 8 0 4 6 4 5 6 2 3 4 1 2 4 0 1 4 0 6 9</string>
                <key>vertices</key>
                <string>245 113 285 223 256 286 217 331 183 267 53 238 64 174 4 143 76 69 123 57</string>
                <key>verticesUV</key>
                <string>813 778 853 888 824 951 785 996 751 932 621 903 632 839 572 808 644 734 691 722</string>
            </dict>
            <key>Dying_008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-59,-35.5}</string>
                <key>spriteSize</key>
                <string>{276,253}</string>
                <key>spriteSourceSize</key>
                <string>{400,360}</string>
                <key>textureRect</key>
                <string>{{1,705},{276,253}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>8 11 12 10 8 9 10 11 8 1 5 6 6 7 8 1 6 8 3 4 5 2 3 5 1 2 5 0 1 8 0 8 12</string>
                <key>vertices</key>
                <string>221 116 246 171 279 218 270 265 240 342 186 275 137 281 57 274 52 202 19 202 3 186 46 106 91 89</string>
                <key>verticesUV</key>
                <string>219 732 244 787 277 834 268 881 238 958 184 891 135 897 55 890 50 818 17 818 1 802 44 722 89 705</string>
            </dict>
            <key>Dying_009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-61.5,-56.5}</string>
                <key>spriteSize</key>
                <string>{275,221}</string>
                <key>spriteSourceSize</key>
                <string>{400,360}</string>
                <key>textureRect</key>
                <string>{{1,1},{275,221}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>8 11 12 8 10 11 8 9 10 6 8 12 6 7 8 1 5 6 3 4 5 5 1 2 5 2 3 1 6 12 0 1 12</string>
                <key>vertices</key>
                <string>205 134 228 183 271 214 276 261 264 347 198 292 145 306 67 314 51 256 2 245 1 225 31 135 93 126</string>
                <key>verticesUV</key>
                <string>205 9 228 58 271 89 276 136 264 222 198 167 145 181 67 189 51 131 2 120 1 100 31 10 93 1</string>
            </dict>
            <key>Dying_010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-62,-46.5}</string>
                <key>spriteSize</key>
                <string>{274,237}</string>
                <key>spriteSourceSize</key>
                <string>{400,360}</string>
                <key>textureRect</key>
                <string>{{303,229},{274,237}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>7 10 11 9 7 8 1 5 11 9 10 7 7 5 6 7 11 5 1 3 5 1 2 3 5 3 4 0 1 11 0 11 12</string>
                <key>vertices</key>
                <string>226 140 239 192 271 215 275 263 265 342 210 302 92 345 48 289 1 309 6 185 57 158 132 143 202 108</string>
                <key>verticesUV</key>
                <string>528 261 541 313 573 336 577 384 567 463 512 423 394 466 350 410 303 430 308 306 359 279 434 264 504 229</string>
            </dict>
            <key>Dying_011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-62.5,-61.5}</string>
                <key>spriteSize</key>
                <string>{275,237}</string>
                <key>spriteSourceSize</key>
                <string>{400,360}</string>
                <key>textureRect</key>
                <string>{{579,231},{275,237}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>0 11 12 5 9 10 5 8 9 7 5 6 7 8 5 3 5 10 3 4 5 3 1 2 3 10 1 0 1 10 0 10 11</string>
                <key>vertices</key>
                <string>267 141 275 263 266 341 209 304 112 360 70 319 14 332 0 234 25 193 147 135 215 195 219 129 242 123</string>
                <key>verticesUV</key>
                <string>846 249 854 371 845 449 788 412 691 468 649 427 593 440 579 342 604 301 726 243 794 303 798 237 821 231</string>
            </dict>
            <key>Dying_012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-62.5,-61.5}</string>
                <key>spriteSize</key>
                <string>{275,237}</string>
                <key>spriteSourceSize</key>
                <string>{400,360}</string>
                <key>textureRect</key>
                <string>{{579,231},{275,237}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>0 11 12 5 9 10 5 8 9 7 5 6 7 8 5 3 5 10 3 4 5 3 1 2 3 10 1 0 1 10 0 10 11</string>
                <key>vertices</key>
                <string>267 141 275 263 266 341 209 304 112 360 70 319 14 332 0 234 25 193 147 135 215 195 219 129 242 123</string>
                <key>verticesUV</key>
                <string>846 249 854 371 845 449 788 412 691 468 649 427 593 440 579 342 604 301 726 243 794 303 798 237 821 231</string>
            </dict>
            <key>Dying_013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-62.5,-61.5}</string>
                <key>spriteSize</key>
                <string>{275,237}</string>
                <key>spriteSourceSize</key>
                <string>{400,360}</string>
                <key>textureRect</key>
                <string>{{579,231},{275,237}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>0 11 12 5 9 10 5 8 9 7 5 6 7 8 5 3 5 10 3 4 5 3 1 2 3 10 1 0 1 10 0 10 11</string>
                <key>vertices</key>
                <string>267 141 275 263 266 341 209 304 112 360 70 319 14 332 0 234 25 193 147 135 215 195 219 129 242 123</string>
                <key>verticesUV</key>
                <string>846 249 854 371 845 449 788 412 691 468 649 427 593 440 579 342 604 301 726 243 794 303 798 237 821 231</string>
            </dict>
            <key>Dying_014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-62.5,-61.5}</string>
                <key>spriteSize</key>
                <string>{275,237}</string>
                <key>spriteSourceSize</key>
                <string>{400,360}</string>
                <key>textureRect</key>
                <string>{{579,231},{275,237}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>0 11 12 5 9 10 5 8 9 7 5 6 7 8 5 3 5 10 3 4 5 3 1 2 3 10 1 0 1 10 0 10 11</string>
                <key>vertices</key>
                <string>267 141 275 263 266 341 209 304 112 360 70 319 14 332 0 234 25 193 147 135 215 195 219 129 242 123</string>
                <key>verticesUV</key>
                <string>846 249 854 371 845 449 788 412 691 468 649 427 593 440 579 342 604 301 726 243 794 303 798 237 821 231</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Wizard_01_Dying.png</string>
            <key>size</key>
            <string>{873,997}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fe8efaaf23ecb90d52e89d50a91a0d04:7233043919ece081e3c8b880df156ca4:bb087eef67216d6d446a79daa52c4b5c$</string>
            <key>textureFileName</key>
            <string>Wizard_01_Dying.png</string>
        </dict>
    </dict>
</plist>
